@using eduliv.Models;
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    
<!-- Mirrored from byrushan.com/projects/ma/1-5-3/jquery/light/tables.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 May 2016 18:53:35 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Material Admin</title>
    
        <!-- Vendor CSS -->
    <link href="../../admin_content/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="../../admin_content/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="../../admin_content/vendors/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="../../admin_content/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="../../admin_content/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="../../admin_content/css/app_1.min.css" rel="stylesheet">
    <link href="../../admin_content/css/app_2.min.css" rel="stylesheet">
    </head>
<script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</script>


<body onload="noBack();"
      onpageshow="if (event.persisted) noBack();" onunload="">
    @using eduliv.Models;
    
        @Html.Partial("_admin_header")

        <section id="main">
            @*    @Html.Partial("_admin_aside")*@
            <aside id="sidebar" class="sidebar c-overflow">

                @{
                    Class1 obj = (Class1)Model;

                }

                @foreach (var v in obj.a)
                {
                    var u = Session["user"];

                    var a = v.User;

                    if (u.Equals(a))
                    {
                        <div class="s-profile">
                            <a href="#" data-ma-action="profile-menu-toggle">
                                <div class="sp-pic">
                                    <img src="~/images/profile/@v.path" alt="">
                                </div>

                                <div class="sp-info">
                                    @v.fullname

                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </a>

                            <ul class="main-menu">
                                <li>
                                    <a href="~/Admin/profile_about"><i class="zmdi zmdi-account"></i> View Profile</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-settings"></i> Settings</a>
                                </li>
                                <li>
                                    <a href="~/Admin/logout"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                    }

                }

                <ul class="main-menu">
                    <li class="active">
                        <a href="~/Admin/index"><i class="zmdi zmdi-home"></i> Home</a>
                    </li>

                    @*<li><a href="~/Admin_tasks/add_post"><i class="zmdi zmdi-format-underlined"></i> Add Post</a></li>*@
                    <li class="sub-menu">
                        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-list"></i> Posts</a>

                        <ul>
                            <li><a href="~/Admin_tasks/add_post1">Add Post</a></li>
                            <li><a href="~/Admin/posts">See Posts</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-list"></i> Reviews</a>

                        <ul>
                            <li><a href="~/Admin/tables">Normal Tables</a></li>
                            <li><a href="~/Admin/data_tables">Data Tables</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="~/Admin/calendar"><i class="zmdi zmdi-calendar"></i> Calendar</a></li>
                    <li class="sub-menu">
                        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-image"></i>Photo Gallery</a>
                        <ul>
                            <li><a href="~/Admin/photos">Default</a></li>
                            <li><a href="~/Admin/photo_timeline">Timeline</a></li>
                        </ul>
                    </li>

                    
                </ul>
            </aside>

            <aside id="chat" class="sidebar">

                <div class="chat-search">
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Search People">
                        <i class="zmdi zmdi-search"></i>
                    </div>
                </div>

                <div class="lg-body c-overflow">
                    
                </div>
            </aside>

            <section id="content">
                <div class="container">
                    <div class="block-header">
                        <h2>Table</h2>

                        <ul class="actions">
                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-trending-up"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-check-all"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="#">Refresh</a>
                                    </li>
                                    <li>
                                        <a href="#">Manage Widgets</a>
                                    </li>
                                    <li>
                                        <a href="#">Widgets Settings</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                    

                        

                            <div class="card-body table-responsive">
                                <table class="table">
                                    
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var v in obj.c)
                                        {
                                             <tr>
                                            <td>@v.Id</td>
                                            <td>@v.name</td>
                                            <td>@v.email</td>
                                            <td>@v.subject</td>
                                            <td>@v.message</td>
                                            <td><a href="/Admin/Delete_rev/@v.Id">Delete</a></td>
                                        </tr>
                                        }
                </tbody>
                                </table>
                            </div>
                        
                    </div>
   
                    
            </section>
        </section>

        @Html.Partial("_admin_footer")

        <!-- Page Loader -->
        <div class="page-loader">
            <div class="preloader pls-blue">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20" />
                </svg>

                <p>Please wait...</p>
            </div>
        </div>

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->
        <!-- Javascript Libraries -->
        <script src="../../admin_content/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../admin_content/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        @*<script src="vendors/bower_components/flot/jquery.flot.js"></script>*@
        <script src="../../admin_content/vendors/bower_components/flot/jquery.flot.js"></script>
        @*<script src="vendors/bower_components/flot/jquery.flot.resize.js"></script>*@
        <script src="../../admin_content/vendors/bower_components/flot/jquery.flot.resize.js"></script>
        <script src="../../admin_content/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
        <script src="../../admin_content/vendors/sparklines/jquery.sparkline.min.js"></script>
        <script src="../../admin_content/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

        <script src="../../admin_content/vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="../../admin_content/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="../../admin_content/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="../../admin_content/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="../../admin_content/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="../../admin_content/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script src="../../admin_content/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <script src="../../admin_content/js/app.min.js"></script>
    </body>

    <!-- Mirrored from byrushan.com/projects/ma/1-5-3/jquery/light/tables.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 May 2016 18:53:35 GMT -->
    </html>
