@{
    ViewBag.Title = "o_mas_it";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-information-technology-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:17 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Masters in Information Technology Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style2012.css?ver=1461897514' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt2012.css?ver=1461897514' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts2012.js?ver=1461897514'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index0db8.html?p=2905' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embedd843.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-information-technology-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed2cf8?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-information-technology-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2905 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Masters in Information Technology Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/12/BCR_18_InfoTechnology_Masters_badge-300x240.png" alt="BCR_18_InfoTechnology_Masters_badge" width="300" height="240" class="alignright size-medium wp-image-4240" />In an expansive and consistently evolving field, IT workers have been in constant demand for more than 20 years &#8211; and this is a continuing trend. The Bureau of Labor Statistics predicts the variety of jobs in the umbrella field to grow on average at about 15% through 2022, with some particular jobs to increase by 25% &#8211; significantly faster than the national average.</p>
                            <h3>Featured Online Masters In Information Technology Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/walden-university?program=11891&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Walden University: MS &#8211; Information Systems: General</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/liberty-university-online?program=16835&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Liberty University: MS &#8211; Information Systems: Technology Management</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/colorado-technical-university?program=10180&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Colorado Technical University: MS &#8211; Information Technology</a></strong></li>
                            </ul>
                            <p>In addition, median pay for IT professionals can be in six-figure territory, with even the lower tier positions paying solid five-figure salaries. A master’s degree in the field can help working professionals advance their careers and specialize in a particular area, especially important in a business that values highly specialized, ahead-of-the-curve labor. For your convenience, here’s our top 25 online master&#8217;s in information technology programs.</p>
                            <h3>1. Carnegie Mellon University</h3>
                            <p><img class="alignright size-full wp-image-1603" src="../../wp-content/uploads/2015/01/carnegie-mellon-mba.jpg" alt="carnegie-mellon-mba" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/carnegie-mellon-mba.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/carnegie-mellon-mba-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" /></p>
                            <p>One of the most prestigious programs in the country, Carnegie Mellon University&#8217;s online MS in IT is a 144-unit curriculum &#8211; 60 core and 84 elective. (Note that 144 units translates to 48 traditional credits.) Four concentrations are available: Information Technology Management, Information Security and Assurance, Business Intelligence and Data Analytics, and Software Design and Management. (The final concentration is not normally available online, but the School of Computer Science offers similar software engineering degrees online). Classes are available year-round on full- or part-time bases, and student-to-faculty ratios are kept small in order to keep a lean and immersive learning environment.</p>
                            <ul>
                                <li><a href="http://www.heinz.cmu.edu/school-of-information-systems-and-management/information-technology-msit/index.aspx">Homepage</a></li>
                                <li>Tuition per credit is $460.</li>
                            </ul>
                            <h3>2. University of Denver</h3>
                            <p><img class="alignright size-full wp-image-2665" src="../../wp-content/uploads/2015/09/univ-denver.jpg" alt="univ-denver" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-denver.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-denver-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Denver offers an MS in Information and Communications Technology with a concentration in Technology Management, totaling 48 credits &#8211; 12 foundational, 16 concentration, and 16 elective. In addition, all students must choose between a capstone project or seminar. Coursework in this concentration includes classes in Managing Technology For Strategic Value, Business Forecasting and Planning, Technology and Innovation Management, and Principles of Project Management. Courses are delivered in 10-week blocks. In particular, this program focuses on the practical application and integration of IT in a business setting.</p>
                            <ul>
                                <li><a href="http://universitycollege.du.edu/ict/degree/masters/technology-management-online/degreeid/406#overview">Homepage</a></li>
                                <li>Tuition per credit is $599.</li>
                            </ul>
                            <h3>3. UMass Lowell</h3>
                            <p><img class="alignright size-full wp-image-2682" src="../../wp-content/uploads/2015/10/mass-lowell-e1444424483344.jpg" alt="mass-lowell" width="125" height="54" /></p>
                            <p>UMass Lowell&#8217;s online program consists of 30 total credits, or 10 classes. Core classes, which students may tailor to their needs and interests, include selections in Systems Infrastructure, Network Infrastructure, and Software Management. In addition, students choose 4 electives, allowing for further specialization. For those interested, students can also earn concurrent graduate certificates in Systems Models and Management and Network Security while working toward their degrees. Students may complete their degrees in just 1-2 years.</p>
                            <ul>
                                <li><a href="https://continuinged.uml.edu/degrees/msit.cfm">Homepage</a></li>
                                <li>Tuition per credit is $570.</li>
                            </ul>
                            <h3>4. Boston University</h3>
                            <p><img class="alignright size-full wp-image-1931" src="../../wp-content/uploads/2015/03/15.-Boston.jpg" alt="15. Boston" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/15.-Boston.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/15.-Boston-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Boston University offers an online MS in Computer Information Systems designed for working professionals who seek to advance their careers in IT. The curriculum consists of 40 total credits, and students choose between 7 different concentrations: Computer Networks, Data Analytics, Database Management &amp; Business Intelligence, Health Informatics, IT Project Management, Security, and Web Application Development. An accelerated track program, students can graduate within 2 years. BU&#8217;s faculty are nationally recognized experts and industry leaders in their respective fields, providing students with unique insights into real-world practices.</p>
                            <ul>
                                <li><a href="http://www.bu.edu/online/programs/graduate-degree/computer-information-systems/">Homepage</a></li>
                                <li>Tuition per credit is $820.</li>
                            </ul>
                            <h3>5 (tied). University of Texas—Dallas</h3>
                            <p><img class="alignright size-full wp-image-2906" src="../../wp-content/uploads/2015/10/ut_dallas-e1446208544665.png" alt="ut_dallas" width="125" height="50" /></p>
                            <p>The University of Texas at Dallas&#8217;s online MS in Information Technology and Management is a 36-credit degree, which students may complete in just 18-24 months. In addition, UT Dallas offers 5 areas of concentration for students to specialize their degrees: Business Intelligence and Analytics, Enterprise systems, Information Security and Assurance, IT Consulting and Management Services, and Healthcare Systems. With respect to demographics, most students have an average work experience of 3 years, and 72% are full-time, while part-time tracks are available as well.</p>
                            <ul>
                                <li><a href="http://jindal.utdallas.edu/isom/information-systems-programs/ms-information-technology/">Homepage</a></li>
                                <li>Tuition per credit is $706.</li>
                            </ul>
                            <h3>5 (tied). Penn State World Campus</h3>
                            <p><img class="alignright size-full wp-image-1797" src="../../wp-content/uploads/2015/01/9.-Penn-State.jpg" alt="9. Penn State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Penn State offers an MPS in Information Sciences with a concentration in Cybersecurity and Information Assurance, consisting of 33 credit hours. Core courses include studies in IT, Knowledge Management, Network Management and Security, and Web and Internet Retrieval; concentration-specific coursework includes classes in Information Security Management, Multi-sensor Data Fusion, and Intelligent Agents and Distributed Decision Making. Up to 9 credits are transferrable, which may lead to accelerated graduation, though part-time students complete their degrees in as little as 2 years. A research paper is required for all students.</p>
                            <ul>
                                <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/information-sciences-masters/overview">Homepage</a></li>
                                <li>Tuition per credit is $892.</li>
                            </ul>
                            <h3>7. Colorado Technical University</h3>
                            <p><img class="alignright size-full wp-image-1785" src="../../wp-content/uploads/2015/01/colorado-technical-university.jpg" alt="colorado-technical-university" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Colorado Technical University&#8217;s online program consists of 48 credits with 4 possible specializations: Project Management, Security Management, Network Management, and the general specialization. Core courses include Computer Systems Security Foundations, Enterprise Systems Architecture, Enterprise Data Management, and Strategic Management in Dynamic Environments. In addition to promoting highly specialized graduate tracks, CTU also offers numerous entry dates throughout the year, allowing students schedule flexibility.</p>
                            <ul>
                                <li><a href="http://www.coloradotech.edu/degrees/masters/it">Homepage</a></li>
                                <li>Tuition per credit is $585.</li>
                            </ul>
                            <h3>8. Virginia Polytechnic Institute and State University</h3>
                            <p><img class="alignright size-full wp-image-2907" src="../../wp-content/uploads/2015/10/virginia_tech-e1446214876851.png" alt="virginia_tech" width="125" height="60" /></p>
                            <p>A highly prestigious online program, Virginia Polytechnic Institute offers an interdisciplinary degree offered jointly by the Pamplin College of Business and the College of Engineering. Designed for working professionals in the field, VPI&#8217;s curriculum scheduling is highly flexible and may be accelerated or decelerated, depending on the student&#8217;s needs. Part-time students taking 1 to 2 classes per semester have up to 5 years to graduate. A dual MBA degree is available for on-campus students.</p>
                            <ul>
                                <li><a href="http://www.vtmit.vt.edu/">Homepage</a></li>
                                <li>Tuition per credit is $900.</li>
                            </ul>
                            <h3>9. Marquette University</h3>
                            <p><img class="alignright size-full wp-image-2908" src="../../wp-content/uploads/2015/10/marquette-e1446214938522.png" alt="marquette" width="125" height="75" /></p>
                            <p>Marquette University offers an online MS in Computing with either a thesis (30 credits) or non-thesis track (36 credits), which includes an integrated practicum. Available for both full- and part-time students, admission is rolling, allowing for prospective students to begin according to their own schedules. Three concentrations are available for students looking to specialize their degrees: Information Assurance and Cyber Defense, Big Data, and Data Analytics. Several classes are delivered asynchronously.</p>
                            <ul>
                                <li><a href="http://www.marquette.edu/grad/Computing.shtml">Homepage</a></li>
                                <li>Tuition per credit is $1,050.</li>
                            </ul>
                            <h3>10 (tied). Johns Hopkins University</h3>
                            <p><img class="alignright size-full wp-image-2697" src="../../wp-content/uploads/2015/10/johns-hopkins-e1444429174673.png" alt="johns-hopkins" width="125" height="52" /></p>
                            <p>Johns Hopkins University&#8217;s online MS in Systems Engineering is a 10-course program &#8211; 3 foundation, 5 systems engineering, and 2 specialization electives. JHU offers 7 possible focus areas: CybersecurityEnterprise and Web Computing, Human-Computer Interaction, Information Management, Network Engineering, Software Engineering, Systems Engineering. Students may take up to five years to complete. For interested students, Johns Hopkins also has a graduate certificate and post-master&#8217;s certificate.</p>
                            <ul>
                                <li><a href="https://ep.jhu.edu/programs-and-courses/programs/information-systems-engineering">Homepage</a></li>
                                <li>Tuition per credit is $1,236.</li>
                            </ul>
                            <h3>10 (tied). Western Governors University</h3>
                            <p><img class="alignright size-full wp-image-2604" src="../../wp-content/uploads/2015/09/western-govenors-university.jpg" alt="western-govenors-university" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Western Governors University offers an MS in Information Security and Assurance, an MS Information Technology Management, and an MBA Information Technology Management. Both MS degrees are 30 competency units, and, as competency-based degrees, eligible students may accelerate coursework. Areas of study include Risk Management, Current and Emerging Technology, Advanced Networking Technology, Forensics and Network Intrusion, and Cryptography. WGU is ideal for working professionals looking to complete degrees quickly, while still maintaining busy work schedules.</p>
                            <ul>
                                <li><a href="https://ep.jhu.edu/programs-and-courses/programs/information-systems-engineering">Homepage</a></li>
                                <li>Tuition per credit is $240.</li>
                            </ul>
                            <h3>12 (tied). Liberty University</h3>
                            <p><img class="alignright size-full wp-image-1803" src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Liberty University offers a 36-credit Master of Science in Information Systems, with up to 6 credits transferable. Students choose between two concentrations, Information Assurance and Technology Management. Core courses include Executive Leadership &amp; Management, IT Infrastructure, Systems Analysis, Modeling &amp; Design, and Human Computer Interaction &amp; Emerging Tech. In addition, all students complete an integrated capstone. As a Christian university, Liberty integrates religious principles throughout the curriculum.</p>
                            <ul>
                                <li><a href="http://www.liberty.edu/online/degrees/masters/information-systems/">Homepage</a></li>
                                <li>Tuition per credit is $540.</li>
                            </ul>
                            <h3>12 (tied). Southeast Missouri State University</h3>
                            <p><img class="alignright size-full wp-image-2909" src="../../wp-content/uploads/2015/10/missouri_southern-e1446215065298.png" alt="missouri_southern" width="125" height="46" /></p>
                            <p>Southeast Missouri State University&#8217;s online MS in Technology Management is a 33-36 credit program with thesis, applied project, and graduate paper track options. In addition, numerous concentrations are available: Cybersecurity, Facilities Management, Industrial Education/Training &amp; Development, Manufacturing Systems, Telecommunications Systems, Workplace Environment &amp; Health Safety, and a customized option. Core courses include Managing Technology Innovation, Advanced Quality Concepts, Technology Supervision in Diverse Workplace, and Methods of Research in Technology Management. For students who meet the criteria, an accelerated track is available.</p>
                            <ul>
                                <li><a href="http://www.semo.edu/polytech/academics/ms.html">Homepage</a></li>
                                <li>Tuition per credit is $516.</li>
                            </ul>
                            <h3>14 (tied). Regis University</h3>
                            <p><img class="alignright size-full wp-image-2416" src="../../wp-content/uploads/2015/08/regis-university.jpg" alt="regis-university" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Regis University&#8217;s online MS in IT Management is a 36-credit track, culminating in students&#8217; choice between a thesis, capstone, or practicum. Regis offers a generous 10 areas of emphasis: Agile Technologies, Cybersecurity, Data Science, Database Administration, Database Design, Enterprise Resource Planning, Healthcare Informatics, Information Assurance Policy Management, Software Engineering, and Systems Engineering. Students can graduate in just 1-2 years. Regis also offers a large variety of graduate certificates and related online degrees for those interested.</p>
                            <ul>
                                <li><a href="http://www.regis.edu/CCIS/Academics/Degrees-Programs/Graduate-Programs/MS-Information-Technology-Management.aspx">Homepage</a></li>
                                <li>Tuition per credit is $700.</li>
                            </ul>
                            <h3>14 (tied). Bellevue University</h3>
                            <p><img class="alignright size-full wp-image-1802" src="../../wp-content/uploads/2015/01/14.-Bellevue-University.jpg" alt="14. Bellevue University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/14.-Bellevue-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/14.-Bellevue-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Bellevue University offers a MS in Computer Information Systems consisting of 36 credits &#8211; 27 core and 9 concentration. Students choose between Software Development, IT Security, and Database concentrations. Core classes include studies in IT Infrastructure, IT Strategy and Policy, Survey of System Development, and Cloud Computing, among others. In addition, Bellevue provides students with a flexible schedule, and emphasizes application of theory for real-world results.</p>
                            <ul>
                                <li><a href="http://www.bellevue.edu/degrees/master/computer-info-systems-ms/">Homepage</a></li>
                                <li>Tuition per credit is $525.</li>
                            </ul>
                            <h3>16. Florida State University</h3>
                            <p><img class="alignright size-full wp-image-2369" src="../../wp-content/uploads/2015/08/Florida-State.jpg" alt="Florida State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Florida-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Florida-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Florida State University&#8217;s online program is a 32-credit track &#8211; 12 core, and 20 elective. FSU also offers 5 concentration areas: Large-Scale Data Management, Leadership &amp; Management, Technology &amp; Networking, User-Centered Design, and Web Design. One of the most flexible programs on the list, students can take up to 7 years to complete the degree, though most graduate in 6 semesters (2 years). Core coursework includes studies in Assessing Information Needs, Usability Analysis, Management of Information Organizations, and Information Systems Management.</p>
                            <ul>
                                <li><a href="https://distance.fsu.edu/students/information-technology-ms">Homepage</a></li>
                                <li>Tuition per credit is $1,110.</li>
                            </ul>
                            <h3>17 (tied). Walden University</h3>
                            <p><img class="alignright size-full wp-image-2433" src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Walden University&#8217;s online MS in IT is a 30-credit track, including 4 specialization tracks: Health Informatics, Information Assurance and Cyber Security, Information Systems, and Software Engineering. Core classes include Information Technology in the Organization, Computer Networking and Operating Systems, Data Modeling and Database Design, and Principles of Programming. Students can earn a graduate certificate upon completion of the core, and graduation time is typically only 20 months.</p>
                            <ul>
                                <li><a href="https://distance.fsu.edu/students/information-technology-ms">Homepage</a></li>
                                <li>Tuition per credit is $790.</li>
                            </ul>
                            <h3>17 (tied). Marist College</h3>
                            <p><img class="alignright size-full wp-image-2353" src="../../wp-content/uploads/2015/08/Marist-College.jpg" alt="Marist College" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Marist-College.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Marist-College-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Marist College offers an MS in Information Systems with a concentration in IT Management that consists of 37 credits &#8211; 18 core, 16 concentration, 3 elective. The IT management track includes studies in Computer Concepts &amp; Software Systems, Web Technologies, Marketing Foundations, and a 1-credit Data Communications Lab, among others. Marist delivers courses via a unique iLearn platform, and utilizes Sakai to develop its curriculum, an open-source technology developed by a group of leading international colleges and universities.</p>
                            <ul>
                                <li><a href="http://www.marist.edu/admission/graduate/information-systems/information-technology-management.html">Homepage</a></li>
                                <li>Tuition per credit is $750.</li>
                            </ul>
                            <h3>19 (tied). Syracuse University</h3>
                            <p><img class="alignright size-full wp-image-1877" src="../../wp-content/uploads/2013/02/4.-Syracuse.jpg" alt="4. Syracuse" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/4.-Syracuse.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/4.-Syracuse-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Syracuse University offers an online MS in Information Management that consists of 42 credits &#8211; 10 core, 15 secondary core, 8-14 elective, and 3-9 toward a capstone project and internship. For interested students, two advanced graduate certificates are also available. Primary core classes include a gateway course in Information and Information Environments, Management Principles for Information Professionals, Information Policy, and Introduction to Information Management. Available for full- and part-time students, students may take up to 7 years to graduate, though most complete coursework in just 2 years.</p>
                            <ul>
                                <li><a href="https://ischool.syr.edu/academics/graduate/masters-degrees/ms-in-information-management/">Homepage</a></li>
                                <li>Tuition per credit is $1,388.</li>
                            </ul>
                            <h3>19 (tied). Drexel University</h3>
                            <p><img class="alignright size-full wp-image-1848" src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Drexel University&#8217;s online MS in Information Systems totaling 45 credit, with up to 9 credits transferrable for eligible students, which may come from previous academic work or 2 years of full- or part-time work experience. Core classes include Foundations of Information Systems, Software Development, Introduction to Database Management, Information Systems Analysis and Design, and Information Systems Management, among others. Students also choose from a wide variety of electives to specialize their degrees.</p>
                            <ul>
                                <li><a href="http://online.drexel.edu/online-degrees/information-sciences-degrees/ms-is/index.aspx">Homepage</a></li>
                                <li>Tuition per credit is $1,157.</li>
                            </ul>
                            <h3>21. University of Maryland University College</h3>
                            <p><img class="alignright size-full wp-image-1809" src="../../wp-content/uploads/2015/01/21.-Maryland-University-College.jpg" alt="21. Maryland University College" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/21.-Maryland-University-College.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/21.-Maryland-University-College-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Maryland University College&#8217;s MS in IT consists of 36 credits with 8 available concentrations: Database Systems Technology, Homeland Security Management, Informatics, Information Assurance, Project Management, Software Engineering, Systems Engineering, and Telecommunications Management. The curriculum breaks down as 15 core, 21 required concentration coursework, and a 3-credit capstone project. For interested students, a dual MBA degree is also available for just a few additional credits.</p>
                            <ul>
                                <li><a href="http://www.umuc.edu/academic-programs/masters-degrees/information-technology.cfm">Homepage</a></li>
                                <li>Tuition per credit is $659.</li>
                            </ul>
                            <h3>22. University of North Carolina-Greensboro</h3>
                            <p><img class="alignright size-full wp-image-2891" src="../../wp-content/uploads/2015/10/greensboro-e1446139929927.jpg" alt="greensboro" width="125" height="74" /></p>
                            <p>The University of North Carolina-Greensboro&#8217;s online MS in Information Technology and Management is a 32-credit track, with up to 6 credits waivable depending on previous experience. Core classes include Data Management, Web Programming, Systems Analysis and Design, information Security and Privacy, and Project Management, among others. Students choose between a thesis or non-thesis capstone option to conclude their studies. A concentration in Business Analytics is also available.</p>
                            <ul>
                                <li><a href="http://bae.uncg.edu/isscm/graduate/msitm/">Homepage</a></li>
                                <li>Tuition per credit is $926.</li>
                            </ul>
                            <h3>23. Arizona State University</h3>
                            <p><img class="alignright size-full wp-image-1791" src="../../wp-content/uploads/2015/01/2.-Arizona-State.jpg" alt="2. Arizona State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Arizona State University&#8217;s W.P. Carey School of Business offers a 10-course, 30-credit MS in Information Systems, culminating in a capstone project. A highly flexible program, the degree can be completed in as little as 16 months. In particular, ASU&#8217;s curriculum is ideal for working professionals with at least 2 years of work experience who plan on continuing their full-time work while studying toward the MS. Core classes include Data and Information Management, Business Intelligence, Information Enabled Business Modeling, and Managing Enterprise Systems, among others.</p>
                            <ul>
                                <li><a href="https://wpcarey.asu.edu/masters-programs/information-technology">Homepage</a></li>
                                <li>Tuition per credit is $1,232.</li>
                            </ul>
                            <h3>24 (tied). University of Arizona</h3>
                            <p><img class="alignright size-full wp-image-1801" src="../../wp-content/uploads/2015/01/13.-University-of-Arizona.jpg" alt="13. University of Arizona" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/13.-University-of-Arizona.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/13.-University-of-Arizona-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Arizona offers a 10-course, 30-credit MS in Management Information Systems. Coursework includes studies in enterprise data management, business intelligence data mining, information security and risk management, information systems analysis and design, IT business foundations, systems security management, and software design, among other areas. AU boasts a nationally top-ranked program, world-class faculty, and a flexible schedule.</p>
                            <ul>
                                <li><a href="http://uaonline.arizona.edu/program/management-information-systems-ms">Homepage</a></li>
                                <li>Tuition per credit is $766.</li>
                            </ul>
                            <h3>24 (tied). Pace University</h3>
                            <p><img class="alignright size-full wp-image-1502" src="../../wp-content/uploads/2013/09/pace-university-computer-science-e1444424775972.png" alt="pace-university-computer-science" width="125" height="125" /></p>
                            <p>Pace University&#8217;s online MS in Information Systems is a 30-credit track, with transferable credits for eligible students. Students choose between the following three concentrations: Security and Information Assurance, Telecommunications Management and Technologies, and Database Management and Technologies. Core coursework includes Object Oriented Concepts and Development, Information Systems Principles, IS Design and Development, and Business Data Communications. Students typically graduate in as little as 1-2 years.</p>
                            <ul>
                                <li><a href="http://www.pace.edu/seidenberg/ms-in-information-systems">Homepage</a></li>
                                <li>Tuition per credit is $1,170.</li>
                            </ul>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-information-technology-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:23 GMT -->
</html>

