@{
    ViewBag.Title = "bac_in_hr_o";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/bachelors-in-human-resources-degree-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:46:03 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Bachelors in Human Resources Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style49a8.css?ver=1461897494' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt49a8.css?ver=1461897494' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts49a8.js?ver=1461897494'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index089d.html?p=3188' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed4301.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fbachelors-in-human-resources-degree-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embeddb87?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fbachelors-in-human-resources-degree-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-3188 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Bachelors in Human Resources Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2016/01/BCR_2_HumanResources_Bach_badge-300x240.png" alt="BCR_2_HumanResources_Bach_badge" width="300" height="240" class="alignright size-medium wp-image-4207" />A career in Human Resources can be a rewarding and stimulating career path. Furthermore, the BLS routinely reports it as one the steadiest job markets available. With HR Management jobs predicted to increase by 10% through 2022 &#8211; faster than the national average &#8211; that trend appears to be holding. Managers also can expect to earn salary north of $100,000 year, with lower tier positions also offering competitive salaries.</p>
                            <h3>Featured Online Bachelors in Human Resources Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/saint-leo-university-online?program=18342&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Saint Leo University: BA &#8211; Human Resources</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/virginia-college?program=3064&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Virginia College: Human Resource Management &#8211; BS</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/kaplan-university?program=181&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Kaplan University: BS &#8211; Business Administration: Human Resources</a></strong></li>
                            </ul>
                            <p>Nevertheless, employers need thoroughly trained and educated HR professionals ready to hit the ground running on day one of the job; and without a degree in the field, you&#8217;ll be at a notable disadvantage. With an online bachelor&#8217;s in HR from a highly respected program, individuals will be prepared to tackle the challenges of the professional workplace and stand out in the applicant field.</p>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i>
                            </ul>
                            <h3> 1. American InterContinental University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/12/interconteninetal-e1450565003956.jpg" alt="interconteninetal" width="125" height="37" class="alignright size-full wp-image-3178" /><br />
                                American InterContinental University&#8217;s BBA with a specialization in Human Resources Management consists of 180 total undergraduate credits, 24 of which are devoted to the specialization. Students may receive transferable credit from previous academic training or work experience (up to 135 credits, and students on that accelerated track may graduate in as little as 9 months. (Another accelerated track &#8211; which includes taking the full course load &#8211; graduates students in 36 months.) Note that nearly half of all AIU students receive transfer credit of some sort. Among the major&#8217;s areas of study include Employee Recruitment and Selection, Personnel Organization and Policy, Building Teams and Resolving Conflict, Diversity in the Workforce, Employee Compensation and Benefits, and Employment and Labor Law. In addition, in order to accommodate students&#8217; schedules, AIU offers multiple entry dates per year.
                            </p>
                            <ul>
                                <li><a href="http://www.aiuniv.edu/degrees/business/bachelors-business-administration-human-resource-management-bba">Homepage</a></li>
                                <li>Tuition per credit is $302.</li>
                            </ul>
                            <h3> 2. Colorado State University – Global Campus</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/1.-Colorado-State.jpg" alt="1. Colorado State" width="125" height="125" class="alignright size-full wp-image-1912" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Colorado State University&#8217;s Global Campus bachelor&#8217;s in Human Resources Management consists of 120 total undergraduate credits, with 30 courses devoted to the major. Through competency-based exams and prior learning assessments, students may waive coursework through transfer credits, thereby accelerating their degree. Among some major courses include Applying Leadership Principles, Business Policy and Strategy, Managing and Leading Team Dynamics, Training and Staff Development, and Organizational Development. All students must also complete a capstone in order to graduate. In addition, students may decide to choose among 20 potential specializations to tailor their degrees. Some specializations offered are Public Administration, Strategic Communications, Marketing, Healthcare Management, Information Technology Management, and Finance, among others. For interested students looking to continue their education, CSU also offers an <a href="https://csuglobal.edu/graduate/programs/masters-degrees/human-resource-management">online master&#8217;s in HR Management</a>.
                            </p>
                            <ul>
                                <li><a href="https://csuglobal.edu/undergraduate/programs/bachelors-degrees/human-resource-management">Homepage</a></li>
                                <li>Tuition per credit is $350.</li>
                            </ul>
                            <h3> 3. Capella University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/12/capella-university.jpg" alt="capella-university" width="125" height="125" class="alignright size-full wp-image-3121" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Capella University offers a BBS with a specialization in Human Resources Management consists 180 total undergraduate quarter credits, 135 of which may be transferred. 42 credits are devoted to the business major, and 48 are devoted to the HR specialization. Among these include Compensation and Benefits Management, Employee and Labor Relations, Employee Training and Development, International Human Resource Management Issues, Ethics and Enterprise, and Change Management, among others. Accelerated courses deliver in 5 or 10 week formats. In addition, Capella offers a FlexPath track which gives students the benefit of a self-paced schedule. Students may also choose to pursue a concentration within the HR specialization. Some example concentrations offered include Project Management, Management Leadership, Finance, Business Intelligence, and Accounting.
                            </p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/bachelors-human-resource-management/">Homepage</a></li>
                                <li>Tuition per credit is $356.</li>
                            </ul>
                            <h3> 4. American Public University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/6.-American-Public-University.jpg" alt="6. American Public University" width="125" height="125" class="alignright size-full wp-image-1794" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/6.-American-Public-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/6.-American-Public-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                American Public University&#8217;s BA in Management includes a concentration in HR Management and consists of 121 total undergraduate credits, 91 of which may be waived via transfer. Among the HR concentrations example classes include Compensation and Benefits, Human Resource Management Information Systems, Human Resource Development, and Recruitment and Staffing. The HR concentration consists of just 15 credit hours. Note also that this program is in line with Society for Human Resource Management (SHRM) standards. Other areas of study in the major are communication techniques, employment and labor relations, organizational and workplace behavior, strategic management and executive challenges, and principles and theory of management, among others. All students must complete a senior seminar in management to graduate and complete 42 electives to tailor curriculums.
                            </p>
                            <ul>
                                <li><a href="http://www.apu.apus.edu/academic/schools/business/bachelors/management.html">Homepage</a></li>
                                <li>Tuition per credit is $270.</li>
                            </ul>
                            <h3> 5 (tied). Penn State &#8211; World Campus</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/9.-Penn-State.jpg" alt="9. Penn State" width="125" height="125" class="alignright size-full wp-image-1797" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Penn State&#8217;s World Campus offers a BS or BA in Labor and Employment Relations, each of which consist of 123 total undergraduate credits. The BS requires 61-62 major credits, whereas the BA requires 39. In general, the BS emphasizes a more professional approach for immediate employment eligibility in the HR field, while the BA provides a broad-based education and prepares students for work in a wide range of areas, including employment law, organizational culture and behavior, workforce diversity, labor relations, and more. Common major courses for the BA and BS include Labor Economics, Employment Relations, Introductory Microeconomic Analysis and Policy, Research Methods in Labor and Employment Relations, Human Resource Ethics, Introduction to Industrial-Organizational Psychology, and History of Work in America. Some similar online degree tracks at PSU&#8217;s Global Campus are an MPS in Human Resources and Employment Relations, a BS in Business, and a BS in Organizational Leadership.
                            </p>
                            <ul>
                                <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/labor-and-employment-relations-bachelor-of-science/overview">Homepage</a></li>
                                <li>Tuition per credit is $557.</li>
                            </ul>
                            <h3> 5 (tied). Amridge University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/amridge-university-e1451670549115.jpg" alt="amridge-university" width="125" height="42" class="alignright size-full wp-image-3190" /><br />
                                Amridge University offers a BS in Human Resource Leadership consisting of 128 semester hours, 48 of which are devoted to the HR major. (Thanks to a generous transfer policy, up to 88 credits may be transferred into the degree.) Among the major required courses are Business Law, Management Intervention, Employment Law for Organizations, Organizational Theory and Behavior, Contemporary Supervision, Management Principles, Money Management and Personal Finance, and Professional Public Relations. In addition, students must complete a capstone course (and pass its according cumulative exam) and take 36 electives to further tailor their curriculum according to their needs and interests. Besides serving as a professional preperatory degree for the HR field, Amridge&#8217;s HR BS also serves as foundational coursework for secondary degrees in Organizational Leadership and Management, Pastoral Counseling, Ministerial Leadership, Professional Counseling, and Marriage and Family Therapy.
                            </p>
                            <ul>
                                <li><a href="http://amridgeuniversity.edu/academics/college-of-business-leadership/bs-human-resource-leadership/">Homepage</a></li>
                                <li>Tuition per credit is $330.</li>
                            </ul>
                            <h3> 7 (tied). Wilmington University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/11.-Wilmington-University.png" alt="11. Wilmington University" width="125" height="125" class="alignright size-full wp-image-1799" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/11.-Wilmington-University.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/11.-Wilmington-University-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Wilmington University offers a BS in Human Resource Management consisting of 33 major credits. Among the major classes include Business Ethics, Labor Relations and Collective Bargaining, International Human Resource Management, Legal Aspects of Human Resource Management, Compensation Administration, Organizational Development, and Staffing Organizations. Note that several classes may be completed as co-ops, and internship opportunities are also eligible for credit. For students who have already completed an associate&#8217;s degree, Wilmington offers a completion degree which allows students to forego the general education core requirement and accelerate their coursework. In this case, up to 75 credits may be transferred. Otherwise, most students complete their degrees over the usual 8 semester sequence.
                            </p>
                            <ul>
                                <li><a href="http://www.wilmu.edu/business/hrm_curr.aspx">Homepage</a></li>
                                <li>Tuition per credit is $346.</li>
                            </ul>
                            <h3> 7 (tied). Ottawa University Online</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/23.-Ottawa-University.png" alt="23. Ottawa University" width="125" height="125" class="alignright size-full wp-image-1811" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/23.-Ottawa-University.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/23.-Ottawa-University-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Ottawa University Online offers a BA in Human Resources consists of 124 total undergraduate credits, 39 of which are devoted to the major. These include Training and Development, Employment Law and Policies, Business Ethics, Business Statistics, Microeconomics, Macroeconomics, Accounting for Business Operations, and Managerial Accounting. Ottawa also offers nearly a dozen concentrations &#8211; Adult Education, Communication, Entrepreneurship, Marketing, etc. &#8211; and more than 20 minors &#8211; from Economics and English, to Music and Philosophy &#8211; to encourage students to further tailor their curriculum. Note also that Ottawa offers a generous transfer policy of up to 80 credits, which may accelerate coursework for eligible students. The HR program has been designed and developed by the SHRM. As a Christian university, Ottawa&#8217;s curriculum incorporates religious components throughout the degree.
                            </p>
                            <ul>
                                <li><a href="http://www.ottawa.edu/academics/degree-finder/degree/bachelor-of-arts-in-human-resources">Homepage</a></li>
                                <li>Tuition per credit is $459.</li>
                            </ul>
                            <h3> 7 (tied). Concordia University, St. Paul</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/10/15.-Concordia.jpg" alt="15. Concordia" width="125" height="125" class="alignright size-full wp-image-1902" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Concordia University offers a BA in Human Resource Management consisting of 40 major credits, with accelerated 7-week delivery formats. Among the major courses are Managing in Organizations, Advanced Human Resource Management, Survey &#038; Research Methods, Staffing the Organization, Legal Issues in HR, Business &#038; Personal Ethics, Organizational Development &#038; Change, and more. Concordia&#8217;s degree is designed as a hands-on, comprehensive approach that prepares students for professional work environments through practical, real-world lessons. Concordia also offers similar online bachelor&#8217;s degrees in Business, Accounting, and Organizational Management and Leadership. Concordia also boasts a 92% graduate job placement rate.
                            </p>
                            <ul>
                                <li><a href="http://online.csp.edu/academics/bachelor-of-arts-in-human-resource-management">Homepage</a></li>
                                <li>Tuition per credit is $420.</li>
                            </ul>
                            <h3> 7 (tied). Rasmussen College Online</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/09/rasmussen-computer-science-e1451670825134.jpg" alt="rasmussen-computer-science" width="125" height="125" class="alignright size-full wp-image-1504" /><br />
                                Rasmussen College Online offers a bachelor&#8217;s in Human Resources and Organizational Leadership totaling 180 undergraduate credits, 66 of which are devoted to the major. Among these courses are Managing a Diverse Workforce, Organizational Development, International Leadership and Human Resource Management, Workforce Performance and Talent Management, Organizational Behavior Analysis, and Leading Change, among others. Rasmussen offers a wide variety of tracks available, including a self-paced Flex Choice option and accelerated formats that graduate students in as little as 18 months. In addition to a bachelor&#8217;s, Rasmussen offers an associate&#8217;s and master&#8217;s for those interested. Graduates have gone on to work at 3M, Best Buy, Boston Scientific, Coca-Cola, General Mills, Target Corporation, Wells Fargo, and elsewhere. Transfer credits are also available for eligible students.
                            </p>
                            <ul>
                                <ul>
                                    <li><a href="http://www.rasmussen.edu/degrees/business/hr-organizational-leadership/">Homepage</a></li>
                                    <li>Tuition per credit is $199.</li>
                                </ul>
                                <h3> 11 (tied). Colorado Technical University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/01/colorado-technical-university.jpg" alt="colorado-technical-university" width="125" height="125" class="alignright size-full wp-image-1785" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Colorado Technical University offers a BS in Business with a Human Resource Management specialization totaling 180 undergraduate credits, 28 of which are devoted to the HR program. Those classes are Building Effective Teams, Staffing the Organization, Managing Employee Performance, HRM Legal Environment, Training and Employee Development, Compensation and Benefits, and Managing Labor-Management Relations. In addition, students may choose from more than a dozen concentrations, including Business Development, Digital Marketing, Logistics/Supply Chain Management, Healthcare Management, and more. To accommodate students&#8217; busy schedules CTU offers multiple starts per year. Note also that this HR program has been aligned to the SHRM&#8217;s competency model. CTU graduates saw a salary increase of 25% after 3 years.
                                </p>
                                <ul>
                                    <li><a href="http://www.coloradotech.edu/degrees/bachelors/business/human-resource-management">Homepage</a></li>
                                    <li>Tuition per credit is $1,078.</li>
                                </ul>
                                <h3> 11 (tied). Fort Hays State University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg" alt="8. Fort Hays State University" width="125" height="125" class="alignright size-full wp-image-1796" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Fort Hays State University offers a bachelor&#8217;s in Business Administration in Management with a concentration in Human Resources, totaling 127 undergraduate credits, 21 of which are dedicated to the HR program. These courses are Introduction to Professional Development, Conflict Management Through Communication, Prob in Bus: Employment Law, Labor Relations and Collective Bargaining, Recruitment, Selection, and Retention, Total Compensation, and Training and Development. FHSU&#8217;s program is specifically designed to prepare students for professional work environments and as such incorporates a highly hands-on, practical curriculum and an experienced faculty. In addition to the HR component, the curriculum is composed of 27 credits in Business &#038; Entrepreneurship, 18 in Management, and 6 toward electives in order to tailor degrees.
                                </p>
                                <ul>
                                    <li><a href="http://www.fhsu.edu/virtualcollege/degrees/Bachelors/management-concentration-in-human-resources/">Homepage</a></li>
                                    <li>Tuition per credit is $194.</li>
                                </ul>
                                <h3> 13 (tied). Trident University International</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/09/trident-university.jpg" alt="trident-university" width="125" height="125" class="alignright size-full wp-image-2652" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/trident-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/trident-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Trident University International offers a BS in Human Resource Management that consists of 120 total undergraduate credits, 52 of which are dedicated to the major. To tailor degrees, students will also complete 16 credits of electives. Required courses in the degree include Principles of Human Resource Management, Human Resource Management and Law, Advanced Topics in Human Resource Management, Macro and Microeconomics, Business Ethics, Strategic Management, Organizational Behavior and Teamwork, and Business Communication, among others. To accelerate coursework, eligible students may transfer credits from previous academic coursework. Trident&#8217;s program also aligns with the structure of the SHRM standards. Trident is especially accommodating for part-time students with full-time employment demands.
                                </p>
                                <ul>
                                    <li><a href="https://www.trident.edu/degrees/bs-human-resource-management/">Homepage</a></li>
                                    <li>Tuition per credit is $375.</li>
                                </ul>
                                <h3> 13 (tied). Saint Leo University Online</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/02/12.-Saint-Leo.png" alt="12. Saint Leo" width="125" height="125" class="alignright size-full wp-image-1860" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Saint Leo University Online offers a BA in Human Resource Management that consists of 120 total undergraduate credits, 27 of which are dedicated to the HR program. Among these classes are Risk Management, Selection and Placement, Human Resource Development, Total Compensation, Human Resources Strategic Planning, Management of Human Resources, Administrative and Personnel Law, and Industrial and Organizational Psychology. An internship may also be required pending the Department Chair. Note also that the HR component aligns with the Society for Human Resource Management&#8217;s guidelines for undergraduate programs. A significant portion of the curriculum focuses on preparing or the Professional in Human Resource (PHR) certification examination, which is administered by the Human Resource Certification Institute (HRCI). As a Christian university, Saint Leo&#8217;s curriculum incorporates religious components and studies throughout the degree.
                                </p>
                                <ul>
                                    <li><a href="https://www.trident.edu/degrees/bs-human-resource-management/">Homepage</a></li>
                                    <li>Tuition per credit is $470.</li>
                                </ul>
                                <h3> 13 (tied). Ashford University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/02/14.-Ashford.jpg" alt="14. Ashford" width="125" height="125" class="alignright size-full wp-image-1916" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Ashford.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Ashford-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Ashford University offers a BA in Human Resources Management totaling 120 undergraduate credits, 45 of which are dedicated to the major. To further tailor your degree, students take 26 credits of electives. Ashford also offers a generous transfer policy of up to 90 credits from previous academic, work, or military experience. The HR major courses include Management for Organizations, Organizational Behavior, Principles of Microeconomics, Business Law, Principles of Finance, Strategic Human Resources Planning, and Compensation &#038; Benefits Management, among others. Students may also take a 12-credit Entrepreneurship specialization track with studies in Introduction to Entrepreneurship, Creativity and Innovation, Venture Capital and Banking, and Business Plan Development. Upon graduation, students will be prepared to handle the legal, business, and ethical challenges of leading a workplace. Smart track helps to customize courses of study.
                                </p>
                                <ul>
                                    <li><a href="http://www.ashford.edu/degrees/online/ba-human-resources-details.htm">Homepage</a></li>
                                    <li>Tuition per credit is $470.</li>
                                </ul>
                                <h3> 16. Grantham University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/09/Grantham-University.jpg" alt="Grantham University" width="125" height="125" class="alignright size-full wp-image-2480" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Grantham-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Grantham-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Grantham University offers a bachelor&#8217;s in Human Resource Management consisting of 124 total undergraduate credits, 73 of which are dedicated to the core and program. Among these are Principles of Business Management, Employment Law, Performance Management, Quality Management, Business Policy and Strategy, Strategies for Decision Making, Developing Human Resources, Labor Relations, and Leadership in Organizations. Note that the program aligns with the SHRM&#8217;s standard guidelines and is particularly appropriate for full-time workers, active duty military personal, military spouses, and anyone with demanding schedules, with new classes starting on a weekly basis. Similar programs include bachelor&#8217;s in Accounting, Business, and Financial Planning. Upon completion of the program, students will be prepared to handle the legal, ethical, and business challenges of the professional workplace.
                                </p>
                                <ul>
                                    <li><a href="http://www.grantham.edu/online-degrees/hr-management/">Homepage</a></li>
                                    <li>Tuition per credit is $265.</li>
                                </ul>
                                <h3> 17. Baker College</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/09/baker-university.jpg" alt="baker-university" width="125" height="125" class="alignright size-full wp-image-2641" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/baker-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/baker-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Baker College offers a BBA in Human Resource Management consisting of 185 total undergraduate quarter hours &#8211; 41 in HR, 48 in Business. Hr core classes include Staffing Human Resources, Human Resources and Employment Law, Performance Management of Human Resources, Professional Career Strategies, International Human Resource Management, Compensating Human Resources, and several others. The program also requires students to choose a minor from 13 available options, including Accounting, Computer Information Systems, Entrepreneurship, Finance, and Marketing. Baker graduates also receive significant employment advising and services. With a broad-based, practical, and hands-on curriculum, upon graduation students will be prepared to handle the legal, ethical, and business challenges of the professional workplace.
                                </p>
                                <ul>
                                    <li><a href="http://www.baker.edu/programs-degrees/human-resource-management-bachelor/">Homepage</a></li>
                                    <li>Tuition per credit is $240.</li>
                                </ul>
                                <h3> 18. Western International University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/06/10.-Western-International.jpg" alt="10. Western International" width="125" height="125" class="alignright size-full wp-image-2082" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/10.-Western-International.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/10.-Western-International-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Western International University offers a BA in Human Resource Management<br />
                                    consisting of 120 credits, 33 of which are dedicated to the major. Some major classes include Social Psychology, Health and Safety in the Workplace, Labor and Management Relations, Corporate Training and Development, Employment Law, Group Dynamics, and more. In addition, all students complete an integrated capstone, two upper-division management courses, and 21 credits of electives to tailor their coursework. Students without any transfer credit graduate in approximately 3.5 years, and students with transfer credits can expect to graduate on an accelerated timeframe. To accommodate students&#8217; schedules, new classes start monthly. Similar degrees from WIU include bachelor&#8217;s degrees in Management, IT Management, and an MBA. Note that the curriculum has been signed according to the HRCI guidelines in preparation for PHR certification. Upon graduation, students should be prepared to work in a variety of HR-related positions.
                                </p>
                                <ul>
                                    <li><a href="http://west.edu/online-degree-programs/human-resource-management-ba.html">Homepage</a></li>
                                    <li>Tuition per credit is $250.</li>
                                </ul>
                                <h3> 19. Franklin University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2013/09/franklin-university-computer-science-e1451670947803.jpg" alt="franklin-university-computer-science" width="125" height="125" class="alignright size-full wp-image-1515" /><br />
                                    Franklin University&#8217;s bachelor&#8217;s in Human Resources Management that consists of 124 semester hours, 24 of which are dedicated to the major. Required classes include HR Management, Staffing, Training and Development, Compensation and Benefits, Employee and Labor Relations, and a Strategic Human Resources capstone. In addition, students take a business core (28 hours) and 4 hours of electives. For students who have already completed a bachelor&#8217;s degree in another area, Franklin University offers a subsequent bachelor&#8217;s that excludes general education requirements and gives eligible an accelerated option. Students may also transfer up to 84 credits from previously-earned credits, further accelerating coursework. Franklin&#8217;s online learning network is available 24/7 and encourages collaborative learning. Students also benefit from Franklin&#8217;s flexible scheduling.
                                </p>
                                <ul>
                                    <li><a href="http://www.franklin.edu/human-resources-management-bachelors-degree-program-details">Homepage</a></li>
                                    <li>Tuition per credit is $484.</li>
                                </ul>
                                <h3> 20 (tied). Philadelphia University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2016/01/philadelphia_university-e1451671003423.jpg" alt="PhilUniversity.Horizontal.CMYK" width="125" height="33" class="alignright size-full wp-image-3191" /><br />
                                    Philadelphia University offers a BS in Human Resources Management consisting of 120 total undergraduate credits, 15 of which are dedicated to the HR major. These classes are Human Resource Management, Training and Development, Compensation and Benefits, Labor/ Management Relations, and Applied Research and Practice in Human Resource Management. Note that the track follows the guidelines of the Society for Human Resource Management. The program culminates in a hands-on portfolio project that requires students to create a HR plan for a professional work environment. To tailor degrees to students&#8217; specific needs and interests, several concentrations are available, and students with previous academic experience may transfer up to 30 credits to accelerate coursework. Philadelphia U leverages the dynamic Blackboard platform, which is available 24/7 and encourages an intimate, collaborative educational experience; and all courses deliver in accelerated 8-week modules six times per year. Depending on background, students typically complete a bachelor&#8217;s degree in 2-3 years.
                                </p>
                                <ul>
                                    <li><a href="http://www.philau.edu/online/hr_management.html">Homepage</a></li>
                                    <li>Tuition per credit is $1,010.</li>
                                </ul>
                                <h3> 20 (tied). Metropolitan State University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2016/01/metropolitan_state_university_logo-e1451671062410.jpg" alt="metropolitan_state_university_logo" width="125" height="41" class="alignright size-full wp-image-3192" /><br />
                                    Metropolitan State University offers a BS in Human Resource Management that consists of 120 total undergraduate credits, 48 of which are dedicated to the major, include 4 hours of HR electives. Some example classes include Personnel and Industrial Psychology, Employment Law, Managing Employee Health and Safety, Staffing Organizations, Employee Development and Training, Compensation Management, Employee Benefits Management, and more. In addition, students have the opportunity to complete hands-on internships for credit, and students with prior academic experience can benefit from MSU&#8217;s generous transfer policy of up to 90 credits which will accelerate coursework. Interested students also have the opportunity to double major in another management degree. Upon graduation, students will be prepared to handle the business, legal, and ethical challenges required to oversee the professional workplace.
                                </p>
                                <ul>
                                    <li><a href="http://www.metrostate.edu/msweb/explore/com/undergrad/hrm/">Homepage</a></li>
                                    <li>Tuition per credit is $292.</li>
                                </ul>
                                <h3> 22. Western Governors University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/09/western-govenors-university.jpg" alt="western-govenors-university" width="125" height="125" class="alignright size-full wp-image-2604" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Western Governors University offers a BS in Human Resource Management consisting of 120 total competency units (CUs). Because WGU operates on the CU basis, students may significantly accelerate coursework with previous academic credits or professional work experience. Some example HR classes include Fundamentals of Business Law and Ethics, Principles of Management, Organizational Behavior and Leadership, Workforce Planning: Recruitment and Selection, Training and Development, Compensation and Benefits, and Cases in Advanced Human Resource Management, among others. Students must also complete a capstone project which emphasizes putting theory to practice in a real-world setting. Especially appropriate for working professionals, WGU&#8217;s program is highly flexible and adaptable to students&#8217; schedules. All coursework follows the SHRM standard guideline and prepares students to pass the HRCI&#8217;s PHR certification exam.
                                </p>
                                <ul>
                                    <li><a href="http://www.wgu.edu/business/human_resource_bachelor_degree">Homepage</a></li>
                                    <li>Tuition per credit is $500.</li>
                                </ul>
                                <h3> 23. Sullivan University</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/07/16.-Sullivan-University.jpg" alt="16. Sullivan University" width="125" height="125" class="alignright size-full wp-image-2157" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/16.-Sullivan-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/16.-Sullivan-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Sullivan University offers a BS in Human Resource Leadership that consists of 180 total undergraduate credit hours, 112 of which are required for the HR major. Among those courses include Diversity Perspectives in the Workplace, Human Resource Perspectives in Guidance and Counseling, Organizational Development, I/O Psychology for the HR Professional, Ethical Issues in Human Resource Management, Employment Law, Concepts of Recruiting, Industrial Relations, and more. Students also fulfill 48 hours of electives to tailor coursework and additional broad-based general education requirements. In order to graduate, all students must either complete a hands-on externship or a capstone seminar in Human Resources. Typical graduation time is 18 months beyond the associate&#8217;s degree, though students with accepted transfer credits may accelerate coursework. Also note that Sullivan&#8217;s curriculum adheres to the guidelines laid out by the SHRM.
                                </p>
                                <ul>
                                    <li><a href="http://sullivan.edu/college-of-business-administration/bachelor-of-science-in-human-resource-leadership/">Homepage</a></li>
                                    <li>Tuition per credit is $320.</li>
                                </ul>
                                <h3> 24. Herzing University Online</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2015/12/herzing_university-e1449473160198.jpg" alt="herzing_university" width="125" height="41" class="alignright size-full wp-image-3108" /><br />
                                    Herzing University offers a BSB with a concentration in Human Resources that consists of 123 total undergraduate credits &#8211; 36 dedicated to the HR concentration, 36 to the management core. In addition, all students must complete a capstone project or internship in order to graduate. Some example required HR classes are Organizational Change, International Human Resource Management, Human Resource Information Systems, Employment Law and Labor Relations, Risk Management, Alternative Dispute Resolution (ADR) Essentials, and Strategic Staffing. Students typically complete their degrees in 36 months, though transferred credits may accelerate coursework. Interested students may also opt for dual enrollment in Herzing&#8217;s online MBA, which exchanges 12 credits with the business degree, offering a fully-rounded, robust educational background. Students may also opt for an associate&#8217;s degree, which can be completed in less than 20 months.
                                </p>
                                <ul>
                                    <li><a href="https://www.herzing.edu/career-programs/business/human-resource-development">Homepage</a></li>
                                    <li>Tuition per credit is $340.</li>
                                </ul>
                                <h3> 25. Concordia University &#8211; Wisconsin</h3>
                                <p>
                                    <img src="../../wp-content/uploads/2013/10/15.-Concordia.jpg" alt="15. Concordia" width="125" height="125" class="alignright size-full wp-image-1902" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                    Concordia University at Wisconsin offers a bachelor&#8217;s in Human Resources Management that consists of 128 total undergraduate credits, 51 of which are dedicated to the HR component. These classes include Speech Communication, Interpersonal Communication, Organizational Management Principles, Social Psychology in the Workplace, Staffing, Employment and Labor Relations, Compensation and Benefits, Philosophy of Values and Ethics, and more. Concordia is particularly designed for working professionals with busy schedules, and many students accelerate coursework with transferred academic credits. As a Christian university, note that religious components may be incorporated throughout Concordia&#8217;s curriculum. Upon graduation, students will be able to handle the business, legal, and ethical challenges HR professionals must face in the workplace.
                                </p>
                                <ul>
                                    <li><a href="http://online.cuw.edu/online-degrees/bachelors-in-human-resource-management/">Homepage</a></li>
                                    <li>Tuition per credit is $457.</li>
                                </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/bachelors-in-human-resources-degree-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:46:11 GMT -->
</html>
