@{
    ViewBag.Title = "o_exe_mba_prog";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-executive-mba-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:45:31 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 20 Best Online Executive MBA Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style6c71.css?ver=1461897491' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt6c71.css?ver=1461897491' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts6c71.js?ver=1461897491'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexa238.html?p=3342' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embede851.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-executive-mba-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embedd0a5?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-executive-mba-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-3342 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 20 Best Online Executive MBA Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2016/01/BCR_10_ExecMBA_badge-300x240.png" alt="BCR_10_ExecMBA_badge" width="300" height="240" class="alignright size-medium wp-image-4224" />The world is changing, and so is business. Fast. Now more than ever, businesses and corporations need effective leadership to steer companies through challenging and tumultuous times. The US Bureau of Labor Statistics reports that job prospects for MBA graduates will continue to grow through 2022; and employment for training and development managers is projected to increase 11 percent, as is the increase for top executives. While professionals can certainly earn leadership and management roles without an MBA, the demand for them is ever-increasing &#8211; and in business, it&#8217;s sink or swim.</p>
                            <h3>Featured Online MBA Programs</h3>
                            <ul>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/xavier-university?program=20084&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Xavier University: MBA</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/walden-university?program=11749&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Walden University: MBA</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/university-of-miami?program=20057&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Miami: Professional MBA </a></strong></li>
                            </ul>
                            <p>Companies need managers with the most up-to-date skills and practices, and there&#8217;s still no more tried and true method than the MBA. Further, the Executive MBA places an extra emphasis on leadership management, while still providing the solid foundational base of the traditional MBA. Below, find our top 20 online programs &#8211; ideal for working professionals and motivated full-time students that want to advance their careers.</p>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i>
                            </ul>
                            <h3> 1. Regent University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/18.-Regent.jpg" alt="18. Regent" width="125" height="125" class="alignright size-full wp-image-1905" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/18.-Regent.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/18.-Regent-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Regent University offers an online Executive MBA that students may choose to complete in as little as 16 months and consists of 42 credit hours &#8211; 30 core, 12 concentration. Core classes include Corporate &#038; Personal Ethics, Innovation &#038; Technological Success, Managing People, Operations &#038; Supply Chain Management, Marketing, Managerial Economics, and Business Planning &#038; Launch, among others. In addition, for students looking to specialize in a particular area of professional interest, Regent offers an impressive 11 concentrations: Accounting, Entrepreneurship, Finance &#038; Investing, Franchising, Healthcare Management, Human Resource Management, Innovation Management, International Business, Leadership, Marketing, and Not-for-Profit Management. All classes are designed for maximum flexibility to accommodate schedules, and the school offers both accelerated 8-week course blocks or traditional blocks for part-time students or otherwise. Applicants should submit undergraduate transcripts, but no GMAT or GRE scores are required. Note that as a Christian university, Regent may incorporate religious values throughout the curriculum.</p>
                            <ul>
                                <li><a href="http://www.regent.edu/acad/global/degree_programs/masters/business_administration/">Homepage</a></li>
                                <li>Tuition per credit is $650.</li>
                            </ul>
                            <h3> 2. Elizabethtown College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/elizabethtown-college.jpg" alt="elizabethtown-college" width="125" height="125" class="alignright size-full wp-image-2424" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/elizabethtown-college.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/elizabethtown-college-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Elizabethtown College&#8217;s Executive MBA consists of 36 credits, or 10 core courses and 2 electives. (Note that students without a business background may need to complete an additional 2 foundational courses in Critical Business Analysis and Financial Accounting and Finance.) Required core classes include Leadership in Business and Life; Integrated Marketing Communications, Branding and Promotions; Data Analysis and Techniques for Informed Decision Making; Corporate Social Responsibility; Societal Economic Analysis; and a capstone in Applied Business Leadership in Action that as a cumulative and comprehensive overview of the core. As an accelerated program with 8-week course blocks, students may graduate in as little as two years, even if attending part-time. Alternatively, students may choose to step in and out of the program at any time in order to accommodate their schedules and personal/professional demands. Applicants must be at least 25, have 3 years of work experience, and an undergraduate GPA of at least 3.0. Note that some courses may require on-campus attendance.
                            </p>
                            <ul>
                                <li><a href="http://www.etownmba.com/">Homepage</a></li>
                                <li>Tuition per credit is $660.</li>
                            </ul>
                            <h3> 3. Warnborough College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/warnborough-e1453915930641.png" alt="warnborough" width="125" height="49" class="alignright size-full wp-image-3343" /><br />
                                Warnborough College offers an Executive MBA that consists of 60 credits and may be completed in as little as 16 months on an accelerated track. Required core classes include Managing Organisations, Business Statistics and Analysis, Managing People, and Managing Strategy. All students must also hold a concurrent 6 month internship (if not already employed), complete a final thesis/project, and attend a brief residential workshop at the end of the degree. For students&#8217; scheduling convenience, there are new entry dates on the 1st of every month, and courses are flexible enough to allow students to complete coursework as they see fit. In addition, students have access to a personal tutor for each individual course. Applicants should submit undergraduate transcripts and must have had at least 3 years of managerial experience. Also note that Warnborough&#8217;s program is an exceptionally affordable one.
                            </p>
                            <ul>
                                <li><a href="http://warnborough.ie/degrees-courses/masters-degrees/mba-business-administration/">Homepage</a></li>
                                <li>Tuition per credit is $214.</li>
                            </ul>
                            <h3> 4 (tied). University of Wyoming</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/4.-University-of-Wyoming.jpg" alt="4. University of Wyoming" width="125" height="125" class="alignright size-full wp-image-1841" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/4.-University-of-Wyoming.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/4.-University-of-Wyoming-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                The University of Wyoming offers an Executive MBA that consists of 30 credits and may be completed in 2 years. Designed with working professionals in mind, note that this a part-time program. Required coursework includes MBA Financial Accounting, Business Research Methods, Decision Sciences for Managers, Organizational Behavior &#038; Human Resource Management, New Ventures, Strategic Management in Dynamic Environments, and more. As a cohort-based program, Wyoming provides a highly collaborative, intimate learning experience that emphasizes teamwork and leadership skills in addition to a practical application of business and managerial theory. Applicants should submit undergraduate transcripts, have at least 5 years of professional work experience (with 3 in a managerial or supervisor role), and submit GRE or GMAT test scores. Test scores and foundational prerequisites may be waived by the MBA Director, depending on the applicant.
                            </p>
                            <ul>
                                <li><a href="http://www.uwyo.edu/mba/degree-programs/online/">Homepage</a></li>
                                <li>Tuition per credit is $630.</li>
                            </ul>
                            <h3> 4 (tied). Bethel University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/bethel-university.jpg" alt="bethel-university" width="125" height="125" class="alignright size-full wp-image-2409" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/bethel-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/bethel-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Bethel University offers an MBA with an Executive concentration that consists of 36 credit hours and may be completed in as little as 19 months on an accelerated track. (Students with previous academic credit may transfer up to 6 credits into the program.) Core requirements for the concentration include Strategy &#038; Decision Making, Business Ethics, Managerial Accounting and Economics, Organizational Behavior, and Organizational Development, among others. Students must also complete a hands-on organizational development project (6 credits) and take 2 elective courses to further tailor the degree. For those interested, Bethel also offers concentrations in Academic Practitioner, Healthcare Administration, Healthcare Information Technology, Human Resource Management, Information Technology, and Nursing Management. Applicants should send undergraduate transcripts and a professional resume with at least 3 years of professional experience, but neither GRE nor GMAT scores are required.
                            </p>
                            <ul>
                                <li><a href="http://bethelsuccess.net/programs/graduate/">Homepage</a></li>
                                <li>Tuition per credit is $695.</li>
                            </ul>
                            <h3> 4 (tied). Endicott College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/endicott-e1453915993671.jpg" alt="endicott" width="125" height="125" class="alignright size-full wp-image-3344" /><br />
                                Endicott College offers an Executive MBA that consists of 42 credits &#8211; 10 core, 4 concentration &#8211; and may be completed in as little as 18 months on an accelerated track. Core requirements include Managing in the Evolving Workplace, Operations and Logistics Management, Marketing and Customer Value Management, Managing Information Systems, Human Resources in Transition, and Business Policy and Strategy, among others. Endicott also has a wealth of concentrations, 14 in total, including Entrepreneurship, Healthcare, Homeland Security, International Business, Non-Profit Management, Maritime Economics, and more. The program is highly flexible, with 6-week course blocks, and all course material asynchronous, allowing students to complete work according to their own individual schedules. Further, personalized advising plans give students the opportunity to progress through the degree as they please, taking breaks or accelerating as necessary. Designed for working professionals, applicants are not required to submit GMAT or GRE scores.
                            </p>
                            <ul>
                                <li><a href="http://www.endicott.edu/VanLoan/Graduate-Studies/Master-Business-Admin/Online-MBA.aspx">Homepage</a></li>
                                <li>Tuition per credit is $676.</li>
                            </ul>
                            <h3> 7 (tied). St. Joseph&#8217;s College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/09/Saint-Josephs-College-Online.jpg" alt="Saint-Josephs-College-Online" width="125" height="125" class="alignright size-full wp-image-2607" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Saint-Josephs-College-Online.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Saint-Josephs-College-Online-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                St. Joseph&#8217;s College&#8217;s Executive MBA consists of 36 credits. Courses include Leadership And Managerial Development, Legal Issues In Management, Organizational Theory and Design, Marketing Concepts and Strategies, Statistical Applications in Research and Management, Strategic Planning and Management, Corporate Financial Management, and Integrative Analysis in Management, among others. St. Joseph&#8217;s program places a particular emphasis on real-world problems, and consistently gives students the opportunity to address practical managerial challenges in business and the workplace at large. All faculty are experienced professionals and provide students with the most up-to-date practices, built on a firm foundation of business theory and principles. Applicants should have earned at least a 3.0 undergraduate GPA and may have to submit GMAT scores.
                            </p>
                            <ul>
                                <li><a href="http://www.sjcny.edu/long-island/academics/graduate/degree/executive-mba">Homepage</a></li>
                                <li>Tuition per credit is $499.</li>
                            </ul>
                            <h3> 7 (tied). George Mason University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/george_mason-e1453916045731.png" alt="george_mason" width="125" height="81" class="alignright size-full wp-image-3345" /><br />
                                George Mason University offers an Executive MBA that consists of 19 courses, which may be completed in as little as 20 months. Example courses include Applied Business Decision, Organizational Behavior &#038; Teams, Managerial Economics, Cost Accounting, Business Strategy, Managerial Finance, and more. In addition, students who wish to specialize in a particular area of interest may select between 3 concentrations: Critical Infrastructure Protection &#038; Management, National Security, and Global. For students&#8217; convenience, most classes in the program are taught asynchronously, allowing for students to complete the coursework according to their own schedules. Of GMU EMBA graduates, nearly 80% earned new jobs, 40% received promotions mid-degree, and 70% receive new responsibilities while studying. Applicants should submit undergraduate transcripts, have at least 7 years of work experience (including in managerial roles), and must currently hold an executive position, or have executive responsibilities.
                            </p>
                            <ul>
                                <li><a href="http://business.gmu.edu/emba/">Homepage</a></li>
                                <li>Tuition per credit is $1,296.</li>
                            </ul>
                            <h3> 9. Washington State University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/7.-Washington-State.jpg" alt="7. Washington State" width="125" height="125" class="alignright size-full wp-image-1857" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/7.-Washington-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/7.-Washington-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Washington State University offers an Executive MBA that consists of 44 credit hours and may be completed in as little as 18 months. Some course examples include Marketing Management and Administrative Policy, Business Analytics, Problems in Financial Management, International Business Management, Management of Innovation, Managerial Leadership and Productivity, and Strategy Formulation and Organizational Design, among others. The degree culminates in a cumulative capstone project and presentation. Interested students may also choose to to travel to China for a week-long residency as part of the WSU&#8217;s international field experience. Relative to other programs, WSU&#8217;s curriculum is highly customizable and encourages students to tailor degrees to their specific needs and professional areas of interest. Applicants should have earned at least a 3.0 undergraduate GPA, have 7 years of work experience (with positions in management, senior management, or as an executive), and should submit GMAT scores (which for eligible students may be waived pending review).
                            </p>
                            <ul>
                                <li><a href="http://embaonline.wsu.edu/">Homepage</a></li>
                                <li>Tuition per credit is $1,137.</li>
                            </ul>
                            <h3> 10 (tied). William and Mary</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/william_mary-e1453916097707.png" alt="william_mary" width="125" height="134" class="alignright size-full wp-image-3346" /><br />
                                One of the more prestigious schools on the list, and commonly known as one of the &#8220;public Ivies,&#8221; William and Mary offers an Executive MBA that consists of 48 credits of coursework and a 1-credit hour residency, which are offered 2 times a year on select weekends. Students may complete the degree in 2 years. Core requirements include Financial and Managerial Accounting, Organizational Behavior, Business Analytics, Global Managerial Economics, Leadership for the 21st Century, Integrated Technology, and Strategy, among others. Courses deliver over 7.5 week blocks and is designed to accommodate the busy schedule demands of students. William and Mary faculty are also consistently ranked among the top in the nation by <i>The Princeton Review</i> and <i>Bloomberg Businessweek</i>. Applicants should have earned at least a 3.0 undergraduate GPA, have at least 2 years of work experience, and must submit GMAT or GRE scores.
                            </p>
                            <ul>
                                <li><a href="http://mason.wm.edu/programs/online-mba/index.php">Homepage</a></li>
                                <li>Tuition per credit is $1,020.</li>
                            </ul>
                            <h3> 10 (tied). California State University &#8211; Monterey Bay</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/cal_state-e1453916166765.jpg" alt="cal_state" width="125" height="125" class="alignright size-full wp-image-3347" /><br />
                                California State University&#8217;s Executive MBA consists of 48 credits delivered in eight 6-credit courses, each lasting 10 weeks. Most students complete their degrees in the standard 2-year format. The curriculum is as follows and in order: MBA Fundamentals, Organization and Leadership, Accounting and Finance, Micro-Macro Economics, Innovation and Technology Management, Marketing and Entrepreneurship, Global Business, and a culminating Business Strategy. The Executive track is cohort-based, encouraging a highly collaborative learning experience; and &#8220;real time&#8221; case studies provides students with practical, real-world problems to learn from. Further, CSU gives students maximum schedule flexibility. Applicants should have earned at least a 2.5 undergraduate GPA, have 7 years of work experience (3 in an executive position), and are not required to submit a GMAT.
                            </p>
                            <ul>
                                <li><a href="http://mba.csumb.edu/executive/">Homepage</a></li>
                                <li>Tuition per credit is $850.</li>
                            </ul>
                            <h3> 12. Charleston Southern University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/charleston-e1453916257669.jpg" alt="charleston" width="125" height="121" class="alignright size-full wp-image-3348" /><br />
                                Charleston Southern University&#8217;s program consists of 33 credit hours, which break down as follows &#8211; 18 core, 3 quasi-core (elective cores), 3 general elective or law (for students who have not taken a Business Law undergrad course), and 9 toward an emphasis. Core requirements include Managing with Excellence and Integrity, Advanced Marketing Management, Advanced Managerial Accounting, Financial Management Practices, and the capstone Strategic Planning and Analysis, among others. Students may then choose between 3 concentrations available online: Finance, Leadership, and Management Information Systems. Charleston Southern provides its students with a flexible coursework schedule, and small classes ensure an intimate learning environment. Applicants should submit undergraduate transcripts with a GPA of 3.0 or above, GMAT scores, and a professional resume. Note that as a Christian school Charleston Southern may incorporate religious values into the curriculum.
                            </p>
                            <ul>
                                <li><a href="http://csuniv.edu/business/mba/index.html">Homepage</a></li>
                                <li>Tuition per credit is $490.</li>
                            </ul>
                            <h3> 13. University of Nevada &#8211; Reno</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/nevada-e1453916303208.jpg" alt="nevada logo vector_mARTin" width="125" height="84" class="alignright size-full wp-image-3349" /><br />
                                The University of Nevada Reno offers an Executive MBA program consisting of 36 credits &#8211; 21 core, 15 breadth &#8211; that students typically complete in 2 years. Some core classes include Economics of the Firm, Financial Management, and Marketing Management; breadth courses include a seminar in Managerial Accounting, Personal Branding, Information and Communications Technology in Organizations, and Strategic Management for Executives, among others. As a cohort-based program, the University of Nevada&#8217;s EMBA is highly collaborative and serves as excellent managerial training for team-building. The program is widely held in high regard, having been highlighted both in the <i>Princeton Review</i> and <i>College of Business Alumni Magazine</i>. Applicants should have earned at least a 2.75 undergraduate GPA, have 4-5 years of professional work experience, and must submit GRE or GMAT test scores.
                            </p>
                            <ul>
                                <li><a href="http://csuniv.edu/business/mba/index.html">Homepage</a></li>
                                <li>Tuition per credit is $833.</li>
                            </ul>
                            <h3> 14. University of Arkansas</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/06/13.-Arkansas.jpg" alt="13. Arkansas" width="125" height="125" class="alignright size-full wp-image-2085" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/13.-Arkansas.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/13.-Arkansas-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                The University of Arkansas&#8217;s Walton Executive MBA consists of 38 credit hours that students typically complete in 2 years. Some example classes include Quantitative Methods and Decision Making; Marketing Ideas, Products and Services; Economics of Management &#038; Strategy; Supply Chain Management; and Analytics &#038; Visualization. In addition, students have the opportunity to customize their curriculums by choosing one of the following concentrations: Retail, Supply Chain, Innovation &#038; Entrepreneurship, Finance, and Business Analytics. Because of the university&#8217;s proximity to the retail industry, the curriculum emphasizes a the value chain and the consumer-packaged goods industry. Students also have numerous practical, hands-on opportunities through projects outside the classroom. And as the program is designed with working professionals in mind, coursework is highly flexible to accommodate students&#8217; schedules. Applicants should have worked at least 5-7 years and should submit undergraduate transcripts. GMAT scores may be waived.
                            </p>
                            <ul>
                                <li><a href="https://online.uark.edu/programs/executive-master-business.php">Homepage</a></li>
                                <li>Tuition per credit is $1,131.</li>
                            </ul>
                            <h3> 15. Southern New Hampshire University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" class="alignright size-full wp-image-1800" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Southern New Hampshire University offers an MBA in Leadership that students may complete in as little as 15 months on an accelerated track with two courses per 10-week term. Some courses include Business Environment, Innovations and Entrepreneurship; Marketing and Strategy; Ethics, Corporate Culture and Social Responsibility; Government Impact on Business; and an MBA capstone, among others. Upon graduation, SNHU alumni will have access to one of the most robust alumni networks in the country, with SNHU grads employed at such prestigious places as Liberty Mutual Insurance, Fidelity Investments, U.S. Departments of Defense and Armed Forces, State Street Corp., IBM, AT&#038;T, General Dynamics, Verizon, United Healthcare, Boston Scientific, Pfizer, Oracle, and more. Classes are highly flexible to accommodate students schedules, and SNHU has 5 entry dates throughout the year. Applicants should submit undergraduate transcripts, but no GRE or GMAT scores are required.
                            </p>
                            <ul>
                                <li><a href="http://www.snhu.edu/online-degrees/masters/mba-online/mba-in-leadership">Homepage</a></li>
                                <li>Tuition per credit is $627.</li>
                            </ul>
                            <h3> 16. Athabasca University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/athabasca-e1453916372953.png" alt="athabasca" width="125" height="63" class="alignright size-full wp-image-3350" /><br />
                                Athabasca University&#8217;s online Executive MBA, founded as the first of its kind in 1994, consists of 48 credits that most students typically complete in 2.5 to 3 years, though may take up to 5. (Note that Athabasca also offers an accelerated entry MBA track that may be completed in as little as 18 months if students have completed prerequisite undergrad business courses.) Some core requirements include Strategic Management, Human Resource Management, Financial and Managerial Accounting, Marketing Management, Information Technology Strategy, Corporate Finance, and more. In addition, students take 3 electives to customize their degrees and complete a 9-credit applied project in order to gain valuable real-world experience. Alternatively, students may simply opt to take 6 elective courses. All students must also pass a comprehensive exam in order to graduate. With three entry dates each year, Athbasca&#8217;s program is flexible enough to fit the schedule of busy working professionals. Applicants should submit undergraduate transcripts and have several years of managerial experience.
                            </p>
                            <ul>
                                <li><a href="http://business.athabascau.ca/mba/online-executive-mba/">Homepage</a></li>
                                <li>Tuition per credit is $977.</li>
                            </ul>
                            <h3> 17 (tied). Colorado State University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/1.-Colorado-State.jpg" alt="1. Colorado State" width="125" height="125" class="alignright size-full wp-image-1912" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Colorado State University&#8217;s Executive MBA consists of 40 credits, with most students completing their degrees in 21 months. Class requirements include Project and Enterprise Valuation; Leadership, Ethics, and Motivation; Organizational Communication/Negotiation; Business Economics for the World Market; Financial Principles and Practice; Supply Chain Management; Marketing Strategy and Planning, and more. Courses deliver over 9, 8-week terms and primarily build on academic models, extensive business case studies, and operating best practices, giving students both a firm theoretical foundation and enough real-world practical application to build on. Online students have access to course material 24/7, advising, career services, and library services. Applicants should fill out a <a href="http://biz.colostate.edu/denverExecutive/admissionsRegistration/Documents/EMBA pre-application form.pdf">program interest form</a>, after which the admissions staff will contact them.
                            </p>
                            <ul>
                                <li><a href="http://www.online.colostate.edu/degrees/executive-mba/">Homepage</a></li>
                                <li>Tuition per credit is $1,600.</li>
                            </ul>
                            <h3> 17 (tied). Stratford University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/stratford-e1453916441134.png" alt="stratford" width="125" height="55" class="alignright size-full wp-image-3351" /><br />
                                Stratford University&#8217;s program provides students with a broad-based, comprehensive business curriculum covering management, business technology, leadership development, global business, and decision-making, among other essential topics. In addition, in order to give students the opportunity to specialize in a particular area of professional interest, Stratford offers 9 concentrations: Accounting, Entrepreneurship, Finance, International Business, Information Technology &#038; e-commerce, Investment Management, Management, Marketing, and Supply Chain Management. All course material is available 24/7 and may be completed according to each individual student&#8217;s schedule. Graduates have gone on to companies like Capital One, Elephant Auto Insurance, Altria, Best Buy, and Price Waterhouse Coopers.
                            </p>
                            <ul>
                                <li><a href="http://www.stratford.edu/lp/ba/b/Master-Degree-of-Business-Administration-MBA">Homepage</a></li>
                                <li>Tuition per credit is $990.</li>
                            </ul>
                            <h3> 19. Howard University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/howard-e1453916497436.jpg" alt="howard" width="125" height="125" class="alignright size-full wp-image-3352" /><br />
                                Howard University&#8217;s online Executive MBA consists of 42 credits that students may complete in as little as 18 months. Core classes include Financial Management, Management Statistics and Data Analysis, Strategic Communications, Managing Technology and Innovation, Creating Value Through Supply Chain, Managing the Global Business, and a capstone in Strategic Management, among others. All students have opportunities for one-on-one instruction and group chat sessions in order to create a collaborative and intimate learning environment. Further, coursework is highly flexible, leaving room for working professionals to continue their busy schedules uninterrupted. As one of the most prestigious schools on the list, <i>Bloomberg BusinessWeek</i> has named it among the top business schools in the country, and the <i>Princeton Review</i> ranked it #1 in 2012 for Greatest Opportunity for Minority MBA Students. Applicants should have ideally earned a 3.0 undergraduate GPA and a minimum of 7 years of professional experience, with five years in a management or senior leadership role. GMAT scores are recommended but not required.
                            </p>
                            <ul>
                                <li><a href="http://bschool.howard.edu/emba/">Homepage</a></li>
                                <li>Tuition per credit is $1,488.</li>
                            </ul>
                            <h3> 20. Euro MBA Distance Learning Consortium</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/euro-e1453916539882.jpg" alt="euro" width="125" height="33" class="alignright size-full wp-image-3353" /><br />
                                The Euro MBA Distance Learning Consortium is one of the most prestigious programs on the list, having been named the #4 online Executive MBA in the World by the <i>Economist</i>. The curriculum consists of 10 courses, which include Strategic Management, Change Management, International Management, Technology and Innovation Management, Business Simulation, International Marketing, and European Business Law, among others. All students must also complete a master&#8217;s thesis demonstrating a comprehensive understanding of course material and giving students valuable real-world application opportunities. With a uniquely international foundation, students from across the world study in groups of 4-6, providing for a highly dynamic and collaborative learning experience. Note that this is a hybrid program, with online learning mixed with six weeks of required in-person classes throughout Europe.
                            </p>
                            <ul>
                                <li><a href="http://www.eurombaonline.com/en/?">Homepage</a></li>
                                <li>Tuition per credit is $1,019.</li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-executive-mba-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:45:45 GMT -->
</html>
