@{
    ViewBag.Title = "o_mas_pro_man";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-project-management/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:46:58 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Master&#039;s Programs in Project Management - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style2b0e.css?ver=1461897500' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt2b0e.css?ver=1461897500' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts2b0e.js?ver=1461897500'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexc60b.html?p=2473' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed16c5.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-project-management%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embedcea5?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-project-management%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2473 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Master&#8217;s Programs in Project Management
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/09/BCR_14_ProjectMgmt_Masters_badge.png" alt="Project Management Masters" width="300" height="300" class="alignright size-full wp-image-3904" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/BCR_14_ProjectMgmt_Masters_badge.png 300w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/BCR_14_ProjectMgmt_Masters_badge-150x150.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/BCR_14_ProjectMgmt_Masters_badge-80x80.png 80w" sizes="(max-width: 300px) 100vw, 300px" />As the world continues to become more complex, so too does business. To the untrained eye, problem-solving in such an often unpredictable climate can seem like a perpetual game of Whack-a-mole. An Master&#8217;s in Project Management will teach business professionals both how to approach complex problems and, better yet, how to solve them in an organized, strategic, and cost-efficient manner.</p>
                            <h3>Featured Online Master&#8217;s In Project Management Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/colorado-state-university-global-campus?program=12775&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Colorado State University: Master &#8211; Project Management</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/walden-university?program=11745&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Walden University: MBA &#8211; Project Management</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/colorado-technical-university?program=12178&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Colorado Technical University: MBA &#8211; Project Management</a></strong></li>
                            </ul>
                            <p>Here are the top 25 Master’s programs in Project Management, according to our methodology, which can be viewed following the ranking.</p>
                            <h3> 1. Colorado State University—Global Campus</h3>
                            <p><img src="../../wp-content/uploads/2015/02/1.-Colorado-State.jpg" alt="1. Colorado State" width="125" height="125" class="alignright size-full wp-image-1912" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Colorado State University&#8217;s online program consists of 8 three-credit core courses as part of a 36-credit master’s degree. (If students earned less than 3.0 undergraduate GPA, they may be required to take an additional 3 credits.) The program also boasts 12 specialization options, including Information Technology, Fraud Management, Strategic Innovation and Change Management, Business Intelligence, and Healthcare Administration, among others. In particular, CSU emphasizes practical real-world application, and all students must complete a capstone course in which they develop a comprehensive plan for a major project in an industry of their choice. For those interested, 8-week accelerated courses are available.</p>
                            <h3> 2 (tied). Northeastern University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/1.-Northeastern-University.jpg" alt="1. Northeastern University" width="125" height="125" class="alignright size-full wp-image-2334" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Northeastern University&#8217;s MS in Project Management runs between 45-57 hours, and is available for both full- and part-time students, with full-time students completing their degrees in just one year. (Part-time students typically finish in two.) Northeastern offers 7 specializations, including Clinical Trial Design, Geographic Information Systems, Construction Management, and Organizational Communication, among others. Classes often draw from real-world case studies to demonstrate actionable methods and tools to manage complex projects. This program is accredited by the Project Management Institute (PMI), the world&#8217;s leading association for project management professionals.</p>
                            <h3> 2 (tied). Colorado Technical University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/colorado-technical-university.jpg" alt="colorado-technical-university" width="125" height="125" class="alignright size-full wp-image-1785" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Colorado Technical University offers a 48-credit track with 7 concentrations that is typically completed in 36 months. However, the school&#8217;s <a href="http://www.coloradotech.edu/admissions/prior-learning-assessment/fast-track">Fast Track</a>program can cut graduation time by 30% by allowing students to earn college credit for what they already know. In addition, <a href="http://www.coloradotech.edu/online-degree-programs/intellipath">Intellipath</a>, CTU&#8217;s proprietary educational technology, gives students the opportunity to tailor their coursework specifically according to their strengths and weaknesses, resulting in a more efficient, effective learning experience. CTU is accredited by PMI.</p>
                            <h3> 4. Granite State College</h3>
                            <p><img src="../../wp-content/uploads/2015/01/3.-Granite-State-College.jpg" alt="3. Granite State College" width="125" height="125" class="alignright size-full wp-image-1792" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/3.-Granite-State-College.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/3.-Granite-State-College-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Granite State College&#8217;s MS in Project Management is 30-credit track (with 9 transferable credits) that emphasizes experiential learning and civic engagement. In particular, the program is aimed at individuals looking to change careers and current project managers who want to expand and update their knowledge to advance their careers. Students who earn a 3.5 GPA through their initial few semesters can apply for a full load term, accelerating their coursework.</p>
                            <h3> 5 (tied). Embry-Riddle Aeronautical University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Embry-Riddle-Aeronautical-University.jpg" alt="Embry Riddle Aeronautical University" width="125" height="125" class="alignright size-full wp-image-2474" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Embry-Riddle-Aeronautical-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Embry-Riddle-Aeronautical-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Embry-Riddle Aeronautical University&#8217;s online program consists of 36 credits. A variety of concentrations are offered, including Information Technology, Health Care Administration, Aviation Operations, and Marketing and Advertising, among others. For students&#8217; capstones projects, they will build an e-portfolio that will demonstrate a comprehensive knowledge of both theory and practice. Embry-Riddle&#8217;s program was designed entirely by certified PMPS, and has received accreditation by PMI.</p>
                            <h3> 5 (tied). Saint Mary&#8217;s University of Minnesota</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Saint-Mary-Minnesota.jpg" alt="Saint Mary Minnesota" width="125" height="125" class="alignright size-full wp-image-2475" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Saint-Mary-Minnesota.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Saint-Mary-Minnesota-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The program at Saint Mary&#8217;s University of Minnesota is a 42 credit-hour track that breaks down as such: 21 hours in project management classes; 15 hours in management coursework; 3-hour capstone course; 3-hour elective course. The curriculum closely follows PMI&#8217;s <a href="http://www.pmi.org/PMBOK-Guide-and-Standards.aspx">Project Management Body of Knowledge Guide</a>, preparing students to take the official PMP examination. For students&#8217; convenience, graduation rates vary on chosen course load, and students may start studying any semester. This program is PMI accredited.</p>
                            <h3> 7 (tied). Capella University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/6.-Capella.jpg" alt="6. Capella" width="125" height="125" class="alignright size-full wp-image-1898" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Capella University offers an MS in Information Systems and Technology Management, with a specialization in Project Management. This is 48-credit track, with 12 credits potentially transferable upon taking a prior learning assessment, accelerating coursework. (Note, however, with no prior PM experience may have to take 60 credits for foundation coursework.) Classes are taught in 10-week blocks and designed around PMI&#8217;s Guide to the Project Management Body of Knowledge (PMBOK). In particular, this program covers the fundamentals of IT project management and analyzes current technology, including its organizational, legal, ethical, and professional aspects. This program is PMI accredited.</p>
                            <h3> 7 (tied). Brandeis University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Brandeis-University.jpg" alt="Brandeis University" width="125" height="125" class="alignright size-full wp-image-2476" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Brandeis-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Brandeis-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Brandeis University&#8217;s online MS in Project and Program Management is a 30 credit-hour, asynchronous program, with three points of entry spread throughout the year. While the program was designed by experienced PMI advisers and is consistent with the PMBOK, Brandeis has deliberately deferred accreditation from PMI in order to provide students with a broader, unique curriculum not limited by an external party&#8217;s guidelines. All of Brandeis&#8217; distinguished professors are also working professionals, giving students a valuable real-world perspective into their studies. Graduates have gone on to work at numerous prestigious companies, including Hewlett Packard, IBM, AstraZeneca, Cisco Systems, and Oracle Corporation, among others.</p>
                            <h3> 7 (tied). Avila University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Avila-University.jpg" alt="Avila University" width="125" height="125" class="alignright size-full wp-image-2477" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Avila-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Avila-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Avila University&#8217;s program consists of 37 credits. For credentialed PMPs, for whom the program is partially aimed at, prior experience can waive 10 credit hours. This program offers students flexible schedule offerings, including accelerated 8-week intensives. Avilla also participates in the Yellow Ribbon program, waiving all tuition and fees for eligible veterans and family members. This program is PMI accredited.</p>
                            <h3> 10 (tied). Lasell College</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Lasell-University.jpg" alt="Lasell College" width="125" height="125" class="alignright size-full wp-image-2478" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Lasell-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Lasell-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Lasell College offers an MS in Management with a Project Management concentration, which is a 36 credit curriculum—21 credits of the core, 9 of PM concentration, 6 elective, and either an internship or capstone project. Lasell uses <a href="https://moodle.lasell.edu/">Moodle</a> to provide students with 24/7 access to study materials, a help desk, and the ability to study at their own pace. The program focuses on fundamentals, instilling in students the skills and knowledge to create a project plan, define project goals and objectives, specify the tasks required to achieve those goals.</p>
                            <h3> 10 (tied). Florida Institute of Technology</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Florida-Institute-of-Technology.jpg" alt="Florida Institute of Technology" width="125" height="125" class="alignright size-full wp-image-2479" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Florida-Institute-of-Technology.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Florida-Institute-of-Technology-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Florida Institute of Technology offers an MS in Project Management that delivers courses in 15-week blocks. FIT also offers degrees in three related fields: MS in Management, MS in Project Management—Information Systems, MS in Project Management—Operations Research. While online, the program emphasizes a collaborative learning philosophy and real-world application. All professors have doctorates in the field, and many have been certified by PMI. A capstone course is required to graduate.</p>
                            <h3> 10 (tied). Penn State University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/9.-Penn-State.jpg" alt="9. Penn State" width="125" height="125" class="alignright size-full wp-image-1797" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Penn State University is an interdisciplinary, 30-credit program with asynchronous classes for maximum flexibility. Students typically graduate in two years. In addition, for students eager to add credentials to their resume as soon as possible, the first required 12 credits culminate in a Certificate in Project Management. The program also allows students to choose a specialized career track to tailor their curriculum. Tracks include enterprise architecture, enterprise architecture, supply chain management, or an independent field of study. Penn State is accredited by PMI.</p>
                            <h3> 13. Regis University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/regis-university.jpg" alt="regis-university" width="125" height="125" class="alignright size-full wp-image-2416" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Regis University offers an MS in Organization Leadership with a concentration in Project Leadership and Management. The program consists of 30-33 credit hours—15 core, 12-15 in a specialization, and a 3-credit capstone course. Note that students may choose to pursue a dual specialization. In addition to the eventual MS, Regis also offers certificates in Executive Leadership, Executive Project Management, and Strategic Human Resource Integration. An accelerated track is available for interested students.</p>
                            <h3> 14. George Washington University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/George-Washington.jpg" alt="George Washington" width="125" height="125" class="alignright size-full wp-image-2356" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/George-Washington.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/George-Washington-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The prestigious program at George Washington University consists of 36 total credit hours, 6 of which are electives. GW offers a graduation schedule for full- and part-time students, with full-time students completing their degrees in 18-24 months months and part-time in 30-48 months. Though cognizant of the PMBOK, GW&#8217;s nuanced curriculum goes beyond that framework, emphasizing international methodologies, decision sciences, and advanced project management application. For career prospects, it should be noted that GW has strong relationships with several government and industry institutions, such as the World Bank, International Monetary Fund, U.S. State Department, and many other influential organizations.</p>
                            <h3> 15 (tied). Bellevue University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/14.-Bellevue-University.jpg" alt="14. Bellevue University" width="125" height="125" class="alignright size-full wp-image-1802" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/14.-Bellevue-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/14.-Bellevue-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Bellevue University&#8217;s online program consists of 36 credit hours, culminating in a final practicum that serves as a comprehensive demonstration of PM theory and practice. Integrating real-world, practical application, in addition to theory, this program is especially fit for industry professionals looking to expand their knowledge and advance their careers. Due to a generous transfer policy, students can accelerate their coursework. Bellevue&#8217;s curriculum, taught and designed by PMI-certified professors, follows PMBOK standards and is also accredited by PMI.</p>
                            <h3> 15 (tied). Walden University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Walden University is a 30-credit program, with a required capstone project. Typical graduation time is 24 months, after which an accelerated PhD track is available for students interested in further mastery of the subject. While in enrolled, students have the opportunity to earn project management certificates in <a href="http://www.waldenu.edu/certificates/project-management-certificates">Advanced Project Management and Applied Project Management</a>to bolster their resumes. Walden follows the PMBOK closely, and is accredited by PMI.</p>
                            <h3> 17. Southern New Hampshire University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" class="alignright size-full wp-image-1800" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Southern New Hampshire University offers a MS in Operations and Project Management is—an interdisciplinary, 36-credit program that is available to complete within 15 months thanks to accelerated 10-week classes. Following the PMBOK closely, SNHU prepares students for a wide variety of postgraduate certifications, including the PMP, CAPM, and the Six Sigma Green Belt. For maximum flexibility, there are five separate entry-points spread throughout the year. This program is accredited by PMI.</p>
                            <h3> 18 (tied). Boston University</h3>
                            <p><img src="../../wp-content/uploads/2015/03/15.-Boston.jpg" alt="15. Boston" width="125" height="125" class="alignright size-full wp-image-1931" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/15.-Boston.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/15.-Boston-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Boston University&#8217;s highly interactive online program consists of 6 core management courses, 4 specialization courses, and 2 electives. If planned properly, students may use their electives toward earning a <a href="http://www.bu.edu/online/programs/certificate-programs/project-management.html">graduate certificate in Project Management</a>. In particular, BU focuses on teaching students to manage complex problems, facilitate relationships between the project team and customers, and balance competing demands among scope, time, cost, and quality. This program is accredited by PMI.</p>
                            <h3> 18 (tied). Grantham University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Grantham-University.jpg" alt="Grantham University" width="125" height="125" class="alignright size-full wp-image-2480" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Grantham-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Grantham-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Grantham University offers an MS in Information Management – Project Management, which is a 36-credit curriculum, especially fit for active duty military, veterans, military spouses, military personnel, high school graduates, government employees, or any other full-time professionals. Classes start on a weekly basis for maximum schedule flexibility and convenience. Grantham closely follows PMBOK standards, and is PMI accredited.</p>
                            <h3> 20 (tied). Sam Houston State University</h3>
                            <p><img src="../../wp-content/uploads/2015/06/6.-Sam-Houston-State.jpg" alt="6. Sam Houston State" width="125" height="125" class="alignright size-full wp-image-2079" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/6.-Sam-Houston-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/6.-Sam-Houston-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Sam Houston State University offers a 36-credit hour program designed especially for current working professionals looking to further develop their skills in a rapidly changing management environment. In particular, the program is aimed at preparing students to receive their PMP accreditation. There are three separate entry points throughout the year to allow for flexibility for full-time professionals. A GMAT is required for admission unless students have earned a 3.5 undergraduate GPA. </p>
                            <h3> 20 (tied). Drexel University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" class="alignright size-full wp-image-1848" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Drexel University consists of 45 total credit hours, 12 of which are electives and 3 of which entail a mandatory capstone project. This program is primarily designed for mid-career professionals seeking to advance in their respective fields of interest. In particular, Drexel&#8217;s MS in Project Management trains students to effectively manage teams and projects in the current complex production environment, while incorporating additional business, communication, and leadership lessons. The program closely follows the PMBOK in order to prepare students for PMP certification.</p>
                            <h3> 22. University of Mary</h3>
                            <p><img src="../../wp-content/uploads/2015/09/University-of-Mary.jpg" alt="University of Mary" width="125" height="125" class="alignright size-full wp-image-2481" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/University-of-Mary.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/University-of-Mary-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />University of Mary offers a hybrid online/on-site program with a curriculum that aims to provide students with the knowledge, resources, and skills necessary to execute projects on time and on budget. In addition, communication, business ethics, risk management, and strategy are other areas of emphasis. Note that the school also incorporates Christian, Catholic, and Benedictine values to prepare students for success both in career and in personal life. This program is PMI-accredited to prepare students to become certified.</p>
                            <h3> 23. Western Carolina University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/2.-Western-Carolina.png" alt="2. Western Carolina" width="125" height="125" class="alignright size-full wp-image-1839" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/2.-Western-Carolina.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/2.-Western-Carolina-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Western Carolina University&#8217;s online MS in Project Management boasts being the first PMI-accredited program in the country. Upon completing the curriculum&#8217;s four core courses—Project Planning and Estimating; Project Schedule, Risk and Contracts; Project Change Management; and Managing Enterprise Projects—students will receive a graduate certificate. For this, and because of flexible scheduling and transferrable credits, WCU is especially suited to working professionals and military personnel. Each faculty member holds a PhD in and PMP certification.</p>
                            <h3> 24. University of Wisconsin—Platteville</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Wisconsin-Platteville.jpg" alt="Wisconsin Platteville" width="125" height="125" class="alignright size-full wp-image-2482" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Wisconsin-Platteville.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Wisconsin-Platteville-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Wisconsin—Platteville is a 30-36 credit curriculum (with transfer options), including a capstone course. For maximum flexibility for current working professionals, students may take up to 7 years to complete the program. Following the PMBOK, UW-Platteville has a broad-based curriculum and a wide variety of electives, including Supply Chain Management, Advanced Production and Operations Analysis, Project Risk Management, and Consumer Behavior, among others. In addition, the program offers students graduate assistantships to further expand and apply their studies. This program is accredited by PMI.</p>
                            <h3> 25. University of Maryland, University College</h3>
                            <p><img src="../../wp-content/uploads/2015/08/University-of-Maryland-%e2%80%93-University-College.jpg" alt="University-of-Maryland – University-College" width="125" height="125" class="alignright size-full wp-image-2430" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/University-of-Maryland-–-University-College.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/University-of-Maryland-–-University-College-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />University of Maryland, University College offers an interdisciplinary MS in Management with a Project Management Specialization. For working professionals looking to bolster their resumes, a graduate certification can also be earned after the completion of 15 credit hours. Due to a broad-based and specialize-able course load, students can tailor their studies according to their current or desired field of work. This program is accredited by PMI.</p>
                            <h3>Project Management Methodology:</h3>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour.</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to other prominent rankings such as <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-project-management/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:47:10 GMT -->
</html>

