@{
    ViewBag.Title = "o_mas_in_sp_man";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-sports-management-degree-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:47:12 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Masters in Sports Management Degree Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style61e3.css?ver=1461897501' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt61e3.css?ver=1461897501' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts61e3.js?ver=1461897501'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexcd38.html?p=2923' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embedfb5e.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-sports-management-degree-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed9b4f?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-sports-management-degree-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2923 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Masters in Sports Management Degree Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/12/BCR_15_SportsMgmt_Masters_badge.png" alt="BCR_15_SportsMgmt_Masters_badge" width="300" height="300" class="alignright size-full wp-image-3872" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/12/BCR_15_SportsMgmt_Masters_badge.png 300w, http://www.bestcollegereviews.org/wp-content/uploads/2015/12/BCR_15_SportsMgmt_Masters_badge-150x150.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2015/12/BCR_15_SportsMgmt_Masters_badge-80x80.png 80w" sizes="(max-width: 300px) 100vw, 300px" />The American sports industry is a hallmark of American culture. As our health and athletic technology increases so does the performance of athletes and their competitive edge. Competition in sports grows as professionals in the sports industry establish methods to lead sports organizations and push human performance to its maximum. With nearly every household owning a TV and with online viewing options available more people are watching sports than ever before. The American sports industry has profited greatly from this trend and pulled in over 200 billion dollars last year alone. Thus it is a great time to enter into the field of sports management. According to the Bureau of Labor Statistics the sports management industry is growing far above the national average with a growth rate of 22 percent.</p>
                            <h3>Featured Online Masters In Sports Management Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-of-miami?program=17717&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Miami: MS &#8211; Sport Administration </a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/saint-leo-university-online?program=18373&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Saint Leo University Online: MBA &#8211; Sport Business</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/liberty-university-online?program=16841&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Liberty University: MS &#8211; Sport Management</a></strong></li>
                            </ul>
                            <p>Students pursuing a master’s in sports management can expect to combine their love of sports with a strong foundation in business and find many different career paths open to them such as: public relations, marketing, facility management, information technology, sales, media, sports agent, corporate and community partnerships, personnel management and development, event planning, law, finance, and athletic recruitment. With the impressive career outlook and the diverse job options many students are seeking online programs in which to earn their master in sports management. In this ranking we explore 25 of the best options, using a three dimensional metric. You can find a deeper explanation of our metric below.</p>
                            <h3>1. University of Florida</h3>
                            <p><img src="../../wp-content/uploads/2013/02/6.-Florida.jpg" alt="6. Florida" width="125" height="125" class="alignright size-full wp-image-1878" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Established in 1853 The University of Florida enrolls nearly 50,000 students and is nationally ranked for high quality bachelor’s and master’s programs. The University&#8217;s online master of science in sports management program is backed by the University’s large career services department, meaning students receive a great deal of advisement and direction during their time in the program. The program also offers students the opportunity to specialize in specific concentrations, through practicum options, or through electives, which can be tailored to fit personal interests and career goals. The program also values hands on research and gives credit for internships and requiring the completion of Capstone Project before graduation. </p>
                            <ul>
                                <li><a href="http://sm.hhp.ufl.edu/">Homepage</a>
                            </ul>
                            <h3>2. Central Michigan University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/3.-Central-Michigan.png" alt="3. Central Michigan" width="125" height="125" class="alignright size-full wp-image-1856" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/3.-Central-Michigan.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/3.-Central-Michigan-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Central Michigan University is a public research institution, established in 1892, and current enrolls over 27,000 students worldwide. The University’s master of science in sports management (MSSP) program offers an asynchronous schedule design, meaning that students will set their own schedules for class times and course work. While this does sacrifice some measure of collaboration, it lessens the burden on the student by enabling them to enroll in the program with even the strictest of schedules. The program also offers real time virtual meetings with instructors and advisors to help students stay on the right track.</p>
                            <ul>
                                <li><a href="http://global.cmich.edu/programs/degrees.aspx?dc=MSA&amp;cc=RPA">Homepage</a>
                            </ul>
                            <h3>3. Georgia Southern University </h3>
                            <p><img src="../../wp-content/uploads/2015/10/georgia-southern-e1444771873682.gif" alt="georgia-southern" width="125" height="36" class="alignright size-full wp-image-2760" /></p>
                            <p>Georgia Southern is a public university, founded in 1906 and currently offers over 120 degrees at the bachelor, master, and doctorate levels through eight colleges. The University’s College of Health and Human Services offers an affordable MSSP that is focused on career outcomes. Students in the program are prepared for any of the following careers: professional sports teams, sport marketing or advertising, state sports commissions, or sport facilities and event management. The program is also geared towards efficient learning so students may earn their degree in as little as two years. </p>
                            <ul>
                                <li><a href="http://chhs.georgiasouthern.edu/hk/graduate/sport-management/">Homepage</a>
                            </ul>
                            <h3>4. Virginia Commonwealth University </h3>
                            <p><img src="../../wp-content/uploads/2015/10/virginia-commonwealth-e1444428122538.png" alt="virginia-commonwealth" width="125" height="33" class="alignright size-full wp-image-2687" /></p>
                            <p>Virginia Commonwealth University places emphasis on its athletics programs and its sports management degree. The University’s Center for Sports Leadership offers an online MSSP that is grounded on two main foundations: classroom theory and fieldwork experience. To ensure the latter, the program offers the unique opportunity of a 2 week trip to Europe where students study European sports and gain field experience. Students are requirement to take on a thesis project, which they will explore and develop over the course of their time in the program. </p>
                            <ul>
                                <li><a href=http://sportleadership.vcu.edu/programs/index.html">Homepage</a>
                            </ul>
                            <h3>5. Ohio University  </h3>
                            <p><img src="../../wp-content/uploads/2015/02/5.-Ohio-University.jpg" alt="5. Ohio University" width="125" height="125" class="alignright size-full wp-image-1842" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/5.-Ohio-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/5.-Ohio-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Ohio University is a public research which was established in 1804 and enrolls over 40,000 students, many of whom are international or distance learning students. Ohio University is known as the birthplace of sports education as its Center for Sports Administration is one of the most highly regarded in the country with what is considered to be one of strongest alumni networks in the industry. The program itself also offers three advanced degree specialization options to help students qualify for licensure in different states. Online students are also required to complete three residencies, where they build relationships with peers, instructors, and industry professionals. </p>
                            <ul>
                                <li><a href="http://onlinemasters.ohio.edu/">Homepage</a>
                            </ul>
                            <h3>6. Old Dominion University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/19.-Old-Dominion.jpg" alt="19. Old Dominion" width="125" height="125" class="alignright size-full wp-image-1807" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/19.-Old-Dominion.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/19.-Old-Dominion-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Old Dominion University was established in 1930, currently enrolls over 24,000, and boasts an international alumni network of over 124,000. The University offers an online Master of Science in Education with a Sports Management emphasis. The program is comprised of 36 credit hours which are completed asynchronously, allowing students to fully design their own schedules, so that even the busiest lifestyle won’t interfere with coursework. The degree program also features a Capstone Initiative, requiring students to conduct fieldwork or develop a thesis, both of which will be explored and developed throughout the duration of the program. </p>
                            <ul>
                                <li><a href="https://online.odu.edu/programs/sport-management">Homepage</a>
                            </ul>
                            <h3>7. Troy University  </h3>
                            <p><img src="../../wp-content/uploads/2015/08/troy-university1.jpg" alt="troy-university" width="125" height="125" class="alignright size-full wp-image-2581" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/troy-university1.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/troy-university1-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Troy University offers an affordable online master of science in sports and fitness management program. The program features two concentration options in sports management and in coaching. In sports management, students will learn the skill sets of the industry and be groomed for managerial positions. In the coaching concentration, students will be taught the science of coaching&#8211;the most popular techniques, strategies, and theories behind sports at all levels. The University’s online program ETroy also offers cutting edge distance learning technology. Specifically, it recently unveiled The Trojan Cafe where online students can me, discuss, and collaborate in a virtual meeting space. </p>
                            <ul>
                                <li><a href="http://trojan.troy.edu/etroy/programs/grdegreeprograms.html">Homepage</a>
                            </ul>
                            <h3>8. Northeastern University </h3>
                            <p><img src="../../wp-content/uploads/2013/02/15.-Northeastern.jpg" alt="15. Northeastern" width="125" height="125" class="alignright size-full wp-image-1885" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/15.-Northeastern.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/15.-Northeastern-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Northeastern University is a private, non-profit research institution established in 1898 and currently offers over 200 program options at the bachelor and master level. The University offers an online Master of Sport Leadership degree with part-time and full time options totally 45 credit hours. Part-times students can finish the program in one year while full-time students can finish the program in as little as one year. The program is career oriented and prepares students for positions like the following: marketing, management, or communications with fitness clubs, wellness organizations, and intercollegiate or professional sports teams.</p>
                            <ul>
                                <li><a href="http://www.cps.neu.edu/degree-programs/graduate/masters-degrees/masters-sports-leadership.php">Homepage</a>
                            </ul>
                            <h3>9. Belhaven University  </h3>
                            <p><img src="../../wp-content/uploads/2015/10/belhaven_unitversity-e1446318299782.jpg" alt="belhaven_unitversity" width="125" height="50" class="alignright size-full wp-image-2924" /></p>
                            <p>Belhaven University has a long history of commitment to distance learning, and as such their online education offers a great deal of flexibility while maintaining a rigorous curriculum. The University is one of only a handful to deliver a curriculum based in Christianity. As such, students in the University’s Master of Sports Administrations should expect to pursue personal growth in both faith and compassion as they pursue their degree. The program also emphasizes collaborative learning so students will learn to work together as teams on large-scale projects. </p>
                            <ul>
                                <li><a href="http://online.belhaven.edu/Master-of-Sports-Administration.htm">Homepage</a>
                            </ul>
                            <h3>10. Concordia University &#8211; Saint Paul </h3>
                            <p><img src="../../wp-content/uploads/2013/10/15.-Concordia.jpg" alt="15. Concordia" width="125" height="125" class="alignright size-full wp-image-1902" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Concordia University’s online Master of Arts in Sports Management program is focused on delivery efficient and relevant curriculum. As the industry grows and experiences change, Concordia boasts that it meets these changes head-on in practical coursework that develops the following skillsets: effective decision making, leadership, finance and human and facility resource management. The program consists of fast-paced 7 week terms, so that students may complete earn their degree in as little as 18 months. </p>
                            <ul>
                                <li><a href="http://online.csp.edu/academics/master-of-arts-in-sport-management">Homepage</a>
                            </ul>
                            <h3>11. Washington State University  </h3>
                            <p><img src="../../wp-content/uploads/2015/02/7.-Washington-State.jpg" alt="7. Washington State" width="125" height="125" class="alignright size-full wp-image-1857" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/7.-Washington-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/7.-Washington-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Washington State University is a public research institution founded in 1890 and enrolls more than 27,000 students, making it the second largest school of higher education in the state. The University offers a Master of Arts in Education with a Specialization in Sports Management. The program delivers a wide array of courses with a focus on sports such as finance, management and organizational theory, marketing and sponsorship, law, media communication, and ethics. The same faculty who teach the on-campus classes teach the online classes in an asynchronous format, meaning students choose which times they wish to engage in coursework and virtual lectures. </p>
                            <ul>
                                <li><a href="https://online.wsu.edu/grad/sportManagement.aspx">Homepage</a>
                            </ul>
                            <h3>12. University of Central Missouri </h3>
                            <p><img src="../../wp-content/uploads/2015/10/Central-Missouri.jpg" alt="Central Missouri" width="125" height="125" class="alignright size-full wp-image-2815" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/10/Central-Missouri.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/10/Central-Missouri-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Central Missouri serves about 13,000 students and is a career-outcomes oriented institutions. This focus has led to impressive statistics in student success rates after graduation. Within 6 months of graduation over 90% of students are employed with full-time jobs. The University’s Master’s in Sports Management is offered completely online and offers the most affordable tuition prices in this ranking. Students in the program will have the choice to either pursue long-term research goals, which culminates in a thesis project at the end of the program, or to pursue real-world experience through approved internships. </p>
                            <ul>
                                <li><a href="https://www.ucmo.edu/nutrition/undergrad/SportManagement.cfm">Homepage</a>
                            </ul>
                            <h3>13. University of Miami  </h3>
                            <p><img src="../../wp-content/uploads/2015/09/Miami.jpg" alt="Miami" width="125" height="125" class="alignright size-full wp-image-2590" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Miami.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Miami-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Miami is a private, nonsectarian university that was founded in 1925 and enrolls over 16,000 students currently. The University offers a Master’s of Science in Education in Sports Administration. While the price tag on credit hours is higher than others on this list, students are guaranteed connection with top-rated faculty, who maintain connections to top-tier players in the industry. The same faculty teach both the in-class and online courses, and emphasize preparing students for positions after graduation. </p>
                            <ul>
                                <li><a href="http://www.miami.edu/online/online-degrees/masters-sport-administration/">Homepage</a>
                            </ul>
                            <h3>14. Coker College  </h3>
                            <p><img src="../../wp-content/uploads/2015/10/coker_college-e1446318510679.jpg" alt="coker_college" width="125" height="125" class="alignright size-full wp-image-2925" /></p>
                            <p>Coker College’s Online Master’s of Science in College Athletic Administration program offers students a uniquely focused curriculum. The program focuses on delivering information across the following focuses: college athletics, NCAA compliance regulations, sport communication, sport law, recruiting of coaches and athletes, fundraising, sport business management and sport marketing. According to the University, Bachelors in Sports Administration outnumbers Masters in Sports Administration by seven to one, and so the faculty strives to help students distinguish themselves with experience and specializations. </p>
                            <ul>
                                <li><a href="https://coker.edu/athletic-administration.html">Homepage</a>
                            </ul>
                            <h3>15. Concordia University &#8211; Irvine </h3>
                            <p><img src="../../wp-content/uploads/2013/10/15.-Concordia.jpg" alt="15. Concordia" width="125" height="125" class="alignright size-full wp-image-1902" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Concordia University offers a fully online option for its Master’s in Coaching and Athletic Administration (MCAA). The University boasts a decade of experience in preparing coaches and sports administrators for their fields and shows statistics of high student satisfaction. These success rates are most likely due to the program being the largest coaching and athletics administration program in the nation and to employing award-winning faculty. The program delivers an affordable faith-based curriculum at an efficient pace with constant interaction between students, advisers, and faculty.</p>
                            <ul>
                                <li><a href="http://www.cui.edu/academicprograms/graduate/coaching">Homepage</a>
                            </ul>
                            <h3>16. Adelphi University </h3>
                            <p><img src="../../wp-content/uploads/2015/10/adelphi-e1446319390932.png" alt="adelphi" width="125" height="58" class="alignright size-full wp-image-2930" /></p>
                            <p>Adelphi University is a private, nonsectarian university that was established in 1896 and currently enrolls over 8,000 students. The University’s Ruth S. Ammon School of Education offers an Online Master of Science in Sports Management degree.The program offers two specialization options within the degree: Collegiate Athletic Administration or Sport Marketing. The program boasts a good deal of success with many of its graduates holding high level positions in sports management, especially in the New York metropolitan area. </p>
                            <ul>
                                <li><a href="http://sportsmanagement.adelphi.edu/">Homepage</a>
                            </ul>
                            <h3>17. Fresno Pacific University </h3>
                            <p><img src="../../wp-content/uploads/2015/08/Fresno-Pacific-University.jpg" alt="Fresno-Pacific-University" width="125" height="125" class="alignright size-full wp-image-2400" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Fresno-Pacific-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Fresno-Pacific-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Fresno Pacific University offers a Master of Arts in Kinesiology with an emphasis on sports administration. The program focuses on preparing students for the evolving industry, and requires students to either work or volunteer for sports management positions during the spring and fall semesters to prepare students for higher level positions after graduation. Graduates are prepared to take on positions at all levels, including high school, community college, college, university, professional and private-sector</p>
                            <ul>
                                <li><a href="http://www.fresno.edu/programs-majors/graduate/sport-administration-emphasis">Homepage</a>
                            </ul>
                            <h3>18. Southeast Missouri State University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/6.-Southeast-Missouri-State.jpg" alt="6. Southeast Missouri State" width="125" height="125" class="alignright size-full wp-image-2321" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/6.-Southeast-Missouri-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/6.-Southeast-Missouri-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Southeast Missouri State University is a public university established in 1873 and now currently enrolls over 12,000 students. The University offers two areas of study in sports management, a Master of Business Administration with a specialization in sports administration, and a Master of Arts in Higher Education Administration with a specialization in sports administration. Both options received accreditation from the Commission on Sport Management Accreditation. Both programs deliver research projects and class schedules in an asynchronous format so that students may pursue real-world experience amidst busy schedules. </p>
                            <ul>
                                <li><a href="http://online.semo.edu/content/OnlineDegrees/MBA.asp">Homepage</a>
                            </ul>
                            <h3>19. Drexel University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" class="alignright size-full wp-image-1848" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Drexel University, founded in 1891, is a private research university that enrolls about 26,000 students. The University offers an Online Master of Science in Sport Management degree which consists of 45 credit hours that can be completely on a part-time or full-time basis. The program is divided into three main components: the core coursework, the one week summer residency program, and the thesis or research project. For those seeking additional accreditations, Drexel University also offers a certificate in NCAA Compliance and Sports Law through the university’s Thomas R. Kline School of Law.</p>
                            <ul>
                                <li><a href="http://online.drexel.edu/online-degrees/business-degrees/ms-sports-management/index.aspx">Homepage</a>
                            </ul>
                            <h3> 20. Northcentral University  </h3>
                            <p><img src="../../wp-content/uploads/2015/08/northcentral-university.jpg" alt="northcentral-university" width="125" height="125" class="alignright size-full wp-image-2431" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/northcentral-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/northcentral-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>A relatively young school, Northcentral University was founded in 1996 and offers an Online Master of Education in Sports Management. In place of a long and prestigious history, the University has sought to distinguish itself with efficient and convenient learning methods and positive student outcomes. Students in the sports management program will be taught the following major topics: administrative strategies, and all facets of administering an athletic program, such as leadership, legal aspects, financial analysis, marketing, sports governance, events and facilities management and ethics</p>
                            <ul>
                                <li><a href="http://www.ncu.edu/school-of-education/masters-of-education/sports-management">Homepage</a>
                            </ul>
                            <h3>21. Arkansas State University  </h3>
                            <p><img src="../../wp-content/uploads/2015/06/13.-Arkansas.jpg" alt="13. Arkansas" width="125" height="125" class="alignright size-full wp-image-2085" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/13.-Arkansas.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/13.-Arkansas-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Arkansas State University offers an Online Master of Science in Sports Administration comprised of 36 credit hours. These hours can be taken at a part-time or full-time pace, serving those with busy work or family life. The University’s impressive career services and advisement offices work closely with online students to help them identify and pursue their career goals. The program is specifically aimed at preparing students for management or administrative opportunities in professional sports, intercollegiate athletics, sports recreation facilities, sports media, and sports marketing and management agencies.</p>
                            <ul>
                                <li><a href="http://www.astate.edu/info/academics/degrees/degree-details.dot?mid=c5e26c52-3d9e-420c-b8a8-ffd49594df9c">Homepage</a>
                            </ul>
                            <h3>22. Lasell College  </h3>
                            <p><img src="../../wp-content/uploads/2015/09/Lasell-University.jpg" alt="Lasell University" width="125" height="125" class="alignright size-full wp-image-2478" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Lasell-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Lasell-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Founded by Edward Lasell in 1851, Lasell College is a private institution that currently enrolls about 1,800 students. Lasell College offers a Master’s degree in Sports Management with specialization options in these concentrations: Sport Hospitality Management, Sport Leadership, and Sport Non-Profit Management. Regardless of the chosen concentration, students collaborate in virtual learning to cover the core curriculum, then branch out into areas of chosen interest, and finally complete the program with either a capstone project, a thesis project, or an approved internship. </p>
                            <ul>
                                <li><a href="http://www.lasell.edu/academics/graduate-and-professional-studies/programs-of-study/master-of-science-in-sport-management/ms-in-sport-management-sport-leadership.html">Homepage</a>
                            </ul>
                            <h3>23. Texas A&#038;M University </h3>
                            <p><img src="../../wp-content/uploads/2013/10/9.-Texas-AM.jpg" alt="9. Texas AM" width="125" height="125" class="alignright size-full wp-image-1900" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/9.-Texas-AM.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/9.-Texas-AM-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Founded in 1876, Texas A&#038;M University is a flagship public institution and is the largest university in Texas and the sixth largest in the country. The University consistently ranks in the top 20 for research funding and The Wall Street Journal ranked it 2nd in ability in helping students find jobs in key professions and careers. The University offers an Online Master of Science in Sport Management and designed to prepare students for career opportunities in sport marketing and sales, fiscal management, personnel management and development, and athletics administration and control.</p>
                            <ul>
                                <li><a href="http://hlknweb.tamu.edu/degrees-and-programs/graduate-degree-programs/ms-sport-management-online">Homepage</a>
                            </ul>
                            <h3>24. Liberty University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" class="alignright size-full wp-image-1803" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Liberty University is a private, christian institution that has been at the forefront of online education since 1985. Between the 80,000 students enrolled in distance learning and the residential students, the University services over 113,000 students. The University offers a fully online Master of Science in Sport Management comprised of 36 credit hours, which can usually be completed in about 2 years. The program offers the following concentrations: General Non-Thesis, Outdoor Adventure Sport, Tourism, and Sport Administration. The Outdoor Adventure Sport and Tourism concentrations are two unique areas of study that can prepare students for careers in camp directing or park ranging. </p>
                            <ul>
                                <li><a href="http://www.liberty.edu/online/masters/sport-management/">Homepage</a>
                            </ul>
                            <h3>25. Concordia University &#8211; Chicago </h3>
                            <p><img src="../../wp-content/uploads/2015/10/concordia_chicago-e1446319056308.jpg" alt="concordia_chicago" width="125" height="42" class="alignright size-full wp-image-2927" /></p>
                            <p>Founded in 1864, Concordia-Chicago University recently celebrated its 150th anniversary. College Database’s List of Top U.S. Colleges and Universities ranked Concordia-Chicago 22nd out of 7,400 U.S. colleges and universities for high-quality education master&#8217;s and bachelor’s programs. The University also offers this ranking’s 3rd most affordable degree option, a Master of Arts in Sports Leadership.The program consists of 33 credit hours that can be completed in part-time or full-time tracks. The mission of the program is to prepare students to take on roles of leadership in the community including promotion and marketing, team resource assessment, organizational leadership and fiscal oversight.</p>
                            <li>
                                <a href="http://gradschool.cuchicago.edu/academics/masters/ma-sports-leadership-relearnit/">Homepage</a>
                                </ul>
                                <p><strong>Methodology:</strong></p>
                                <ul>
                                    <li><strong>Affordability (1/3)</strong>: The average out-of-state tuition per credit hour.</li>
                                    <li><strong>Flexibility (1/3)</strong>:  Whether the program offers specialized tracks, flexible hours, or personalized course loads. </li>
                                    <li><strong>Academic Reputation (1/3)</strong>: The rank of the school’s parent institution according to other prominent rankings such as <i>US News</i></li>
                                </ul>
                        </div>
                    </div>


                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">

                            <div class="qdf-container box inner">

                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div>                <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">
                                                <!-- <span class="step step-1 box"><img src="http://www.bestcollegereviews.org/wp-content/plugins/qdf_plugin/assets/img/step_1.png" class="img-responsive" /></span> -->
                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">
                                                <!-- <span class="step step-2 box"><img src="http://www.bestcollegereviews.org/wp-content/plugins/qdf_plugin/assets/img/step_2.png" class="img-responsive" /></span> -->
                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">
                                                <!-- <span class="step step-3 box"><img src="http://www.bestcollegereviews.org/wp-content/plugins/qdf_plugin/assets/img/step_3.png" class="img-responsive" /></span> -->
                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />

                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>

                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget">  </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>

    @Html.Partial("_footer")

@Html.Partial("_last_script")
    <!-- End footer -->
</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-sports-management-degree-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:47:35 GMT -->
</html>

