@{
    ViewBag.Title = "hc_ad_bac";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/health-care-administration-bachelors-programs-online/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:29 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Bachelors in Health Care Administration - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style426b.css?ver=1461897519' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt426b.css?ver=1461897519' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts426b.js?ver=1461897519'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index1c21.html?p=3418' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed0a94.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fhealth-care-administration-bachelors-programs-online%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embedac48?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fhealth-care-administration-bachelors-programs-online%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-3418 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Bachelors in Health Care Administration
                            </h2>
                            <p><img src="../../wp-content/uploads/2016/02/BCR_9_HealthCareAdmin_Bach_badge-1-300x240.png" alt="BCR_9_HealthCareAdmin_Bach_badge" width="300" height="240" class="alignright size-medium wp-image-4222" />As the population continues to age and lifespans lengthen, the healthcare industry will remain one of the most in-demand services. According to the Bureau of Labor Statistics, employment in medical and health services managers is projected to grow 17 percent from 2014 to 2024, much faster than the average for all occupations. Moreover, as the U.S. continues to reboot its healthcare industry to match the policy concerns of the 21st century &#8211; through programs like the Affordable Care Act &#8211; the healthcare industry will require increasingly specialized labor.</p>
                            <h3>Featured Online Health Care Administration Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/kaplan-university?program=2666&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Kaplan University: BS &#8211; Health Care Administration</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/ashford-university?program=16472&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Ashford University: BA &#8211; Health Care Administration</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/walden-university?program=19983&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Walden University: Bachelor of Science in Health Studies &#8211; Health Management</a></strong></li>
                            </ul>
                            <p>While currently a large amount of training is completed on-the-job, employers will look to find individuals who are already prepared to enter the work force right away. A bachelor&#8217;s degree in Healthcare Administration provides students with the perfect combination of business and healthcare foundationa curricula, which graduates can take straight into the work place with little to no training.</p>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i>
                            </ul>
                            <h3> 1. Colorado State University–Global Campus</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/1.-Colorado-State.jpg" alt="1. Colorado State" width="125" height="125" class="alignright size-full wp-image-1912" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Colorado State University–Global Campus offers an online bachelor&#8217;s in Healthcare Administration that consists of 120 total undergraduate credits, 45 of which are in the major. Core major requirements include Financial Accounting, Introduction to the U.S. Healthcare System, Health Law, The Economics of Healthcare, Ethical Decisions in Healthcare Management, Healthcare Information Systems, and more. All students must also complete a capstone in analysis and policy structure to graduate. In addition, CSU also gives students the opportunity to choose from a wide variety of nearly 20 concentrations to further tailor the degree: Operations Management and Supervision, Project Management, Public and Non-Profit Management, Small Business and Entrepreneurship, Emergency Management, and Data Management and Analysis, among others. Students interested in pursuing a master&#8217;s degree should note that CSU offers a dual enrollment, early admission program. Asynchronous courses and a generous transfer credit policy (include alternative credit options) give students the ability to accelerate course work. Tuition is locked and out-of-state students pay in-state costs.
                            </p>
                            <ul>
                                <li><a href="https://csuglobal.edu/undergraduate/programs/bachelors-degrees/healthcare-administration-and-management">Homepage</a></li>
                                <li>Tuition per credit is $350.</li>
                            </ul>
                            <h3> 2. Oregon Institute of Technology Online</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/Oregon-institute-technology.jpg" alt="Oregon-institute-technology" width="125" height="125" class="alignright size-full wp-image-2576" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Oregon-institute-technology.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Oregon-institute-technology-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Oregon Institute of Technology Online offers an online BS in Healthcare Management with either a clinical track or radiologic science track. The clinical track option consists of 182 total credits, 44 of which are in the major; the radiologic science track consits of 205 total credits, 89 of which are in the major. However, as primarily a continuing education program, most students waive prerequisites via previous academic credits or credit granted through work experience. Both tracks are built upon a firm foundation of healthcare management and business operations; each are fundamentally professional degrees intended to help students advance their careers. Note that applicants must provide the school with a current certificate, registry, or license in an approved allied health field, and radiologic science applicants must provide a current RRT credential through ARRT.
                            </p>
                            <ul>
                                <li><a href="http://www.oit.edu/online/degrees/health-care-management">Homepage</a></li>
                                <li>Tuition per credit is $227.</li>
                            </ul>
                            <h3> 3. Capella University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/10/6.-Capella.jpg" alt="6. Capella" width="125" height="125" class="alignright size-full wp-image-1898" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Capella University offers an online BS in Healthcare Management that consists of 180 total quarter credits &#8211; 42 major core, 42 concentration. Core reqiurements include Developing a Health Care Management, Fundamentals of Marketing and Sales, Fundamentals of Leadership, Fundamentals of Management, Fundamentals of Organizational Communication, and more. From there, Capella students have the opportunity to choose from 8 concentrations: Accounting, Business Intelligence, Finance, Health Care Management, Human Resource Management, Management Leadership, Marketing, and Project Management. Capella stresses flexibility, and students have a number of ways to accelerate course work, including a generous transfer policy of up to 135 credits and alternative credit options via prior-learning assessments. There is also an entirely asynchronous FlexPath option (up to 68 transferrable credits). All classes deliver in acclerated 5-10 week blocks, and students typically graduate in 36 months.
                            </p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/bachelors-health-care-management/">Homepage</a></li>
                                <li>Tuition per credit is $356.</li>
                            </ul>
                            <h3> 4. Regent University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/regent_uni-e1456772642606.gif" alt="regent_uni" width="125" height="63" class="alignright size-full wp-image-3395" /><br />
                                Regent University offers an online BS in Healthcare Management that consists of 120 total undergraduate credits, 45 of which are in the major. Core reqirements include Accounting Principles, Business Communication, Personnel Management Strategy, Medical Terminology, Healthcare Management Foundations, Healthcare Operational Management, Healthcare Informatics, Contemporary Issues in Healthcare, and a practicum, among others. From there, students also have the opportunity to choose 26 credits of electives to tailor their degrees. Program objectives include building a foundaitonal knowledge of the healthcare industry as a whole; be prepared to assume leadership roles in health care legislation, informed consent, corporate liability, medical malpractice and patients&#8217; rights; and understand public and private healthcare practices, and how these areas intersect. As a Christian school, religious values may be incorporated throughout the curriculum.
                            </p>
                            <ul>
                                <li><a href="http://www.regent.edu/acad/undergrad/academics/degree/healthcare_management/">Homepage</a></li>
                                <li>Tuition per credit is $395.</li>
                            </ul>
                            <h3> 5. Walden University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Walden University offers an online BS in Healthcare Management that consists of 181 total quarter credits, 85 of which are in the major. Core major requirements include Concepts of Health Promotion, Principles of Epidemiology, Behavioral and Cultural Issues in Healthcare, Health Informatics, Current Issues in Healthcare Policy and Practice, Health Finance and Economics, Healthcare Quality and Safety, and Managing the Healthcare Workforce, among others. From there, students have the opportunity to choose 45 credits of electives to tailor their degrees. Students must also complete a capstone in order to graduate. Waldern&#8217;s dynamic, multimedia delivery is asynchronous, in order to maximize schedule flexibility and allow students to complete course work on their own time. Interested students may also take advantage of an accelerated entry option to the master&#8217;s program. In particular, this program covers the latest trends in healthcare, how public policy and healthcare intersect, business practices, and more.
                            </p>
                            <ul>
                                <li><a href="https://www.waldenu.edu/bachelors/bs-in-healthcare-management">Homepage</a></li>
                                <li>Tuition per credit is $320.</li>
                            </ul>
                            <h3> 6. American Intercontinental University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/12/interconteninetal-e1450565003956.jpg" alt="interconteninetal" width="125" height="37" class="alignright size-full wp-image-3178" /><br />
                                American Intercontinental offers an online bachelor&#8217;s in Business with a concentration in Healthcare Management that consists of 180 total credits, 24 of which are in the healthcare concentration. Those classes include Risk Management, Survey of Healthcare Management, Ethical and Legal Issues in Healthcare, Healthcare Finance, Healthcare Information System, Personnel and Organization Policy, and a capstone, among others. AIU&#8217;s Intellipath program allows students to acclerate course work through waiving classes in which you have already demonsrated sufficient knowledge. Program objectives include learning management skills relevant to non-medical healthcare professionals, leveraging fundamnental busines principles like finance and accounting, and developing skills to address potential ethical and legal conflicts in today&#8217;s healthcare systems. Note AIU also offers more than a dozen additional concentrations, including Technology Management, International Business, Operations Managemnt, HR Management, and more.
                            </p>
                            <ul>
                                <li><a href="http://www.aiuniv.edu/degrees/business/bachelors-business-administration-healthcare-management-bba">Homepage</a></li>
                                <li>Tuition per credit is $302.</li>
                            </ul>
                            <h3> 7. LeTourneau University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/09/LeTourneau-University.jpg" alt="LeTourneau University" width="125" height="125" class="alignright size-full wp-image-2634" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/LeTourneau-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/LeTourneau-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                LeTourneau University offers an online BS in Healthcare Management that consists of 126 credits, 36 of which are in the major. Core requirements include Financial Analysis for Managers, Human Resource Management, The U.S. Health Care System, Health Care Delivery Systems, Regulation and Accountability in Health Care, Marketing Health Care Services, and more. From there, students also have the opportunity to choose electives to tailor course work. With a curriculum designed in collaboration with top-tier healthcare management professionals, students benefit from a grounded, practical, and readily applicable education that prepares for real-world issues. LeTourneau also offers a related bachelor&#8217;s in Health Information Systems and a BSN. Note also that this is an accelerated program, ideal for full-time students eager to enter the work force and working professionals looking to advance their careers.
                            </p>
                            <ul>
                                <li><a href="http://www.aiuniv.edu/degrees/business/bachelors-business-administration-healthcare-management-bba">Homepage</a></li>
                                <li>Tuition per credit is $375.</li>
                            </ul>
                            <h3> 8. The University of Toledo</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/university_of_toledo-e1451955595882.jpg" alt="university_of_toledo" width="125" height="48" class="alignright size-full wp-image-3296" /><br />
                                The University of Toledo offers an online BS in Health Information Administration that consists of 65-67 credits in the major, in addition to general education prerequisites. Some example classes include Acute Care Clinical Classification Systems And Services; Managerial And Behavioral Processes In Organizations; Information Technology Management; Quality Improvement In Health Care; Healthcare Content and Record Management; Legal And Ethical Issues In Healthcare Services; and more. To gain valuable real-world practice and exposure, all students also complete a Professional Practice Experience and a Integrative Capstone Experience. A traditional four-year program, students with previous academic experience may acclerate course work via Toledo&#8217;s generous transfer policy. Graduates will be prepared to pursue careers in healthcare, advance their current careers, or continue their studies into a graduate degree. Toledo students, in particular, benefit from an intimate, collaborative experience and support technologies like eTutoring, an IT Help Desk, and eLibrary.
                            </p>
                            <ul>
                                <li><a href="http://www.utoledo.edu/online-degree-programs/programs/bachelors/health-information-administration-online.html">Homepage</a></li>
                                <li>Tuition per credit is $335.</li>
                            </ul>
                            <h3> 9. Northeastern University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/1.-Northeastern-University.jpg" alt="1. Northeastern University" width="125" height="125" class="alignright size-full wp-image-2334" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Northeastern University offers an online BS in Health Management that consists of 160 total quarter hours, 58 of which are in the major. Major requirements include Financial Accounting, Managing Health Services Organizations, Health Law, Healthcare Delivery Systems, Principles &#038; Practices of Community Health, Health Planning and Regulation, and a practicum, among others. Northeastern also offers an acclerated 80-quarter credit track designed for students who have aready completed an associate&#8217;s degree or the equivalent amount of credits. Students also have the opportunity to further tailor their degrees through a variety of electives. Graduates of the program will have a foundational knowledge of healthcare, finance, and contemporary issues in the industry, including policies, procedures, legal concerns, and more. Students with previous academic experience may accelerate course work thanks to a generous transfer policy.
                            </p>
                            <ul>
                                <li><a href="http://www.utoledo.edu/online-degree-programs/programs/bachelors/health-information-administration-online.html">Homepage</a></li>
                                <li>Tuition per credit is $378.</li>
                            </ul>
                            <h3> 10. Liberty University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" class="alignright size-full wp-image-1803" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Liberty University offers an online Bachelor of Science in Business Administration with a concentration in Healthcare Management that consists of 120 credits, 54 of which are in the major. Major requirements include Business Law, Corporate Finance, Organizational Behavior, Strategic Planning/Business Policy, Non-Profit Management, Public &#038; Community Health for Business, and more. In addition, students have the opportunity to choose 24 credits of electives to tailor course work to particular areas of interest. With an emphasis on giving students maxiumum flexibility, Liberty also gives credit through work/life experience and prior academic experience, potentially accelerating degree completion time for qualified students. As a Christian university, religious values may be incorporated throughout the curriculum.
                            </p>
                            <ul>
                                <li><a href="https://www.liberty.edu/online/bachelors/business-administration/healthcare-management/">Homepage</a></li>
                                <li>Tuition per credit is $375.</li>
                            </ul>
                            <h3> 11. Kaplan University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" class="alignright size-full wp-image-2158" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Kaplan University offers an online BS in Healthcare Administration that consists of 180 total undergraduate credits, 60 of which are in the major. Major classes include Leadership and Ethics in Healthcare, Healthcare Policy and Economics, Operational Analysis and Quality Improvement, Finance for Healthcare, and a capstone. In addition, students have the opportunity to choose among a wide variety of elective courses in order to tailor their curriculum. Thanks to an adanced track option, students with previous academic or work experience, or students who pass prior learning assessments, may waive 90 credits of general education requirements, greatly accelerating graduation time. With new entry dates available every few weeks, Kaplan students have maximum schedule flexibility to balance school, work, and life responsibilities.
                            </p>
                            <ul>
                                <li><a href="http://www.kaplanuniversity.edu/health-sciences/health-care-administration-bachelor-degree.aspx">Homepage</a></li>
                                <li>Tuition per credit is $371.</li>
                            </ul>
                            <h3> 12 (tied). King University Online</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/06/23.-King.jpg" alt="23. King" width="125" height="125" class="alignright size-full wp-image-2088" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/23.-King.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/23.-King-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                King University Online offers a BS in Healthcare Administration that consists of 124 total undergraduate credits, 48 of which are in the major. Note, however, that applicants must have already completed 45 credits to enter the program. (King has a very generous transfer policy.) From there, course work is highly accelerated, and students can expect to complete their degree in as little as 16 months. In particular, this program focuses on HR management, healthcare organization and policy, ethics and legal issues, management, and sustainability in healthcare. With an asynchronous delivery model, King students have the added benefit of maximum dlexibility and the ability to complete course work on their own time. In order to graduate, all students must complete a comprehensive exam comprised of 75 general education questions. Related degrees in Healthcare Informatics, an RN to BSN, and MBA are also available online.
                            </p>
                            <ul>
                                <li><a href="http://online.king.edu/online-degree-programs/bachelor-of-science-in-healthcare-administration-bsha/">Homepage</a></li>
                                <li>Tuition per credit is $300.</li>
                            </ul>
                            <h3> 12 (tied). University of Phoenix</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/18.-University-of-Phoenix.jpg" alt="18. University of Phoenix" width="125" height="125" class="alignright size-full wp-image-1806" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/18.-University-of-Phoenix.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/18.-University-of-Phoenix-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                The University of Phoenix offers an online Bachelor of Science in Health Administration that consists of 120 total undergraduate credits. Some example classes include Health Care Delivery In The U. S., Health Care Communication Strategies, Health Care Management, Health Care Information Systems, Economics: The Financing Of Health Care, and Health Care Research Utilization, among others. Students also have the opportunity to choose one of the following four unique concentrations to tailor their degrees: Health Management, Emergency Management, Health Information Systems, and Long-Term Care. With the help of a generous transfer policy, many students may accelerate course work through previous academic and work experience. In addition, Phoenix also offers several highly useful certificates in Electronic Medical Records, Emergency Management, and Health and Wellness Administration Foundations, among others. Phoenix&#8217;s risk-free program period allows students three weeks to determine if the track is a right fit before putting down any tuition.
                            </p>
                            <ul>
                                <li><a href="http://www.phoenix.edu/colleges_divisions/health-sciences-nursing/health-administration-programs.html">Homepage</a></li>
                                <li>Tuition per credit is $522.</li>
                            </ul>
                            <h3> 14. Regis University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/regis-university.jpg" alt="regis-university" width="125" height="125" class="alignright size-full wp-image-2416" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Regis University offers an online bachelor&#8217;s degree in Healthcare Administration that consists of 128 credits, 39 of which are in the major. Major requirements include Health Care Policy, Health Care Delivery Systems, Leadership and Management in Health Care Settings, Health Statistics and Research Methods, Health Care Finance, Marketing and Public Relations in Health Care Settings, a capstone, and an administrative internship to provide valuable real-world experience and exposure. Courses delivery asynchronously in accelerated 8-week blocks, giving students maximum flexibility to complete work on their own time and the opportunity to graduate in as little as 24-30 months. With three entry dates per year and rolling admissions, Regis is also ideal for working professionals looking to fit course work into their busy schedules.
                            </p>
                            <ul>
                                <li><a href="http://www.regis.edu/RHCHP/Academics/Degrees-and-Programs/Undergraduate-Programs/Health-Care-Administration.aspx">Homepage</a></li>
                                <li>Tuition per credit is $485.</li>
                            </ul>
                            <h3> 15. Southern New Hampshire University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" class="alignright size-full wp-image-1800" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Southern New Hampshire University offers an online BS in Healthcare Administration that consists of 120 credits, 45 of which are in the major. Major requirements include Healthcare Marketing and Economics, Healthcare Delivery Systems, Healthcare Strategic Management and Policy, Principles of Epidemiology, Population Health and Cultural Competence, and more. From there, students have the opportunity to tailor their degrees with 21 credits of electives. Classes deliver in accelerate 9-week blocks in an asynchronous format, allowing for maximum flexibility and the ability to complete course work on your own time. Thanks to a generous transfer policy of up to 90 credits, qualified students may significantly accelerate gradutation time. Program learning objectives include how macro and microeconomic conditions affect the healthcare industry, how to best leverage principles and functions of management, contemporary policy issues within U.S. healthcare, and how to promote dynamic organizations.
                            </p>
                            <ul>
                                <li><a href="http://www.snhu.edu/online-degrees/bachelors/bs-in-healthcare-administration">Homepage</a></li>
                                <li>Tuition per credit is $320.</li>
                            </ul>
                            <h3> 16. Rasmussen College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/09/rasmussen-computer-science-e1451670825134.jpg" alt="rasmussen-computer-science" width="125" height="125" class="alignright size-full wp-image-1504" /><br />
                                Rasmussen College offers an online BS in Healthcare Management that consists of 180 total undergraduate credits, 62 of which are in the major. Note, however, that Rasmussen students must enter with at least an associate&#8217;s degree (or the equivalent amount of credits) which grants them a transfer credits for lower division general education and lower division major and core courses. Major requirements include Business Project Management, Risk Management, Managing a Diverse Workforce, Advanced Statistics and Analytics, Healthcare Marketing, Quality Improvement in Healthcare, Regulation and Compliance in Healthcare, and more. From there, students choose between two tracks: a healthcare management capstone or a healthcare management internship. (Note that the internship opportunity may only be available in select states.) For students&#8217; convenience, Rasmussen also offers a flex option, allowing students to either accelerate course work or complete on their own time.
                            </p>
                            <ul>
                                <li><a href="http://www.rasmussen.edu/degrees/business/healthcare-management/bachelors/">Homepage</a></li>
                                <li>Tuition per credit is $333.</li>
                            </ul>
                            <h3> 17 (tied). Ottawa University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/23.-Ottawa-University.png" alt="23. Ottawa University" width="125" height="125" class="alignright size-full wp-image-1811" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/23.-Ottawa-University.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/23.-Ottawa-University-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Ottawa University offers an online BA in Healthcare Management with seperate clinical and non-clinical tracks, each of which consist of 124 total credits. Non-clinical core requirements include Accounting for Business Operations, Business Statistics and Ethics, Planning and Budgeting in Health Care, Introduction to Health Care Delivery Systems , Health Care Policy and Regulation, Management of Health Care Organizations, and more. The clinical track core include Managing Integration of Health Care Systems, Human Resources in Health Care Organizations, Health Care Law and Ethics, and more. Students also have the opportunity to tailor their degrees by choosing one of the following seven concentrations: Economics, Communication, Entrepreneurship, Finance, Human Resources, Leadership, and Marketing. In addition, Ottawa also offers a wide range of minors.
                            </p>
                            <ul>
                                <li><a href="http://www.ottawa.edu/academics/degree-finder/degree/bachelor-of-arts-in-health-care-management-clinica">Homepage</a></li>
                                <li>Tuition per credit is $490.</li>
                            </ul>
                            <h3> 17 (tied). Concordia University Texas</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/10/15.-Concordia.jpg" alt="15. Concordia" width="125" height="125" class="alignright size-full wp-image-1902" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Concordia University Texas offers an online BA in Healthcare Admnistration that consists of 128 total credits, 42-45 of which are in the major. Major requirements include Healthcare Organization and Delivery, Management Essentials of Healthcare Organization, Quality Management in Healthcare, Marketing Management in Healthcare, Healthcare Finance Issues, Healthcare Economics, and a capstone practicum, among others. Courses deliver in accelerated 8-week blocls, and Concordia emphasizes flexibility in order to encourage students to complete course work at their own pace. In addition, thanks to a generous transfer policy of up 83 credits, students may further accelerate degree completion time. Concordia students enjoy 24/7/365 access to the university&#8217;s support desk. Admissions are rolling, and there are multiple entry dates per year.
                            </p>
                            <ul>
                                <li><a href="http://online.concordia.edu/online-programs/b-a-in-healthcare-administration/">Homepage</a></li>
                                <li>Tuition per credit is $455.</li>
                            </ul>
                            <h3> 19 (tied). Herzing University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/12/herzing_university-e1449473160198.jpg" alt="herzing_university" width="125" height="41" class="alignright size-full wp-image-3108" /><br />
                                Herzing University offers an online BS in Healthcare Management that consists of 121 total credits, 42 of which are in the major. Requirements include Healthcare Finance, Medical Law and Ethics, Managing Project Teams, Healthcare Human Resource Management, Management of Patient Records, Current Issues in Healthcare, and Healthcare Information Systems, among others. Students typically complete course work in as little as 16 months, but thanks to Herzing&#8217;s generous transfer policy, students may further accelerate course work. Interested studens should note that Herzing also offers the degree in tandem with an emphasis in Dental Hygiene for 126 total credits and associate&#8217;s degree for 60 credits. Program objectives include an ability to analyze issues and implement managerial functions in the workplace; identify determinants and measurements of health and disease in epidemiology; and compare health services organizations and delivery structures, functions, and professionals.
                            </p>
                            <ul>
                                <li><a href="https://www.herzing.edu/career-programs/healthcare/healthcare-management">Homepage</a></li>
                                <li>Tuition per credit is $340.</li>
                            </ul>
                            <h3> 19 (tied). Grand Canyon University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Grand Canyon University offers an online BS in Healthcare Administration that consists of 120 total credits, 56 of which are in the major. Major requirements include Health Policy and Economic Analysis Care, Legal and Ethical Principles in Healthcare, Strategic Planning and Implementation, Probability and Statistics, Organizational Behavior and Leadership, Healthcare IT and Management, and more. Courses deliver in highly accelerated 7-week blocks, and with a generous transfer policy of up to 90 credits students may be able to further accelerate degree completion time. Further, with numerous entry dates throughout the year, students benefit from GCU&#8217;s emphasis on schedule flexibility. In particular, students in the program will learn the dynamics and structure of various health care organizations; how public, private, and social forces intersect in the U.S. healthcare industry; financial factors that influence healthcare; and optimal business strategies. As a Christian university, religious values may be incorporated throughout the curriculum.
                            </p>
                            <ul>
                                <li><a href="http://www.gcu.edu/degree-programs/bachelor-science-health-care-administration">Homepage</a></li>
                                <li>Tuition per credit is $470.</li>
                            </ul>
                            <h3> 21 (tied). University of Minnesota &#8211; Crookston</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/6.-Minnesota-Crookston.jpg" alt="6. Minnesota Crookston" width="125" height="125" class="alignright size-full wp-image-1914" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/6.-Minnesota-Crookston.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/6.-Minnesota-Crookston-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                The University of Minnesota at Crookston offers a BS in Health Management that consists of 120 total credits, 62 of which are in the major. Major requirements include Health Information Systems, Medical Terminology, Health Care and Medical Needs, Health Care Policy and Comparative Systems, Performance Improvement in Health Care, Health Care Law and Biomedical Ethics, and Principles of Management, among others. Students must also complete an internship in order to gain valuable real-world experience. In addition, to tailor degrees to specific areas of interest, students choose 15 credits of electives. Students with previous academic experience may benefit from the university&#8217;s generous transfer policy; interested applicants may send their transcripts in and learn how many credits are transferrable within 3-5 days. The school also offers several related online bachelor&#8217;s degrees in Applied Health, Business, IT Management, and more.
                            </p>
                            <ul>
                                <li><a href="http://www1.crk.umn.edu/academics/online/healthmgmt/">Homepage</a></li>
                                <li>Tuition per credit is $391.</li>
                            </ul>
                            <h3> 21 (tied). National University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/10/national_uni-e1446217119961.jpg" alt="national_uni" width="125" height="125" class="alignright size-full wp-image-2912" /><br />
                                National University offers an online BS in Healthcare Administration that consists of 180 total quarter credits, 67.5 are in the major. (Note that, as a hybrid program, 45 credits must be complete in residence at National.) Major requirements include Issues &#038; Trends in Healthcare, Health Informatics, Case and Outcomes Management, Healthcare Politics &#038; Policy, Global Health Systems, Healthcare Marketing, and more. In addition, all students must complete an internship in order to gain valuable real-world experience. Students with previous academic experience may qualify to transfer credits into the program, acclerating degree completion time. Program learning outcomes include evaluation and analysis of issues within healthcare work forces; decision-making via quantitative and qualitative healthcare data; leveraging principles of accounting, law, financial analysis, human resources management, operations analysis, management information systems analysis, strategic planning, and marketing; managing large orgnizations, and more.
                            </p>
                            <ul>
                                <li><a href="http://www.nu.edu/OurPrograms/SchoolOfHealthAndHumanServices/CommunityHealth/Programs/Bachelor-Science-Healthcare-Administration.html">Homepage</a></li>
                                <li>Tuition per credit is $354.</li>
                            </ul>
                            <h3> 21 (tied). Strayer University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/Strayer.jpg" alt="Strayer" width="125" height="125" class="alignright size-full wp-image-2449" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Strayer.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Strayer-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Strayer University offers an online bachelor&#8217;s in Business with a concentration in Health Services Administration that consists of 120 total credits. Major courses include Management Concepts, Principles of Economics, Business and Society, and a business capstone. Courses in the healthcare concentration include Health Care Policy and Law, Health Information Systems, Health Services Marketing, Health Services Organization Management, and more. Among the program obectives are exploring overall forces and economic trends that affect the U.S. healthcare industry; learning to apply business practices and streategies to health services management for health care management firms, hospitals, clinics, and long-term health facilities; and learning to interpret and analyze current administrative and management challenges in health service organizations, while implementing effective plans to optimize organizational performance.
                            </p>
                            <li><a href="http://www.strayer.edu/degrees/bachelors/business-administration/health-services-administration">Homepage</a></li>
                            <li>Tuition per credit is $473.</li>
                            </ul>
                            <h3> 24. Florida Institute of Technology Online</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/09/Florida-Institute-of-Technology.jpg" alt="Florida Institute of Technology" width="125" height="125" class="alignright size-full wp-image-2479" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Florida-Institute-of-Technology.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Florida-Institute-of-Technology-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Florida Institute of Technology Online offers a BA in Business Administration with a specialization in Healthcare Management. Some example classes include Applied Decision Methods for Business, Healthcare Organizations, Managed Care, Quality Improvement Methods in Healthcare, Health Planning and Policy Management, Management Information Systems, and more. In addition, students also have the opportunity to tailor degrees with elective course work. This program is ideal for students interested in both business and the healthcare industry at large. Particular areas of skill development include change management through contemporary behavior and classical organizational theories; management implementation through planning, strategy, organizing, staffing, leading, control and change; and analysis of contemporary issues in the U.S. healtcare industry.
                            </p>
                            <li><a href="http://www.floridatechonline.com/programs/undergraduate/bachelors-degrees/ba-business-administration-healthcare-management/">Homepage</a></li>
                            <li>Tuition per credit is $510.</li>
                            </ul>
                            <h3> 25. Franklin Pierce University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/09/Franklin-Pierce-University.jpg" alt="Franklin Pierce University" width="125" height="125" class="alignright size-full wp-image-2498" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Franklin-Pierce-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Franklin-Pierce-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Franklin Pierce University offers an online BS in Healthcare Administration that consists of 120 total credits. Major requirements include Introduction to Healthcare Services, Epidemiology, Healthcare Finance, Healthcare Systems Management and Quality Improvement, Leadership and Management in Healthcare Organizations, and more. Frankling Pierce places a special emphasis on an experiential learning. As so, students must also complete either a senior indepenpent project or 165-hour internship in order to gain valuable real-world experience. Internships can be structured to focus on a student’s specific area of interest or provide exposure to a wide range of areas. Further, for students interested in graduate work, FPU&#8217;s Business PLUS program allows eligible students entry into a 4-year accelerated bachelor’s and master’s program.
                            </p>
                            <li><a href="https://www.franklinpierce.edu/academics/ugrad/programs_of_study/div_natsci/healthcare_admin/healthcare_admin_rindge.htm">Homepage</a></li>
                            <li>Tuition per credit is $380.</li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
</html>

