@{
    ViewBag.Title = "hs_bac";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/health-sciences-bachelors-degrees-online/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:35 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Bachelors Degrees in Health Sciences - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style361f.css?ver=1461897520' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt361f.css?ver=1461897520' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts361f.js?ver=1461897520'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index1696.html?p=3374' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed555e.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fhealth-sciences-bachelors-degrees-online%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed1ae9?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fhealth-sciences-bachelors-degrees-online%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-3374 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Bachelors Degrees in Health Sciences
                            </h2>
                            <p><img src="../../wp-content/uploads/2016/02/BCR_8_HealthSciences_Bach_badge-1-300x240.png" alt="BCR_8_HealthSciences_Bach_badge" width="300" height="240" class="alignright size-medium wp-image-4220" />As the healthcare industry continues to expand, the work force will follow suit. The Bureau of Labor Statistics expects the field to grow by 19% through 2022 &#8211; significantly faster than the average for all occupations. In total, the government predicts 2.3 million jobs. This expansion is great news, but comes with some caveats for those looking to capitalize. Principally, competition: everyone is well aware of the industry’s job glut, and everyone wants a piece of the pie. Job searchers should, therefore, know that only the most qualified are going to be considered.</p>
                            <h3>Featured Online Health Sciences Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/kaplan-university?program=256&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Kaplan University: BS &#8211; Health Science</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-college?program=15144&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University College: BS Health Sciences</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/walden-university?program=11626&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Walden University: BA &#8211; Health Studies</a></strong></li>
                            </ul>
                            <p>In other words, a bachelor’s in the field is essential (which wasn’t always the case). This applies to those currently in the field, as well: if you lack the most up-to-date training, you put yourself at risk of being replaced. And with new changes in the field through the ACA and EMR implementation, there are entire new swaths of study and specialization that didn’t exist 10 years ago. In short, to get (or keep) a job, you need to have a degree in a relevant field. Health Sciences is a particularly popular degree for its pragmatism &#8211; broad-based, interdisciplinary, technocratic, and applicable to numerous healthcare areas. Below is our top 25 options for online Health Science bachelor’s degrees.</p>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i>
                            </ul>
                            <h3> 1. University of West Florida </h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/10/west_florida-e1446207911299.jpg" alt="west_florida" width="125" height="60" class="alignright size-full wp-image-2901" /><br />
                                The University of West Florida offers a BS in Health Science that consists of 120 total undergraduate credits &#8211; 48 in the major. (Note that the program is primarily designed for students who have already fulfilled their general education requirements through an associate&#8217;s or previous bachelor&#8217;s degree.) Required classes include Current Issues in the Health Sciences, Understanding U.S. Health Care, Electronic Clinical Record Systems, a Health Sciences Research Seminar, Current Topics in Health Informatics, and Health Information Systems. Students then have the opportunity to specialize their degrees with one of the following four tracks: Allied Health, Health Care Administration, Health Care Professional, and Public Health. From there, eight concentrations are available to further tailor course work. A certification in Public Health is also available for interested students. Students can expect to complete their degrees in as little two years. Also note that out-of-state students may be eligible for a tuition waiver that reduces the out-of-state portion of your tuition anywhere from 100% &#8211; 75%.
                            </p>
                            <ul>
                                <li><a href="http://uwf.edu/online/what-we-offer/undergraduate/">Homepage</a></li>
                                <li>Tuition per credit is $239.</li>
                            </ul>
                            <h3> 2. Colorado Technical University </h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/colorado-technical-university.jpg" alt="colorado-technical-university" width="125" height="125" class="alignright size-full wp-image-1785" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Colorado Technical University offers a BS in Healthcare Management that consists of 180 total credits &#8211; 58 in upper-level major core. Class requirements include Quality Management, Healthcare Statistics and Research, Fiscal Management in Healthcare Services, Economics of Healthcare, Global Health Systems, Spreadsheet Applications, Organizational Behavior Principles, and more. In particular, the program focuses on patient access, revenue cycle management, project management, economics of healthcare, and the fundamentals of marketing and human resource management with additional practical work in hands-on training and didactic theory. A capstone is also required. From there, students have the oppportunity to tailor their degrees with two concentration options in Healthcare Informatics and a general management track. Upon completion of the degree, graduates will be able to handle administrative duties, evaluate and consult for emerging healthcare tech, analyze efficiencies, and apply basic business principles.
                            </p>
                            <ul>
                                <li><a href="http://www.coloradotech.edu/degrees/bachelors/healthcare-management">Homepage</a></li>
                                <li>Tuition per credit is $325.</li>
                            </ul>
                            <h3> 3 (tied). Azusa Pacific University–University College </h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/azusa-pacific-university.jpg" alt="azusa-pacific-university" width="125" height="125" class="alignright size-full wp-image-3213" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/azusa-pacific-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/azusa-pacific-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Azusa Pacific University offers a BS in Health Science that consists of 120 total credits &#8211; 60 general education, and 60 major. Depending on transfer credit (APU has a generous policy, in addition to prior-learning assessments), students may complete their degrees in 2-4 years. Major requirements include Human Growth and Development, Cultural Psychology, Medical Sociology, Health Care Professions, Bioethics, Human Physiology, Chemistry for the Health Sciences, and more. All students must complete a capstone course, as well. In order for students to tailor their degrees toward specific areas of professional interest, 6 emphases are available: Health Care Leadership, Health Care Management, Human Services, Organizational Dynamics, Psychology in the Health Care Profession, and General Psychology. Upon gradution, students will be able to identify and analyze personal and organizational ethics affecting healthcare professionals, utilize emerging technologies, and examine cultural and diversity issues within interpersonal healthcare. As a Christian school, religious values may be incorporated into the curriculum.
                            </p>
                            <ul>
                                <li><a href="http://www.apu.edu/university-college/bachelors/health-sciences/">Homepage</a></li>
                                <li>Tuition per credit is $425.</li>
                            </ul>
                            <h3> 3 (tied). Trident University International </h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/09/trident-university.jpg" alt="trident-university" width="125" height="125" class="alignright size-full wp-image-2652" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/trident-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/trident-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Trident University International offers a BS in Health Sciences that consists of 120 total credits &#8211; 36 in the major. Core classes include Introduction to Epidemiology, Introduction to Health Statistics, Health Communication and Advocacy, Ethics in Health Care, Cross Cultural Health Perspectives, Health Care Delivery Systems, and more. From there, in order for students to tailor their degrees to specific professional interests, Trident offers concentrations in either Health Care Management or Public Health. All students must also complete a capstone project. A number of electives are available, as well, for students who choose the general track. Upon graduation, students understand the social, economic, and political forces that shape healthcare; are able to leverage exisiting and emerging technologies; and can analyze health environments through socioeconomic, cultural, and ethical contexts.
                            </p>
                            <ul>
                                <li><a href="https://www.trident.edu/degrees/bs-health-sciences/">Homepage</a></li>
                                <li>Tuition per credit is $375.</li>
                            </ul>
                            <h3> 5. Southern New Hampshire University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" class="alignright size-full wp-image-1800" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Southern New Hampshire University offers a BS in Health Science that consists of 7 core degree courses (technically 120 total with general education requirements). Those classes are in Healthcare Economics, Healthcare Delivery Systems, Healthcare Reimbursement, Ethical and Legal Considerations in Healthcare, Healthcare Quality Management, Healthcare Finance, and a capstone course. Designed for working professionals with at least an associates&#8217;s degree to cover general education prerequisites, SNHU will accept maximum transfer credits (90) from an Allied Health discipline. In addition, courses deliver over accelerated 9-week modules, reducing graduation time and allowing students to return to the work force. The asychronous format also allows students to complete work according to their own busy schedules. SNHU also offers bachelor&#8217;s degrees in Health Promotion, Healthcare Administration, Health Information Management, and more.
                            </p>
                            <ul>
                                <li><a href="http://www.snhu.edu/online-degrees/bachelors/bs-in-health-science">Homepage</a></li>
                                <li>Tuition per credit is $320.</li>
                            </ul>
                            <h3> 6. Northeastern University </h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/1.-Northeastern-University.jpg" alt="1. Northeastern University" width="125" height="125" class="alignright size-full wp-image-2334" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Northeastern University offers a BS in Health Management that consists of 160 total quarter hours &#8211; 58 in the major. Among the major classes are Healthcare Delivery Systems, Health Law, Managing Health Services Organizations, Health Planning and Regulation, Current Issues in Health Services Management, Healthcare Operations Management, Public Health, and more. Students also complete a pracitcum in order to gain valuable hands-on experience. There is also flexibility within the core curriculum, and students complete 48 quarter hours of additional electives to tailor their course work. Full-time students can expect to earn their degrees in 4 years; part-time, 7 years. That said, students who have already earned an associate&#8217;s degree or the equivalent amount of credits are eligible for admission into the accelerated track option(80 quarter hours). Upon graduation, students will be competent in healthcare management, finance, policy/legal issues, and common procedure.
                            </p>
                            <ul>
                                <li><a href="http://www.northeastern.edu/online/degrees/bachelors-health-management/">Homepage</a></li>
                                <li>Tuition per credit is $378.</li>
                            </ul>
                            <h3> 7. Arizona State University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/2.-Arizona-State.jpg" alt="2. Arizona State" width="125" height="125" class="alignright size-full wp-image-1791" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Arizona State&#8217;s online BS in Health Science is specifically designed for working professionals and/or students who have already earned an associate&#8217;s in applied science. As a cross-disciplinary program, ASU provides student with a broad-based, practical curriculum which they can use to find managerial employment in a wide array of healthcare fields, including Medical Radiology, Nuclear Medicine Technology, and Histology Technology. Graduates of the program have also gone on to work as health educators, elder services program coordinators, long-term care health and wellness coordinators, and community nutrition aides. All of ASU&#8217;s online degrees are designed for maximum flexibility and to accomadate the busy schedules of its students. There are multilple entry dates throughout the year and generous transfer policy, which may acclerate graduation time. Related degrees offered are Community Health, Global Health, Healthcare Coordination, Health Education and Promotion, and more.
                            </p>
                            <ul>
                                <li><a href="http://asuonline.asu.edu/online-degree-programs/undergraduate/bachelor-applied-science-health-sciences">Homepage</a></li>
                                <li>Tuition per credit is $515.</li>
                            </ul>
                            <h3> 8. Kaplan University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" class="alignright size-full wp-image-2158" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Kaplan University offers a BS in Health Science that includes a standard track (180 total credits) or an advanced start track (90 credits), in which students who have completed an associate&#8217;s degree or comparable bachelor&#8217;s may enroll. Core major requirements for both tracks are Research Methods, Epidemiology and Biostatistics, Microbiology, Environmental Health, Advanced Health Informatics, Practices in Public Health, and a capstone course. From there, students complete 30 credits of electives to tailor their course work according to areas of professional interest. All of Kaplan&#8217;s online degrees are designed for maximum flexibility, and many students also maintain their careers. There are typically new entry dates every month. Students may also be able to accelerate course work via transfer credits or prior-learning assessments.
                            </p>
                            <ul>
                                <li><a href="http://www.kaplanuniversity.edu/health-sciences/health-science-bachelor-degree.aspx">Homepage</a></li>
                                <li>Tuition per credit is $371.</li>
                            </ul>
                            <h3> 9. University of South Dakota </h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/south_dakota-e1453750375964.png" alt="south_dakota" width="125" height="79" class="alignright size-full wp-image-3331" /><br />
                                The University of South Dakota offers a BS in Health Sciences that consists of 120 total credits, which break down as: 44 major, 27 general education, 49 elective, 32 upper-division, and a proficiency exam to be compelted after the student&#8217;s initial 48 credits. Major core classes include Professional Communication and Relationship Centered Care , Healthcare Delivery, Principles of Health Care, Technology in Health Care Delivery, Health Literacy and Culture Care, Leadership Communication and Conflict Resolution, and more. (Students also have some elective options within the core.) All of USD&#8217;s online programs are designed for maximum flexibility, and students should check to see if they are eligible for transfer credits (particularly for general education requirements), which may accelerate course work.
                            </p>
                            <ul>
                                <li><a href="http://www.usd.edu/usd-online/online-programs/bachelor-of-science-in-health-sciences/degree-completion-plan">Homepage</a></li>
                                <li>Tuition per credit is $325.</li>
                            </ul>
                            <h3> 10 (tied). Brigham Young University – Idaho</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/brigham_young_logo-e1456680866516.jpg" alt="brigham_young_logo" width="125" height="125" class="alignright size-full wp-image-3375" /><br />
                                Brigham Young University – Idaho offers a BS in Public Health that consists of 120 total credits &#8211; 52 in the major. These classes include Hospital and Health Administration, Essentials of Human Nutrition, Anatomy and Physiology, Environmental Health, Epidemology, Health Behavior Theories/Models, and more. Students must also complete an internship in order to gain valuble hands-on experience. From there, students have the opportunity to tailor their degrees with 14 credits of electives. In particular, this degree prepares students to take the Certified Health Education Specialist (CHES) examination offered through the National Committee on Health Education Credentialing. Upon graduation, students will be able to assess, plan, and implement health education; administer and manage a health education program, and more. Potential career paths include Health Promotion Specialist, Environmental Health Specialist, Epidemiologist, and more.
                            </p>
                            <ul>
                                <li><a href="http://www.byui.edu/online/degrees-and-programs/public-health">Homepage</a></li>
                                <li>Tuition per credit is $160.</li>
                            </ul>
                            <h3> 10 (tied). Northern Kentucky University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/northern_kentucky-e1456680991870.jpg" alt="northern_kentucky" width="125" height="78" class="alignright size-full wp-image-3376" /><br />
                                Northern Kentucky University offers a two-year BS in Health Science with clinical and non-clinical tracks, each of which are 33-credit programs. Clinical track classes include Aging in Today’s Society, Concepts of Quality Patient Care, Leadership Development, Health Care Management, and others. The non-clinical track studies Intro to Health Informatics, Leadership Development, IT Project Management, and Organizational Communication, among others. Both two-year programs assume general education requirements have been earned through a prior bachelor&#8217;s or associate&#8217;s. A new four-year track is a transdisciplinary track that covers a number of health topics and electives in health issues, culture and health, and life change. Students will also complete a minor a related field in this track. Should they choose to continue their studies, NKU graduates in the program may enroll the school&#8217;s MS in Health Science or MS in Health Informatics.
                            </p>
                            <ul>
                                <li><a href="http://healthprofessions.nku.edu/departments/alliedhealth/programs/healthscience.html">Homepage</a></li>
                                <li>Tuition per credit is $399.</li>
                            </ul>
                            <h3> 12 (tied). Indiana University &#8211; Purdue University Indiapolis</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/02/1.-Indiana.jpg" alt="1. Indiana" width="125" height="125" class="alignright size-full wp-image-1874" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/1.-Indiana.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/1.-Indiana-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Indiana University &#8211; Purdue University Indiapolis (IUPUI) offers a BS in Health Sciences with 5 possible tracks: Gerontology, Global Health &#038; Rehabilitation Studies, Rehabilitation &#038; Disability (R&#038;D) Studies, Pre-professional, and general. (Graduates of the first three of these tracks also earn respective certificates.) Some example classes include Survey of Adaptive Rehab Technology, Health Promotion &#038; Disease Prevention, Psychosocial Aspects of Aging, Medical Aspects of Disabilities, Nutrition &#038; Exercise, Human Nutrition Lifespan, and many more. For students&#8217; convenience, degrees can be completed online, on campus, or in a hybrid format. Students interested in pursuing further study may enroll in IUPUI&#8217;s online MS in Health Sciences. All courses are designed for maximum flexibility in order to accomodate students&#8217; busy schedules.
                            </p>
                            <ul>
                                <li><a href="https://shrs.iupui.edu/academics/health-sciences/degrees/bs-health-sciences.html">Homepage</a></li>
                                <li>Tuition per credit is $957.</li>
                            </ul>
                            <h3> 12 (tied). Nova Southeastern University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/9.-Nova-Southeastern-University.jpg" alt="9. Nova Southeastern University" width="125" height="125" class="alignright size-full wp-image-2322" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/9.-Nova-Southeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/9.-Nova-Southeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Nova Southeastern University offers a BS in Health Science that consists of 120 total credits, though, thanks to a generous transfer policy of up to 90 credits, only 30 credits at NSU are required to complete the degree (for eligible students). Some example classes (core and elective) include History of the US Health System, Health Care Ethics, Health Care Practice, Principles of Leadership, Conflict Resolution in Health Care, Concepts of Health Care Finance, Sports Medicine Principles and Practice, Bioterrorism: Health Care Readiness and Response, and more. Students also have the opportunity to complete an intership or independent study in order to gain valuable hands-on experience. Graduates of NSU&#8217;s program have gone on to careers as military technicians, respiratory therapists, dental hygienists, physician assistants, radiology technicians, ultrasound technicians, and more. Courses deliver in traditional 12-week formats, and there are 4 available start dates throughout the year to accomodate students&#8217; schedules.
                            </p>
                            <ul>
                                <li><a href="https://shrs.iupui.edu/academics/health-sciences/degrees/bs-health-sciences.html">Homepage</a></li>
                                <li>Tuition per credit is $330.</li>
                            </ul>
                            <h3> 12 (tied). Bellevue University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/14.-Bellevue-University.jpg" alt="14. Bellevue University" width="125" height="125" class="alignright size-full wp-image-1802" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/14.-Bellevue-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/14.-Bellevue-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Bellevue University offers a BS in Health Science that consists of 127 total credits, which breaks down as: 36 general education, 41 elective, 41 major, 9 Kirkpatrick Signature Series. Major core classes include Medical Terminology and Documentation, Health Communication, Medical Ethics and Leadership, Applied Statistics, and others. (Note that students have elective options within the core.) From there, there are two emphases options to allow tailored degrees, in Science (19 credits) and Eldercare (18 credits), which prepares tudents for the National Association of Long-Term Care Administrator Boards (NAB). The Kirkpatrick Signature Series is a module unique to the university that all student must complete in order to graduate; it includes course work in American Vision and Values; Tradition and Change; and Freedom and Responsibility. Bellevue offers asynchronous delivery to give students flexibility and a generous transfer policy, which may accelerate graduation time.
                            </p>
                            <ul>
                                <li><a href="http://www.bellevue.edu/degrees/bachelor/health-science-ba/">Homepage</a></li>
                                <li>Tuition per credit is $395.</li>
                            </ul>
                            <h3> 15. University of Florida</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/02/6.-Florida.jpg" alt="6. Florida" width="125" height="125" class="alignright size-full wp-image-1878" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                The University of Florida offers a BS in Health Education and Behavior with a specialization in Community Health Promotion that consists of 120 total credits. Core credits include Applied Human Anatomy with Laboratory; Applied Human Physiology with Laboratory; Personal and Family Health; Community and Environmental Health; Health Education Professional Development; and Methods and Materials in Health Education, among others. Specialization courses (18 credits) include Drug Education, Women&#8217;s Health Issues, Minority Health Issues, and more. In particular, this degree is designed for students interested in community health education or worksite health promotion, with a focus on special target groups and intervention via behaviorial therapy methods. All students must complte an internship (15 credits) in a related field, which occupy at least 40 hours of work per week, giving students excellent real-world exposure. UF offers transfer credit for especially qualified students.
                            </p>
                            <ul>
                                <li><a href="http://ufonline.ufl.edu/degrees/undergraduate/health-education-behavior/">Homepage</a></li>
                                <li>Tuition per credit is $500.</li>
                            </ul>
                            <h3> 16. Northern Arizona University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/1.-Northern-Arizona.jpg" alt="1. Northern Arizona" width="125" height="125" class="alignright size-full wp-image-1790" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/1.-Northern-Arizona.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/1.-Northern-Arizona-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Northern Arizona University offers a BS in Health Sciences with 7 different tracks: Allied Health, Diagnostic Medical Imaging and Therapy &#8211; DMIT (Nuclear Medicine, Ultra Sound, Radiography or Radiation Therapy programs), Medical Assisting, Paramedic Care, Physical Therapist Assisting, Respiratory Care, and Surgical Technology. (Note that some of these tracks may require a capstone course.) Designed for students who have already completed (or are currently working on) the requisite associate or bachelor&#8217;s degree, this degree includes major core classes exclusively (without general education requirements); as so, the transfer policy of 90 credits accelerates graduation time to as little as two years. NAU is also committed to flexibility with its students schedules and curricula, and students may complete course work on their own time. Upon graduation, students will be in a position to siginificantly advance their careers (many receive promotions), assume leadership/managerial roles, and more.
                            </p>
                            <ul>
                                <li><a href="https://nau.edu/chhs/health-sciences/degree-programs/allied-health-online/">Homepage</a></li>
                                <li>Tuition per credit is $597.</li>
                            </ul>
                            <h3> 17. University of Mississippi Medical Center</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/11/MIssissippi_med_center-e1448751995932.jpg" alt="MIssissippi_med_center" width="125" height="49" class="alignright size-full wp-image-3066" /><br />
                                The University of Mississippi Medical Center offers a BS in Health Sciences with two tracks &#8211; Health Care Practitioner and Health Care Operations. For either track, all students must have completed general education prerequisites before enrolling the program (whether via an associate&#8217;s or previous bachelor&#8217;s degree). The practitioner track is designed for licensed, registered, or certified healthcare professionals to earn a bachelor&#8217;s in their field while maintaining their careers, preparing them for career advancement and possible managerial roles. Professionals that may qualify include respiratory care practitioners, radiological technicians, physical therapy assistants, occupational therapy assistants, dental hygienists, emergency medical technician-paramedics, medical laboratory technologists, and health information administrators. The second track, Health Care Operations, is designed for working administrative support personnel (whether in academic or other healthcare environments). These individuals include administrative assistants, medical assistants, pharmacy technicians, medical coders, diagnostic medical sonographers, cardiovascular technologists, vascular technologists and technicians, and licensed practical nurses.
                            </p>
                            <ul>
                                <li><a href="https://www.umc.edu/Education/Schools/Health_Related_Professions/Health_Sciences/Health_Sciences_Home.aspx">Homepage</a></li>
                                <li>Tuition per credit is $857.</li>
                            </ul>
                            <h3> 18 (tied). American Public University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/6.-American-Public-University.jpg" alt="6. American Public University" width="125" height="125" class="alignright size-full wp-image-1794" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/6.-American-Public-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/6.-American-Public-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                American Public University offers a BS in Public Health. Among the central areas of study are public policy, law, and administration, as well as public health system management, finance, and organization. In particular, the program focuses on developing students&#8217; knowledge-base and skill set to address contemporary existing and emerging issues in global health. Taking a broad-based approach, students learn from a multidisciplinary curriculum that is both rigorous in its academics and pragmatic in its application; APU graduates are thoroughly prepared to re-enter the work force and advance their careers (though many APU students maintain their jobs while completing their degrees, thanks to the university&#8217;s committment to flexibility). Students also have the opportunity to tailor their degrees to fit their needs and interests through three concentrations in emergency management, environmental health, or public administration.
                            </p>
                            <ul>
                                <li><a href="http://www.apu.apus.edu/lp2/public-health/bachelors.htm">Homepage</a></li>
                                <li>Tuition per credit is $270.</li>
                            </ul>
                            <h3> 18 (tied). Excelsior College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/excelsior-college-.jpg" alt="excelsior-college" width="125" height="125" class="alignright size-full wp-image-2434" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/excelsior-college-.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/excelsior-college--80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Excelsior College offers a BS in Health Sciences that consists of 120 total credits &#8211; 60 in the major, which breaks down as: 15 core, 9 emphasis, 3 capstone, 1 information literacy, and 32 elective. Core requirements include Writing and Communication in the Health Science Professions; Health Care Issues in Culturally Diverse Populations; Research for Evidence-Based Practice; Introduction to Health Care Delivery Systems; and Introduction to Health Care Informatics. From there, students have the opportunity to tailor their degrees by choosing one of the following six emphases: End of Life Care, Gerontology, Health and Wellness, Health Education, Health Care Management, and Public Health. A wealth of elective options also allow curricular customization. Upon graduation, students are prepared to effectively manage a healthcare environment; analyze legal, ethical, and policy issues within health delivery systems; implement efficient measures of improvement in a system; and more. Excelsior offers similar bachelor&#8217;s degrees in Healthcare Management and Public Health.
                            </p>
                            <ul>
                                <li><a href="http://www.excelsior.edu/programs/health-sciences/health-sciences-bachelor-degrees">Homepage</a></li>
                                <li>Tuition per credit is $490.</li>
                            </ul>
                            <h3> 20 (tied). Grand Canyon University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Grand Canyon University offers a BS in Health Science with a concentration in Professional Development And Advanced Patient Care that consists of 120 total credits: 34-40 general education, 36 major, 44-50 elective. (The school&#8217;s generous transfer policy allows up to 90 credits of prerequisites/electives transferred in.) Core classes include Professional Dynamics and Allied Health Professions; Risk Management and Healthcare Regulations; Transcultural Healthcare; Healthcare Systems; Ethics for Healthcare Professionals; and a professional capstone project, among others. There are multiple start dates throughout the year for students flexibility, and courses deliver in accelerated, asynchronous 7-week formats, allowing students to complete work at their own convenience. Upon graduation, students will be able to leverage an interdicplinary education into a wide range of healthcare fields. As a Christian school, note that the curriculum may incorporate religous values.
                            </p>
                            <ul>
                                <li><a href="http://www.gcu.edu/degree-programs/bachelor-science-health-science-professional-development">Homepage</a></li>
                                <li>Tuition per credit is $500.</li>
                            </ul>
                            <h3> 21 (tied). University of Missouri</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/09/univ-missouri.jpg" alt="univ-missouri" width="125" height="125" class="alignright size-full wp-image-2630" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-missouri.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-missouri-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                The University of Missouri offers a BS in Health Sciences that consists of 120 total credits, with many students taking advantage of Mizzou&#8217;s generous transfer policy of up to 90 credits. Core classes include a seminar in Health Science, Health Care in the United States, Clinical Ethics, Healthcare Leadership &#038; Organization, Public Health Principles &#038; Practice, and more. In addition, all students must complete an internship, which provides valuable hands-on experience. From there, students have the opportunity to tailor their degree through a wealth of elective options (18 credits). Most full-time students complete their degrees in just 3-4 semesters; though many students continue their careers while working through their studies. Several general education and Health Sciences electives are self-paced, which can be completed in as little as 6 weeks or 6 months, in order to give students maximum schedule flexibility. Entry dates are available at the three points during the year.
                            </p>
                            <ul>
                                <li><a href="https://online.missouri.edu/degreeprograms/healthsciences/">Homepage</a></li>
                                <li>Tuition per credit is $750.</li>
                            </ul>
                            <h3> 21 (tied). DeVry University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/17.-DeVry-University-Logo.png" alt="17. DeVry-University-Logo" width="125" height="125" class="alignright size-full wp-image-2325" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/17.-DeVry-University-Logo.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/17.-DeVry-University-Logo-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                DeVry University offers a BS in Healthcare Administration that consists of 126 credits. Core requirements include Health Services Management, Health Rights and Responsibilities, Health Services Information Systems, Health Services Finances, Healthcare Policy, and Managed Care and Health Insurance. From there, students have the opporunity to tailor their degrees by specializing in either Healthcare Informatics and Healthcare Management, and choosing among a wide variety of electives. As an accelerated program, students may complete their degrees in as little 8 semesters. DeVry emphasizes individual student flexibility, and students complete course material on their own time. Further, there are multiple starts dates per year and hybrid delivery options for interested students. Similar bachelor&#8217;s degrees are in Busisness with specializations in Health Services Management, Health Information Management, and Health Information Systems, plus several master&#8217;s for those who want to pursue further study.
                            </p>
                            <ul>
                                <li><a href="http://www.devry.edu/degree-programs/health-sciences/healthcare-administration.html">Homepage</a></li>
                                <li>Tuition per credit is $609.</li>
                            </ul>
                            <h3> 21 (tied). South University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/09/South-University.jpg" alt="South University" width="125" height="125" class="alignright size-full wp-image-2499" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/South-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/South-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                South University offers a BS in Health Science that consists of 168 credits: 68 general education, 16 foundation, 98 major. Core requirements include Human Pathophysiology, Principles of Genetics, Healthcare Delivery and Organization, Federal and State Healthcare Programs, Epidemiology and Disease Control, Health Promotion and Wellness, Women and Minority Health Issues, and Working with Healthcare Professionals, among others. (Note that there are elective options within the core). From there, students may choose between a public health specialization and general track. Built on a broad-based curriculum that combines both well-founded academics and pragmatic skill-building, graduates will be ready for careers at health practitioners’ offices, hospitals, home healthcare services, outpatient care services, nursing care facilities, health insurance companies, and state and government healthcare programs.
                            </p>
                            <ul>
                                <li><a href="https://www.southuniversity.edu/online/Areas-Of-Study/Health-Science/Health-Sciences-Bachelor-of-Science-BS">Homepage</a></li>
                                <li>Tuition per credit is $390.</li>
                            </ul>
                            <h3> 21 (tied). Kettering College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/kettering_college-e1456681178126.jpg" alt="kettering_college" width="125" height="77" class="alignright size-full wp-image-3377" /><br />
                                Kettering College offers a BS in Health Sciences that consists of 51-54 credits. (Thanks to a generous transfer program, the 18-19 general education credits can be waived.) Core requirements include Health Care Economics and Finance, Introduction to Health Professions Research, Concepts of Management and Leadership in Health Care, Community Health Perspectives, and a capstone project. From there, students have the opportunity to tailor their degrees through one of the following 5 emphases in respiratory care, advanced imaging, sonography, education, management. An accelerated program, students may be able to complete their degrees in as little as 5 semesters (9 for part-time students). Still, Kettering&#8217;s focus is on flexibility, and all courses are asynchronous to allow students to complete course work on their own time. Students have up to 7 years to complete their degrees. As a Christian school, note that the curriculum may incorporate religious values.
                            </p>
                            <ul>
                                <li><a href="http://www.kc.edu/health-sciences-online-completion">Homepage</a></li>
                                <li>Tuition per credit is $456.</li>
                            </ul>
                            <h3> 25. University of South Florida</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/South-Florida.jpg" alt="South Florida" width="125" height="125" class="alignright size-full wp-image-2372" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/South-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/South-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                The University of South Florida offers a BS in Applied Science with a concentration in Public Health that consists of 120 credits &#8211; at least 48 in the major. This program is designed for students who have already completed an associate&#8217;s degree or bachelor&#8217;s, which will waive 60 credits and accelerate graduation time. Core requirements include Occupational Health and Safety, Foundations of Public Health Immunology, Foundation of Maternal and Child Health, Special Topics in Public Health, Nutrition and Disease, Emerging Infectious Diseases, Health Care Ethics, and more. Students must also complete a capstone. Upon graduation, students will be able to communicate the role of public health at the local, state, and federal levels (both prevention and promotion); identify and analyze current health issues; and more. USF also offers concentrations in related fields like beahviorial healthcare, gerontology, deaf studies, and more.
                            </p>
                            <ul>
                                <li><a href="http://www.kc.edu/health-sciences-online-completion">Homepage</a></li>
                                <li>Tuition per credit is $456.</li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/health-sciences-bachelors-degrees-online/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:42 GMT -->
</html>

