@{
    ViewBag.Title = "mas_nurs";
}



<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/masters-nursing-administration-online-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:59 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Master&#039;s In Nursing Administration - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/stylee3fd.css?ver=1461897524' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIte3fd.css?ver=1461897524' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scriptse3fd.js?ver=1461897524'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index9434.html?p=2602' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed15e8.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fmasters-nursing-administration-online-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed0644?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fmasters-nursing-administration-online-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2602 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Master&#8217;s In Nursing Administration
                            </h2>
                            <p>The healthcare industry is booming. In fact, it’s probably the hottest, most in-demand business in the country. Nursing is an especially hot commodity. The Bureau of Labor Statistics projects a 19 percent increase in nursing jobs by 2022, the largest increase for any occupation. And a workforce study conducted by the Bernard Hodes Group finds that 75% of current nurse leaders plan to retire by 2020. All that adds up to a lot of potential jobs on the horizon. But workers can also expect a high influx of competition for those coveted spots.</p>
                            <h3>Featured Online Master&#8217;s In Nursing Administration Programs:</h3>
                            <ul>
                                <li><strong><a href="http://schools.collegedegrees.com/forms/capella-university?program=11371&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Capella University: MSN &#8211; Nursing Leadership and Administration (CCNE-accredited)</a></strong></li>
                                <li><strong><a href="http://schools.collegedegrees.com/forms/liberty-university-online?program=16881&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Liberty University: MSN &#8211; Nursing Administration</a></strong></li>
                                <li><strong><a href="http://schools.collegedegrees.com/forms/grand-canyon-university?program=6475&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Grand Canyon University: MSN &#8211; Nursing Leadership in Health Care Systems</a></strong></li>
                            </ul>
                            <p>Increasingly, healthcare organizations are looking for professionals who not only have applicable job experience but also have specific, up-to-date graduate training. Whether you’ve earned an RN or BSN, for those looking to secure high-end and executive-level healthcare administration jobs in the coming years, having an MSN in Nursing Administration will give you a leg up on the competition. Here’s a list of our top 25 programs.</p>
                            <h3> 25. Tennessee Board of Regents</h3>
                            <p><img src="../../wp-content/uploads/2015/09/tennessee-board-of-regents.jpg" alt="tennessee-board-of-regents" width="125" height="125" class="alignright size-full wp-image-2612" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/tennessee-board-of-regents.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/tennessee-board-of-regents-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The Tennessee Board of Regents offers an online MSN in Nursing Administration from the following schools: Austin Peay State, East Tennessee State, Middle Tennessee State, Tennessee State, Tennessee Tech, and the University of Memphis. (Note that Memphis requires students for on-campus orientation). All programs consist of 36 credit-hours &#8211; 15 core, 15 concentration, and 6 toward the practicum. Students may obtain a dual concentration if they take another concentration and get a Post-Masters Certification in Nursing Administration. Students on an accelerated track may complete their degrees in as little as a year-and-a-half.</p>
                            <ul>
                                <li>Tuition per credit is $759.</li>
                            </ul>
                            <h3> 24. Grand Canyon University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Grand Canyon University offers an MSN with an Emphasis in Nursing Leadership in Health Care Systems. The program is a 36-credit program, with a required practicum and evidence-based project. Other courses include Health Care Research Analysis and Utilization, Leadership Styles and Development, and Organizational Development and Change. Grand Canyon offers entry dates throughout the year in order to fit prospective students&#8217; schedules.</p>
                            <ul>
                                <li>Tuition per credit is $495.</li>
                            </ul>
                            <h3> 23. King University Online</h3>
                            <p><img src="../../wp-content/uploads/2015/06/23.-King.jpg" alt="23. King" width="125" height="125" class="alignright size-full wp-image-2088" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/23.-King.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/23.-King-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />King University Online offers both an MSN in Nursing Administration and a MSN/MBA duel degree, for interested students. The Nursing Administration degree is a 35-credit track that can be completed in just over a year on an accelerated track. The MSN/MBA degree is a 63-credit program. Students typically complete the MSN/MBA in around 2 years. Following a cohort model, King emphasizes a collaborative learning environment and peer-to-peer interaction.</p>
                            <ul>
                                <li>Tuition per credit is $600.</li>
                            </ul>
                            <h3> 22. Liberty University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" class="alignright size-full wp-image-1803" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Liberty University&#8217;s online program consists of 42 credit hours, with up to 6 transferrable. Full-time students typically graduate in around two years. Core courses include Health Policy &#038; Ethics, Nursing Theory &#038; Advanced Practice, and Managing Population Health. The Nursing Administration concentration includes coursework in Organizational Design &#038; Structure, HR Management, Financial &#038; Resource Management for Nurse Leaders, and a capstone. Note that Liberty is a Christian university and will apply such values and ethics throughout the curriculum.</p>
                            <ul>
                                <li>Tuition per credit is $490.</li>
                            </ul>
                            <h3> 20 (tied). Eastern Kentucky University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Eastern-Kentucky.jpg" alt="Eastern Kentucky" width="125" height="125" class="alignright size-full wp-image-2376" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Eastern-Kentucky.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Eastern-Kentucky-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Eastern Kentucky University offers an MSN in Nursing Administration consisting of 38-48 credit hours. With accelerated 8-week delivery formats, students may complete coursework in just 18 months. A selection of example courses includes Nursing Theory, Management of Health Care, Nursing Resource Management, Population-Focused Practice, and a practicum, internship, and research project. For interested students, a Post-MSN Nursing Administration Certificate is also available.</p>
                            <ul>
                                <li>Tuition per credit is $625.</li>
                            </ul>
                            <h3> 20 (tied). University of Saint Mary</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Saint-Mary.jpg" alt="Saint Mary" width="125" height="125" class="alignright size-full wp-image-2448" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Saint-Mary.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Saint-Mary-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Saint Mary&#8217;s online MSN in Nursing Administration is a 35-credit track, culminating in either a practicum cognate or capstone cognate. For full-time students, coursework may be completed in two years. Core courses include Healthcare Policy and Ethics, Statistics, and Informatics in Nursing; while the concentration portion focuses on organizational management, leadership, healthcare management, and more. Saint Mary offers multiple entry dates per year.</p>
                            <ul>
                                <li>Tuition per credit is $430.</li>
                            </ul>
                            <h3> 19. Pitt Online, University of Pittsburgh</h3>
                            <p><img src="../../wp-content/uploads/2015/09/pitt-online.jpg" alt="pitt-online" width="125" height="125" class="alignright size-full wp-image-2611" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/pitt-online.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/pitt-online-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Pittsburgh&#8217;s MSN in Nursing Administration is one the more prestigious programs on the list. Students may complete their coursework on full- or part-time bases, though full-time students looking to accelerate coursework should note that Pitt&#8217;s track may be completed in just 18 months. This track is a 40-credit program with a comprehensive exam. There are also several post-master&#8217;s certificates for interested students.</p>
                            <ul>
                                <li>Tuition per credit is $1,179.</li>
                            </ul>
                            <h3> 18. Indiana State University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/indiana-state-univ.jpg" alt="indiana-state-univ" width="125" height="125" class="alignright size-full wp-image-2610" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/indiana-state-univ.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/indiana-state-univ-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Indiana State University offers an MSN in Nursing Administration consisting of 35-38 credit hours. For part-time study, most students complete their degrees in 2.5-3 years, though all students may take up to 3-5 years to complete the program. In particular, an emphasis is placed in the following areas: Systems Thinking, Strategic Management, Health Care Policy Evaluation, Health Information Technology and Informatics, and Financial Management, among others. ISU is particularly designed for working professionals looking to further advance their careers while maintaining their current health care jobs.</p>
                            <ul>
                                <li>Tuition per credit is $762.</li>
                            </ul>
                            <h3> 13 (tied). Drexel University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" class="alignright size-full wp-image-1848" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Drexel University offers an online MSN with a concentration in Leadership in Health Systems Management, consisting of 48 total credits &#8211; 15 core, 27 major, and 6 practicum. Classes are synchronous online lectures delivered via a highly interactive e-learning format. Core classes include Confronting Issues in Contemporary Health Care Environments, Advanced Ethical Decision Making in Health Care, and Research Methods and Biostatistics; while major classes include Economics of Healthcare Management &#038; Policy, The Business of Healthcare, and Workforce Management in Healthcare Organizations.</p>
                            <ul>
                                <li>Tuition per credit is $832.</li>
                            </ul>
                            <h3> 13 (tied). Our Lady of the Lake College</h3>
                            <p><img src="../../wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake.jpg" alt="9. Our Lady of the Lake" width="125" height="125" class="alignright size-full wp-image-1927" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Our Lady of the Lake offers a Master&#8217;s of Health Administration consisting of 46 credit hours. Courses include Quantitative Methods &#038; Decision Analysis, Healthcare Systems, Organizational Theory and Behavior, and Healthcare Marketing and Strategic Planning. Also, students complete an integrated capstone, and the final semester culminates in either a residency program or applied project, depending on the student&#8217;s selection. Note that all courses are offered in either 100% online or blended formats.</p>
                            <ul>
                                <li>Tuition per credit is $760.</li>
                            </ul>
                            <h3> 13 (tied). Jacksonville University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/jacksonville-university.jpg" alt="jacksonville-university" width="125" height="125" class="alignright size-full wp-image-2609" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/jacksonville-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/jacksonville-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Jacksonville University offers an online MSN in Leadership in Healthcare Systems that consists of 30-33 total credit hours &#8211; 18 core, 12 specialization. An optional capstone is available for interested students for an additional 3 credits. Classes are taught in accelerated 8-week sessions, with typically 2 classes taken per session. In addition to the core, specialization courses include the following: Nursing Leadership and the Healthcare System, Quality and Safety in Healthcare, Human Resource Management in Healthcare, and Financial Management of Nursing Systems.</p>
                            <ul>
                                <li>Tuition per credit is $630.</li>
                            </ul>
                            <h3> 13 (tied). Norwich University</h3>
                            <p><img src="../../wp-content/uploads/2013/02/8.-Norwich.jpg" alt="8. Norwich" width="125" height="125" class="alignright size-full wp-image-1879" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/8.-Norwich.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/8.-Norwich-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Norwich University&#8217;s online MSN in Nursing Administration consists of six six-credit courses, each of which is approximately 11 weeks in length. An accelerated program, most students graduate in just 18 months. The fundamental study areas of the administration track are healthcare organization, nursing resource management, and business planning and strategic management in nursing administration. For intimate and collaborative learning, all classes are capped at 15 students.</p>
                            <ul>
                                <li>Tuition per credit is $616.</li>
                            </ul>
                            <h3> 13 (tied). Kaplan University</h3>
                            <p><img src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" class="alignright size-full wp-image-2158" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Kaplan University offers an MSN with an Executive Leader or Informatics Concentration, consisting of 60 credits &#8211; 30 core, 30 concentration. The Executive Leader concentration includes coursework on human resource management, healthcare finance and strategy, and a practicum and evidence-based project. The informatics track includes studies in information systems project management, as well as a practicum and evidence-based project. With entry dates throughout the year, Kaplan allows students excellent schedule flexibility, and is especially appropriate for working professionals.</p>
                            <ul>
                                <li>Tuition per credit is $368.</li>
                            </ul>
                            <h3> 12. Indiana Wesleyan University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/5.-Indiana-Wesleyan.jpg" alt="5. Indiana Wesleyan" width="125" height="125" class="alignright size-full wp-image-1913" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/5.-Indiana-Wesleyan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/5.-Indiana-Wesleyan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Indiana Wesleyan University&#8217;s MSN in Nursing Administration is available for RN or BSN graduates and consists of 41 credit hours, culminating in an applied nursing project. Most students complete coursework in just 22 months. For interested students, IWU also offers a MSN-MBA dual degree for 60 credits &#8211; 30 nursing, 30 business. In particular, IWU emphasizes a practicum component as well as organizational behavior, financing and role development.</p>
                            <ul>
                                <li>Tuition per credit is $546.</li>
                            </ul>
                            <h3> 11. Fort Hays State University Virtual College</h3>
                            <p><img src="../../wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg" alt="8. Fort Hays State University" width="125" height="125" class="alignright size-full wp-image-1796" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Fort Hays State University&#8217;s MSN in Nursing Administration consists of 34 credit hours. Up to 6 credits may also be transferable. The school also offers a post master&#8217;s certification in nursing administration. The specific goals of the Department of Nursing are as follows: &#8220;provide advanced nursing expertise to rural and under served populations, increase the theoretical basis of the discipline through research, influence health care delivery systems by increasing the availability of advanced practitioners, and exercise leadership in an ever-changing global society.&#8221;All students must complete an evidence-based practice project in order to graduate.</p>
                            <ul>
                                <li>Tuition per credit is $253.</li>
                            </ul>
                            <h3> 9 (tied). Saint Joseph’s College Online</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Saint-Josephs-College-Online.jpg" alt="Saint-Josephs-College-Online" width="125" height="125" class="alignright size-full wp-image-2607" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Saint-Josephs-College-Online.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Saint-Josephs-College-Online-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Saint Joseph&#8217;s online MSN in Nursing Administration is a 42-credit curriculum culminating in a capstone project of scholarly work or professional paper. Core classes include work in Conceptual Bases for Nursing, Nursing Informatics, and Nursing Leadership, while the Nursing Administration focus includes studies in Strategic Planning and Management, Applied Financial Management, and Budgeting, and a series of practicums. For interested and available students looking to accelerate coursework, students may choose to enroll in the on-campus summer program.</p>
                            <ul>
                                <li>Tuition per credit is $479.</li>
                            </ul>
                            <h3> 9 (tied). Gardner-Webb University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/gardner-webb-univ-logo.jpg" alt="gardner-webb-univ-logo" width="125" height="125" class="alignright size-full wp-image-2608" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/gardner-webb-univ-logo.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/gardner-webb-univ-logo-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Gardner-Webb University&#8217;s online MSN in Nursing Administration is a 30-36 credit-hour track. For interested students, 69-hour dual MSN/MBA program is also available. There is also a Post-Master&#8217;s Nursing Administration Certificate. Program graduates will integrate appropriate technologies and cutting-edge concepts into healthcare administration, demonstrate organizational and strategic leadership across a broad spectrum, and apply research, new methods, and performance measures and standards to the administrative field in order to streamline tasks and increase efficiency.</p>
                            <ul>
                                <li>Tuition per credit is $447.</li>
                            </ul>
                            <h3> 7 (tied). Benedictine University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Benedictine-University.jpg" alt="Benedictine-University" width="125" height="125" class="alignright size-full wp-image-2606" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Benedictine-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Benedictine-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Benedictine University offers an MSN with a Nurse Executive Leader concentration, totaling 36 credit hours &#8211; 18 core, 18 concentration. Core work includes studies in Health Care Policy and Advocacy, Health Promotion and Inter-professional Collaboration, and Quality Improvement and Safety in Health Care Systems. The Nurse Executive Leader track includes courses in Nursing Leadership and Systems Thinking, Financial Management and Resource Allocation in Health Care Systems, and Evidence-Based Nursing Practice Capstone Project. Students typically complete coursework in 2 years.</p>
                            <ul>
                                <li>Tuition per credit is $590.</li>
                            </ul>
                            <h3> 7 (tied). Vanderbilt University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/vanderbilt-univ.jpg" alt="vanderbilt-univ" width="125" height="125" class="alignright size-full wp-image-2605" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/vanderbilt-univ.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/vanderbilt-univ-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />As the most prestigious program on the list, Vanderbilt University offers full-time, part-time, and accelerated part-time MSN tracks in Healthcare Leadership that consist of 39 credits. All three tracks also emphasize a hands-on approach via required practicums. Full-time students are expected to graduate in less than 12 months. Part-time students may graduate in 2-3 years. A highly selective admissions process, the program typically admits 5-15 students each year.</p>
                            <ul>
                                <li>Tuition per credit is $1,160.</li>
                            </ul>
                            <h3> 6. Western Governors University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/western-govenors-university.jpg" alt="western-govenors-university" width="125" height="125" class="alignright size-full wp-image-2604" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Western Governors University offers an MSN in Leadership and Management (an RN-MSN program). As a competency-based education model, students advance by demonstrating their competence in each subject area, allowing for accelerated coursework. In total the program requires 147 Competency Units (CUs) though most students with an RN can receive 50 to 90 CUs in transfer credit. Key subject areas include Health Assessment, Community Health and Population-Focused Nursing, Professional Presence and Influence, and Nursing Leadership. This program culminates in a capstone project, and also requires a 40-hour practicum requirement in nursing management.</p>
                            <ul>
                                <li>Tuition per credit is $270.</li>
                            </ul>
                            <h3> 5. Ball State University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/16.-Ball-State.png" alt="16. Ball State" width="125" height="125" class="alignright size-full wp-image-1850" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Ball-State.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Ball-State-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Ball State University&#8217;s MSN offers a Leadership Track Plan of Study for educators or administrators that consist of 36 credit hours &#8211; 6 research, 11 nursing, nine administration, six elective, and a practicum. Up to 9 courses are transferable in the administrative track. For interested students, there is also an RN-MSN option and three certification programs available. Coursework typically takes three years, but students are allowed up to 6 years for maximum schedule flexibility. Please also note that the program is designed for working professionals as a part-time study track.</p>
                            <ul>
                                <li>Tuition per credit is $530.</li>
                            </ul>
                            <h3> 4. Walden University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Walden University&#8217;s MSN offers a concentration in <a href="http://www.waldenu.edu/masters/msn-leadership-and-management">Leadership &#038; Management</a>, in addition to 5 others for students interested in fields outside of administrative work. There are 3 program tracks available: BSN to MSN (51 quarter credits), RN to MSN (80 quarter credits), and RN to BSN to MSN (180 quarter credits). The most popular BSN-MSN includes 20 core credits, 25 specialization, and a capstone. Walden is also offering a a $2,500 grant for students starting the MSN Leadership and Management specialization on October 12, 2015.</p>
                            <ul>
                                <li>Tuition per credit is $274.</li>
                            </ul>
                            <h3> 3. New Mexico State University, School of Nursing</h3>
                            <p><img src="../../wp-content/uploads/2015/09/new-mexico-state-univ.jpg" alt="new-mexico-state-univ" width="125" height="125" class="alignright size-full wp-image-2603" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/new-mexico-state-univ.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/new-mexico-state-univ-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The Online Master of Science in Nursing at New Mexico State University prepares students who have already obtained an RN or BSN for leadership positions in overall healthcare delivery and healthcare agencies. In addition to coursework, students must fulfill approximately 12 hours per week of hands-on practice experience in order to meet the graduation requirements. Students may choose a thesis or non-thesis track, and the curriculum is a 45-credit minimum track, in addition to practice hours.</p>
                            <ul>
                                <li>Tuition per credit is $274.</li>
                            </ul>
                            <h3> 2. Capella University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/6.-Capella.jpg" alt="6. Capella" width="125" height="125" class="alignright size-full wp-image-1898" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Capella University offers an MSN in Nursing Leadership and Administration, totaling 56 credits. There are several opportunities for accelerating coursework, including 10-week courses, fully-loaded quarters, and up to 12 transferable credits. Students who take 3 courses per quarter may graduate in as little as 12 months. Capella emphasizes a practice immersion approach, with a minimum of 100 hours of hands-on experience, preparing students to enter the workforce immediately with confidence and a full skill-set. There are also 8 available concentrations to choose from, including Health Policy and Management, Public Policy and Management, and Nonprofit Management and Leadership.</p>
                            <ul>
                                <li>Tuition per credit is $375.</li>
                            </ul>
                            <h3> 1. LU Online, Lamar University College of Arts and Sciences</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/18.-Lamar.jpg" alt="18. Lamar" width="125" height="125" class="alignright size-full wp-image-1852" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Lamar University&#8217;s online MSN is a 37-credit track. There are 5 potential entry points throughout the year, and coursework may be completed in as little as 24 months, for students looking for an accelerated program. Administrative courses include Health Information Systems, Directing &#038; Controlling Healthcare, Planning &#038; Organizing Healthcare, and a practicum. In particular, Lamar emphasizes clinical, theoretical, and research skills.
                            </p>
                            <ul>
                                <li>Tuition per credit is $318.</li>
                            </ul>
                            <p><strong>Master&#8217;s In Nursing Administration Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/masters-nursing-administration-online-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:50:05 GMT -->
</html>
