@{
    ViewBag.Title = "o_bac_hi";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-bachelors-in-health-informatics-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 03:14:43 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Bachelors in Health Informatics Degree Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/stylede0e.css?ver=1461898176' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxItde0e.css?ver=1461898176' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scriptsde0e.js?ver=1461898176'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexdae0.html?p=3096' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed65c0?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-bachelors-in-health-informatics-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embeded2a?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-bachelors-in-health-informatics-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-3096 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Bachelors in Health Informatics Degree Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2016/01/BCR_7_HealthInformatics_Bach_badge-1-300x240.png" alt="BCR_7_HealthInformatics_Bach_badge" width="300" height="240" class="alignright size-medium wp-image-4218" />Health informatics is an interdisciplinary field dealing with designing, developing, adopting, and applying IT-based innovations into healthcare services. Whether that&#8217;s the rapid deployment of teams to recreate medical records systems after a natural disaster, or a team who creates a new platform to help people quit smoking, technology is central to nearly all large-scale changes in medicine. These new developments, however, require a new breed of professionals to manage them. Healthcare informatics professionals take on this task and work at the intersection between health care, information, and technology. The market for this work is growing rapidly with new job types, career paths, and specializations at high demand. This diversity in career types means that prospective professionals with all experience levels can find their way into the field of informatics.</p>
                            <h3>Featured Online Bachelors In Healthcare Informatics Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/kaplan-university?program=16036&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Kaplan University: BS &#8211; Health Information Management</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/walden-university?program=11631&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Walden University: BS &#8211; Health Studies: Health Informatics</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/colorado-technical-university?program=12175&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Colorado Technical University: BS &#8211; Healthcare Management: Health Informatics</a></strong></li>
                            </ul>
                            <p>The most well-paid and highest-demand jobs, however, require higher education and experience. This is driving many students to healthcare informatics programs, many of whom already hold jobs in the healthcare industry and are looking to enhance their career options. Because many students are pursuing this degree amid busy work schedules or personal lives, we have narrowed the focus of this ranking to online programs. In this ranking we explore 25 of the best online Bachelor’s in Healthcare Informatics. You can find an explanation of the metrics used to devise this ranking below.</p>
                            <h3>1. University of Wisconsin </h3>
                            <p><img src="../../wp-content/uploads/2015/10/wisconsin-system-e1444772189379.jpg" alt="wisconsin-system" width="125" height="105" class="alignright size-full wp-image-2763" /></p>
                            <p>The University of Wisconsin is a nationally ranked institution that offers a fully online Bachelor of Science in Healthcare Information Management and Technology. Students can expect a quality and affordable education in this program, as the program is not only nationally renowned but it is also the second most affordable program on this list. Students will also be given the opportunity to choose one of two concentrations in the curriculum. The first option is health information management, which focuses on the skills of management, communication, and information systems development. The second option is health information technology, where students will focus on the ‘IT’ aspect of the field. In either concentration, students will have flexibility in the form of multiple start dates, flexible course schedules, and faculty involvement. </p>
                            <ul>
                                <li><a href="http://ecampus.wisconsin.edu/online-bachelors-degree/health-information-management-technology-collaborative-degree.aspx">Homepage</a>
                            </ul>
                            <h3>2. Walden University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Walden University is a school with a positive reputation for higher learning options for online students. The school’s commitment to distance learning is evidenced by its cutting-edge virtual learning technology. The University offers a Bachelor of Science in Healthcare Informatics that caters to the busiest of students and professionals by offering multiple start dates, personalizable coursework options, and 24/7 access. The program also offers unique virtual learning technology such as virtual classrooms that engage collaboration between peers and with instructors, and versatile coursework formats that can be downloaded to phones, played as mp3’s, or watched in video format.</p>
                            <ul>
                                <li><a href="http://www.waldenu.edu/bachelors/bs-in-health-studies/curriculum/health-informatics">Homepage</a>
                            </ul>
                            <h3>3. Capella University</h3>
                            <p><img src="../../wp-content/uploads/2015/12/capella-university.jpg" alt="capella-university" width="125" height="125" class="alignright size-full wp-image-3121" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Capella University prides itself on its ability to adapt to changing markets and evolving industries. Thus it is at the forefront of healthcare informatics education, and offers its students exclusive technology such as Vila Health, a virtual lab that creates real challenges to develop student’s abilities to improve interoperability, clinical workflow, practice meaningful initiatives, learn ICD–10, and maintain population health standards. While maintaining low costs, the program ensures a quality curriculum that is aligned with with the Healthcare Information and Management Systems Society (HIMSS) standards and the National Center for Healthcare Leadership (NCHL) Competency Model.</p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/bachelors-health-information-technology/">Homepage</a>
                            </ul>
                            <h3>4. King University </h3>
                            <p><img src="../../wp-content/uploads/2015/12/king_university-e1449355628831.png" alt="king_university" width="125" height="54" class="alignright size-full wp-image-3097" /></p>
                            <p>King University offers a Bachelor of Science in Healthcare Informatics which is an interdisciplinary program, with courses from Healthcare Administration, Information Technology, and Health Informatics. The program is also the fourth most affordable on this list and is also one of the most efficient. Students can complete the program is as little as 16 months if they are willing to dedicate the time and effort to a maximum course-load. The program prepares students for positions in hospitals, clinics, private companies and other similar environments.</p>
                            <ul>
                                <li><a href="http://online.king.edu/online-degree-programs/bachelor-of-science-in-health-informatics/">Homepage</a>
                            </ul>
                            <h3>5. Western Governors University </h3>
                            <p><img src="../../wp-content/uploads/2015/09/western-govenors-university.jpg" alt="western-govenors-university" width="125" height="125" class="alignright size-full wp-image-2604" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Western Governors University offers a competency-based curriculum for a Bachelor of Science in Health Informatics. This means that students’ progression through the program will be decided largely by the their personal ability and performance in coursework. The program is designed so that students can spend more time on the work that is most challenging for them, and quickly progress through easier work. This ensures that gifted students will be rewarded for high performance and that they won’t be in danger of boredom due to lack of challenges. Due to these unique learning strategies and standards WGU has achieved national recognition and Fast Company calls its one of “the 50 most innovative countries.&#8221; </p>
                            <ul>
                                <li><a href="http://www.wgu.edu/online_health_professions_degrees/health_informatics_degree">Homepage</a>
                            </ul>
                            <h3>6. Southern New Hampshire University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" class="alignright size-full wp-image-1800" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Southern New Hampshire University is a private, nonprofit institution that offers a Bachelor of Science in Health Information Management. SNHU specializes in accelerated learning and is very generous with credit transfer policies, allowing students to reduce both tuition costs and the program time by considerable amounts. SNHU takes advantage of the inherent strengths of online education, the 24/7 access to coursework, and the student’s ability to create self-decided schedules in order to offer accelerated tracks, where students can complete the program is as little as one years, and even less in some cases. To keep students aligned with program’s goals and standards amidst the fast pace they are assigned personal advisers and coaches, who provide guidance and feedback throughout the program.</p>
                            <ul>
                                <li><a href="http://www.snhu.edu/online-degrees/undergraduate-degrees/healthcare-informatics-BS-online.asp">Homepage</a>
                            </ul>
                            <h3>7. Colorado Technical University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/colorado-technical-university.jpg" alt="colorado-technical-university" width="125" height="125" class="alignright size-full wp-image-1785" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/colorado-technical-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Colorado Technical University is a nationally ranked university that offers a Bachelor of Science in Healthcare Management with a concentration in Health Informatics. The degree can be completed entirely online with flexible learning formats . It emphasizes preparing students for the didactic theory and hands-on training required to pursue work in management within a healthcare industry. As such the program offers capstone projects and courses where students are encouraged to work collaboratively with their peers through online bulletin boards and real-time chat rooms. The online program also employs the same highly regarded faculty who teach the on-campus courses.</p>
                            <ul>
                                <li><a href="http://www.coloradotech.edu/degrees/bachelors/healthcare-management/informatics">Homepage</a>
                            </ul>
                            <h3>8. The University of Cincinnati </h3>
                            <p><img src="../../wp-content/uploads/2013/10/17.-Cincinnati.jpg" alt="17. Cincinnati" width="125" height="125" class="alignright size-full wp-image-1904" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Cincinnati offers a fully online and accredited masters in healthcare informatics program. The program has been ranked as one of the nation’s top analytics programs by InformationWeek for its commitment to an interdisciplinary education. The program also offers students flexibility in the application process and waves the GMAT or GRE requirements for students with a satisfactory GPA. For those wishing to take an accelerated route and willing to take on more coursework per semester, the program can be completed in as little as two years. </p>
                            <ul>
                                <li><a href="http://mshi.uc.edu/">Homepage</a>
                            </ul>
                            <h3>9. Champlain College</h3>
                            <p><img src="../../wp-content/uploads/2013/09/champlain-college-computer-science.jpg" alt="champlain-college-computer-science" width="125" height="125" class="alignright size-full wp-image-1507" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/champlain-college-computer-science.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/champlain-college-computer-science-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>
                                Champlain University offers a fully online Bachelor of Science in Health Information Technology. As the name suggests, the degree focuses mainly on the aspects of information technology and information security in the field of healthcare informatics. And for students able to take on more responsibility, there is an accelerated track option where students can finish their degree in up to half the time of comparable programs. Fast track or not, the program is both efficient and flexible, allowing students 24/7 access to coursework that is curated by personal advisers. These advisers also help to guide students through their time in the program, so that they can maximize the program’s online technology and learning material.
                                <ul>
                                    <li><a href="http://www.champlain.edu/healthcare/online-health-information-technology-program">Homepage</a>
                                </ul>
                                <h3>10. Rasmussen College</h3>
                            <p><img src="../../wp-content/uploads/2013/09/rasmussen-computer-science.jpg" alt="rasmussen-computer-science" width="125" height="125" class="alignright size-full wp-image-1504" /></p>
                            <p>Rasmussen College offers an accredited and fully online Bachelor of Science in Health Information Management degree program. Rasmussen demonstrates an impressive dedication to student flexibility and allows self-paced coursework where students are able to personalize the duration of classes to accommodate their schedules. This flexibility benefits students on both sides of the spectrum. For those too busy to take on normal class schedules they can choose to slow things down, but for those looking to take on the maximum coursework the program can be completed in just 18 months, making this one of the fastest informatics bachelor’s programs available. </p>
                            <ul>
                                <li><a href="http://www.rasmussen.edu/degrees/health-sciences/health-information-management/">Homepage</a>
                            </ul>
                            <h3>11.Oregon Tech College</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Oregon-institute-technology.jpg" alt="Oregon-institute-technology" width="125" height="125" class="alignright size-full wp-image-2576" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Oregon-institute-technology.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Oregon-institute-technology-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>As the industry of healthcare informatics surges with new growth and opportunities, schools like Oregon Tech College are changing their curriculum and programs in order to best prepare their students for the growing opportunities available. Previously only offered as a concentration of the information technology degree, Oregon Tech’s health informatics degree is now a stand alone program that explores the intersection between computer science and clinical outcomes. The program is also highly affordable to it students and offers the lowest tuition rates on this list.</p>
                            <ul>
                                <li><a href="http://www.oit.edu/online/degrees/health-informatics">Homepage</a>
                            </ul>
                            <h3>12. Liberty University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" class="alignright size-full wp-image-1803" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Liberty University is a well-known name in online education. Much of this recognition derives from the school’s emphasis on incorporating real-world experience and rigorous academics into the arena of online education. The University’s healthcare informatics program incorporates these standards through offering intensives, and community-based projects, where students will actively engage real-world challenges. The program is also well suited for those with previous college education or professional experience as the University holds a generous crediting and credit-transfer policy where students can shave months of time and thousands of dollars of the cost of the degree.</p>
                            <ul>
                                <li><a href="http://www.liberty.edu/online/bachelors/informatics/healthcare-informatics/">Homepage</a>
                            </ul>
                            <h3>13. DeVry University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/17.-DeVry-University-Logo.png" alt="17. DeVry-University-Logo" width="125" height="125" class="alignright size-full wp-image-2325" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/17.-DeVry-University-Logo.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/17.-DeVry-University-Logo-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>DeVry University’s health informatics program is a specialization degree option of the health administration program. So while the program covers all relevant aspects of the healthcare informatics industry, it does emphasize managerial and administrational aspects and patient outcomes. The program offers students a great deal of flexibility, offering multiple start dates and 24/7 access to coursework, so students can complete the work when and how they want. And for those able and willing to take on more work in favor of a quicker completion date there is an accelerated learning option. </p>
                            <ul>
                                <li><a href="http://www.devry.edu/degree-programs/health-sciences/healthcare-informatics-degree-specialization.html">Homepage</a>
                            </ul>
                            <h3>14. The University of Illinois, Chicago</h3>
                            <p><img src="../../wp-content/uploads/2015/11/illinois_chicago-e1448752537782.png" alt="illinois_chicago" width="125" height="60" class="alignright size-full wp-image-3068" /></p>
                            <p>The University of Illinois is a prestigious school that offers multiple healthcare informatics education tracks at the bachelors, masters, and doctoral level. Students can earn their Bachelor of Science in Healthcare Informatics at the University through entirely online coursework with only one required campus visit. The program offers two program options. Students may choose the coursework option where they will learn material and develop skillsets according to set curriculum standards, or they may choose to learn according to research-based standards, where students will learn the material by studying relevant research and conducting research of their own. Upon completing the the program students are eligible to take the national Registered Health Information Administrator (RHIA) credential exam offered by the American Health Information Management Association, although graduate education may be necessary.</p>
                            <ul>
                                <li><a href="http://healthinformatics.uic.edu/">Homepage</a>
                            </ul>
                            <h3>15. Georgia Regents University</h3>
                            <p><img src="../../wp-content/uploads/2015/12/georgia_regents-e1449355908935.jpg" alt="georgia_regents" width="125" height="70" class="alignright size-full wp-image-3098" /></p>
                            <p>With healthcare informatics being such a broad field, many schools are finding it prudent to establish a primary area of focus. Georgia Regents University’s healthcare informatics program rewards a Bachelor Degree in Health Information Administration. Health information administrators are specialists in the organization of information used in evidence-based medicine, the arming of the provider with evidence to support patient care, and are accomplished in the science of electronic information systems. These professionals advocate for the patient-provider relationship and serve as information curators for the industry and economics of evidence-based medicine.</p>
                            <ul>
                                <li><a href="http://catalog.gru.edu/preview_program.php?catoid=17&amp;poid=1189">Homepage</a>
                            </ul>
                            <h3>16. University of Mississippi Medical Center</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Mississippi.jpg" alt="Mississippi" width="125" height="125" class="alignright size-full wp-image-2373" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Mississippi.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Mississippi-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Mississippi Medical Center offers both bachelor’s and master’s options in healthcare informatics. Both of which can be completed entirely online with numerous student-oriented options to accommodate hectic schedules such as 24/7 access to the virtual learning programs. The University stands behind the quality of these programs, as the University’s School of Health Related Professions (SHRP) adheres to the Quality Matters Implementation Plan in its development of online curriculum, which is rigorously tested to prove it is successfully prepares students for the numerous real-world challenges and demands of the career. These efforts also seem to have worked quite well. as a recent accreditation report stated that students and employers both reported a 100% satisfaction rate with the program. </p>
                            <ul>
                                <li><a href="https://www.umc.edu/Education/Schools/Health_Related_Professions/Health_Informatics_and_Information_Management/HIIM_-_Traditional.aspx">Homepage</a>
                            </ul>
                            <h3>17. Kaplan University</h3>
                            <p><img src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" class="alignright size-full wp-image-2158" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Kaplan University is a well-known name in online education, receiving national ranks for its programs, and has been at the forefront of distance-learning for years. During the entirety of this history, Kaplan specialized in convenient learning options for busy professionals and students with demanding schedules, so Kaplan University has earned its place in the niche of fast-paced online graduate education where students can expect the newest virtual learning technology. Kaplan also touts a strong adherence to career outcomes and goals and thus focuses on delivering a dynamic curriculum, designed to prepare students for the evolving industry of healthcare informatics. The program focuses on coursework and learning principles that prepare students for positions in various sectors including hospitals, primary-care facilities, physician offices, insurance companies, and pharmacies.</p>
                            <ul>
                                <li><a href="http://www.kaplanuniversity.edu/health-sciences/health-information-management-bachelor-degree.aspx">Homepage</a>
                            </ul>
                            <h3>18. Regis University, </h3>
                            <p><img src="../../wp-content/uploads/2015/08/regis-university.jpg" alt="regis-university" width="125" height="125" class="alignright size-full wp-image-2416" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Regis University Rueckert-Hartman College for Health Professions offers students a Bachelor of Science in Healthcare Informatics and Information Management. The program has been well-recognized in several rankings and is one of the most flexible on this list as it can be completed entirely through self-selected and self-paced course work. Students may login day or night to complete coursework, which can be completed in as little as 8 weeks. The entire program can be completed in as little as 24 months, and as such offers both prospective students and professionals looking to enter healthcare informatics field an efficient and reliable education option. </p>
                            <ul>
                                <li><a href="http://www.regis.edu/CCIS/Academics/Degrees-Programs/Undergraduate-Programs/BS-Health-Information-Management.aspx">Homepage</a>
                            </ul>
                            <h3>19. Grand Canyon University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Grand Canyon University’s healthcare informatics program is conveniently offered in a fully online format, though the program is designed to promote engagement and discussion during virtual classes that mimic traditional classroom dynamics. Small class sizes also mean that instructors have more time and energy to devote to individual students, which is a well-advertized hallmark of this program. The involvement of instructors helps students to determine career and education goals so that they can select the necessary coursework required to build a specific experience background. This guidance and customization takes the place of specialization tracks that other programs offer, but while it sacrifices a certain amount of direction it also allows students to personalize their learning experience on a deeper level.</p>
                            <ul>
                                <li><a href="http://www.gcu.edu/degree-programs/bachelor-of-science-in-information-technology-with-an-emphasis-in-health-it">Homepage</a>
                            </ul>
                            <h3>20. Montana University, Montana Tech</h3>
                            <p><img src="../../wp-content/uploads/2015/12/montana_tech-e1449356045345.png" alt="montana_tech" width="125" height="44" class="alignright size-full wp-image-3099" /></p>
                            <p>As mentioned before, the field of healthcare informatics is a new industry experiencing explosive growth. This rapid growth means that new jobs, industry standards, and accepted best-practices are constantly changing, some increase in importance, and some fall to the periphery. Thus Montana University offers a general Bachelor of Healthcare Informatics degree program that delivers an interdisciplinary curriculum that is able to cover all the depth and complexity of the field. Emphasizing such career-oriented preparations, the program also offers several certificate program options, so that students can earn a marketable title early and standout from the competition. </p>
                            <ul>
                                <li><a href="https://mtech.edu/academics/clsps/hci/BS_HCI.htm">Homepage</a>
                            </ul>
                            <h3>21. CUNY School of Professional Studies</h3>
                            <p><img src="../../wp-content/uploads/2015/12/cuny-e1449356125134.png" alt="cuny" width="125" height="60" class="alignright size-full wp-image-3100" /></p>
                            <p>CUNY offers a fully online Bachelor of Science in Health Information Management designed to prepare students for the information management aspects of health informatics, which means specifically training for the analyzation, management, and communication of medical information and data. The program itself has received positive attention, largely due to its student success rates. The Registered Health Information Administrator (RHIA) exam pass rate for the CUNY health information management program for the period of October 1, 2014 to December 31, 2014 was 100%. </p>
                            <ul>
                                <li><a href="http://sps.cuny.edu/programs/bs_him">Homepage</a>
                            </ul>
                            <h3>22. Simmons College</h3>
                            <p><img src="../../wp-content/uploads/2015/12/simmons_college-e1449356210896.png" alt="simmons_college" width="125" height="125" class="alignright size-full wp-image-3101" /></p>
                            <p>Simmons College realizes that one of the single most powerful and most motivations for students new or old going to college (or back to college) to earn a degree is the potential of landing a nice job with a nice salary. Simmons College caters to this motivation and begins developing professional experience in their students from freshman year to graduation. In the healthcare informatics program specifically, students conduct high-relevancy research according to their specific career goals. The program also taps into their strong and closely knit network of alumni and into successful businesses in the industry in order to solidify a wide-array of internship options that align with student’s personal goals. This not only helps student develop real-world experience, but also often results in student employment immediately after graduation. </p>
                            <ul>
                                <li><a href="http://www.simmons.edu/academics/undergraduate-programs/health-informatics">Homepage</a>
                            </ul>
                            <h3>23. Davenport University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/davenport-university.jpg" alt="davenport-university" width="125" height="125" class="alignright size-full wp-image-2423" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/davenport-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/davenport-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Davenport University’s College of Health Professions offers two degree options, a Bachelor of Science in Health Information Technology and another in health information management. In order to combat the potential shortcomings of online education, the program incorporates experiential learning components in the curriculum so that students may learn skills of teamwork and leadership, while practicing the real-world applicability of the coursework. For example, the program requires up to 80 hours of professional work experience, so that students will have to use the skills they have learned in the program to not only secure the temporary position, but to also gain the hands-on experience that is often lacking in online education options. These strategies are apparently largely successful, as evidenced by the program’s survey data that reports a 100% employer satisfaction rate with its students. </p>
                            <ul>
                                <li><a href="http://www.davenport.edu/college-health-professions/programs-and-degrees/health-information-technology">Homepage</a>
                            </ul>
                            <h3>24. Franklin University</h3>
                            <p><img src="../../wp-content/uploads/2013/09/franklin-university-computer-science.jpg" alt="franklin-university-computer-science" width="125" height="125" class="alignright size-full wp-image-1515" /></p>
                            <p>Franklin University offers a fully online and accredited Bachelor of Science in Health Information Management. The program offers a unique two-track learning curriculum, one of which is the degree’s coursework and the other is work chosen by the student to build a professional expertise or specialization. The program also employs faculty who are or were successful professionals in the various sectors of the healthcare informatics. The program also has an assembly of board members, who are healthcare informatics specialists, and discuss current trends in the industry and then convene on how to implement changes to the program’s curriculum and strategies in order to best accommodate these trends. </p>
                            <ul>
                                <li><a href="http://www.franklin.edu/health-information-management-degree-program-details">Homepage</a>
                            </ul>
                            <h3>25. Indiana Tech</h3>
                            <p><img src="../../wp-content/uploads/2015/08/indiana-institute-of-technology.jpg" alt="indiana-institute-of-technology" width="125" height="125" class="alignright size-full wp-image-2419" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/indiana-institute-of-technology.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/indiana-institute-of-technology-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Indian Tech University offers a healthcare informatics program that is delivered through a broad multidisciplinary curriculum in order to meet the accommodat the rapidly changing and evolving healthcare informatics industry. While the curriculum is broad, the program allows students to choose their coursework, which can fall into the categories such as health care administration and healthcare information technology, allowing students to indirectly build a specialization or to choose courses from all categories and build a broader experience background. </p>
                            <ul>
                                <li><a href="http://www.indianatech.edu/">Homepage</a>
                            </ul>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: The average out-of-state tuition per credit hour.</li>
                                <li><strong>Flexibility (1/3)</strong>: Whether the program offers specialized tracks, flexible hours, or personalized course loads. </li>
                                <li><strong>Academic Reputation (1/3)</strong>: The rank of the school’s parent institution according to other prominent rankings such as <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-bachelors-in-health-informatics-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 03:14:44 GMT -->
</html>

