@{
    ViewBag.Title = "o_mas_pubh";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-public-health-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:50:19 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Masters in Public Health Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <meta name="description" content="Our 25 top online Masters in Public Health (MPH) degree programs, ranked according to affordability, flexibility, and reputation." />
    <meta name="robots" content="noodp" />
    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style05e4.css?ver=1461897527' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt05e4.css?ver=1461897527' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts05e4.js?ver=1461897527'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexbbfa.html?p=2694' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed8ce5.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-public-health-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embedd845?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-public-health-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2694 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Masters in Public Health Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/10/BCR_25_PublicHealth_Masters_badge-300x240.png" alt="BCR_25_PublicHealth_Masters_badge" width="300" height="240" class="alignright size-medium wp-image-4256" />With the cost of healthcare continuing to rise, and the health care system becoming increasingly bureaucratized and complex, healthcare professionals are needed now more than ever &#8211; particularly, public health officials. Costly yet potentially preventative chronic medical conditions such as diabetes and heart disease are on the rise in part because of a lapse in basic education.</p>
                            <h3>Featured Online Public Health Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-of-southern-california?program=11572&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Southern California: Master of Public Health</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/capella-university?program=3371&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Capella University: MPH &#8211; Public Health</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/grand-canyon-university?program=6424&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Grand Canyon University: Master of Public Health</a></strong></li>
                            </ul>
                            <p>Public health officials see to it that communities &#8211; particularly marginalized, under served, and developing communities &#8211; both understand health risks and take precautionary measures to lower exposure. Moreover, public health officials help locate determinants so as to better treat problems and stem them in the future. Obtaining a Master’s in Public Health will place students in a position to either jump into a career in public health or advance further in the field. Here’s a look at our top 25 online Masters in Public Health degree programs. </p>
                            <h3> 1. University of Iowa</h3>
                            <p><img src="../../wp-content/uploads/2015/10/iowa-university-e1444428955464.png" alt="iowa-university" width="125" height="74" class="alignright size-full wp-image-2695" />The University of Iowa&#8217;s online program consists of 42-45 credits that requires a practicum. There are two tracks available, one as a general list, and an additional for practicing veterinarians. Core courses include an introduction to public health, biostatistics, health promotion and disease prevention, epidemiology, the U.S. health care system, and global environmental health. For the practicum, students complete a hands-on 200-contact-hour project in a public health setting. According to students interests and field of study, advisors will help choose an appropriate setting for the project. This program is CEPH-accredited.</p>
                            <ul>
                                <li><a href="http://www.public-health.uiowa.edu/mph/">Homepage</a></li>
                                <li>Tuition per credit is $381.</li>
                            </ul>
                            <h3> 2. University of Florida</h3>
                            <p><img src="../../wp-content/uploads/2013/02/6.-Florida.jpg" alt="6. Florida" width="125" height="125" class="alignright size-full wp-image-1878" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Florida&#8217;s online MPH program consists of 48 credits &#8211; 15 core, 27 concentration, 1 seminar, and 5 for an internship. UF offers two concentration options, Public Health Practice and Social and Behavioral Sciences. The Public Health Practice concentration focuses on management and policy, epidemiology, environmental health, and social behavior sciences. The Social and Behavioral Science concentration focuses on planning and evaluation, theory, research, and community assessment and partnership track. The SBS track also includes an option for a general list, HIV, or Geriatric Care track. This program is CEPH-accredited.</p>
                            <ul>
                                <li><a href="http://online.mph.ufl.edu/">Homepage</a></li>
                                <li>Tuition per credit is $585.</li>
                            </ul>
                            <h3> 3. University of North Dakota</h3>
                            <p><img src="../../wp-content/uploads/2013/02/23.-North-Dakota.jpg" alt="23. North Dakota" width="125" height="125" class="alignright size-full wp-image-1891" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/23.-North-Dakota.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/23.-North-Dakota-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of North Dakota offers an online MS in Advanced Public Health &#8211; Nurse Track that can be completed in just over 2 years. (Note that the school required a 2-3 visit on campus during the program&#8217;s first year.) Upon graduation, students will be able to educate individuals about health issues, improve healthy at the community level, and increase health care access within communities. In addition, after completion of the program, all graduates are eligible to to become certified through the American Nurses Credentialing Center (ANCC) as an Advanced Public Health Nurse. This program is accredited by the American Nurses Credentialing Center, and all students pay in-state tuition rates.</p>
                            <ul>
                                <li><a href="http://distance.und.edu/degree/?id=publicomnurse2">Homepage</a></li>
                                <li>Tuition per credit is $392.</li>
                            </ul>
                            <h3> 4. Capella University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/6.-Capella.jpg" alt="6. Capella" width="125" height="125" class="alignright size-full wp-image-1898" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Capella University consists of 48 credits, with up to 12 transferrable, which may accelerate the program. Typical graduation time for the MPH is 18 months, though optional accelerated course tracks can further decrease that timeframe. The curriculum, which follows national public health curriculum standards, focuses on environmental public health concepts; psychological, behavioral, and social factors that affect and exacerbate health disparities within communities; principles of epidemiology and biostatistics; public health administration systems and processes; and economics. Upon graduating from Capella&#8217;s School of Public Service, alumni 45% report career growth potential, 41% report increase in opportunities, 65% report increase in responsibilities, and 41% report an increase in salary and/or benefits. </p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/mph-general-public-health/">Homepage</a></li>
                                <li>Tuition per credit is $492.</li>
                            </ul>
                            <h3> 5. University of South Florida</h3>
                            <p><img src="../../wp-content/uploads/2015/08/South-Florida.jpg" alt="South Florida" width="125" height="125" class="alignright size-full wp-image-2372" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/South-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/South-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of South Florida offers an online MPH that, depending upon specialization, consists of approximately 45 credit hours. Specializations include Public Health Practice, Public Health Administration, Global Disaster Management and Humanitarian Relief, Epidemiology, Health, Safety &#038; Environment, Infection Control, and Social Marketing. Courses delivery is specially designed by the Office of Educational Technology and Assessment, in conjunction with faculty, and includes blogs, wikis, podcasting, discussion forums, web conferencing, and streaming media. For interested students USF also offers over 10 graduate certificates as well.</p>
                            <ul>
                                <li><a href="http://health.usf.edu/publichealth/onlineprograms/">Homepage</a></li>
                                <li>Tuition per credit is $525.</li>
                            </ul>
                            <h3> 6. Florida International University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/florida-international-univ.jpg" alt="florida-international-univ" width="125" height="125" class="alignright size-full wp-image-2640" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/florida-international-univ.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/florida-international-univ-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Florida International University offers a new accelerated MPH that can be completed in just one year. Students choose from four specializations: Environmental &#038; Occupational Health, Epidemiology, Health Policy &#038; Management, and Health Promotion &#038; Disease Prevention. Applicants should have scored at or above the 75th percentile of the GRE. The accelerated track is particularly suited for pre-med students or current working professionals looking to complete their degrees as quickly as possible. For interested students, graduate certificates are available for each specialization as well.</p>
                            <ul>
                                <li><a href="http://stempel.fiu.edu/academics/degrees/accelerated-mph/index.html">Homepage</a></li>
                                <li>Tuition per credit is $517.</li>
                            </ul>
                            <h3> 7. Nova Southeastern University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/9.-Nova-Southeastern-University.jpg" alt="9. Nova Southeastern University" width="125" height="125" class="alignright size-full wp-image-2322" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/9.-Nova-Southeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/9.-Nova-Southeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Nova Southeastern University&#8217;s online MPH consists of approximately 39 credits, which students may complete in as little as two years, or take up to 5 years for part-time students. Core courses include Epidemiology; Health Policy, Planning, and Management; Social and Behavioral Sciences Applied to Health; Biostatistics; Environmental and Occupational Health; Legal and Ethical Issues in Public Health; Research Methods in Public Health; and a Public Health Field Experience. For interested students, graduate certificates are available in Public Health and Health Education.In addition, all students must pass a comprehensive exam. This program is CEPH-accredited.</p>
                            <ul>
                                <li><a href="http://medicine.nova.edu/ph/index.html">Homepage</a></li>
                                <li>Tuition per credit is $550.</li>
                            </ul>
                            <h3> 8. University of Nebraska Medical Center</h3>
                            <p><img src="../../wp-content/uploads/2015/10/nebraska-medical-e1444429121347.png" alt="nebraska-medical" width="125" height="51" class="alignright size-full wp-image-2696" />The University of Nebraska Medical Center&#8217;s online MPH consists of 45 credits. There are three available specialization tracks: Public Health Practice, Biostatistics, and Environmental and Occupational Health. The PHP track focuses on finance, strategic planning and management, health services administration, and health promotion, among others. The Biostatistics track emphasizes categorical, survival, and correlated data analysis; biostatistical methods, and applied research. The Environmental and Occupational Health track includes courses on toxicology, environmental exposure, and elements of industrial safety. This program is CEPH-accredited, and all students pay in-state tuition.</p>
                            <ul>
                                <li><a href="http://onlineworldwide.nebraska.edu/Landing/Public-Health.aspx">Homepage</a></li>
                                <li>Tuition per credit is $560.</li>
                            </ul>
                            <h3> 9. Johns Hopkins University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/johns-hopkins-e1444429174673.png" alt="johns-hopkins" width="125" height="52" class="alignright size-full wp-image-2697" />One of the most renowned schools of medicine in the country, Johns Hopkins University&#8217;s online MPH is ideal for part-time students and can be completed in 2-3 years. In addition, for students interested in completing their degree sooner, JHU offers on-campus, accelerated one-week intensives. The program consists of a minimum of 80 units, 60 of which must be earned through Bloomberg School formal coursework. Moreover, as a hybrid program, 16 units must be completed on-campus. The required curriculum includes a core, practicum experience, and capstone project. JHU also offers a vast selection of concentrations, including emphases on Health Leadership and Management, Infectious Diseases, Child and Adolescent Health, Women&#8217;s and Reproductive Health, and a customized program of study, among many others. With alumni in over 120 countries across the world, graduates can expect extensive networking opportunities for career placement and/or advancement. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://www.jhsph.edu/academics/degree-programs/master-of-public-health/academic-overview/online-part-time-mph.html">Homepage</a></li>
                                <li>Tuition per credit is $1,020.</li>
                            </ul>
                            <h3> 10. Benedictine University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Benedictine-University.jpg" alt="Benedictine-University" width="125" height="125" class="alignright size-full wp-image-2606" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Benedictine-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Benedictine-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Benedictine University&#8217;s online MPH is a 66-credit curriculum &#8211; 54 core, plus 12 hours of electives. For students interested in pursuing the Emergency Preparedness Certificate alongside the MPH, the program totals 70 credits. Additional certificates include Health Education &#038; Promotion, Health Management &#038; Policy, and Epidemiology. The core curriculum covers biostatistics, epidemiology, health services management, health policy, environmental health, behavioral and social aspects of public health, and biological aspects of public health. For maximum schedule flexibility, students complete their degrees according to their own needs and hours. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://online.ben.edu/public-health/master-of-public-health.asp">Homepage</a></li>
                                <li>Tuition per credit is $650.</li>
                            </ul>
                            <h3> 11. Kent State University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/15.-Kent-State.jpg" alt="15. Kent State" width="125" height="125" class="alignright size-full wp-image-1849" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/15.-Kent-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/15.-Kent-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Kent State University offers a Master of Public Health in Health Policy &#038; Management, consisting of 46 credit hours, one practicum, and a comprehensive exam. Six courses are devoted to the core, 5 to concentrations, and two for electives. Concentrations include Biostatistics, Environmental Health Sciences, Epidemiology, Health Policy and Management, and Social and Behavioral Sciences. Courses are delivered in 7-week modules, with two terms per semester. Students may complete their degrees in as little as 24-27 months. For interested students looking for more hands-on experience, KSU offers an optional global immersion seminar. </p>
                            <ul>
                                <li><a href="https://onlinedegrees.kent.edu/programs-courses/graduate/public-health-mph/">Homepage</a></li>
                                <li>Tuition per credit is $654.</li>
                            </ul>
                            <h3> 12. University of Akron &#8211; Main Campus</h3>
                            <p><img src="../../wp-content/uploads/2015/10/akron-e1444429260837.jpg" alt="akron" width="125" height="54" class="alignright size-full wp-image-2698" />The University of Akron&#8217;s program is a non-traditional, hybrid track designed specifically for working professionals looking to expand their current roles, enhance their skills, or seek career advancement. The program is run by the Consortium of Eastern Ohio Master of Public Health. Students complete a 42-credit curriculum, which includes six core courses, generalist track courses, electives, and a capstone project. All core courses may be completed online on Saturdays by interactive videoconferencing, and students are encouraged to move through the curriculum with a cohort to increase collaboration and enhance study habits. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="https://www.uakron.edu/academics_majors/graduate/programs_detail.dot?programId=52912&amp;pageTitle=Graduate%20Programs&amp;crumbTitle=Public%20Health">Homepage</a></li>
                                <li>Tuition per credit is $308.</li>
                            </ul>
                            <h3> 13 (tied). Northern Illinois University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/northern-illinois-e1444429331106.png" alt="northern-illinois" width="125" height="46" class="alignright size-full wp-image-2699" />Northern Illinois University&#8217;s online program includes non-thesis (43-46 credits) and thesis (49-52 credits) tracks. Students may apply for up to 18 transferrable credits. Core courses include Intro to Health Systems in the United States, Community Health Planning, Principles and Methods of Epidemiology, and Biostatistics in Public Health, among others. Students may pursue specializations in either Health Promotion or Health Services Management. All students must also complete a comprehensive exam. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://www.chhs.niu.edu/public_health/mph/index.shtml">Homepage</a></li>
                                <li>Tuition per credit is $698.</li>
                            </ul>
                            <h3> 13 (tied). University of Vermont</h3>
                            <p><img src="../../wp-content/uploads/2015/10/vermont-e1444430607610.jpg" alt="vermont" width="125" height="49" class="alignright size-full wp-image-2701" />The University of Vermont&#8217;s online MPH consists of 42 credits, which can be completed for full-time students in 1-2 years, or up to 5 years for part-time students. In particular, the general track of Vermont focuses on Environmental Public Health, Quantitative Public Health Sciences, and Health Policy, Leadership, and Advocacy. Classes typically range from 10-25 students, which helps keep classes lean and agile. For students with previous certificate work, up to 18 credits may transferred to degree, which may further accelerate coursework. There are currently three available entry dates.</p>
                            <ul>
                                <li><a href="http://learn.uvm.edu/programs/public-health-programs/online-master-of-public-health/">Homepage</a></li>
                                <li>Tuition per credit is $970.</li>
                            </ul>
                            <h3> 13 (tied). East Tennessee State University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/east-tennessee-e1444430727388.png" alt="east-tennessee" width="125" height="97" class="alignright size-full wp-image-2702" />East Tennessee State University&#8217;s online MPH may be completed in just over a year at an accelerate course-load. In addition to the core and electives, students must also complete a field experience (internship) in the field in order to graduate. ETSU offers three concentrations in its online program: Community Health, Epidemiology, and Public Health Administration. This program is particularly tailored to current professionals in the field, and allows for a flexible schedule. In a 2013 survey, all MPH graduates were employed within a year of matriculation.</p>
                            <ul>
                                <li><a href="http://www.etsu.edu/online/OnlineMPHPrograms.aspx">Homepage</a></li>
                                <li>Tuition per credit is $688.</li>
                            </ul>
                            <h3> 16. National University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/national-university2-e1444428380332.jpg" alt="NU_Logo_2C_Spot_w_RevType" width="125" height="55" class="alignright size-full wp-image-2690" />National University&#8217;s online program consists of 16 courses, or 72 quarter units &#8211; 8 devoted to the core, 8 toward a specialization. Specialization options include Health Promotion, Healthcare Administration, and Mental Health. In particular, the program&#8217;s objectives are to teach students healthcare data analysis; to describe the distribution and determinants of disease, disabilities and death across communities; evaluate environmental factors that affect health; plan and manage health administrations; and apply all theories to real-world circumstances. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://www.nu.edu/OurPrograms/SchoolOfHealthAndHumanServices/CommunityHealth/Programs/MPH.html">Homepage</a></li>
                                <li>Tuition per credit is $406.</li>
                            </ul>
                            <h3> 17. Northeastern University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/1.-Northeastern-University.jpg" alt="1. Northeastern University" width="125" height="125" class="alignright size-full wp-image-2334" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Northeastern University&#8217;s online program is a 42-credit, non-thesis track. The public health core consists of 15 credits, focusing on Biostatistics in Public Health, Environmental Health, Epidemiology, Public Health Administration and Policy, and Society, Behavior, and Health. An urban health specialization is also available, with courses on Principles and History of Urban Health, Urban Community Health Assessment, and Race, Ethnicity, and Health in the United States. Students then must complete 3 electives, one selective (Health Education and Program Planning, or Techniques of Program Evaluation), a practicum, and a capstone project. Full-time students can expect to complete the program in two years, and part-time students may take up to 5 years. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://www.northeastern.edu/bouve/health-sciences/programs/master-public-health/">Homepage</a></li>
                                <li>Tuition per credit is $1,335.</li>
                            </ul>
                            <h3> 18. Oregon Health &#038; Science University/Portland State University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/oregon-health-e1444430894197.gif" alt="oregon-health" width="125" height="70" class="alignright size-full wp-image-2703" />Oregon Health &#038; Science University/Portland State University offers an online MPH with a Primary Health Care &#038; Health Disparities concentration.The 58-credit track breaks down as follows: 17 core, 26 specialization, 6 internship, and 9 elective. In particular, this specialization focuses on social determinants of health, the social context of public health policy, public program planning and evaluation, and management, among other subjects. According to the school&#8217;s <a href="http://www.oregonmph.org/">site</a>, students in the Primary Health Care &#038; Health Disparities program will identify and explore the socio-cultural, economic, psychosocial, political and organizational influences on the health care of populations and design and implement interventions and policies that address identified health inequities as consistent with the World Health Organization primary health care philosophy of care.&#8221;</a>This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://www.oregonmph.org/">Homepage</a></li>
                                <li>Tuition per credit is $718.</li>
                            </ul>
                            <h3> 19. Grand Canyon University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Grand Canyon University&#8217;s online MPH is a generalist, 48-credit track. The curriculum follows a multidisciplinary approach that emphasizes psychological, behavioral, and social factors influencing population-based health disparities; epidemiology and biostatistics; environmental public health concepts; public health administration systems and processes; and economic factors. For interested students, GCU also offers a MS in Nursing with an emphasis in Public Health. Small classes encourage collaborative learning and allow for a lean, agile student-to-faculty relationship.</p>
                            <ul>
                                <li><a href="http://www.gcu.edu/degree-programs/master-of-public-health">Homepage</a></li>
                                <li>Tuition per credit is $495.</li>
                            </ul>
                            <h3> 20. Walden University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Walden University&#8217;s online MPH is a generalist, 64-quarter-credit curriculum &#8211; 5 foundational, 51 core, and 8 toward the practicum and capstone. Full-time students may complete their degrees in just 2 years. Objective learning outcomes include developing leadership and communication skills to manage public health services, acquire specialized skill set to develop programs, and developing systemic approaches to eliminate health disparities in underserved communities. This program is especially suited as an introductory primer on the subject. For current professionals, Walden also offers an <a href="http://www.waldenu.edu/masters/ms-in-health-education-and-promotion">MS in Health Education and Promotion</a>. </p>
                            <ul>
                                <li><a href="http://www.waldenu.edu/masters/master-of-public-health">Homepage</a></li>
                                <li>Tuition per credit is $455.</li>
                            </ul>
                            <h3> 21 (tied). Emory University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/emory-mba-e1444430979718.jpg" alt="emory-mba" width="125" height="125" class="alignright size-full wp-image-1594" />Emory University, one of the more prestigious schools on the list, offers an Executive MPH consisting of 42 credit hours. Three concentrations are available: Prevention Science, Applied Public Health Informatics, and Applied Epidemiology. In addition, a practicum and capstone or thesis are required. Students typically complete coursework in two-and-a-half years. As a hybrid program, all students must attend on-campus sessions twice a semester over the weekend. Previous coursework may be transferrable upon review. The Rollins School of Public Health also provides extensive postgraduate career advising and networking opportunities. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://www.waldenu.edu/masters/master-of-public-health">Homepage</a></li>
                                <li>Tuition per credit is $1,700.</li>
                            </ul>
                            <h3> 21 (tied). University of Southern California</h3>
                            <p><img src="../../wp-content/uploads/2015/10/southern-california-e1444431154773.png" alt="southern-california" width="125" height="39" class="alignright size-full wp-image-2704" />The University of Southern California&#8217;s online MPH offers four concentrations: Biostatistics and Epidemiology, Health Education and Promotion, Global Health Leadership, and GeoHealth. Tracks consist of 47 credit units and may be completed in as little as two years. In addition to the core and concentration requirements, students must complete a practicum and capstone project. Classes are delivered via state-of-the-art technology that allows students 24/7 access and help desk, self-paced content, live online sessions, virtual office hours, and collaborative learning. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://mphdegree.usc.edu/">Homepage</a></li>
                                <li>Tuition per credit is $1,666.</li>
                            </ul>
                            <h3> 21 (tied). University of Massachusetts &#8211; Amherst</h3>
                            <p><img src="../../wp-content/uploads/2015/02/1.-UMass.png" alt="1. UMass" width="125" height="125" class="alignright size-full wp-image-1838" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-UMass.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-UMass-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Massachusetts &#8211; Amherst offers a MPH in Nutrition, consisting of 44 credit hours. The curriculum breaks down as follows: 15 core, 17 nutrition concentration, 3 elective, 3 practicum, and 6 capstone. Part-time students may complete their degrees within three years. The program&#8217;s emphases include comparative healthcare systems, global health in the developing world, community nutrition, and nutritional epidemiology, among other subjects. This program is CPEH-accredited.</p>
                            <ul>
                                <li><a href="http://www.umassonline.net/degrees/online-degree-master-public-health-nutrition">Homepage</a></li>
                                <li>Tuition per credit is $590.</li>
                            </ul>
                            <h3> 21 (tied). Indiana Wesleyan University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/indiana-wes-e1444431211202.jpg" alt="indiana-wes" width="125" height="48" class="alignright size-full wp-image-2674" />Indiana Wesleyan University&#8217;s online program consists of 46 credit hours, divided into one accelerated 8-week course at a time. A practicum and capstone project are required. Upon graduation, students should be able to explain public health concepts to community members, promote diversity in public health, plan and develop program strategies, and apply theory to real-world situations. Designed for working professionals, IWU&#8217;s program is flexible to its students schedules and allows the track to be completed on students&#8217; own time.</p>
                            <ul>
                                <li><a href="http://www.indwes.edu/Adult-Graduate/Master-of-Public-Health/">Homepage</a></li>
                                <li>Tuition per credit is $592.</li>
                            </ul>
                            <h3> 25. University of Memphis</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/10/memphis-e1444431282568.png" alt="memphis" width="125" height="39" class="alignright size-full wp-image-2705" />The University of Memphis offers a generalist, 100% online MPH that focuses on the five primary fields: biostatistics, epidemiology, environmental health, health systems management, and social and behavioral sciences. In particular,<br />
                                Memphis&#8217;s program emphasizes urban and global health issues, with a special attention to advocacy for the underserved. In addition to a unique, full-service online delivery format, Memphis also offers the same library services, career help, and veterans and disabilities resources of its on-campus students.
                            </p>
                            <ul>
                                <li><a href="hhttp://www.memphis.edu/uofmonline/Programs/mph.php">Homepage</a></li>
                                <li>Tuition per credit is $488.</li>
                            </ul>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-public-health-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:50:27 GMT -->
</html>
