@{
    ViewBag.Title = "o_mas_hi";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-healthcare-informatics-degree-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:50 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Masters in Healthcare Informatics Degree Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/stylea90c.css?ver=1461897522' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIta90c.css?ver=1461897522' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scriptsa90c.js?ver=1461897522'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexd39d.html?p=3065' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed8d66.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-healthcare-informatics-degree-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed61b0?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-healthcare-informatics-degree-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-3065 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Masters in Healthcare Informatics Degree Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/12/BCR_23_HealthInformatics_Masters_badge-300x240.png" alt="BCR_23_HealthInformatics_Masters_badge" width="300" height="240" class="alignright size-medium wp-image-4252" />Healthcare in our world is evolving at a substantial rate,  and taking the industry with it as new positions are taking their place in the spotlight. Leading this evolution is healthcare informatics, a specialization wherein professionals employ new technology,  stronger communication, and hands on healthcare to improve the quality and safety of patient care. The field is growing considerably, as evidenced by the findings of Burning Glass, a labor market analysis firm, who showed that between 2007 and 2011 job postings for healthcare informatics jumped by an impressive 36%. Healthcare informatics is so new that the Bureau of Labor Statistics tracks only a little more than half of the jobs in this field; the actual growth of the industry is suspected to be much larger than we&#8217;ve seen documented to date. Some even report it to be one of the fastest growing sectors of the US economy.</p>
                            <h3>Featured Online Masters in Healthcare Informatics Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-of-cincinnati?program=14279&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Cincinnati: Master of Health Informatics</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-of-illinois-at-chicago?program=12979&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Illinois at Chicago: Master of Science in Health Informatics</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-of-miami?program=20060&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Miami: MS &#8211; Health Informatics </a></strong></li>
                            </ul>
                            <p>In the field of healthcare informatics there is a positive outlook for those with all levels of experience. There are entry level positions in the field for those with little experience, however, the management positions require clinical education and experience. The good news for students is that schools have reacted quickly to this growing field and now many of them offer healthcare informatics masters programs where students can get a head start on a massively expanding field, and build the necessary experience to earn the higher-up positions. In this ranking, we explore 25 of the best programs for earning a master&#8217;s of healthcare informatics. You can find an explanation of the metrics used in this ranking below.</p>
                            <h3>1. Capella University</h3>
                            <p><img class="alignright size-full wp-image-3121" src="../../wp-content/uploads/2015/12/capella-university.jpg" alt="capella-university" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Capella University prides itself on its ability to adapt to changing markets and evolving industries, propelling it to the forefront of healthcare informatics education. Their greatest advance to date is Vila Health, a cutting edge virtual lab that is only available to their students. By creating real challenges, this tool serves to improve interoperability, understand clinical workflow, employ meaningful use initiatives, learn ICD–10, and maintain population health. The program ensures a quality curriculum that is aligned with with the Healthcare Information and Management Systems Society (HIMSS) standards and the National Center for Healthcare Leadership (NCHL) Competency Model, all while maintaining a low cost.</p>
                            <ul>
                                <li><a href="https://www.capella.edu/online-degrees/mha-health-care-informatics/">Homepage</a></li>
                            </ul>
                            <h3>2. Regis University</h3>
                            <p><img class="alignright size-full wp-image-2416" src="../../wp-content/uploads/2015/08/regis-university.jpg" alt="regis-university" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/regis-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Regis University’s College of Computer and Information Sciences offers students a Master of Science in Healthcare Informatics and Information Management. The program is one of the most flexible on this list as it can be completed entirely online. Students may login day or night to complete coursework on their schedules, which can be completed in as little as 8 weeks. The entire program can be completed in as little as 24 months, and as such offers both prospective students and professionals looking to enter healthcare informatics field a quick and reliable education option.</p>
                            <ul>
                                <li><a href="http://www.regis.edu/CCIS/Academics/Degrees-Programs/Graduate-Programs/Health-Care-Informatics-and-Information-Management.aspx">Homepage</a></li>
                            </ul>
                            <h3>3. University of Massachusetts Lowell</h3>
                            <p><img class="alignright size-full wp-image-2682" src="../../wp-content/uploads/2015/10/mass-lowell-e1444424483344.jpg" alt="mass-lowell" width="125" height="54" /></p>
                            <p>The University of Massachusetts Lowell offers a blended education option, where students learn through a combination of online and face-to-face learning. This allows students the best of both worlds, the flexibility and convenience of online education while maintaining the benefits of real interaction and student-instructor relationships. The program offers unique options of a masters track or a 4-course graduate certificate option for those looking to supplement professional experience. In either choice, students will receive personal advisement from faculty in the Department of Community and Sustainability, who deliver a unique perspective on healthcare informatics that is focused on the design, evaluation, and implementation of health policies and programs.</p>
                            <ul>
                                <li><a href="https://continuinged.uml.edu/HIM/">Homepage</a></li>
                            </ul>
                            <h3>4. University of Mississippi Medical Center</h3>
                            <p><img class="alignright size-full wp-image-3066" src="../../wp-content/uploads/2015/11/MIssissippi_med_center-e1448751995932.jpg" alt="MIssissippi_med_center" width="125" height="49" /></p>
                            <p>The University of Mississippi Medical Center offers both bachelor’s and master’s options in healthcare informatics. Both of which can be completed entirely online. The University stands behind the quality of these programs, as the University’s School of Health Related Professions (SHRP) adheres to the Quality Matters Implementation Plan in its development of online curriculum, which is rigorously tested to show its importance to the real-world challenges and demands of the career. These efforts seem to have worked as a recent accreditation report stated that students and employers both reported a 100% satisfaction rate with the program.</p>
                            <ul>
                                <li><a href="https://www.umc.edu/HIIM/">Homepage</a></li>
                            </ul>
                            <h3>5. Boston University</h3>
                            <p><img class="alignright size-full wp-image-1931" src="../../wp-content/uploads/2015/03/15.-Boston.jpg" alt="15. Boston" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/15.-Boston.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/15.-Boston-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Boston University is a prestigious school in the field of computer science and information technology. Receiving national recognition, U.S. News &amp; World Report found the University’s computer information technology program to be the third best in the nation. The University offers study in healthcare informatics through a unique specialization, that is, a Master of Science in Computer Information Systems with a concentration in healthcare informatics. For those with a strong interest in computer science and information technology, this program option offers the perfect spin on the healthcare informatics track.</p>
                            <ul>
                                <li><a href="http://www.bu.edu/online/programs/graduate-degree/computer-information-systems/health-informatics/courses.shtml">Homepage</a></li>
                            </ul>
                            <h3>6. Michigan Technological University</h3>
                            <p><img class="alignright size-full wp-image-3067" src="../../wp-content/uploads/2015/11/michigan_tech-e1448752064711.png" alt="michigan_tech" width="125" height="87" /></p>
                            <p>Michigan Technological University is a nationally recognized school and while the price tag on credit hours might be higher than most, the quality of education is guaranteed through proven curriculum and quality faculty. The University offers a masters in healthcare informatics that is entirely online, allowing students to learn at their convenience amid hectic work lives and personal commitments. The program is focused on preparing students in a variety of areas that are fundamental to healthcare informatics such as healthcare security, disease management, evidence-based medicine, and complex medical decisions. Students may choose how to complete the program in three options. They may either pursue a thesis of their choosing throughout their time in the program, pursue a research project, or tailor coursework to develop personal interests and career goals.</p>
                            <ul>
                                <li><a href="http://www.mtu.edu/gradschool/programs/degrees/informatics/">Homepage</a></li>
                            </ul>
                            <h3>7. Dakota State University</h3>
                            <p><img class="alignright size-full wp-image-1501" src="../../wp-content/uploads/2013/09/dakota-state-university-computer-science.jpg" alt="dakota-state-university-computer-science" width="150" height="152" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/dakota-state-university-computer-science.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/dakota-state-university-computer-science-80x80.jpg 80w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/dakota-state-university-computer-science-148x150.jpg 148w" sizes="(max-width: 150px) 100vw, 150px" /></p>
                            <p>Dakota State University is famous for its proficiency in delivering education that prioritizes understanding modern technology, which is a crucial aspect of excelling in the field of healthcare informatics. As such students in the healthcare informatics masters program will be able to take classes in network technology, security, and management, as well as data privacy, analytics, application development, and more. The program is also ranked 2nd most affordable on this list and was dubbed a “Best Buy&#8221; by GetEducated.com. The program also prioritizes student and career outcomes and thus it works closely with students to help them get the internships that can set the groundwork for a successful career.</p>
                            <ul>
                                <li><a href="http://dsu.edu/graduate-students/mshi">Homepage</a></li>
                            </ul>
                            <h3>8. University of Illinois at Chicago</h3>
                            <p><img class="alignright size-full wp-image-3068" src="../../wp-content/uploads/2015/11/illinois_chicago-e1448752537782.png" alt="illinois_chicago" width="125" height="60" /></p>
                            <p>The University of Illinois is a prestigious school that offers multiple healthcare informatics education tracks at the bachelors, masters, and doctoral level. Students can earn their master of science in healthcare informatics at the University through entirely online coursework with only one required campus visit. The program offers two program options. Students may choose the coursework option where they will learn the material and develop skill sets according to set curriculum standards, or they may choose to learn according to research-based standards, where students will learn the material by studying relevant research and conducting research of their own. Graduate students pursuing the research option are eligible to take the national Registered Health Information Administrator (RHIA) credential exam offered by the American Health Information Management Association.</p>
                            <ul>
                                <li><a href="http://www.online.uillinois.edu/catalog/ProgramDetail.asp?ProgramID=645">Homepage</a></li>
                            </ul>
                            <h3>9. The University of Cincinnati</h3>
                            <p><img class="alignright size-full wp-image-1904" src="../../wp-content/uploads/2013/10/17.-Cincinnati.jpg" alt="17. Cincinnati" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Cincinnati offers a fully online and accredited masters in healthcare informatics program. The program has been ranked as one of the nation’s top analytics programs by InformationWeek for its commitment to an interdisciplinary education. The program also offers students flexibility in the application process and waives the GMAT or GRE requirements for students with a satisfactory GPA. For those wishing to take an accelerated route and willing to take on more coursework per semester, the program can be completed in as little as two years.</p>
                            <ul>
                                <li><a href="http://mshi.uc.edu/">Homepage</a></li>
                            </ul>
                            <h3>10. Kaplan University</h3>
                            <p><img class="alignright size-full wp-image-2158" src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Kaplan University is a well-known name in online education and has been at the forefront of distance-learning for years. Through specialized and convenient learning options for busy professionals and students with demanding schedules, Kaplan University has earned its place in the niche of fast-paced online graduate education where students can expect the newest virtual learning technology. Kaplan touts a strong adherence to career outcomes and goals, and focuses on delivering a dynamic curriculum that is designed to prepare students for the evolving industry of healthcare informatics. The program focuses on coursework and learning principles that prepare students for positions in various sectors including hospitals, primary-care facilities, physician offices, insurance companies, and pharmacies.</p>
                            <ul>
                                <li><a href="http://www.kaplanuniversity.edu/health-sciences/health-informatics-master-degree.aspx">Homepage</a></li>
                            </ul>
                            <h3>11. Northwestern University</h3>
                            <p><img class="alignright size-full wp-image-1613" src="../../wp-content/uploads/2015/01/northwestern-mba.jpg" alt="northwestern-mba" width="150" height="150" /></p>
                            <p>Northwestern’s online healthcare informatics program works in close partnership with Northwestern University’s Feinberg School of Medicine, a well-recognized leader in the healthcare community. This partnership allows for a deeper exploration of hospital-oriented studies, which is organized into three specialization options: Clinical Informatics, Health Technology Informatics, and Health Administration Informatics. The program is dedicated to preparing students for both the professional world and certification exams such as the medical informatics board certification, a designated medical subspecialty. While the program’s online format is especially flexible, its virtual classroom format preserves the collaboration and interaction between peers and with instructors to incorporate elements of traditional education.</p>
                            <ul>
                                <li><a href="http://sps.northwestern.edu/program-areas/graduate/health-informatics/">Homepage</a></li>
                            </ul>
                            <h3>12. Grand Canyon University</h3>
                            <p><img class="alignright size-full wp-image-1798" src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Grand Canyon University’s healthcare informatics program is conveniently offered in a fully online format, though the program is designed to promote engagement and discussion during virtual classes. Small class sizes mean that instructors have more time and energy to devote to individual students, which is a well-advertized hallmark of this program. The involvement of instructors helps students to determine career and education goals so that they can select the necessary coursework required to build a specific experience background. This guidance and customization takes the place of the specialization tracks that other programs offer, but while it sacrifices a certain amount of direction, it also allows students to personalize their learning experience on a deeper level.</p>
                            <ul>
                                <li><a href="http://www.gcu.edu/degree-programs/master-of-science-in-health-care-informatics">Homepage</a></li>
                            </ul>
                            <h3>13. Anna Maria College</h3>
                            <p><img class="alignright size-full wp-image-3069" src="../../wp-content/uploads/2015/11/anna_maria-e1448752226426.png" alt="anna_maria" width="125" height="57" /></p>
                            <p>Anna Maria College offers a business-oriented healthcare informatics program, where the degree is actually an MBA. Thus the program offers a centralized focus on the aspects of business management and analytics in the healthcare informatics industry. The program is notably flexible in accommodating student schedules. With multiple start dates, personalized class times, and 24/7 access to the online coursework, students can pursue their degree amidst demanding schedules. Those willing to take on more work can also shave months off of the program schedule by taking accelerated courses. For students with a background or interest in business, Anna Maria’s program offers a highly appealing option.</p>
                            <ul>
                                <li><a href="http://online.annamaria.edu/mba/health-informatics-specialization-overview">Homepage</a></li>
                            </ul>
                            <h3>14. New England College</h3>
                            <p><img class="alignright size-full wp-image-3070" src="../../wp-content/uploads/2015/11/new_england_college-e1448752273116.jpg" alt="new_england_college" width="125" height="94" /></p>
                            <p>New England College is another school that offers an MBA with a healthcare informatics specialization. The program caters to self-motivated students who are looking to work hard to achieve their degree amid demanding schedules. For those able to make the commitment, the program can be completed in as little as 20 months. While the program can be completed efficiently it maintains a high standard for quality of education and adheres to a curriculum that is designed to promote the skills needed to excel in positions of leadership in the healthcare informatics industry. During the last phases of the program, students will be tasked with assignments and project planning that engages students’ communities and requires them to learn interpersonal skills and leadership responsibilities.</p>
                            <ul>
                                <li><a href="http://www.nec.edu/academics/graduate-degree-online-programs/mba/health-informatics/">Homepage</a></li>
                            </ul>
                            <h3>15. Brandeis University</h3>
                            <p><img class="alignright size-full wp-image-2476" src="../../wp-content/uploads/2015/09/Brandeis-University.jpg" alt="Brandeis University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Brandeis-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Brandeis-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Brandeis University is a nationally ranked institution and a popular name in online education. The University offers a master of science in health and medical informatics. The program emphasizes its focus on information and organizational technology, and prepares students to develop IT solutions in order to improve organizational performance and healthcare outcomes. While the price per credit hour is higher than most of the others on this list, the program also offers unique strengths that justify the expense. For instance, the program employs “featured faculty&#8221; in the healthcare informatics program. These faculty are enormously successful professionals from the industry, who are dedicated to investigating the nature of their success and promoting it in their students.</p>
                            <ul>
                                <li><a href="http://www.brandeis.edu/gps/future-students/learn-about-our-programs/health-and-medical-informatics.html">Homepage</a></li>
                            </ul>
                            <h3>16. The University of Texas</h3>
                            <p><img class="alignright size-full wp-image-1595" src="../../wp-content/uploads/2015/01/university-texas-mba.jpg" alt="university-texas-mba" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/university-texas-mba.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/university-texas-mba-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" /></p>
                            <p>The University of Texas’s school of biomedical informatics offers a master of science in health informatics. Though the program is based out of the prestigious Health Science Center at Houston, it can be completed entirely online. The program offers two specialization tracks. The first is in traditional healthcare informatics research, where students explore the relevant data in the industry. The second option is in applied healthcare informatics where significant focus is placed on applying research and data to various problems and institutions of the healthcare industry. For students who are intimidated by student loans or who are on a limited budget, it is important to note that this program is fourth most affordable on our list.</p>
                            <ul>
                                <li><a href="https://sbmi.uth.edu/prospective-students/academics/masters.htm">Homepage</a></li>
                            </ul>
                            <h3>17. St. Joseph’s University</h3>
                            <p><img class="alignright size-full wp-image-1918" src="../../wp-content/uploads/2015/02/16.-St.-Josephs-Maine.jpg" alt="16. St. Josephs Maine" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-St.-Josephs-Maine.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-St.-Josephs-Maine-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>St. Joseph’s University is a nationally ranked university that offers a master of science in health administration with a healthcare informatics focus. This focus on the administrative aspects of the industry allows the program to establish a centralized focus around the performance of organizational systems, which is a highly prioritized mission of modern day healthcare systems. As such students with a background in healthcare administration can find themselves at the top of the professional ladder in healthcare informatics. The program evidences this through its dedication to career outcomes and boasts of many successful alumni Fortune 500 executives from the private sector and administrators in some of America’s most prestigious hospitals, including Johns Hopkins Hospital and the Hospital of the University of Pennsylvania. The program pulls from the experience of such successful alumni and employs industry-sourced faculty to direct the program’s curriculum towards up-to-date demands of the evolving industry.</p>
                            <ul>
                                <li><a href="http://online.sju.edu/programs/masters-health-administration-degree.asp">Homepage</a></li>
                            </ul>
                            <h3>18. Walden University</h3>
                            <p><img class="alignright size-full wp-image-2433" src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Walden University is a school with a positive reputation for higher learning options for online students. This commitment to distance learning means that students can expect the utmost in flexibility and online learning technology. The University offers a master of science in health informatics through a program that is extremely flexible, catering to the busiest of students and professionals. This flexibility means that the program offers multiple start dates, personalizable coursework options, and 24/7 access. The program boasts cutting-edge virtual learning technology in the form of virtual classrooms that engage collaboration between peers and versatile coursework formats that can be downloaded to phones, played as mp3’s, or watched in video format.</p>
                            <ul>
                                <li><a href="http://www.waldenu.edu/masters/ms-in-health-informatics">Homepage</a></li>
                            </ul>
                            <h3>19. American Sentinel University</h3>
                            <p><img class="alignright size-full wp-image-3071" src="../../wp-content/uploads/2015/11/american_sentinal_university-e1448752376360.jpg" alt="american_sentinal_university" width="125" height="107" /></p>
                            <p>The American Sentinel University offers a fully online master of science in information systems management. As the name suggests the program focuses on information technology and systems of incorporating big data in the modern healthcare framework. Thus, this program specializes in preparing students to master the industry’s technology. The University is well-known for its focus on healthcare education, and this focus allows the program higher levels of efficiency and affordability, making it one of the fastest and most affordable programs on this list.</p>
                            <ul>
                                <li><a href="http://www.americansentinel.edu/management/m-s-information-systems">Homepage</a></li>
                            </ul>
                            <h3>20. Louisiana Tech University</h3>
                            <p><img class="alignright size-full wp-image-3072" src="../../wp-content/uploads/2015/11/louisiana_tech_university-e1448752422304.jpg" alt="louisiana_tech_university" width="125" height="58" /></p>
                            <p>Louisiana Tech University’s department of health informatics and information management based out of the College of Applied Sciences offers a master of health informatics degree with both online and traditional learning options. While there are advantages to programs that specialize in distance learning, programs like this one that offer both have the unique strength of being able to incorporate on-campus learning into online learning. The same faculty teach both groups of students, and online lectures, virtual projects, and online-bulletin boards create a link of common coursework where both on-campus and distance learning students can collaborate.</p>
                            <ul>
                                <li><a href="http://him.latech.edu/masters.html">Homepage</a></li>
                            </ul>
                            <h3>21. Davenport University</h3>
                            <p><img class="alignright size-full wp-image-2423" src="../../wp-content/uploads/2015/08/davenport-university.jpg" alt="davenport-university" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/davenport-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/davenport-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Davenport University’s College of Health Professions offers a master of science in health informatics and information management. The program aims to meet the diverse set of demands and skill sets required by the healthcare informatics industry through a well-rounded interdisciplinary curriculum. Students can expect education in the IT, administration, and management aspects of the field. In order to combat the shortcomings of online education, the program incorporates experiential learning components in the curriculum so that students may learn the skills of teamwork and leadership, while practicing the real-world applicability of the coursework.</p>
                            <ul>
                                <li><a href="http://www.davenport.edu/college-health-professions/programs-and-degrees/master-science-informatics-and-information-">Homepage</a></li>
                            </ul>
                            <h3>22. Northeastern University</h3>
                            <p><img class="alignright size-full wp-image-2334" src="../../wp-content/uploads/2015/08/1.-Northeastern-University.jpg" alt="1. Northeastern University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Northeastern University is a nationally ranked as a ‘Top 50 institution’ and offers an array of online professional degree programs. Among these is the master of science in health informatics. According to the University, the healthcare industry is experiencing a monumental and historic transition into the age of big data and information technology. The program’s proclaimed mission is to put its students at the forefront of this transition, training them to master the skills need to capture, analyze, and share the information of modern healthcare systems. The University also maintains the unique position that online education does not sacrifice interconnection and collaboration between peers and faculty, but actually increases the level of interaction, and the program’s coursework mirrors this position, focusing on group projects and open-forum discussions.</p>
                            <ul>
                                <li><a href="http://www.northeastern.edu/online/degrees/masters-health-informatics/">Homepage</a></li>
                            </ul>
                            <h3>23. University of Maryland</h3>
                            <p><img class="alignright size-full wp-image-2889" src="../../wp-content/uploads/2015/10/maryland_college_park-e1446139082786.gif" alt="maryland_college_park" width="125" height="64" /></p>
                            <p>The University College at The University of Maryland offers a fully online master of science in health informatics administration. As implied by the name of the program, coursework adheres to an emphasis on both healthcare administration and the information sciences. Coursework between these two topics are evenly split with a capstone project designed to help students refine personal interests and career goals. The program prioritizes career outcomes and so it aims to develop students into professionals who have mastered the intersection of IT, health administration, and the systems of modern healthcare.</p>
                            <ul>
                                <li><a href="http://www.umuc.edu/academic-programs/masters-degrees/health-informatics-administration.cfm">Homepage</a></li>
                            </ul>
                            <h3>24. East Carolina University</h3>
                            <p><img class="alignright size-full wp-image-1845" src="../../wp-content/uploads/2015/02/11.-East-Carolina.png" alt="11. East Carolina" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/11.-East-Carolina.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/11.-East-Carolina-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>East Carolina University’s Department of Health Services and Informations Management offers a master of science in health informatics and information management. The University is a nationally ranked institution with many well-regarded health education programs. The informatics program emphasizes the interdisciplinary nature of the industry where computer science, information technology, and hospital administration intersect. This emphasis is meant to prepare students for the evolving dynamic between the relevant disciplines, so that students are not only prepared for how the industry is currently but also for how it may change throughout their career,</p>
                            <ul>
                                <li><a href="http://www.ecu.edu/cs-dhs/hsim/hiim.cfm">Homepage</a></li>
                            </ul>
                            <h3>25. Drexel University</h3>
                            <p><img class="alignright size-full wp-image-1848" src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Based out of the College of Computing and Informatics, with a curriculum supported by the College of Nursing and Health Professions, Drexel University’s online informatics degree program offers a reputable and convenient option. As a member of the American Medical Informatics Association Academic Forum, the University is committed to providing the “best practices&#8221; in the field of informatics education. As a long-time proponent of distance learning options, students may also expect the newest technology in online education. The University also emphasizes its student involvement, and issues advisers and mentors to guide students as they progress through the program. While definitely more costly than other options, the program maintains extremely positive student satisfaction surveys and is of high enough repute to justify the expense.</p>
                            <ul>
                                <li><a href="http://online.drexel.edu/online-degrees/information-sciences-degrees/ms-hci/index.aspx">Homepage</a></li>
                            </ul>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: The average out-of-state tuition per credit hour.</li>
                                <li><strong>Flexibility (1/3)</strong>: Whether the program offers specialized tracks, flexible hours, or personalized course loads.</li>
                                <li><strong>Academic Reputation (1/3)</strong>: The rank of the school’s parent institution according to other prominent rankings such as <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-healthcare-informatics-degree-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:58 GMT -->
</html>
