@{
    ViewBag.Title = "o_mas_hc";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-health-care-administration-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:42 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Masters in Health Care Administration Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style361f.css?ver=1461897520' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt361f.css?ver=1461897520' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts361f.js?ver=1461897520'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexec50.html?p=2933' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embedd15f.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-health-care-administration-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed14f4?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-health-care-administration-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2933 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Masters in Health Care Administration Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/12/BCR_34_HealthCareAdmin_Masters_badge-300x240.png" alt="BCR_34_HealthCareAdmin_Masters_badge" width="300" height="240" class="alignright size-medium wp-image-4273" />Masters in health care administration degrees are one of the most flexible graduate degrees available, largely due to the wide range of settings in which health care administration is applicable. From health care IT firms, to nursing homes, from insurance to individual services, there are many settings in which altruistic health care goals operate in tandem with the need for business sense. According to the Bureau of Labor Statistics, health care and social assistance jobs (many of which could use health care admin skills) are expected to increase in number by 25.4% from 2012-2016. That&#8217;s an additional four million jobs, largely due to the unique demands of aging populations and longer life expectancy. </p>
                            <h3>Featured Online Masters In Health Care Administration Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/ohio-university?program=4717&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Ohio University: Master of Health Administration</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-of-cincinnati?program=6942&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Cincinnati: Master of Health Administration</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/orms/grand-canyon-university?program=6431&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Grand Canyon University: MS &#8211; Health Care Administration</a></strong></li>
                            </ul>
                            <p>If you&#8217;re looking to get into a health care management position&#8211;whether you&#8217;re already working in a health care setting or not&#8211;masters in health care administration are one of the best paths you can choose to follow. Check out 25 of the best online offerings below. </p>
                            <h3>1. Colorado State University &#8211; Global Campus</h3>
                            <p><img src="../../wp-content/uploads/2015/02/1.-Colorado-State.jpg" alt="1. Colorado State" width="125" height="125" class="alignright size-full wp-image-1912" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Colorado State University&#8217;s Global Campus offers a fully online masters in healthcare administration and management program that is offered with a wide variety of specializations (over a dozen, allowing many multi-disciplinary combinations). The program can also be coupled with a Masters of Public Health to make graduates even more marketable. Year around and potentially accelerated courses allow students even greater flexibility in their studies. The entire program consists of 36 credit hours. Colorado State University is currently a nationally ranked university according to <i>US News</i>. </p>
                            <ul>
                                <li><a href="https://csuglobal.edu/graduate/programs/masters-degrees/healthcare-administration-and-management">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $500 </li>
                            </ul>
                            <h3>2. Walden University </h3>
                            <p><img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Walden University offers a fully online masters in healthcare administration that may be taken in three tracks: a general offering, leadership and organizational leadership offering, and a systems and policy offering. The program is aligned with professional competencies in demand, and supported through Walden&#8217;s years of experience in online education as well as mobilearn technology, allowing students to work on coursework through a variety of devices. The entire program requires 53 credit hours to complete. Walden University is currently classified as a national university by <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.waldenu.edu/masters/master-of-healthcare-administration">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $445 </li>
                            </ul>
                            <h3>3. Capella University </h3>
                            <p><img src="../../wp-content/uploads/2015/12/capella-university.jpg" alt="capella-university" width="125" height="125" class="alignright size-full wp-image-3121" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Capella University offers a fully online masters in healthcare administration that may be augmented with concentrations in Health Care Quality, Risk, and Regulatory Compliance or health information systems. The program has a great deal of flexibility through a generous transfer policy, multiple yearly start dates, and accelerated 10-week classes. The entire program requires 48 credit hours for completion. Certifications obtained en route to your degree can also help with more immediate workplace advancement. </p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/mha-health-administration/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $492 </li>
                            </ul>
                            <h3>4. Trident University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/trident-university.jpg" alt="trident-university" width="125" height="125" class="alignright size-full wp-image-2652" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/trident-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/trident-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Trident University offers a fully online masters in healthcare administration with four available concentration areas: conflict resolution management, health care quality assurance, health informatics, and human resource management. The first three concentrations also allow for students to obtain certifications en route to degree completion. Up to 30% of degree credits may be transferred, making Trident University one of the most flexible programs surveyed in regards to transfers. Generally the degree program may be completed in 40 semester hours. Trident University is classified as a national university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="https://www.trident.edu/degrees/ms-health-administration/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $510</li>
                            </ul>
                            <h3>5. University of Cincinnati </h3>
                            <p><img src="../../wp-content/uploads/2013/10/17.-Cincinnati.jpg" alt="17. Cincinnati" width="125" height="125" class="alignright size-full wp-image-1904" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Cincinnati offers a fully online masters in healthcare administration that can be tailored to students who have worked in a wide range of healthcare positions, including as patient care clinicians, diagnostic specialists, administrators, physicians, and health care professionals. Courses may be taken from three yearly start dates, and additional flexibility in the online program allows for students to either complete the program in two years or proceed at a slower pace. The University of Cincinnati is currently a nationally ranked university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://healthadministration.uc.edu/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $747</li>
                            </ul>
                            <h3>6. George Washington University </h3>
                            <p><img src="../../wp-content/uploads/2015/08/George-Washington.jpg" alt="George Washington" width="125" height="125" class="alignright size-full wp-image-2356" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/George-Washington.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/George-Washington-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>George Washington University offers an online masters in healthcare administration that is broken up into skillset-based modules (eight in all), as well as immersion experiences. Modules are 10-weeks each, allowing for an accelerated program experience. By the end of the program students will have a portfolio of healthcare administration projects meant to appeal to a broad range of healthcare admin work settings. Program goals include increasing leadership, communication, relationship management, business acumen and professionalism skills within healthcare settings. George Washington University is a top ranked national university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="https://mha.gwu.edu/academics/academics-overview/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $1,585</li>
                            </ul>
                            <h3>7. Midwestern State University</h3>
                            <p><img src="../../wp-content/uploads/2015/11/midwestern_state-e1446483111906.png" alt="midwestern_state" width="125" height="125" class="alignright size-full wp-image-2934" /></p>
                            <p>Midwestern State University offers a fully online masters in healthcare administration that is designed for students who would like to work full time and have the flexibility to continue taking classes towards an advanced degree. The Degree requires 45 credit hours for graduation, including 15 credit hours of general requirements, and over 30 credit hours of potential electives. The program has a general focus as well as the ability to receive certification in health services administration en route to obtaining your degree. Midwestern State University is classified as a regional university according to <i>US News</i>. </p>
                            <ul>
                                <li><a href="http://www.mwsu.edu/academics/hs2/healthandpublic/mha/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: </li>
                            </ul>
                            <h3>8. Louisiana State University at Shreveport</h3>
                            <p><img src="../../wp-content/uploads/2015/11/shreveport-e1446483184278.png" alt="shreveport" width="125" height="44" class="alignright size-full wp-image-2935" /></p>
                            <p>Louisiana State University at Shreveport offers a fully online masters in healthcare administration available through 10 online courses. Courses may be taken on a full or part-time basis, with the full program completable in as little as a year. The program is available to students with any type of undergraduate degree. However, students without experience in core competency areas may be required to take two additional courses. Course rotations allow for up to four courses to be taken in the fall as well as spring, and two accelerated courses to be taken in the summer. Louisiana State University at Shreveport is currently classified as a regional university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.lsus.edu/academics/graduate-studies/graduate-programs/online-master-of-health-administration">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $331 </li>
                            </ul>
                            <h3>9. California State University &#8211; East Bay</h3>
                            <p><img src="../../wp-content/uploads/2015/11/california_state_east_bay-e1446483244979.gif" alt="california_state_east_bay" width="125" height="53" class="alignright size-full wp-image-2936" /></p>
                            <p>California State University at East Bay offers a fully online masters in healthcare administration degree. The degree is offered on a quarter system, allowing for students to start classes multiple times a year and accelerate their degree into as little as 6 quarters of coursework. The curriculum centers around 5 core competency areas as established by the health care leadership alliance: communication and relationship management, leadership, professionalism, knowledge, and business acumen. California State University at East Bay is currently classified as a regional university by <i>US News</i>.</p>
                            <ul>
                                <li><a href="https://www.ce.csueastbay.edu/ce/programs/health-care-administration/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $339 </li>
                            </ul>
                            <h3>10. Kaplan University </h3>
                            <p><img src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" class="alignright size-full wp-image-2158" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Kaplan University offers a fully online masters in healthcare administration degree geared towards preparing students towards rapid healthcare industry changes in technology, economics, ethics, finance, policy, and management. The entire program requires 52 credit hours for graduation, as well as a health capstone project. A large number of start dates are available yearly, increasing program flexibility. Kaplan&#8217;s long experience with online learning, as well as their device agnostic platform also complement learners looking for increased flexibility. Kaplan University is currently classified as a regional university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.kaplanuniversity.edu/health-sciences/health-care-administration-master-degree.aspx">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $441 </li>
                            </ul>
                            <h3>11. Utica College </h3>
                            <p><img src="../../wp-content/uploads/2015/11/utica_college-e1446483303978.jpg" alt="" width="125" height="31" class="alignright size-full wp-image-2937" /></p>
                            <p>Utica College offers a fully online masters in healthcare administration with five specializations: acute care, service organizations, long term care, health care advocacy and navigation, and community health and wellness. Regardless of the specialization students choose, all courses are taught so as to center around three dimensions of care that include management, leadership, and focusing on the continuum of care that patients will be pushed through. A graduate certification in health care advocacy and navigation may also be obtained en route to a degree. Utica College is currently classified as a regionally ranked university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://programs.online.utica.edu/programs/masters-health-care-administration.asp">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $635</li>
                            </ul>
                            <h3>12. Saint Joseph&#8217;s University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/Saint-Josephs.png" alt="Saint Josephs" width="125" height="125" class="alignright size-full wp-image-2816" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/10/Saint-Josephs.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/10/Saint-Josephs-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Saint Joseph&#8217;s University of Philadelphia (PA) offers a fully online masters in healthcare administration degree. The degree offers two concentrations for students to choose from, including a concentration in health care ethics (a particularly unique offering) as well as one in health informatics. Alumni from Saint Joseph&#8217;s healthcare administration program hold positions in many Fortune 500 companies as well as many of the top hospitals in the nation. Between 36 and 42 credit hours are required for completion of the degree, depending on which concentration is required. Currently Saint Joseph&#8217;s University is a regionally ranked university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://online.sju.edu/programs/masters-health-administration-degree.asp">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $720</li>
                            </ul>
                            <h3>13. Saint Leo University </h3>
                            <p><img src="../../wp-content/uploads/2015/02/12.-Saint-Leo.png" alt="12. Saint Leo" width="125" height="125" class="alignright size-full wp-image-1860" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Saint Leo University offers a fully online masters in business administration degree that contains a health care management option. The degree requires 21 credit hours of core business courses and 15 credit hours of health care management courses. While most students &#8212; particularly those holding down a job and pursuing their degree &#8212; will have their hands full with the usual MBA in health care management, students may opt to pursue a second specialization concurrently with approval of the program director. Currently Saint Leo University is a regionally ranked university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://online.saintleo.edu/academics/masters-programs/mba-health-care-management.aspx">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $720</li>
                            </ul>
                            <h3>14. Penn State World Campus</h3>
                            <p><img src="../../wp-content/uploads/2015/01/9.-Penn-State.jpg" alt="9. Penn State" width="125" height="125" class="alignright size-full wp-image-1797" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Penn State World Campus offers a fully online masters in health administration degree with a focus on health policy and administration. 49 credit hours are required to complete the program, which is designed to be completed in 28 months. Curriculum is wide ranging, and includes coursework in financing health care, clinical issues for health services management, quality improvement of health care, health care marketing, health economics, health law, and information systems in health. Penn State is currently a top ranked national university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/health-policy-and-administration-masters/overview">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $930 </li>
                            </ul>
                            <h3>15. Grand Canyon University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Grand Canyon University offers a fully online masters in health care administration that requires 48 credit hours for graduation. Courses are wide ranging and include the study of contemporary care delivery models, health care policies and economics, legality and ethics in health care, cost models, workforce management, marketing communication strategies, health care finance, leadership styles and development, and health care business analysis. Grand Canyon University is currently classified as a regional university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.gcu.edu/degree-programs/master-of-science-in-health-care-administration">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $500 </li>
                            </ul>
                            <h3>16. Liberty University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" class="alignright size-full wp-image-1803" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Liberty University offers a fully online masters in business administration with a health care management concentration. The program requires 45 credit hours of study to graduate, yet allows up to 12 credit hours to be transferred in (or slightly over 1/4th of the program). Liberty University also increases the flexibility of their degrees through offering life and work experience credits, as well as intensives to speed up the acquisition of credits. Though an MBA program, the health care management component tackles the professional, ethical, and financial components of health care administration. Liberty University is currently classified as a regional university by <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.liberty.edu/online/masters/business-administration/healthcare-management/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $540</li>
                            </ul>
                            <h3>17. Valparaiso University </h3>
                            <p><img src="../../wp-content/uploads/2015/11/valparaiso-e1446483510909.png" alt="valparaiso" width="125" height="49" class="alignright size-full wp-image-2938" /></p>
                            <p>Valparaiso University offers a masters of science in health care administration degree fully online. The degree requires 36 credit hours, 27 of which cover core competencies, and 9 of which cover selected specializations: strategic leadership, health informatics, forensic health, and gerontology. All prospective students are advised to have some background in basic statistics, with health care informatics students required to have taken statistics, calculus, and some programming coursework. Valparaiso University is currently a regionally ranked institution according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.valpo.edu/grad/healthcare-administration/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $615 </li>
                            </ul>
                            <h3>18. Seton Hall University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/seton-hall.jpg" alt="seton-hall" width="125" height="125" class="alignright size-full wp-image-2632" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/seton-hall.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/seton-hall-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Seton Hall University offers a fully online degree program in health care administration that requires 42 credit hours to complete. The degree is meant to prepare managers with work-ready expertise in health care fields. Generally students finish the course of study within 6 semesters. The program is unique through its integration of small &#8220;learning team&#8221; cohorts, with increased flexibility. In-person intensives are also available, allowing students to accelerate credit acquisition. Seton Hall University is a nationally ranked university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="https://www13.shu.edu/academics/gradmeded/mha-online/index.cfm">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $1,135 </li>
                            </ul>
                            <h3>19. Park University </h3>
                            <p><img src="../../wp-content/uploads/2015/11/park_university-e1446483666845.png" alt="park_university" width="125" height="64" class="alignright size-full wp-image-2939" /></p>
                            <p>Park University offers a fully online masters in health care administration that requires 36 credit hours and a comprehensive exam to graduate from. Courses are designed to establish or augment the knowledge of health care workers in organizational, legal, financial, political and managerial aspects of health systems management. The program is an associate member of the Association of University Programs in Health Administration. Currently Park University is classified as a regional university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.park.edu/Academics/academic-programs/graduate-programs/master-of-healthcare-administration/index.html">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $505 </li>
                            </ul>
                            <h3>20. University of Southern California</h3>
                            <p><img src="../../wp-content/uploads/2015/10/southern-california-e1444431154773.png" alt="southern-california" width="125" height="39" class="alignright size-full wp-image-2704" /></p>
                            <p>The University of Southern California offers a fully online executive master of health administration program that requires 36 semester hours worth of courses for graduation. Courses are traditional semester lengths, and the program may be completed in as little as 6 semesters over 2 years of study. A cumulative and applied learning experience called a capstone is also required of students towards the end of the program. The program offers a unique global perspective, tackling healthcare policy, societal health, statutory and regulatory issues, organizational evolution and overall industry reform on a global scale. The University of Southern California is a top ranked national university according to <i>US News</i>. </p>
                            <ul>
                                <li><a href="http://healthadministrationdegree.usc.edu/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $1,666 </li>
                            </ul>
                            <h3>21. Oklahoma State University </h3>
                            <p><img src="../../wp-content/uploads/2015/11/oklahoma_state_university-e1446483823250.png" alt="oklahoma_state_university" width="125" height="65" class="alignright size-full wp-image-2940" /></p>
                            <p>Oklahoma State University offers a fully online masters of science degree in health care administration program. The program offers specializations in health care leadership and entrepreneurship, or administration. Though healthcare experience is not required, the program is built primarily for students who are working in health care fields and who would like to move up to managerial or executive-level positions. The program of study is 32 credit hours long, and requires either a creative final project or thesis. Oklahoma State University is currently a nationally ranked university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.healthsciences.okstate.edu/hca/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $785 </li>
                            </ul>
                            <h3>22. Southern New Hampshire University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" class="alignright size-full wp-image-1800" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Southern New Hampshire University offers a fully online masters in management with a focus on health care management. Courses are offered in 10-week increments; and for students willing to take two accelerated courses in tandem, the degree can be completed in as few as 15 months. As one of the largest online universities in the US, Southern New Hampshire University offers a number of support services for distance learning such as online tutoring, a library, and career services. Currently Southern New Hampshire University is a regionally ranked university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://www.healthsciences.okstate.edu/hca/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $785 </li>
                            </ul>
                            <h3>23. Ashworth College</h3>
                            <p><img src="../../wp-content/uploads/2015/11/ashworth_university-e1446483909213.png" alt="ashworth_university" width="125" height="34" class="alignright size-full wp-image-2941" /></p>
                            <p>Ashworth College offers a fully online masters health care administration that requires 13 courses for completion. Courses are meant to be completed in three semesters for full-time students, and include a capstone project in the final semester. The program is meant to enact performance competency (skill- and knowledge-developing projects) as well as affective development (value-challenging experiences) within students in an effort to provide the next generation of health care managers with enough substantive development to perform in their roles. </p>
                            <ul>
                                <li><a href="https://www.ashworthcollege.edu/masters-degrees/healthcare-administration/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $785 </li>
                            </ul>
                            <h3>24. Ohio University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/5.-Ohio-University.jpg" alt="5. Ohio University" width="125" height="125" class="alignright size-full wp-image-1842" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/5.-Ohio-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/5.-Ohio-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Ohio University offers a fully online masters in health administration comprised of 12 academic courses. At a part-time pace of two courses per semester, coursework may be completed in 6 semesters (two years) fully online. The program is meant to help health care professionals seeking to make the move into or up management in balancing the altruistic mission of health care organizations with the need to keep institutions financially viable. Ohio University is currently a nationally ranked university according to <i>US News</i>.</p>
                            <ul>
                                <li><a href="http://healthadmin.ohio.edu/">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $1,450 </li>
                            </ul>
                            <h3>25. A.T. Still University</h3>
                            <p><img src="../../wp-content/uploads/2015/11/at-still-university-e1446483973131.gif" alt="at-still-university" width="125" height="42" class="alignright size-full wp-image-2942" /></p>
                            <p>A.T. Still University offers a fully online masters in health administration program comprised of 11 four-credit core courses and a large number of elective offerings. A capstone project is required in the program, focusing on the complexities of healthcare delivery systems, building alliances within and outside of the healthcare industry, and strategic decision-making. The entire program requires 48 credit hours. A.T. Still University is also notable through being one of the most affordable programs surveyed. </p>
                            <ul>
                                <li><a href="http://www.atsu.edu/master-of-health-administration-degree">Homepage</a></li>
                                <li>Estimated Tuition Per Credit Hour: $478 </li>
                            </ul>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: The average out-of-state tuition per credit hour.</li>
                                <li><strong>Flexibility (1/3)</strong>: Whether the program offers specialized tracks, flexible hours, or personalized course loads. </li>
                                <li><strong>Academic Reputation (1/3)</strong>: The rank of the school’s parent institution according to other prominent rankings such as <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-health-care-administration-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:50 GMT -->
</html>

