@{
    ViewBag.Title = "o_mas_nurs";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-nursing-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:50:05 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Masters in Nursing Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style3c85.css?ver=1461897525' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt3c85.css?ver=1461897525' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts3c85.js?ver=1461897525'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexc71e.html?p=2899' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed0a34.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-nursing-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embeddeed?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-nursing-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2899 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Masters in Nursing Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/12/BCR_24_Nursing_Masters_badge-300x240.png" alt="BCR_24_Nursing_Masters_badge" width="300" height="240" class="alignright size-medium wp-image-4254" />As populations age and become vulnerable to sickness and injury the demand for health professionals to care for them increases. Currently one of the largest generations in American history is reaching advanced age where they will need healthcare more than ever before. Thus the healthcare industry, and nursing specifically, is experiencing an above average growth in comparison to the national average, according to the Bureau of Labor Statistics. As hospitals grow along with their capacity for patient care the job positions that experience the most subsequent growth are nursing positions.</p>
                            <h3>Featured Online Masters In Nursing Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/kaplan-university?program=5027&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Kaplan University: MS &#8211; Nursing</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/capella-university?program=12002&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Capella University: MSN &#8211; Nursing, General (CCNE-accredited)</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/colorado-technical-university?program=18655&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Colorado Technical University: MS &#8211; Nursing</a></strong></li>
                            </ul>
                            <p>A master of science in nursing provides students with a foundation to move into specialized health care careers in positions such as a nurse practitioner, a certified nurse midwife, or a certified nurse anesthetist with many other certifications and specializations available. To gain enrollment into a master of nursing program a background in nursing is generally required. Thus many students seeking enrollment in such programs are working nurses or currently hold other working positions in the field. So many nursing programs have migrated to virtual learning to cater to such students. Whether a student is working as a nurse, working a different job, or just prefers online education, many of the best nursing programs offer fully online options. Below we explore 25 of the best of these programs and rank them according to a three dimensional metric, which you can find below. </p>
                            <h3>1. Capella University</h3>
                            <p><img src="../../wp-content/uploads/2015/12/capella-university.jpg" alt="capella-university" width="125" height="125" class="alignright size-full wp-image-3121" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Capella University’s Master of Science in Nursing (MSN) program offers three specialization tracks in diabetes nursing, nurse educator, or nursing leadership and administration. Capella University has been openly dedicated to online education and employs many features to accommodate students with busy work schedules or demanding family life. Specifically, the program offers benefits to members of the American Nurses Association in the form of tuition discounts and the waiving of fees. Capella emphasizes an evidence-based curriculum and hands-on practice, offering its students a unique blend of virtual and real-world education.</p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/masters-general-nursing/">Homepage</a>
                            </ul>
                            <h3>2. Ball State University </h3>
                            <p><img src="../../wp-content/uploads/2015/02/16.-Ball-State.png" alt="16. Ball State" width="125" height="125" class="alignright size-full wp-image-1850" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Ball-State.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Ball-State-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Ball State University’s MSN program offers highly personalizable learning options with two main specializations in a leadership track (education and administration) and family practitioner track. The program’s faculty work closely with students to help them decide on their specific workloads and interest concentrations. Graduate advisers also help students develop clinical experience through connecting them with professional preceptors and supervisors in their community. Ball State University’s MSN program is also only one of a handful to earn a place in the National League for Nursing Center of Excellence, a clear sign of the University’s commitment to delivering a quality MSN program.</p>
                            <ul>
                                <li><a href="http://cms.bsu.edu/academics/collegesanddepartments/nursing/academics/mastersdegrees/onlinemastersprog">Homepage</a>
                            </ul>
                            <h3>3. University of Missouri </h3>
                            <p><img src="../../wp-content/uploads/2015/09/univ-missouri.jpg" alt="univ-missouri" width="125" height="125" class="alignright size-full wp-image-2630" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-missouri.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-missouri-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Missouri has a robust nursing department, offering bachelor’s, master’s, and doctorate education paths. Both the bachelor’s and master’s programs have received national rankings by U.S. News &#038; World Report and the MSN program was ranked a top nursing school by CollegeAtlas.org and a “Best Buy” by GetEducated.com. The MSN program offers two specialization options in leadership in nursing and healthcare systems and in nurse education. Faculty advisers also work closely with students to help develop personal interests and career goals. </p>
                            <ul>
                                <li><a href="http://online.missouri.edu/degreeprograms/nursing/">Homepage</a>
                            </ul>
                            <h3>4. Walden University </h3>
                            <p><img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Walden University has been committed to online education and distance learning for years. Its MSN program demonstrates the school’s specialization in online learning and boasts impressive flexibility in coursework and specialization tracks while maintaining a heavy focus on career outcomes. Students in the program may choose from any of the following specializations: Leadership and Management, Nursing Education, Nursing Informatics, and Nurse Practitioner. Students are guided to opportunities in their communities to conduct research and develop real world clinical experience.</p>
                            <ul>
                                <li><a href=http://www.waldenu.edu/masters/master-of-science-in-nursing">Homepage</a>
                            </ul>
                            <h3>5. Johns Hopkins University </h3>
                            <p><img src="../../wp-content/uploads/2015/10/johns-hopkins-e1444429174673.png" alt="johns-hopkins" width="125" height="52" class="alignright size-full wp-image-2697" /></p>
                            <p>John Hopkins University has a long history in healthcare innovation and education and is ranked second highest on this list in the context of academic reputation and national rankings. The program also offers a good deal of flexibility and offers both part-time and full-time options, giving students up to six years to complete the program. The program offers three main specialization tracks in Clinical Nurse Specialist, Health Systems Management, and Health Systems Management/ Clinical Nurse Specialist, which is a combination of the two the concentrations. While offering these main specialization tracks the program emphasizes its broad holistic educational approach and encourages students to broaden their interests and career goals accordingly, which allows students to personalize the themes of their core coursework. </p>
                            <ul>
                                <li><a href="http://nursing.jhu.edu/academics/programs/online/">Homepage</a>
                            </ul>
                            <h3>6. George Washington University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/George-Washington.jpg" alt="George Washington" width="125" height="125" class="alignright size-full wp-image-2356" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/George-Washington.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/George-Washington-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>George Washington University’s online MSN program is one of its oldest and most popular programs with over 50% of its online students currently enrolled in the program. The program accommodates students at all levels of learning and experience, offering a bridge course for students who have previously received a bachelor’s in nursing education. Those with the required experience can pursue any of the following specialties: Adult Gerontology Primary Care Nurse Practitioner, Family Nurse Practitioner, Health Care Quality, Nursing Leadership and Management and Nurse-Midwifery.</p>
                            <ul>
                                <li><a href="http://nursing.gwu.edu/msn-program-online">Homepage</a>
                            </ul>
                            <h3>7. Old Dominion University  </h3>
                            <p><img src="../../wp-content/uploads/2015/01/19.-Old-Dominion.jpg" alt="19. Old Dominion" width="125" height="125" class="alignright size-full wp-image-1807" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/19.-Old-Dominion.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/19.-Old-Dominion-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Old Dominion University’s nursing department is University’s largest, offering degrees and multiple specializations at the bachelor’s, master’s, and doctorate level. The MSN program offers the four following specialization options: Adult-Gerontology Clinical Nurse Specialist/Educator, Family Nurse Practitioner, Nurse Administrator, and Nurse Midwifery. In each specialization students will advance through the common core and in the latter stages will develop personal areas of advanced study and a secondary specialization focus where students pursue student oriented career interests.</p>
                            <ul>
                                <li><a href="https://online.odu.edu/academics/area/health-sciences-and-nursing">Homepage</a>
                            </ul>
                            <h3>8. Georgetown University </h3>
                            <p><img src="../../wp-content/uploads/2015/10/georgetown-e1446207783472.jpg" alt="georgetown" width="125" height="94" class="alignright size-full wp-image-2900" /></p>
                            <p>Georgetown University has a long history of academic excellence and its nursing programs maintain excellent reputations. The price tag per credit hour may be more intimidating, but the quality of education is assured. The program’s MSN offers multiple tracks for students in 4 specializations including: Adult Gerontology Acute Care Nurse Practitioner (AG-ACNP), Family Nurse Practitioner (FNP), Nurse-Midwifery/Women&#8217;s Health Nurse Practitioner (NM/WHNP) and Women&#8217;s Health Nurse Practitioner (WHNP). Online classes are delivered synchronously, meaning students attend classes at a set period. While this sacrifices some of the inherent flexibility of online education it also enhances the options for collaboration between peers and with instructors. Online students may also choose to visit campus for special events or to participate in clinicals. </p>
                            <ul>
                                <li><a href="https://online.nursing.georgetown.edu/">Homepage</a>
                            </ul>
                            <h3>9. University of Texas Online Consortium  </h3>
                            <p><img src="../../wp-content/uploads/2015/01/university-texas-mba.jpg" alt="university-texas-mba" width="150" height="150" class="alignright size-full wp-image-1595" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/university-texas-mba.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/university-texas-mba-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" /></p>
                            <p>The University of Texas Online Consortium boasts a serious dedication to the advancement of nursing, especially within the realm of online education. The University’s MSN program employs various methods to ensure that students are able to obtain the same real world experience that they might achieve in a residential learning environment, and thus employs advisers to each of its students to help them secure these opportunities. The MSN program offers specializations in two main tracks, nursing administration and nursing education. Within these two specializations students are then granted further program concentration options to enable the pursuit of personal interests. </p>
                            <ul>
                                <li><a href="http://www.utcoursesonline.org/programs/graduate.html">Homepage</a>
                            </ul>
                            <h3>10. University of Phoenix </h3>
                            <p><img src="../../wp-content/uploads/2015/01/18.-University-of-Phoenix.jpg" alt="18. University of Phoenix" width="125" height="125" class="alignright size-full wp-image-1806" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/18.-University-of-Phoenix.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/18.-University-of-Phoenix-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>The University of Phoenix has been a popular name in online education for decades, mainly due to its commitment to providing students with the utmost flexibility. The University of Phoenix follows suit with this tradition in its MSN program, offering a wide array of options for students at all levels. The University offers an accelerated program where bachelor’s students may earn master’s credits for their work, reducing the required time for each degree. The program also offers bridge program, allowing students without a bachelor’s or a nursing license to gain the required experience. The program constantly alters its curriculum to align with changing industry standards and allows students the same level of flexibility in specializations and concentration options. </p>
                            <ul>
                                <li><a href="http://www.phoenix.edu/colleges_divisions/nursing.html">Homepage</a>
                            </ul>
                            <h3>11. Fort Hays State University  </h3>
                            <p><img src="../../wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg" alt="8. Fort Hays State University" width="125" height="125" class="alignright size-full wp-image-1796" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Fort Hays University’s MSN program offers two tracks of study, a nursing administration track and a nursing education track. The University seeks to combat the stigmas against online education by providing many of the elements of traditional education in the virtual realm. Students may collaborate with their peers and ask instructors questions in real-time through audio conferences and virtual classroom events. The program is also designed around students building experience in their communities, where students can pursue collaborative group assignments in geographically distant locations.  </p>
                            <ul>
                                <li><a href="https://www.fhsu.edu/nursing/graduate-nursing/">Homepage</a>
                            </ul>
                            <h3>12. Grand Canyon University </h3>
                            <p><img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Grand Canyon University boasts a strong adherence to online education and offers great options for flexibility. With multiple start dates, personalized class schedules, and accelerated course options students may choose how and when they wish to earn their MSN. For students seeking an accelerated pace of learning, the program offers 4 week courses so students may earn their degree in as little 19 months. While acceleration is an option, there are also options for students to delve into specialization and advanced studies with 6 specializations available and two options for advanced study tracks where students engage in a deeper analysis of specific concentrations. </p>
                            <ul>
                                <li><a href="http://www.gcu.edu/College-of-Nursing-and-Health-Care-Professions/Nursing-Programs/Masters-in-Nursing-Degree-Programs.php">Homepage</a>
                            </ul>
                            <h3>13. The University of West Florida </h3>
                            <p><img src="../../wp-content/uploads/2015/10/west_florida-e1446207911299.jpg" alt="west_florida" width="125" height="60" class="alignright size-full wp-image-2901" /></p>
                            <p>The University of West Florida is by self-declaration a career outcomes oriented school. This philosophy holds true in its MSN program, where its two specializations designate distinct categories of career interests and goals in these. In the MSN Education track prepares students for employment roles in the academic community, hospitals, and training agencies. The MSN Leadership &#038; Management track prepares students to take on administrative positions in hospitals or in other positions of leadership in the healthcare industry. The program can be completed with 39 credit hours and offers flexible start times and class schedules.</p>
                            <ul>
                                <li><a href="http://uwf.edu/graduate/programs/graduate-degrees/nursing_msn/">Homepage</a>
                            </ul>
                            <h3>14. South University  </h3>
                            <p><img src="../../wp-content/uploads/2015/09/South-University.jpg" alt="South University" width="125" height="125" class="alignright size-full wp-image-2499" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/South-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/South-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>South University provides its nursing students many options for their MSN. Offering over 9 specializations with both bridge options and accelerated options, students are able to move into their nursing career with virtually any level of experience and earn their MSN quickly. In order to avoid sacrificing quality for efficiency the program emphasizes a dynamic curriculum, which they tailor to student’s specific needs and career goals, while balancing it in accordance with the demands of the ever changing industry. The program strives to empower students and enable them to be dynamic professionals who are ready to seize the opportunities of the evolving field. </p>
                            <ul>
                                <li><a href="https://www.southuniversity.edu/Areas-Of-Study/Nursing">Homepage</a>
                            </ul>
                            <h3>15. Kaplan University </h3>
                            <p><img src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" class="alignright size-full wp-image-2158" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Kaplan University is at the forefront of online education technology and brandishes some of the most cutting-edge systems and flexible learning formats. Kaplan’s MSN program exemplifies the University’s larger goals through offering students in the program multiple start dates, so that the program’s schedule will fit any schedule or timeframe. In the MSN program students will have the option of pursuing five main specialization options with electives available to supplement any of their desired concentrations. The coursework itself is delivered through a variety of virtual formats with flexible schedules, so that students may choose which types of learning work best for them.</p>
                            <ul>
                                <li><a href="http://www.kaplanuniversity.edu/nursing/nursing-master-degree.aspx">Homepage</a>
                            </ul>
                            <h3>16. Drexel University </h3>
                            <p><img src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" class="alignright size-full wp-image-1848" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Drexel University specializes in online education and focuses on career outcomes for its students. This focus has largely been successful, evidenced by the 93% of its graduates who hold full-time jobs or are enrolled in graduate study. Students choose from the following specializations: Nurse Anesthesia, Nursing Education &#038; Faculty Role, Clinical Nurse Leader, Nursing Innovation, Clinical Trials Research, Nursing Leadership in Health Systems Management, Adult-Gerontology Acute Care Nurse Practitioner (AG-ACNP), and Adult-Gerontology Primary Care Nurse Practitioner (A-GPC). The program focuses on preparing students for jobs within or without hospitals, and prepares them for any certificate exam in their field.</p>
                            <ul>
                                <li><a href="http://online.drexel.edu/online-degrees/masterdegrees.aspx">Homepage</a>
                            </ul>
                            <h3>17. Southern New Hampshire University </h3>
                            <p><img src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" class="alignright size-full wp-image-1800" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Southern New Hampshire University’s MSN program offers several unique benefits to its students. Foremost among these is the option to complete five terms per year which allows students to graduate in as little as 20 months. The program also has minimal requirements for entry and does not require the GMAT or the GRE, and similarly has low requirements for predetermined class schedules. Students may choose to learn at any hour of the day, seven days a week. </p>
                            <ul>
                                <li><a href="http://www.snhu.edu/online-degrees/masters/ms-in-nursing">Homepage</a>
                            </ul>
                            <h3>18. Duke University </h3>
                            <p><img src="../../wp-content/uploads/2015/01/duke-mba.jpg" alt="duke-mba" width="150" height="150" class="alignright size-full wp-image-1611" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/duke-mba.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/duke-mba-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" /></p>
                            <p>Duke University’s MSN program was one of the first to offer distance learning and online education technology. With over two decades of experience online MSN education, the University has proven the success of its strategies. In 2015 U.S News &#038; World Report ranked Duke’s MSN program 6th best in the nation. MSN students may choose from 8 specialties, allowing them to focus on specific career goals and build the foundation for achievement early. Beyond the specialization options, students may pursue further advanced study in order to receive certificates and licensures. Throughout their pursuit of their degree and such specializations, will collaborate through virtual classroom events and meet in real time with instructors, advisers, and mentors. </p>
                            <ul>
                                <li><a href="http://nursing.duke.edu/academics/specialized-programs/online-and-distance-learning">Homepage</a>
                            </ul>
                            <h3>19. East Tennessee State University </h3>
                            <p><img src="../../wp-content/uploads/2015/10/east-tennessee-e1444430727388.png" alt="east-tennessee" width="125" height="97" class="alignright size-full wp-image-2702" /></p>
                            <p>East Tennessee State University stands out from the rest for its Regents Online Degree Program (RODP), where colleges of nursing in Tennessee collaborate in order to offer the greatest number of educational resources and to train the prospective nurses to the best of their ability. ETSU’s MSN program also offers four specialization options in any of the following: Family Nurse Practitioner (FNP), Nursing Administration, Nursing Education, and Nursing Informatics. The RODP also offers four post-graduate certificates in each of these specializations, helping students to get a head start in their careers. </p>
                            <ul>
                                <li><a href="http://www.etsu.edu/nursing/graduateprograms/msn_rodp.aspx">Homepage</a>
                            </ul>
                            <h3> 20. Jacksonville University </h3>
                            <p><img src="../../wp-content/uploads/2015/09/jacksonville-university.jpg" alt="jacksonville-university" width="125" height="125" class="alignright size-full wp-image-2609" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/jacksonville-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/jacksonville-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Jacksonville University’s MSN program is comprised of nationally recognized staff. The University’s MSN program is designed to connect students with their talented faculty without overburdening distance learning students with strict schedules. Thus the program allows for 24/7 online classwork, but also connects students in real time with classmates and professors through email and virtual meetings. Though the program only offers two course per semester, the program can still be completed in as little as 20 months. During that time students may pursue specializations such as Leadership in Healthcare Systems, Clinical Nurse Educator, and Nursing Informatics.</p>
                            <ul>
                                <li><a href="http://www.jacksonvilleu.com/programs/masters-degree/">Homepage</a>
                            </ul>
                            <h3>21. Western Governors University  </h3>
                            <p><img src="../../wp-content/uploads/2015/09/western-govenors-university.jpg" alt="western-govenors-university" width="125" height="125" class="alignright size-full wp-image-2604" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Western Governors University’s MSN program is a career oriented program where students will learn a curriculum largely developed by the NLN Nurse Educator standards and the Masters Essentials for Professional Nursing practice. The program also offers a BSN to MSN combined program, where students can speed up their education. According to the school, the majority of students finish the program in under 3 years. In the last stages of the program, students will participate in a Capstone Project where students design their own project that identifies a need or problem in the healthcare industry.  </p>
                            <ul>
                                <li><a href="http://www.wgu.edu/online_health_professions_degrees/master_science_nursing_education_specialization_degree">Homepage</a>
                            </ul>
                            <h3>22. Lamar University  </h3>
                            <p><img src="../../wp-content/uploads/2015/02/18.-Lamar.jpg" alt="18. Lamar" width="125" height="125" class="alignright size-full wp-image-1852" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Lamar University’s online MSN program emphasizes its valuing of hands-on experience. As the MSN in particular is a degree that requires real world clinical experience, the University has designed its MSN program around connecting students with opportunities where they will get that experience. Students are assigned a graduate faculty adviser who finds the student a preceptor or mentor in the community. Many of the online classes allow peers to collaborate in synchronous meetings and devise projects to conduct with their personal adviser or preceptor. </p>
                            <ul>
                                <li><a href="http://luonline.lamar.edu/graduate/ms-ap-nursing/index.html">Homepage</a>
                            </ul>
                            <h3>23. Jacksonville State University </h3>
                            <p><img src="../../wp-content/uploads/2015/10/jacksonville_state-e1446208104428.jpg" alt="jacksonville_state" width="125" height="125" class="alignright size-full wp-image-2902" /></p>
                            <p>Jacksonville State University offers these three tracks in its MSN program: community health specialization, concentration in nursing education, and concentration in emergency management. The University’s College of Nursing (CON) is accredited by the Commission on Collegiate Nursing Education (CCNE) and is approved by the Alabama Board of Nursing. Thus the curriculum is entirely based on the current industry standards, and students can be assured the coursework is relevant by the close involvement of professionals who often work with students to refine their career goals. </p>
                            <ul>
                                <li><a href="http://www.jsu.edu/nursing/">Homepage</a>
                            </ul>
                            <h3>24. Sacred Heart University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/sacred_heart-e1446208166269.gif" alt="sacred_heart" width="125" height="47" class="alignright size-full wp-image-2903" /></p>
                            <p>Sacred Heart University has a long history of excellence in the field of medicine and healthcare. Its nursing department is one of the largest and most popular the school, offering programs at the bachelor’s, master’s, and doctorate levels. In the program, students may choose from the following main specializations: Clinical Nurse Leader, Nursing Management and Executive Leadership, and Nursing Education. There are also two hybrid specializations available: Family Nurse Practitioner, and Post-Master&#8217;s Certificate Family Nurse Practitioner.  </p>
                            <ul>
                                <li><a href="http://www.sacredheart.edu/academics/collegeofnursing/nursingprograms/graduateprograms/">Homepage</a>
                            </ul>
                            <h3>25. Indiana State University </h3>
                            <p><img src="../../wp-content/uploads/2015/09/indiana-state-univ.jpg" alt="indiana-state-univ" width="125" height="125" class="alignright size-full wp-image-2610" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/indiana-state-univ.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/indiana-state-univ-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /></p>
                            <p>Indiana State University states that is a central hub in the developing field of nursing, and as such it places great emphasis on its MSN program. In the program students will choose from a Nursing Education track or a Nursing Family Practitioner track. In either option, the program states that it will prepare its students for the evolving industry and bring them to a level of competency to where they may pass the certificate examinations in their state. The programs faculty work closely to help prepare students for the unique requirements of certain state exams. </p>
                            <li>
                                <a href="http://www.indstate.edu/academics/graduate/nursing.htm">Homepage</a>
                                </ul>
                                <p><strong>Methodology:</strong></p>
                                <ul>
                                    <li><strong>Affordability (1/3)</strong>: The average out-of-state tuition per credit hour.</li>
                                    <li><strong>Flexibility (1/3)</strong>:  Whether the program offers specialized tracks, flexible hours, or personalized course loads. </li>
                                    <li><strong>Academic Reputation (1/3)</strong>: The rank of the school’s parent institution according to other prominent rankings such as <i>US News</i></li>
                                </ul>
                        </div>
                    </div>


                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">

                            <div class="qdf-container box inner">

                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div>                <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">
                                                <!-- <span class="step step-1 box"><img src="http://www.bestcollegereviews.org/wp-content/plugins/qdf_plugin/assets/img/step_1.png" class="img-responsive" /></span> -->
                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">
                                                <!-- <span class="step step-2 box"><img src="http://www.bestcollegereviews.org/wp-content/plugins/qdf_plugin/assets/img/step_2.png" class="img-responsive" /></span> -->
                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">
                                                <!-- <span class="step step-3 box"><img src="http://www.bestcollegereviews.org/wp-content/plugins/qdf_plugin/assets/img/step_3.png" class="img-responsive" /></span> -->
                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />

                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>

                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget">  </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>

    @Html.Partial("_footer")

@Html.Partial("_last_script")
    <!-- End footer -->
</body>

</html>

