@{
    ViewBag.Title = "o_subs_abuse";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-substance-abuse-counseling-masters-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:50:11 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Masters in Substance Abuse Counseling - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style3c85.css?ver=1461897525' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt3c85.css?ver=1461897525' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts3c85.js?ver=1461897525'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index1e9b.html?p=3379' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embedc3b0.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-substance-abuse-counseling-masters-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embede91d?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-substance-abuse-counseling-masters-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-3379 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Masters in Substance Abuse Counseling
                            </h2>
                            <p><img src="../../wp-content/uploads/2016/02/BCR_26_SubstAbuse_Masters_badge-300x240.png" alt="BCR_26_SubstAbuse_Masters_badge" width="300" height="240" class="alignright size-medium wp-image-4258" />According to the National Center on Addiction and Substance Abuse at Columbia University, almost a quarter of a trillion dollars of the United State’s yearly healthcare costs in 2011 were attributable to substance abuse and addiction. Unfortunately, with an opioid crisis taking center stage across the country, that number may only continue to rise. Consequently, communities around the nation are in dire need of professionals with an in-depth knowledge of both the complex underpinnings of addiction &#8211; psychological, biological, cultural, etc. &#8211; as well as thorough training in counseling and care. </p>
                            <h3>Featured Online Masters in Substance Abuse Counseling Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/grand-canyon-university?program=6426&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Grand Canyon University: MS &#8211; Addiction Counseling</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/capella-university?program=12475&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Capella University: MS &#8211; Addiction Studies</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/liberty-university-online?program=17043&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Liberty University: MA &#8211; Pastoral Counseling: Addictions and Recovery</a></strong></li>
                            </ul>
                            <p>While a bachelor’s in the subject is a start, you can really only make a difference with advanced degree, which requires a rigorous curriculum and hands-on practice, and prepares students for state licensure. Below we’ve compiled the top 25 online programs in substance abuse counseling and related fields, most of which are designed so that current professionals can continue performing their vital work while simultaneously strengthening their knowledge-base and ability to help in the future.</p>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i>
                            </ul>
                            <h3> 1. Grand Canyon University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Grand Canyon University offers an online MS in Addiction Counseling that consists of 36 total credits. Core requirements include Introduction to Addictions and Substance Abuse Disorders, Professional Counseling Orientation and Ethics, Counseling Theories, Social and Cultural Diversity in Counseling, Co-Occuring Disorders, and Family Issues and Active Disorders, among others. All students must also complete a pre-practicum and practicum in order to gain valuable real-world counseling experience. Courses deliver in accelerated 8-week modules, and qualified students with previous academic credit can take advantage of GCU&#8217;s generous 12-credit transfer policy. Upon graduation, students will have an in-depth knowledge of the impact of addiction or use disorders on family structure; psychopharmacology theories of drug abuse, addiction, and treatment; and ethical, legal, and cultural/multicultural components to counseling. For maximum flexibility, there are numerous entry dates throughout the year.
                            </p>
                            <ul>
                                <li><a href="http://www.gcu.edu/degree-programs/master-science-addiction-counseling">Homepage</a></li>
                                <li>Tuition per credit is $500.</li>
                            </ul>
                            <h3> 2 (tied). Montana State University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/montana_state-e1456769086960.jpg" alt="montana_state" width="125" height="88" class="alignright size-full wp-image-3380" /><br />
                                Montana State University offers a certificate in Addiction Counseling, designed to be paired with an MA in Counseling, Psychology, or Sociology. Consisting of 12-15 credits, classes include<br />
                                Cross Cultural &#038; Ethical Considerations in Addictions Counseling, Counseling Theories in Addiction Settings, Chemical Dependency Counseling, and Psychopharmacology and Addictions. Depending on students&#8217; previous academic backgrounds, the certificate can be completed in as little as 1-2 years. (Note that additional classes are required for state licensure.) Courses deliver synchronously in order to replicate traditional face-to-face classroom learning and encourage maximum peer collaboration. There are three entry dates per year to fit students&#8217; busy schedules.
                            </p>
                            <ul>
                                <li><a href="http://www.montana.edu/online/degrees/addiction-counseling/default.htm">Homepage</a></li>
                                <li>Tuition per credit is $359.</li>
                            </ul>
                            <h3> 2 (tied). Capella University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/12/capella-university.jpg" alt="capella-university" width="125" height="125" class="alignright size-full wp-image-3121" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/12/capella-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Capella University offers an MS in Addiction Studies with a General Addiction Studies specialization that consists of 48 credits. Core requirements include Survey of Research in Human Development for Addiction Professionals; Principles of Integrated Addiction and Mental Health Treatment; Ethical and Legal Issues in Addiction Treatment; Theories and Models for Addiction Treatment; implications of Addiction Treatment with Diverse Populations; and Supervision and Program Management in Addiction Treatment, among others. Courses deliver in accelerated 10-week blocks, and course work may be further accelerated for eligible students with previous credit thanks to Capella&#8217;s generous 12-credit transfer policy. Students must also complete 300 hours of internship to fulfill the program&#8217;s fieldwork requirements, and there is a 6-week residence built into the program, as well. Upon graduation, students will have a thorough academic understanding of addiction, in addition to an impressive amount of real-world experience.
                            </p>
                            <ul>
                                <li><a href="https://www.capella.edu/online-degrees/masters-addiction-studies/">Homepage</a></li>
                                <li>Tuition per credit is $503.</li>
                            </ul>
                            <h3> 4. University of South Dakota</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/01/south_dakota-e1453750375964.png" alt="south_dakota" width="125" height="79" class="alignright size-full wp-image-3331" /><br />
                                The University of South Dakota offers an MA in Addiction Studies with an advanced track (33 credits) and standard track (45 credits), depending on the student&#8217;s certification and academic background. Core requirements for the standard track include CADE: Comprehensive Alcohol &#038; Drug Education; Psychopharmacology of Alcohol and Drugs; Advanced Legal/Ethical Issues &#038; the Addiction Profession; Addiction Studies Research; Case Management and Assessment of Co-Occurring Disorders; and more. Students must also complete an internship in order to gain valuable real-world experience. From there, students have the opportunity to tailor their degrees with optional specialization courses in Relapse Prevention and Psychopathology &#038; Addiction, plus 18-21 credits of elective courses. USD offers a wealth of resources to its online students, including student services, an online orientation guide, library services, and more. Applicants ideally should have at least one year of professional work experience or supervised clinical/volunteer experience.
                            </p>
                            <ul>
                                <li><a href="http://www.usd.edu/usd-online/online-programs/master-of-arts-in-addiction-studies">Homepage</a></li>
                                <li>Tuition per credit is $431.</li>
                            </ul>
                            <h3> 5. Walden University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Walden University offers an MS in Addiction Counseling that consists of 90-100 quarter credits, depending on if the student chooses to complete a specialization. Core requirements for the general track include Counseling and Psychotherapy Theories, Counseling Addictive Disorders, Diagnosis and Assessment, Assessment in Counseling and Addiction, Group Process and Dynamics, Psychopharmacology and Biopsychosocial Considerations, and more. Students must also complete a counseling practicum and 6 credits of internships in order to gain real-world experience. Walden allows students to tailor their degrees through 6 unique specializations for just 10 additional credits: addictions and Public Health, Child and Adolescent Counseling, Family Studies and Interventions, Forensic Counseling, Military Families and Culture, and Trauma and Crisis Counseling. Drawing on a balance of both theory and extensive real-world practice, graduates will be prepared to analyze, diagnose, and treat addiction cases.
                            </p>
                            <ul>
                                <li><a href="https://www.waldenu.edu/masters/ms-in-addiction-counseling">Homepage</a></li>
                                <li>Tuition per credit is $450.</li>
                            </ul>
                            <h3> 5 (tied). Indiana Wesleyan University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/10/indiana-wes-e1444431211202.jpg" alt="indiana-wes" width="125" height="48" class="alignright size-full wp-image-2674" /><br />
                                Indiana Wesleyan University offers an MA in Counseling with a specialization in Addiction Counseling that consists of 48 credits. Core requirements include Multicultural Counseling, Appraisal of Individuals and Families, Issues in Addiction Therapy, Theories and Treatment of Addiction, Counseling Addicted Families, and Legal, Ethical, and Professional Issues, among others. Students must also complete a supervised practicum and 6 credits worth of a supervised internship in order to gain real-world experience. Graduation time is typically 2.5-3 years for full-time students but may be accelerated through IWU&#8217;s generous 9-credit transfer policy. Note that there are also specializations in Clinical Mental Health Counseling, Community Counseling, Marriage and Family Therapy, School Counseling, and Student Development Counseling and Administration. As a Christian school, religious components may be incorporated into the curriculum. In addition to the program&#8217;s academics, IWU stresses a clinical approach that prepares students for community-based work.
                            </p>
                            <ul>
                                <li><a href="https://www.indwes.edu/adult-graduate/ma-counseling/addictions-counseling">Homepage</a></li>
                                <li>Tuition per credit is $507.</li>
                            </ul>
                            <h3> 7 (tied). Umass Boston</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/10.-UMASS.jpg" alt="10. UMASS" width="125" height="125" class="alignright size-full wp-image-1859" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/10.-UMASS.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/10.-UMASS-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Umass Online offers an MS in Rehabilitation Counseling that consists of 60 credits. Core requirements include Medical, Psychological, and Educational Aspects of Disabilities; Principles of Vocational, Educational, and Psychological Assessment; Abnormal Psychology; Case Management and Planning in Rehabilitation; Vocational Rehabilitation and Placement; Clinical Application of Human Development; and Cross Cultural Counseling, among others. Students must also complete fieldwork and a capstone. Full-time students can expect to complete the degree in as little as 2 years; part-time students typically graduate in 3-4 years. With a special emphasis on hands-on experience, the program&#8217;s practicum requires 100 hours and the internship requires 600 total hours of work (two 300-hour periods). Upon graduation, will have a thorough understanding of legal and ethical standards in counseling; application of theory to individual, group, and family counseling; psychosocial aspects of disabilities; evaluation approaches; and much more.
                            </p>
                            <ul>
                                <li><a href="https://www.indwes.edu/adult-graduate/ma-counseling/addictions-counseling">Homepage</a></li>
                                <li>Tuition per credit is $507.</li>
                            </ul>
                            <h3> 7 (tied). Governors State University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/09/western-governors-computer-science.png" alt="western-governors-computer-science" width="150" height="150" class="alignright size-full wp-image-1505" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/western-governors-computer-science.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/western-governors-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" /><br />
                                Governors State University offers an MS in Addiction Studies with a concentration in Addiction Counseling that consists of 60 credits. (A general track option is available, as well.) Built on a broad-based curriculum, GSU&#8217;s program is designed as comprehensive and with an emphasis on evidence-based practices that improve clinical outcomes.Students will study and develop skills in a wide range of clinical approaches, including Motivational Interviewing, Acceptance and Commitment Therapy, and Cognitive Behavioral Therapy, among others. Further, with the knowledge that addiction is often a co-occurring disorder, students will also study in-depth clinical depression, bipolar disorder, anxiety and post-traumatic stress disorder. Note that this program is currently a hybrid degree, requiring some residential courses.
                            </p>
                            <ul>
                                <li><a href="https://www.indwes.edu/adult-graduate/ma-counseling/addictions-counseling">Homepage</a></li>
                                <li>Tuition per credit is $507.</li>
                            </ul>
                            <h3> 9. Union College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/union_college-e1456768544942.gif" alt="union_college" width="150" height="154" class="alignright size-full wp-image-3381" /><br />
                                Union College offers an MS in Psychology and Chemical Dependency Counselor certification. Core requirements for the certification (21 total credits) include Foundations of Chemical Dependency Treatment, Ethical Issues in Chemical Dependency Treatment, Psychology of Addiction, Recovery &#038; Relapse, Biological Systems of Chemical Dependence, and elective in either Multicultural &#038; Diversity Issues or Approved Chemical Dependency. This program, while grounded in a firm academic foundation, is primarily designed as a practical training degree to develop students&#8217; skills in assisting the needs of chemically dependent clientele as identified by appropriate agencies. In order to create maximum flexibility, all course work is designed to fit students&#8217; busy schedules through an asynchronous delivery format. Course materials are all available 24/7 through Union&#8217;s uLearn learning management system. In most cases, there is no additional cost for textbooks and course materials.
                            </p>
                            <ul>
                                <li><a href="http://unionky.edu/gradpsych/graduate-studies-psychology/graduate-studies-psychology">Homepage</a></li>
                                <li>Tuition per credit is $405.</li>
                            </ul>
                            <h3> 10. California Southern University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/02/24.-California-Southern.png" alt="24. California Southern" width="125" height="125" class="alignright size-full wp-image-1870" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/24.-California-Southern.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/24.-California-Southern-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                California Southern University offers an MS in Psychology with a concentration in Chemical Dependency &#038; Compulsive Disorders that consists of 42 credits. Core requirements include Counseling Theories and Strategies, Group Psychology, Social Psychology, Therapeutic Boundaries, and Psychopathology. Classes in the concentration include Alcoholism/Chemical Dependency, Family Systems Theory, Dual Diagnosis, and Eating Disorders, among others. From there, students complete 6 credits of applies concepts and a master&#8217;s thesis. For interested students, there are also concentrations available in Pastoral Counseling, Industrial/Organizational Psychology, Sport Psychology, and a general track. Students may complete their degrees in as little as 2 years, or possibly faster, thanks to CSU&#8217;s 9-credit transfer policy. Alternatively, part-time students may take up to 4 years to graduate. In either case, the program is designed for maximum schedule flexibility.
                            </p>
                            <ul>
                                <li><a href="http://www.calsouthern.edu/online-psychology-degrees/ms-psychology-online/">Homepage</a></li>
                                <li>Tuition per credit is $425.</li>
                            </ul>
                            <h3> 11 (tied). University of Oklahoma at Tulsa</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/tulsa-e1456769051941.jpg" alt="tulsa" width="125" height="51" class="alignright size-full wp-image-3382" /><br />
                                The University of Oklahoma at Tulsa offers a Master&#8217;s of Prevention Science that consists of 33 credits &#8211; 18 Core, 9 Elective, 6 Completion. Core requirements include Interdisciplinary Foundation, Foundations in Prevention Science, Prevention Across the Lifespan, and Program Development, Implementation, and Evaluation, among others. (Note that there are some customizing options within the core.) From there, students have the opportunity to tailor their degrees through a wide variety of electives. All students must pass a comprehensive exam in order to graduate. Designed for students interested in pursuing the International Certification and Reciprocity Consortium’s Certified Prevention Specialist (IC &#038; RC CPS) credential, Oklahoma&#8217;s program focuses on theory, strategic planning and evaluation, implementation, and ethical, cultural, and social issues. All course material and work is available 24/7 through the university&#8217;s online learning management system. Graduation time is typically 2.5 year.
                            </p>
                            <ul>
                                <li><a href="http://www.ou.edu/cls/future_students/grad/mps.html">Homepage</a></li>
                                <li>Tuition per credit is $739.</li>
                            </ul>
                            <h3> 11 (tied). Virginia Commonwealth University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/10/virginia-commonwealth-e1444428122538.png" alt="virginia-commonwealth" width="125" height="33" class="alignright size-full wp-image-2687" /><br />
                                Virginia Commonwealth University offers an MS in Rehabilitation Counseling that consists of 48 credits. Core requirements include Addiction Counseling, Theories of Professional Counseling, Group Counseling Theories and Techniques, Human Growth and Development, Assessment and Evaluation, Case Management, Multicultural Counseling, Diagnosis and Treatment of Mental Health Disorders, and more. From there, students have the opportunity to tailor their degrees with a wide range on electives (which require 6 credits). For interested students, a certificate in Aging Studies is also available. VCU&#8217;s program also focuses on fieldwork and experiential learning: students must complete 100 hours of a supervised practicum and 600 hours of a supervised internship in order to gain valuable real-world experience. All students take a comprehensive exam to graduate. Degree completion time may be accelerated through VCU&#8217;s generous 12-credit transfer policy.
                            </p>
                            <ul>
                                <li><a href="http://www.ou.edu/cls/future_students/grad/mps.html">Homepage</a></li>
                                <li>Tuition per credit is $677.</li>
                            </ul>
                            <h3> 11 (tied). Assumption College</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/assumption-e1456768760297.png" alt="assumption" width="125" height="125" class="alignright size-full wp-image-3383" /><br />
                                Assumption College offers an MA in Rehabilitation Counseling that consists of 20 courses for 60 credits. Core requirements Introduction to Assessment and Appraisal of Individuals with Disabilities; Occupational Analysis, Career Development and Job Placement; Rehabilitation Research and Program Evaluation; Substance Abuse and Addictive Disorders in Rehabilitation; Private Sector and Forensic Rehabilitation; Principles of Family and Group Process; and more. Students are also required to complete a practicum in legal and ethical issues and two internships. Upon completion of the degree, graduates will be eligible for the CRC exam. Courses delivery asynchronously, allowing students to complete course work on their own time for maximum schedule flexibility. Further, online students have access to 24/7 technical support. While grounded in sound academic foundations, the program also emphasizes experiential learning and practical application. Typical graduation time is just 3 years.
                            </p>
                            <ul>
                                <li><a href="http://graduate.assumption.edu/rehabilitation-counseling/online-master-arts-program-rehabilitation-counseling">Homepage</a></li>
                                <li>Tuition per credit is $480.</li>
                            </ul>
                            <h3> 11 (tied). Kaplan University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" class="alignright size-full wp-image-2158" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Kaplan University offers an MS in Psychology with 6 tracks, including a a thesis track cum addictions specialization (75 credits) and non-thesis/comprehensive track cum addictions specialization (70 credits). Core requirements within the addictions specialization (35 total) are Chemical and Psychological Dependency Counseling, Psychopharmacology, Advanced Addiction Counseling, Co-Occuring Disorders and Treatments, and a two-part practicum. (For those interested, there are additional specializations in general psychology, applied behavior analysis, or industrial/organizational psychology.) In particular, the curriculum examines the processes that underlie human experience and behavior, as well as core knowledge, theories, and research in the field. Kaplan&#8217;s online programs are all designed for maximum flexibility &#8211; many students maintain jobs while studying. There are multiple entry dates throughout the year to accommodate busy schedules.
                            </p>
                            <ul>
                                <li><a href="http://www.kaplanuniversity.edu/arts-sciences/psychology-master-degree.aspx">Homepage</a></li>
                                <li>Tuition per credit is $385.</li>
                            </ul>
                            <h3> 11 (tied). Liberty University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" class="alignright size-full wp-image-1803" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Liberty University offers a MA in Addiction Counseling that consists 48 credits. Core requirements include Ethical &#038; Legal Issues in Counseling; Integration of Spirituality &#038; Counseling; Theories of Counseling; Research &#038; Program Evaluation; Psychopathology &#038; Counseling; Biological Aspects of Addiction &#038; Recovery, and more. Students must also complete an internship in order to gain valuable real-world experience. Liberty also gives students a number of options through which to earn credits before course work begins, including prior-learning assessments, previous training and life experience, a portfolio, military work, and relevant prior academic credit. Designed to meet and exceed many national and state board requirements for certification, the curriculum is broad-based, practical, and built around experiential learning. As a Christian school, there may be religious components incorporated throughout the degree. Students can graduate in as little 6 semesters.
                            </p>
                            <ul>
                                <li><a href="http://www.liberty.edu/online/degrees/masters/addiction-counseling/">Homepage</a></li>
                                <li>Tuition per credit is $540.</li>
                            </ul>
                            <h3> 17. University of Buffalo</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/10/buffalo-e1446140179363.jpg" alt="buffalo" width="125" height="63" class="alignright size-full wp-image-2893" /><br />
                                The University of Buffalo offers a MS in Rehabilitation Counseling that consists of 48 credits. Core requirements include Foundations of Counseling Theory, Field Work and Counseling Skills, Understanding Statistical Research, Tests and Measurements in Counseling, Medical Aspects of Disability, Law and Ethics for Rehabilitation Counselors, and more. In addition, students must complete two internships, a portfolio, and comprehensive to graduate. With synchronous and asynchronous delivery methods, Buffalo gives students maximum flexibility, allowing for students to prioritize both personal schedules and/or replicating traditional face-to-face classroom environments. Further, part-time tracks are ideal for students wishing to maintain their current careers while earning an advanced degree. Continuous registration also ensures that students are able to complete their degrees in less than years at two courses per semester. With 600 hours dedicated to internship work, students will gain excellent hands-on experience. Entry dates are available at three points throughout the year.
                            </p>
                            <ul>
                                <li><a href="http://www.buffalo.edu/gse/online/programs/masters/rehab.html">Homepage</a></li>
                                <li>Tuition per credit is $925.</li>
                            </ul>
                            <h3> 18. University of North Texas</h3>
                            <p>
                                <img src="../../wp-content/uploads/2013/02/16.-North-Texas.png" alt="16. North Texas" width="125" height="125" class="alignright size-full wp-image-1886" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/16.-North-Texas.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/16.-North-Texas-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                The University of North Texas offers a MS in Rehabilitation Counseling that consists of 48 credits, with an optional thesis track. Required course work covers a wide range of academic theory, based on cutting-edge research in evidence-based practices including counseling, multicultural aspects of disability, assessment and case management, and the vocational rehabilitation process. Further, in order to provide students with the necessary hands-on experience for transition into the clinical practice, UNT emphasizes a pragmatic, experiential learning method. Alumni have gone on to work as counselors and administrators, assisting individuals with disabilities to attain employment, well-being, and independence. Online students are provided with a number of resources, such as a writing support office and the Center for Interdisciplinary Research, which offers help with statistical research. While many classes are online, UNT also offers hybrid programs to allow students traditional face-to-face education if desired.
                            </p>
                            <ul>
                                <li><a href="http://www.unt.edu/gradmajors/grhab.htm">Homepage</a></li>
                                <li>Tuition per credit is $617.</li>
                            </ul>
                            <h3> 19. Nova Southeastern University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/9.-Nova-Southeastern-University.jpg" alt="9. Nova Southeastern University" width="125" height="125" class="alignright size-full wp-image-2322" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/9.-Nova-Southeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/9.-Nova-Southeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Nova Southeastern University offers an MS in Counseling with 7 possible concentrations, including Substance Abuse Counseling (48 credits) and Substance Abuse Counseling and Education (60 credits). Core requirements include Counseling Theories and Practice; Ethical, Legal, and Professional Issues for Counselors; Diagnosis and Treatment of Adult Psychopathology; and Career and Lifestyle Assessment, among others. Classes in the substance abuse concentrations include Treatment of Co-occurring Disorders, Psychopharmacology of Illicit and Licit Drugs, and a practicum work (the substance abuse and education track has numerous practicums). For those interested, other specializations are Mental Health Counseling, Applied Behavior Analysis, and Advanced Applied Behavior Analysis. Students typically can complete their degrees in just 2-3 years, which may be further accelerated by taking advantage of the school&#8217;s generous transfer policy.
                            </p>
                            <ul>
                                <li><a href="http://psychology.nova.edu/graduate/csi/">Homepage</a></li>
                                <li>Tuition per credit is $670.</li>
                            </ul>
                            <h3> 20. Aspen University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/06/1.-Aspen.jpg" alt="1. Aspen" width="125" height="125" class="alignright size-full wp-image-2076" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/1.-Aspen.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/1.-Aspen-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Aspen University offers a MA in Psychology and Addiction Counseling that consists of 16 courses, or 48 credits. Core requirements include Neurobiology of Addiction, Substance Abuse Prevention, Psychology of Addiction, Drug Enforcement, Clinical Supervision, and more. Students who are seeking future licensure must complete a two-part capstone course; students who who have already earned licensure or are not seeking it complete a research-based project. From there, students have the opportunity to tailor their degrees from choosing between a wide variety of electives. In particular, Aspen&#8217;s broad-based, multidisciplinary curriculum is based around fundamental academic theories of individual and family counseling, in addition to addiction topics related to the identification, treatment, and prevention of substance abuse. Eligible students with previous relevant credit may accelerate course work thanks to a generous credit transfer policy.
                            </p>
                            <ul>
                                <li><a href="http://www.aspen.edu/degrees/masters-degree/master-of-arts-in-psychology-and-addiction-counseling">Homepage</a></li>
                                <li>Tuition per credit is $325.</li>
                            </ul>
                            <h3> 21. West Virginia University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/virginia_west-e1456768891957.png" alt="virginia_west" width="125" height="121" class="alignright size-full wp-image-3384" /><br />
                                West Virginia University offers an MS in Clinical Rehabilitation and Mental Health Counseling that consists of 51 credits. (For students who wish to meet professional counseling licensing requirements, WVU offers a 60+ credit degree.) Graduates are qualified for a wide range of employment opportunities, including roles in vocational rehabilitation agencies, community rehabilitation programs, Veterans Administration programs, mental health centers, substance abuse treatment facilities or correctional facilities. Note that the program is accredited by the Council on Rehabilitation Education and all students receive in-state tuition. While the majority of classes are online, students have residence requirements each summer. Graduates are prepared to assist clients with mental, physical, and emotional disabilities.
                            </p>
                            <ul>
                                <li><a href="http://online.wvu.edu/ClinicalRehabCounseling/">Homepage</a></li>
                                <li>Tuition per credit is $1,160.</li>
                            </ul>
                            <h3> 22. Post University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/08/post-university.jpg" alt="post-university" width="125" height="125" class="alignright size-full wp-image-2428" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/post-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/post-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" /><br />
                                Post University offers a master&#8217;s in Human Services with 4 applied concentration tracks, including Alcohol and Drug Counseling. Among the major areas of focus are human behavior systems, history, ethics, major intervention and treatment models, problem analysis, and organizational/managerial knowledge. For those interested, concentrations are also available in Clinical Counseling within Organizational Settings, Forensic Mental Health Counseling, and Non-Profit Management. Built upon a firm, broad-based curriculum, students study conceptual aspects, analytics, and operational basics for a combination of academic theory and practice. Post places an emphasis on maximum schedule flexibility. Course work may also be significantly accelerated through Post&#8217;s generous transfer policy.
                            </p>
                            <ul>
                                <li><a href="http://degree.post.edu/human-services.php?type=mast&amp;tfn=grad">Homepage</a></li>
                                <li>Tuition per credit is $570.</li>
                            </ul>
                            <h3> 23. Mid-America Christian University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/mid_american_christian-e1456768951213.jpg" alt="mid_american_christian" width="125" height="95" class="alignright size-full wp-image-3385" /><br />
                                Mid-America Christian University offers an MS in Counseling with an Addiction and Substance Abuse Counseling emphasis that consists of 48 credits. A broad-based, integrated program, the curriculum focuses on a combination of psychological and psychotherapeutic knowledge to prepare students for licensure as an Alcohol and Drug Counselor, with an emphasis on both academic theories and real-world, professional work and care. Graduates have had real and measurable success: MACU has a 79% pass rate on licensure tests and is ranked #5 out of 19 universities in Oklahoma (it being the only one with an 100% online option). For maximum flexibility, students have the option to complete course work exclusively online or through hybrid formats, and there are numerous entry dates throughout the year. With an accelerated track, students can expect to complete their degrees in just 2 years, while maintaining current careers and responsibilities.
                            </p>
                            <ul>
                                <li><a href="http://programs.macu.edu/master-counseling-substance-abuse?lead_source=&amp;lead_medium=&amp;lead_distro=&amp;clickid=&amp;campaign=&amp;ad_group=&amp;network=&amp;device=&amp;keyword=&amp;match_type=&amp;leadfreeform1=&amp;leadfreeform2=&amp;">Homepage</a></li>
                                <li>Tuition per credit is $582.</li>
                            </ul>
                            <h3> 24. Monmouth University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2015/10/monmouth-e1444428322562.jpg" alt="monmouth" width="125" height="39" class="alignright size-full wp-image-2689" /><br />
                                Monmouth University offers a MA in Psychological Counseling with an Addiction Studies track that consists of 33 credits. Core requirements include Mental Health Counseling, Psychopathology, Counseling Theory &#038; Technique, Treatment of Drug/Alcohol Abuse, Advanced Alcohol/Drug Counseling, and Substance Awareness in the Schools, among others. Students must also complete a practicum in order to gain valuable hands-on experience. Interested students can also complete the course work necessary for licensure eligibility by taking the Addiction Studies Concentration as part of the 60-credit Master of Science in Mental Health Counseling program. The school also offers a graduate certificate in Professional Counseling. Monmouth&#8217;s program is unique in that is accredited by two bodies, the International Coalition of Addiction Studies Educators and the National Addiction Studies Accreditation Commission, so employers can be assured that the curriculum is rigorous, comprehensive, and vetted. For students&#8217; maximum flexibility, the school offers full- and part-time tracks to accommodate busy schedules.
                            </p>
                            <ul>
                                <li><a href="http://www.monmouth.edu/school-of-humanities-social-sciences/addiction-studies-track.aspx">Homepage</a></li>
                                <li>Tuition per credit is $1,047.</li>
                            </ul>
                            <h3> 25. Carlow University</h3>
                            <p>
                                <img src="../../wp-content/uploads/2016/02/carlow_university-e1456769001959.jpg" alt="carlow_university" width="125" height="144" class="alignright size-full wp-image-3386" /><br />
                                Carlow University offers an MS in Professional Counseling with an Addictions Counseling track that consists of 60 credits for students pursuing licensure in professional counseling (otherwise, the program is 48 credits). Core requirements include Social &#038; Cultural Foundations for Counselors; Ethics &#038; Professional Orientation for Counselors; Diagnosis in Counseling; Families &#038; Larger Systems; and Psychological Assessment, among others. The addiction concentration is made up of 4 courses: Introduction to Substance Abuse Counseling; Substance Abuse Counseling Theories and Interventions; The Biological Bases of Alcohol and Other Drug Addiction; and Co-Occurring Disorders, plus two electives. From there, the student must complete a practicum seminar and two-part, intensive internship. For those interested, Carlow also offers tracks in School Counseling, Child &#038; Family, and an adult/generalist program. Students can complete their degrees in as little as 2-3 years, and there are entry dates throughout the year for maximum flexibility.
                            </p>
                            <ul>
                                <li><a href="http://www.carlow.edu/Master_of_Science_in_Professional_Counseling.aspx">Homepage</a></li>
                                <li>Tuition per credit is $785.</li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-substance-abuse-counseling-masters-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:50:19 GMT -->
</html>

