@{
    ViewBag.Title = "mas_edu_lead";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/masters-programs-in-educational-leadership/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:48:30 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Masters Programs in Educational Leadership - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/stylea0dd.css?ver=1461897509' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIta0dd.css?ver=1461897509' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scriptsa0dd.js?ver=1461897509'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index8a03.html?p=3204' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed1406.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fmasters-programs-in-educational-leadership%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed8d40?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fmasters-programs-in-educational-leadership%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-3204 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Masters Programs in Educational Leadership
                            </h2>
                            <p><img src="../../wp-content/uploads/2016/01/BCR_21_EduLeadership_Masters_badge-300x240.png" alt="BCR_21_EduLeadership_Masters_badge" width="300" height="240" class="alignright size-medium wp-image-4246" />Online graduate programs in the field of Education have grown exponentially as U.S. teachers find them especially helpful in growing professional skill sets, enhancing job marketability, and increasing yearly incomes. Online degrees specifically in Educational Leadership have become quite beneficial for busy teachers who want to become certified as Principals, Superintendents, Teacher Leaders, Athletic Directors, or other campus administrators while also working as full or part-time teachers.</p>
                            <h3>Featured Online Masters Programs in Educational Leadership</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/western-governors-university?program=3039&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Western Governors University: M.S. Educational Leadership</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/liberty-university-online?program=16850&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Liberty University: Master of Education &#8211; Teaching &#038; Learning: Leadership</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-of-delaware?program=20116&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Delaware: M.Ed. Teacher Leadership</a></strong></li>
                            </ul>
                            <p>So, for the professional educator wanting to accomplish these career goals&#8211;or perhaps take the next step toward earning a Doctorate in Education while getting a quality, cutting-edge online education&#8211;we’ve compiled a list of the Top 25 fully online MA’s, M.Ed’s, and MS’s in Educational Leadership.</p>
                            <h3>Methodology:</h3>
                            <ul>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>U.S. News and World Report.</i></li>
                                <li><strong>Affordability (1/3)</strong>: the average cost of out-of-state tuition per credit hour.</li>
                                <li><strong>Flexibility (1/3)</strong>: the program offers additional specializations, certifications, or accelerated tracks.</li>
                            </ul>
                            <h3> 22. (tie) Western New Mexico University </h3>
                            <p><img src="../../wp-content/uploads/2015/03/16.-Western-New-Mexico.png" alt="16. Western New Mexico" width="125" height="125" class="alignright size-full wp-image-1933" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/16.-Western-New-Mexico.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/16.-Western-New-Mexico-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />As the fifth most affordable school surveyed, Western New Mexico University wants its candidates to graduate without a hole in their wallet. Its Educational Leadership program currently offers a 36-hour master’s program, as well as an 18-hour graduate certificate, both with <i>no need to do a thesis</i>. For each option, students receive online instruction with personalized attention paid to career goals, whether they want to become a School Principal, Instructional Leader, or Athletic Director. With NCATE accreditation, three start dates yearly, and total out-of-state tuition amounting to $11,600 for part-time enrollment or $15,300 for full-time, WNMU knows that flexibility and affordability are imperative to part- and full-time workers seeking an online degree in Education.</p>
                            <ul>
                                <li><a href="http://edl.wnmu.edu/">Homepage</a></li>
                            </ul>
                            <h3>22. (tie) Saint Leo University </h3>
                            <p><img src="../../wp-content/uploads/2015/02/12.-Saint-Leo.png" alt="12. Saint Leo" width="125" height="125" class="alignright size-full wp-image-1860" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Saint Leo University offers a fully online Master of Education program with a concentration in Educational Leadership. Designed to meet the needs of full-time teachers who already hold K-12 certification in the university’s home state of Florida, the program flexes to accommodate educators with a heavy workload who are seeking certification in Education Leadership through the state’s Department of Education. Not to be pigeonholed as a state-specific program, its classes cover <i>eight</i> general content areas. Among these areas are Public School Curriculum and Instruction, Human Resource Management and Development, Technology, Education Law, and Education Finance. As the twelfth most affordable school surveyed, Saint Leo understands that value comes not only from affordability but also from a commitment to offering &#8220;practical&#8221; and &#8220;effective&#8221; models for life and leadership. </p>
                            <ul>
                                <li><a href="http://online.saintleo.edu/academics/masters-programs/med-educational-leadership.aspx">Homepage</a></li>
                            </ul>
                            <h3>22. (tie) Ottowa University </h3>
                            <p><img src="../../wp-content/uploads/2015/01/23.-Ottawa-University.png" alt="23. Ottawa University" width="125" height="125" class="alignright size-full wp-image-1811" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/23.-Ottawa-University.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/23.-Ottawa-University-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />As the thirteenth most affordable school surveyed, Ottowa University also offers a fully online Master of Education program with a concentration in Educational Leadership for busy learners who lead full-time lives. Offering small classes and a promise to prepare students for administration roles, Ottowa’s program focuses on career outcomes for those who want to become High School Principals, Education Coordinators, Directors of Admission, Deans of Students, or Program Directors. Tailored to students who want to live and work in Kansas or Arizona, the program meets all Interstate School Leaders Licensure Consortium (ISLLC) standards. Its course offerings span instructional design and evaluation, as well as relations for leaders in diverse communication, rendering it flexible enough to set students on track for employment at the university level in addition to the more traditional high school level.</p>
                            <ul>
                                <li><a href="http://www.ottawa.edu/academics/school-of/education/adult/degree/master-of-arts-in-education-educational-leadership">Hompage</a></li>
                            </ul>
                            <h3>22. (tie) The University of Texas for the Permian Basin</h3>
                            <p><img src="../../wp-content/uploads/2016/01/texas-Permian-Basin0logo.jpg" alt="texas-Permian-Basin0logo" width="125" height="125" class="alignright size-full wp-image-3208" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/texas-Permian-Basin0logo.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/texas-Permian-Basin0logo-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The second most affordable school surveyed, UTPB’s Master of Education program with a focus in Educational Leadership costs only $202 per credit hour. The program can be completed online in as little as 24 months, and all candidates receive training in instructional and administrative leadership, cultural proficiency, conflict resolution, school law and ethics, fiscal responsibility, and organizational theory. Aligned with Texas’s State Board for Educator Certification (SBEC), Principal and Superintendent Competencies, as well as being NCATE approved, the program’s advanced candidates are eligible for Principal Certification required of school administrators who work in the state of Texas. Also, high-achieving candidates may also be eligible to pursue Superintendent Certification.</p>
                            <ul>
                                <li><a href="http://www.utpb.edu/ced/advanced-(graduate)/education-leadership">Homepage</a></li>
                            </ul>
                            <h3>21. University of Florida</h3>
                            <p><img src="../../wp-content/uploads/2013/02/6.-Florida.jpg" alt="6. Florida" width="125" height="125" class="alignright size-full wp-image-1878" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Nationally ranked 48 out of 201 universities examined by <i>U.S. News and World Report</i>, the University of Florida ties for first on our list for academic reputation. The program is tailor-made for hardworking professionals who desire a degree from this nationally ranked research university, with coursework delivered by nationally recognized faculty, as well as experienced principals and superintendents. As a public research university that was awarded highest honors for providing access to an online campus with over 100 degree and certificate programs, the Educational Leadership program is in good company. Additionally, the program offers a Doctoral Degree in Leadership in Educational Administration (LEAD) for high-achieving and dedicated students who wish to pursue the highest degree available in the field while also working fully online.</p>
                            <ul>
                                <li><a href="http://www.distance.ufl.edu/educational-leadership">Homepage</a></li>
                            </ul>
                            <h3>18. (tie) Thomas Edison State College </h3>
                            <p><img src="../../wp-content/uploads/2015/08/thomas-edison-college.jpg" alt="thomas-edison-college" width="125" height="125" class="alignright size-full wp-image-2432" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/thomas-edison-college.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/thomas-edison-college-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />As one of the top twelve most flexible schools we surveyed, Thomas Edison State College offers three focus tracks within their Master’s program in Educational Leadership. These are Building Leadership (36 credit hours), District Leadership (42 credit hours), and School Business Administration (36 credit hours). All focus tracks are fully online, with the option of taking three doctoral-level courses in School Business Administration, including &#8220;The Superintendency&#8221; and a &#8220;Field-Based Practicum for Superintendents.&#8221; Meeting all national ISLLC standards, the program ensures that its graduates will be prepared for licensure and leadership in the state of their choosing. </p>
                            <ul>
                                <li><a href="http://www.tesc.edu/heavin/maedl/">Homepage</a></li>
                            </ul>
                            <h3>18. (tie) Bridgewater State University </h3>
                            <p><img src="../../wp-content/uploads/2016/01/bridgewater-state-college.jpg" alt="bridgewater-state-college" width="125" height="125" class="alignright size-full wp-image-3209" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/bridgewater-state-college.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/bridgewater-state-college-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The number one most affordable university we surveyed with a cost of only $70 per credit hour, Bridgewater State University is one of only 42 national programs accredited by the National Council for Accreditation of Teacher Education (NCATE) and whose program in Educational Leadership is also fully online. Providing an integrated approach not only to understanding what it means to lead through coursework but also practicing leadership through practica, Bridgewater State University’s Master’s of Education in Educational Leadership will prepare graduates for initial licensure to become school administrators, supervisors, and principals. Additionally, the graduate program is flexible enough to provide an Accelerated School Administrator Licensure Program in Educational Leadership (Also known as its LEAD program) for students interested in a &#8220;fast track&#8221; option, as well as a Certificate of Advanced Graduate Study in Educational Leadership (Also known as its CAGS program) for students who already hold an M.Ed and are interested in gaining institutional, legal, fiscal, and political perspectives in the field of U.S. Education. </p>
                            <ul>
                                <li><a href="http://www.bridgew.edu/academics/graduate-studies/certificate-advanced-graduate-study-master-education-educational-leadership">Homepage</a></li>
                            </ul>
                            <h3>18.(tie) Florida State University </h3>
                            <p><img src="../../wp-content/uploads/2015/08/Florida-State.jpg" alt="Florida State" width="125" height="125" class="alignright size-full wp-image-2369" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Florida-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Florida-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Ranked within <i>US News and World Report</i>’s top 100 universities, Florida State University’s Master’s in Educational Leadership has the fifth highest academic reputation of schools surveyed. Cohort-based, DOE approved, and accredited through the Southern Association of Colleges (SACS), as well as the National Council for Accreditation of Teacher Education (NCATE), the program is designed for those seeking principalships in the state of Florida. Placing strong emphasis on its reputable academic training as well as mentoring alongside experts in the evolving field of public school administration, the Masters of Education in Educational Leadership at Florida State University will facilitate mastery of the Florida Principal Leadership Standards for any and all experienced educators who are &#8220;committed to the improvement of Pre-K-12 education.&#8221;</p>
                            <ul>
                                <li><a href="https://distance.fsu.edu/students/educational-leadership-specialist">Homepage</a></li>
                            </ul>
                            <h3>16.(tie) The University of Louisiana at Monroe </h3>
                            <p><img src="../../wp-content/uploads/2016/01/University-Louisiana-Monroe.jpg" alt="University-Louisiana-Monroe" width="125" height="125" class="alignright size-full wp-image-3210" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/University-Louisiana-Monroe.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/University-Louisiana-Monroe-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Another one of the top twelve most flexible universities surveyed, the University of Louisiana at Monroe allows students enrolled in its program to take 2-3 online courses per 8-week session in order to accelerate progress toward their Master’s degree in Educational Leadership. Additionally, the program also offers <i>eight</i> certifications, ranging from Teacher Leader Endorsements to Supervisor of Instruction and Superintendent Certifications. All candidates are required to complete an extended internship for six credit hours, during which faculty provide exposure to all school settings (public and private) to both ensure and enhance the value of each candidate’s experience. Such an opportunity adds a level of value that renders the University of Louisiana at Monroe’s M.Ed in Educational Leadership&#8211;with its relatively affordable price tag of $475 per credit hour and flexible course options&#8211;one of the best buys out there. </p>
                            <ul>
                                <li><a href="http://www.ulm.edu/onlinedegrees/med_el.html">Homepage</a></li>
                            </ul>
                            <h3>16.(tie) Liberty University Online </h3>
                            <p><img src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" class="alignright size-full wp-image-1803" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Although Liberty University Online titles their degree differently (i.e., a Master’s of Education in Administration and Supervision), it offers the same package that all surveyed programs offer in the way of educational leadership for both public and private school settings. Like all schools surveyed, Liberty University Online’s courses provide specialized preparation for individuals seeking credentials for K-12 positions or those with a desire to further their education to become Specialists or Doctorates of Education. The Liberty Online University distinguishes itself from other online masters programs by also providing the flexible option of three in-person intensives that allow candidates to accelerate their progress to degree. As another one of the twelve most flexible programs surveyed, Liberty University Online allows the transferral of up to 6 credit hours from an accredited university in addition to allowing all hours to go toward completion of its Virginia state-approved licensure program. </p>
                            <ul>
                                <li><a href="http://www.liberty.edu/online/masters/education/administration-supervision/">Homepage</a></li>
                            </ul>
                            <h3>15. Queens University of Charlotte</h3>
                            <p><img src="../../wp-content/uploads/2016/01/queens-univ-charlotte.jpg" alt="queens-univ-charlotte" width="125" height="125" class="alignright size-full wp-image-3211" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/queens-univ-charlotte.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/queens-univ-charlotte-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Ranked by <i>U.S. News and World Report</i> among the top 20 regional universities in the South, Queens University of Charlotte prepares degree seekers from their Cato School of Education for principal licensure in the state of North Carolina. With a price-tag of $376 per credit hour, the online degree is the eighth most affordable of those surveyed, as well as one of the more flexible programs, with the option of completing course requirements in 22 months while taking only one course per term. Placing emphasis on discovering each candidate’s natural leadership style, taking courses in business management, and learning how to interpret data and statistics to map out a plans for positive change in K-12 education, Queens University of Charlotte’s Master’s program in Educational Leadership promises its graduates they will go on to improve the lives of both their students and their schools. </p>
                            <ul>
                                <li><a href="http://online.queens.edu/masters-in-educational-leadership-overview/">Homepage</a></li>
                            </ul>
                            <h3>14. Saint Mary’s University of Minnesota</h3>
                            <p><img src="../../wp-content/uploads/2015/09/Saint-Mary-Minnesota.jpg" alt="Saint Mary Minnesota" width="125" height="125" class="alignright size-full wp-image-2475" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Saint-Mary-Minnesota.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/Saint-Mary-Minnesota-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />As the thirteenth most reputable school surveyed with a national ranking from <i>U.S. News and World Report</i>, the Master’s program for Educational Leadership at Saint Mary’s University offers a 33-hour, 22-month degree program that prepares its graduates to become administrators in private, parochial, or charter schools, as well as Deans of Students, Athletic Directors, or Principals in either Wisconsin or Minnesota. Every student in the online program receives an iPad loaded with mobile learning platforms, which allow full-time professionals both the freedom and the flexibility to pursue their degree at the pace they need. With its promise that every student, wherever they are, will enjoy the same high-tech, high-quality learning experience that the Saint Mary’s University of Minnesota has to offer, this online Master’s program in Educational Leadership is sure to help its graduates foster innovative solutions that transform their institutions for the better.</p>
                            <ul>
                                <li><a href="http://onlineprograms.smumn.edu/mael/masters-in-educational-leadership">Homepage</a></li>
                            </ul>
                            <h3>12.(tie) Montclair State University </h3>
                            <p><img src="../../wp-content/uploads/2016/01/montclair-state.jpg" alt="montclair-state" width="125" height="125" class="alignright size-full wp-image-3212" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/montclair-state.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/montclair-state-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The <i>number one</i> most flexible school surveyed, Montclair State University offers multiple specializations, certifications, and ways to accelerate candidates’ progress toward a degree. These include, but are not limited to 7 ½ week courses, fast-track options that allow degree completion in as few as 14 months, as well as special tracks and certifications for both principal and supervisor positions. As the program states, these options allow candidates to &#8220;earn their degree in 2 years without the stress of taking two courses simultaneously.&#8221; In addition, <i>U.S. News and World Report</i> placed Montclair State University within the top 50 best regional universities in the Northeast, making its master’s program in Educational Leadership highly competitive when considering its proximity to some of the highest ranking universities in the United States.</p>
                            <ul>
                                <li><a href="http://www.montclair.edu/online/online-programs/educational-leadership-ma/">Homepage</a></li>
                            </ul>
                            <h3>12. (tie) Arizona State University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/2.-Arizona-State.jpg" alt="2. Arizona State" width="125" height="125" class="alignright size-full wp-image-1791" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Designed specially to prepare candidates for meeting all Arizona teaching and licensure standards, Arizona State University’s Master of Education in Educational Leadership will develop the skills that aspiring principals and administrators need to engage, manage, and strengthen their school communities. This eighth most academically reputable institution surveyed promises a rigorous, 36-hour curriculum with several field-based, experiential learning assignments, one year-long internship, as well as principal certification in the state of Arizona. Ideal for full-time educators moving to or living in Arizona who are looking to grow professionally, gain hands-on leadership experience, and take advantage of a reputable university’s online learning community, the M.Ed program in Educational Leadership is sure to expand its graduates’ horizons.</p>
                            <ul>
                                <li><a href="https://asuonline.asu.edu/online-degree-programs/graduate/master-education-educational-leadership-principalship">Homepage</a></li>
                            </ul>
                            <h3>10.(tie) Western Governor’s University </h3>
                            <p><img src="../../wp-content/uploads/2015/09/western-govenors-university.jpg" alt="western-govenors-university" width="125" height="125" class="alignright size-full wp-image-2604" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/western-govenors-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />As the sixth most affordable online program surveyed, Western Governor’s University offers a Master of Science in Educational Leadership instead of the more traditional Master of Arts or Master of Education. Its competency-based education model allows candidates to receive credit toward a degree for on-the-job work experience as well as for courses from other universities whose credit hours are commensurate with WGU’s competency units. With an average time-to-degree of 2 years and a fixed tuition rate of $2,890 per six-month term (<i>that’s $11,560 for a two-year track graduation</i>), Western Governor’s University weighs in at <i>half the cost</i> of comparable online programs like those at the University of Phoenix or Penn State World Campus. And with 99% of employers agreeing that WGU grads meet or exceed their expectations in the workplace, a Master of Science in Educational Leadership from Western Governor’s University is guaranteed to prepare its graduates for satisfying the needs of their future institutions.</p>
                            <ul>
                                <li><a href="http://www.wgu.edu/education/master_science_educational_leadership">Homepage</a></li>
                            </ul>
                            <h3>10.(tie) Indiana University </h3>
                            <p><img src="../../wp-content/uploads/2013/02/1.-Indiana.jpg" alt="1. Indiana" width="125" height="125" class="alignright size-full wp-image-1874" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/1.-Indiana.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/1.-Indiana-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Coming in at <i>third</i> on our list of most academically reputable schools, Indiana University’s online program in Educational Leadership offers two fully online degrees (Master of Science in Education and Master of Science in Strategic Management), two hybrid online/onsite degrees (Master of Science in Educational Leadership and Doctor of Education in Educational Leadership), as well as one fully online certificate (Certificate in Education Law). As one of the top twelve most flexible programs surveyed, Indiana University provides prospective candidates the option to enroll in classes as non-degree-seeking students through its IUConnectED program <i>at under half the usual cost per credit hour</i>. Completed coursework later applies toward the degree in Educational Leadership when prospective students are admitted to the University as degree-seeking candidates. With four possible concentrations in its M.S.Ed program, three additional licensure tracks, and a <i>U.S. News and World Report</i> ranking of The #2 Best Online Education Program, Indiana University’s online Master’s in Educational Leadership will surely make good on its promise to prepare graduates for leadership roles at whichever level of educational administration they choose. </p>
                            <ul>
                                <li><a href="http://education.indiana.edu/graduate/programs/ed-leadership/">Homepage</a></li>
                            </ul>
                            <h3>9. Azusa Pacific University</h3>
                            <p><img src="../../wp-content/uploads/2016/01/azusa-pacific-university.jpg" alt="azusa-pacific-university" width="125" height="125" class="alignright size-full wp-image-3213" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/azusa-pacific-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/azusa-pacific-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />With two track options (either a Case Study or a Thesis on a topic of the candidate’s choosing), two certifications (a Preliminary Administrative Services Certificate or a Certificate of Eligibility), and the option to complete the online degree between 15-24 months, Azusa Pacific University has the seventh most flexible online master’s degree within the top ten programs surveyed. Aligned with California Professional Standards for Educational Leaders (CPSEL), as well as a faith-based approach to learning that permits the integration of rigorous scholarship with the tenets of Christianity, this fully online program helps students develop the vision and skill necessary to transform their educational environments. And as the twelfth most academically reputable program surveyed, Azusa Pacific University promises to produce graduates who will be identified as innovative leaders, recognized as scholars dedicated to improving the professional practice of themselves and others, and respected as individuals of high moral and ethical character.</p>
                            <ul>
                                <li><a href="http://www.apu.edu/education/leadership/leadershiptier1online/">Homepage</a></li>
                            </ul>
                            <h3>8. Northcentral University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/northcentral-university.jpg" alt="northcentral-university" width="125" height="125" class="alignright size-full wp-image-2431" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/northcentral-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/northcentral-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The sixth most flexible program surveyed, Northcentral University’s online Master’s in Educational Leadership offers courses in either 8- or 12-week sessions in addition to the accelerated option of completing the degree in 1 year. Candidates are also permitted to take up to 5 years to complete the 30-hour program, allowing full-time educators a generous window to earn their M.Ed. Regionally accredited by the Higher Learning Commission (HLC) and the Teacher Education Accreditation Council (TEAC) in addition to following a One-to-One teaching model, Northcentral University tailors its Master’s Program in Educational Leadership so that each individual candidate receives a highly specialized online education by working one-on-one with its 100% doctoral faculty. With this unique opportunity for apprenticeship online learning, graduates from Northcentral University can expect to be well-positioned for pursuing leadership roles wherever they land in the current landscape of U.S. education.</p>
                            <ul>
                                <li><a href="http://www.ncu.edu/school-of-education/masters-of-education/educational-leadership">Homepage</a></li>
                            </ul>
                            <h3>7. University of Arkansas</h3>
                            <p><img src="../../wp-content/uploads/2015/06/13.-Arkansas.jpg" alt="13. Arkansas" width="125" height="125" class="alignright size-full wp-image-2085" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/13.-Arkansas.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/13.-Arkansas-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Arkansas offers the <i>tenth</i> most academically reputable program with the <i>ninth</i> most affordable degree surveyed. At $399.94 per credit hour and with a guarantee that students who take courses solely online will pay in-state tuition, it’s no surprise that the online program in Educational Leadership was ranked by <i>U.S. News and World Report</i> among the Best Online Programs of 2015. Boasting 100% online status, 100% pass rate on School Leaders Licensure Assessment (SLLA), as well as &#8220;flexible options from a top-tier research university,&#8221; which include GRE exemption and internships for building-level licensure, the University of Arkansas’s online program in Educational Leadership ultimately promises to connect its graduates with an interstate network of distinguished alumni that occupy key leadership positions throughout the country. </p>
                            <ul>
                                <li><a href="https://online.uark.edu/programs/master-education-educational-leadership.php">Homepage</a></li>
                            </ul>
                            <h3>5.(tie) Penn State World Campus </h3>
                            <p><img src="../../wp-content/uploads/2015/01/9.-Penn-State.jpg" alt="9. Penn State" width="125" height="125" class="alignright size-full wp-image-1797" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The <i>number one</i> most academically reputable university surveyed, Penn State World Campus also offers the fifth most flexible Master’s program in Educational Leadership. Its 30-credit-hour program provides the opportunity for three emphases: 1. Teacher Leadership, 2. School Leadership with Principal Certification, and 3. School Leadership without Principal Certification. The <i>number four</i> Best Online Education program according to <i>U.S. News and World Report</i>, Penn State World Campus produces strong academic leaders that orchestrate school reform for high-performing schools across the nation. Act-48 approved by the state’s Department of Education, all courses taken for the Master of Education apply toward professional development hours for educators in Pennsylvania. Not to be confined by state borders. However, Penn State’s World Campus stays true to its name, producing graduates who have gone on to work as educational leaders across the world.</p>
                            <ul>
                                <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/educational-leadership-masters/overview">Homepage</a></li>
                            </ul>
                            <h3>5.(tie) San Diego State University </h3>
                            <p><img src="../../wp-content/uploads/2016/01/san-diego-state-university.jpg" alt="san-diego-state-university" width="125" height="125" class="alignright size-full wp-image-3214" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/san-diego-state-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/san-diego-state-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />San Diego State University Master of Arts in Educational Leadership offers the <i>seventh</i> most affordable, fully online degree program surveyed, weighing in at only $372 per credit hour. With a program-wide emphasis on educational technology and a specialization in preK-12 education, the master’s program at San Diego State University is cohort based with two start dates yearly and as little as a 15-month finish time. Courses can last between 6 and 16 weeks as they flex to accommodate the majority of its candidates who already possess full-time working lives. Designed to help educators rise to meet the needs of the twenty-first century digital natives, this eleventh most academically reputable program surveyed has an innovative approach to online learning, which will produce teachers and administrators capable of the continuous technological innovation now necessary to advance the field of U.S. Education. </p>
                            <ul>
                                <li><a href="http://go.sdsu.edu/education/edl/edl_ma_tech.aspx">Homepage</a></li>
                            </ul>
                            <h3>4. DePaul University</h3>
                            <p><img src="../../wp-content/uploads/2016/01/depaul-university-logo.jpg" alt="depaul-university-logo" width="125" height="125" class="alignright size-full wp-image-3215" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/depaul-university-logo.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/depaul-university-logo-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The <i>number one</i> most flexible of the top ten programs surveyed, DePaul University, offers two master’s degrees in Educational Leadership: the Master of Arts and the Master of Education. Each degree includes, at least, four concentrations, with the Master of Arts offering General, Catholic Leadership, Higher Education, and Physical Education tracks, and the Master of Education offering the aforementioned four tracks plus four more: Principal License, Principal License (Catholic), Teacher Leader, and Teacher Leader (Catholic). Additionally, students may alternate between full-time and part-time, either online or onsite, as well as both online and onsite if a hybrid learning approach is desired. All tracks provide two internships: one at an elementary school and another at a high school, both of which provide candidates with multiple career options for whichever path they choose in the field of education. And finally, as the program with the seventh highest academic reputation among those surveyed, DePaul University’s &#8220;powerful, discipline-based curriculum&#8221; is sure to prepare its graduates as they &#8220;meet the needs of a diverse group of learners,&#8221; to become &#8220;effective and principled decision-makers.&#8221; </p>
                            <ul>
                                <li><a href="http://education.depaul.edu/academics/graduate/masters-programs/educational-leadership-mamed/Pages/default.aspx">Homepage</a></li>
                            </ul>
                            <h3>3. Capella University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/6.-Capella.jpg" alt="6. Capella" width="125" height="125" class="alignright size-full wp-image-1898" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Offering an accelerated 10-week course track, an emphasis in School Leadership, and specialization courses in School Leadership and Management Practices, Data, Decision-Making, and School Improvement, as well as Education and the Law, the Master of Science in Education at Capella University weighs in as another one of the top seven most flexible programs surveyed. Additionally, with the cost of only $444 per credit hour, Capella is the eleventh most affordable program surveyed and fifth most affordable program within the top ten programs surveyed. Nationally recognized by the National Leadership Constituents Council (ELCC), accredited by NCATE, and with the promise to facilitate the development of a shared vision of learning, Capella graduates can expect nothing less than to ethically and efficiently &#8220;lead the field of education.&#8221;</p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/masters-leadership-educational-administration/">Homepage</a></li>
                            </ul>
                            <h3>2. University of West Florida</h3>
                            <p><img src="../../wp-content/uploads/2016/01/university-of-west-florida-2.jpg" alt="university-of-west-florida" width="125" height="125" class="alignright size-full wp-image-3218" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2016/01/university-of-west-florida-2.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2016/01/university-of-west-florida-2-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The fourth most affordable program within the top ten at $416 per credit hour, The University of West Florida is also one of the top seven most flexible programs surveyed. With six start dates yearly, 8-week accelerated courses, and an 18-month completion time, the Master of Education Degree in Educational Leadership Certification is one of the most convenient and thorough programs on the market. Online degree candidates can expect to grasp and have had a hand in practicing within the following areas of expertise by the end of their 1.5 year candidacy: Leadership Theories and Planning Models; Principles, Trends, and Practices in Financing Public Education, including Federal, State, and Local Financial Support Programs; Instructional Technology, and several more. With NCATE and SACS accreditation, this respected online program offers the flexible, affordable, and well-reputed opportunity for professional educators to shape a better future for themselves and their institutions.</p>
                            <ul>
                                <li><a href="http://acceleratedgradprograms.uwf.edu/Programs/1069/Master-of-Education-in-Educational-Leadership-Certification">Homepage</a></li>
                            </ul>
                            <h3>1. Lamar University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/18.-Lamar.jpg" alt="18. Lamar" width="125" height="125" class="alignright size-full wp-image-1852" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Lamar University provides the fourth most affordable program at only $235 per credit hour, making it the number one most affordable program within the top ten surveyed. With a completion time of as little as 18 months, four specializations, and the short duration of 5 weeks per course, Lamar University’s Master’s of Education in Educational Administration drastically reduces the amount of time and money that candidates will spend on their education and drastically increases amount of the time and money that graduates will gain as a result of their degree. SACS accredited with a premier online program that is part of the fastest-growing college of education in the competitive state of Texas, Lamar University produces more certificates than any other Texas university, as well as possesses an outstanding pass rate for state certification exams in and outside its home state. Affordable, flexible, and reputable to the Nth degree, Lamar University’s M.Ed in Educational Administration will ready its graduates to become forerunners and pacesetters in the field of U.S. Education. </p>
                            <ul>
                                <li><a href="http://degree.lamar.edu/Programs/206/Master-Education-Leadership/">Homepage</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/masters-programs-in-educational-leadership/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:48:40 GMT -->
</html>

