
<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-higher-education-administration-degree-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:48:40 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Master&#039;s In Higher Education Administration - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <meta name="description" content="Our 25 top online Master&#039;s In Higher Education Administration degree programs, ranked according to affordability, flexibility, and reputation." />
    <meta name="robots" content="noodp" />
    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/styled290.css?ver=1461897508' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxItd290.css?ver=1461897508' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scriptsd290.js?ver=1461897508'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index799a.html?p=2759' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embedc9d7.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-higher-education-administration-degree-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed90b3?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-higher-education-administration-degree-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2759 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Master&#8217;s In Higher Education Administration
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/10/BCR_22_HigherEduAdmin_Masters_badge-300x240.png" alt="BCR_22_HigherEduAdmin_Masters_badge" width="300" height="240" class="alignright size-medium wp-image-4248" />Higher Education administrators are among the most well-paid in the education sector, with median pay at $83,710 in 2010 per the U.S. Bureau of Labor Statistics &#8211; or $40.24 per hour. What&#8217;s more, the BLS predicts jobs in higher education administration to increase 15 percent through 2022, growing twice as fast as other management jobs.</p>
                            <h3>Featured Online Master&#8217;s In Higher Education Administration Degree Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/ashford-university?program=16523&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Ashford University: MA &#8211; Education: Higher Education</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/walden-university-international?program=9642&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Walden University International: Master of Science (M.S.) in Higher Education</a></strong></li>
                            </ul>
                            <p>For most of these positions, a graduate degree is required, and a Master&#8217;s in Higher Education will give education professionals the ideal background to advance their careers. Here&#8217;s a list of our top 25 online Master&#8217;s in Higher Education Administration programs.</p>
                            <h3> 1. Capella University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/6.-Capella.jpg" alt="6. Capella" width="125" height="125" class="alignright size-full wp-image-1898" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Capella University offers a 48-credit MS in Higher Education with a specialization in Leadership and Administration. Accelerated options are available, which may allow students to graduate in just 1.5 years (with up to 12 credits transferable, qualified students may graduate even sooner). Courses deliver in 10-week blocks, and include course work in History, Issues, and Trends in Higher Ed; Politics and Public Policy in Higher Ed; and Financial Management and Institutional Development, among others. Additional emphases options include a concentration in Community College, as well as further studies in administration.</p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/masters-higher-education-leadership-administration/">Homepage</a></li>
                                <li>Tuition per credit is $408.</li>
                            </ul>
                            <h3> 2. Northeastern University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/1.-Northeastern-University.jpg" alt="1. Northeastern University" width="125" height="125" class="alignright size-full wp-image-2334" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/1.-Northeastern-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Northeastern University offers a 45 quarter-hour online MEd in Higher Education Administration. With an accelerated option, students can complete their degrees in as little as 1 year. Part-time students can expect to graduate in just 2 years. Course work includes classes in Faculty, Curriculum, and Academic Community; Education Law, Policy, and Finance; and Competencies, Assessment, and Learning Analytics. All students must complete a culminating capstone course. </p>
                            <ul>
                                <li><a href="http://www.northeastern.edu/online/degrees/master-of-education-higher-education-administration/">Homepage</a></li>
                                <li>Tuition per credit is $505.</li>
                            </ul>
                            <h3> 3. Sam Houston State University</h3>
                            <p><img src="../../wp-content/uploads/2015/06/6.-Sam-Houston-State.jpg" alt="6. Sam Houston State" width="125" height="125" class="alignright size-full wp-image-2079" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/06/6.-Sam-Houston-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/06/6.-Sam-Houston-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Sam Houston State University offers a 30-36 credit-hour online program. The track includes thesis and non-thesis options, and a graduate certificate in advising may be obtained for additional 6 credits. Core course work includes studies in History and Organization of Higher Education; Contemporary Issues in Higher Education; and Leadership in Higher Education, among others. Students must also complete a practicum, which provides valuable real-world experience.</p>
                            <ul>
                                <li><a href="http://www.shsu.edu/programs/master-of-arts-in-higher-education-administration/">Homepage</a></li>
                                <li>Tuition per credit is $311.</li>
                            </ul>
                            <h3> 4. Mississippi College</h3>
                            <p><img src="../../wp-content/uploads/2015/10/mississippi-college-e1444428017810.jpg" alt="mississippi-college" width="125" height="53" class="alignright size-full wp-image-2686" />Mississippi College offers a 31-credit online program that students can complete in only 3 semesters. Eligible students can transfer up to 6 credits. For interested students, a 15-credit graduate certificate is also available. All students must complete 2 two-hour practicums. Core classes include Finance and Higher Education, Law and Higher Education, The Community College, and Basic Effective Leadership.</p>
                            <ul>
                                <li><a href="https://www.mc.edu/academics/mhea/graduate-program/">Homepage</a></li>
                                <li>Tuition per credit is $383.</li>
                            </ul>
                            <h3> 5 (tied). Drexel University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" class="alignright size-full wp-image-1848" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Drexel&#8217;s online MS in Higher Education consists of 14 courses (or, 45 credits): 6 core courses, 4 primary concentration courses, 3 elective courses or secondary concentration courses, and 1 capstone course. In addition, several concentrations are available: Community College Administration and Leadership, Educational Policy, Enrollment Management, Global and International Education, Learning Technologies, and Student Development and Affairs. Current alumni have positions such as Dean of Development, Director of Enrollment Management, University Registrar, and Director of Retention, among others.</p>
                            <ul>
                                <li><a href="http://online.drexel.edu/online-degrees/education-degrees/ms-he/index.aspx">Homepage</a></li>
                                <li>Tuition per credit is $868.</li>
                            </ul>
                            <h3> 5 (tied). Georgia Southern University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/georgia-southern-e1444771873682.gif" alt="georgia-southern" width="125" height="36" class="alignright size-full wp-image-2760" />Georgia Southern&#8217;s online MEd in Higher Education Administration consists of 36 credits, including a practicum. For maximum flexibility, students may complete their degrees on a full- or part-time basis, allowing working professionals in the field to continue their day jobs. Core course work includes American Higher Education, Higher Education Law, and History of American Higher Education. Numerous electives are also available to provide students&#8217; the opportunity to specialize their studies.</p>
                            <ul>
                                <li><a href="http://cogs.georgiasouthern.edu/admission/graduateprograms/education-programs/higher-education-administration-m-ed/">Homepage</a></li>
                                <li>Tuition per credit is $410.</li>
                            </ul>
                            <h3> 5 (tied). Northcentral University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/northcentral-university.jpg" alt="northcentral-university" width="125" height="125" class="alignright size-full wp-image-2431" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/northcentral-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/northcentral-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Northcentral University offers an MEd in Higher Education Leadership that consists of 30 credit hours. On an accelerated, 8-week delivery schedule, students may complete their degrees in as little as a year. Alternatively, part-time students may choose to take up to 5 years to graduate, allowing students maximum flexibility. Course work includes Leading Organizations in Higher Education, Exploring Legal Issues in Higher Education, Financial Issues in Higher Education, and The Community College.</p>
                            <ul>
                                <li><a href="http://www.ncu.edu/school-of-education/masters-of-education/leadership-in-higher-education">Homepage</a></li>
                                <li>Tuition per credit is $598.</li>
                            </ul>
                            <h3> 8. Colorado State University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/1.-Colorado-State.jpg" alt="1. Colorado State" width="125" height="125" class="alignright size-full wp-image-1912" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/1.-Colorado-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Colorado State University offers an MS in Student Affairs in Higher Education, consisting of 45 credits. Most students complete their degrees in 3 years. All students must complete two practicums and a capstone. Course work includes Financial Management in Student Affairs, Student Development Theory, Law in Student Affairs, and Organizational Behavior in Student Affairs, among others.</p>
                            <ul>
                                <li><a href="http://www.online.colostate.edu/degrees/student-affairs/">Homepage</a></li>
                                <li>Tuition per credit is $585.</li>
                            </ul>
                            <h3> 9 (tied). Indiana State University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/indiana-state-univ.jpg" alt="indiana-state-univ" width="125" height="125" class="alignright size-full wp-image-2610" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/indiana-state-univ.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/indiana-state-univ-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Indiana State University offers an MS in Student Affairs and Higher Education that consists of a minimum of 39 credits. A thesis option can be completed for an additional 1-6 credits. Students typically complete degrees in 3 years. Among core classes are Legal Aspects of Educational Administration, Student Development: Theory, Assessment, and Application, and The Multicultural Campus. 12 credits are devoted to practicum and internship work.</p>
                            <ul>
                                <li><a href="http://www2.indstate.edu/online/sahe.shtml">Homepage</a></li>
                                <li>Tuition per credit is $485.</li>
                            </ul>
                            <h3> 9 (tied). Walden University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Walden University&#8217;s online general track is a 30-credit program (27 core, 3 capstone), which can be completed on an accelerated basis. Alternatively, the university also offers 5 specializations: College Teaching and Learning, Enrollment Management and Institutional Marketing, Global Higher Education, Leadership for Student Success, and Online and Distance Learning. Specialized tracks are broken down to 21 core credits, 6 specialization, and 3 capstone.</p>
                            <ul>
                                <li><a href="http://www.waldenu.edu/masters/ms-in-higher-education">Homepage</a></li>
                                <li>Tuition per credit is $680.</li>
                            </ul>
                            <h3> 11. Penn State &#8211; World Campus</h3>
                            <p><img src="../../wp-content/uploads/2015/01/9.-Penn-State.jpg" alt="9. Penn State" width="125" height="125" class="alignright size-full wp-image-1797" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Penn State&#8217;s online MEd in Higher Education is a 30-credit program. Full-time students can complete degrees in 1 year, and part-time students can graduate in 2 years. In addition, three emphases are available: administration, student engagement, and institutional research. Core course work includes a professional seminar, Foundations in Higher Education and Student Affairs, and Foundations of Institutional Research.</p>
                            <ul>
                                <li><a href="http://www.worldcampus.psu.edu/degrees-and-certificates/higher-education-masters/overview">Homepage</a></li>
                                <li>Tuition per credit is $805.</li>
                            </ul>
                            <h3> 12 (tied). University of Nebraska &#8211; Lincoln</h3>
                            <p><img src="../../wp-content/uploads/2013/02/11.-Nebraska.jpg" alt="11. Nebraska" width="125" height="125" class="alignright size-full wp-image-1881" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/11.-Nebraska.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/11.-Nebraska-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Nebraska &#8211; Lincoln offers a generalist, 36-credit MEd in Higher Ed Administration. A specialization in Student Affairs is available for interested students, which consists of 41 credits. Core classes include Administrative Theory, Higher Education Environments, College Student Development, and Personnel Management. Thesis and non-thesis tracks are available.</p>
                            <ul>
                                <li><a href="http://online.unl.edu/programs-and-courses/graduate-doctorate-programs/educational-admin-higher-education.aspx">Homepage</a></li>
                                <li>Tuition per credit is $700.</li>
                            </ul>
                            <h3> 12 (tied). Stony Brook University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/stony-brook-university.jpg" alt="stony-brook-university" width="125" height="125" class="alignright size-full wp-image-2645" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/stony-brook-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/stony-brook-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Stony Brook University offers a 30-credit Master of Higher Education Administration, in addition to an 18-credit advanced graduate certificate, for interested students. The MA degree consists of 15 core credits, and 15 electives, allowing students to tailor their degrees to fit their needs and interests. Core classes include Foundations of Higher Education Administration, Assessment and Evaluation in Higher Education, and a project seminar. Students may take up to 5 years to graduate, though many graduate within a few years.</p>
                            <ul>
                                <li><a href="http://www.stonybrook.edu/spd/hea/">Homepage</a></li>
                                <li>Tuition per credit is $770.</li>
                            </ul>
                            <h3> 12 (tied). John Brown University</h3>
                            <p><img src="../../wp-content/uploads/2015/10/john-brown-e1444772021308.png" alt="john-brown" width="125" height="73" class="alignright size-full wp-image-2761" />John Brown University offers an MS in Higher Education Leadership consisting of 36 credits &#8211; 24 core, 12 elective. Accelerated 8-week courses are available for interested students. Core classes include History and Philosophy of American Higher Education, Education Program Development and Implementation, and Administrative Leadership in Higher Education. Note that, as a Christian school, John Brown integrates religious values into the curriculum.</p>
                            <ul>
                                <li><a href="http://www.stonybrook.edu/spd/hea/">Homepage</a></li>
                                <li>Tuition per credit is $548.</li>
                            </ul>
                            <h3> 15. University of Louisville</h3>
                            <p><img src="../../wp-content/uploads/2015/03/1.-Louisville.jpg" alt="1. Louisville" width="125" height="125" class="alignright size-full wp-image-1921" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/1.-Louisville.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/1.-Louisville-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Louisville&#8217;s online program consists of 36 credit hours, with 6 credits transferrable. Among the core courses include Philosophy of Higher Education, The American College and University, and Educational Resource Management in Postsecondary Education. Full-time students typically complete their degrees in 2 years, though this program is particularly geared for working, full-time professionals currently in the field.</p>
                            <ul>
                                <li><a href="http://louisville.edu/online/programs/masters/master-of-arts-in-higher-education">Homepage</a></li>
                                <li>Tuition per credit is $714.</li>
                            </ul>
                            <h3> 16. University of Missouri &#8211; Kansas City</h3>
                            <p><img src="../../wp-content/uploads/2015/10/missouri-kansas-city-e1444772108195.jpg" alt="missouri-kansas-city" width="125" height="88" class="alignright size-full wp-image-2762" />The University of Missouri &#8211; Kansas City offers an online program with 4 areas of emphasis: Sports Administration &#038; Exercise Science, Student Affairs Administration, Foundations of Higher Education, Disability Services. Students on an accelerated track can graduate in as little as 5 semesters. For maximum flexibility, there are 3 available entry dates throughout the year. The program aims to provide in-depth real-world experience through internship and practicum opportunities.</p>
                            <ul>
                                <li><a href="http://education.umkc.edu/academics/masters-degrees/master-of-arts-in-higher-education-administration/">Homepage</a></li>
                                <li>Tuition per credit is $990.</li>
                            </ul>
                            <h3> 17. Kaplan University</h3>
                            <p><img src="../../wp-content/uploads/2015/07/19.-Kaplan.jpg" alt="19. Kaplan" width="125" height="125" class="alignright size-full wp-image-2158" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/07/19.-Kaplan-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Kaplan University offers an MS in Higher Education that consists of 50 total credits &#8211; 30 core, 20 specialization. Among the specialized tracks offered are College Teaching, College Administration and Leadership, and Student Affairs. For maximum flexibility, Kaplan offers new classes every month. Core course work includes Higher Ed Laws and Regulations, Organization and Governance, and Multiculturalism and Diversity.</p>
                            <ul>
                                <li><a href="http://www.kaplanuniversity.edu/education/higher-education-master-degree.aspx">Homepage</a></li>
                                <li>Tuition per credit is $385.</li>
                            </ul>
                            <h3> 18. Southern New Hampshire University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" class="alignright size-full wp-image-1800" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Southern New Hampshire University&#8217;s online program consists of 36 credits. Students studying on an accelerated track of 2 courses per 10-week term can complete their degrees in as little as 15 months. Core course work includes Data-Driven Decision-Making in Higher Ed, Financial Management, and Leading Change, among others. Students choose 3 electives to tailor their education to fits needs and interests.</p>
                            <ul>
                                <li><a href="http://www.snhu.edu/online-degrees/masters/ms-in-higher-education-administration">Homepage</a></li>
                                <li>Tuition per credit is $627.</li>
                            </ul>
                            <h3> 19 (tied). University of Wisconsin System eCampus</h3>
                            <p><img src="../../wp-content/uploads/2015/10/wisconsin-system-e1444772189379.jpg" alt="wisconsin-system" width="125" height="105" class="alignright size-full wp-image-2763" />The University of Wisconsin offers a 33-credit online program. Wisconsin has one of the most flexible programs available, allowing students to take up to 7 years to graduate, or complete their degrees in as little as 2 years. Core course work includes Organization &#038; Governance in Higher Education Administration; Strategic Planning and Budgeting in Adult, Continuing, and Higher Education; and The Student in the Collegiate Context, among others. All students complete an e-Portfolio to graduate.</p>
                            <ul>
                                <li><a href="http://uwm.edu/education/academics/higher-edu-administration/">Homepage</a></li>
                                <li>Tuition per credit is $1,463.</li>
                            </ul>
                            <h3> 19 (tied). Tiffin University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Tiffin-University.jpg" alt="Tiffin University" width="125" height="125" class="alignright size-full wp-image-2350" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Tiffin-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Tiffin-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Tiffin University&#8217;s online program consists of 30 credits, delivered in accelerated 7-week terms. Full-time students may complete their degrees in as little as 18 months. Students choose two electives in addition to the core curriculum and Higher Ed Administration concentration classes: Student Enrollment and Retention, Assessment and Student Learning, Crisis Prevention in Educations, and Higher Education Finance and Budgeting. An e-Portfolio capstone is required to graduate. Also note that entry dates are available in January, March, May, July, August, and October.</p>
                            <ul>
                                <li><a href="http://www.tiffin.edu/graduateprograms/med/higher-education-administration/">Homepage</a></li>
                                <li>Tuition per credit is $500.</li>
                            </ul>
                            <h3> 19 (tied). Upper Iowa University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/upper-iowa-university.jpg" alt="upper-iowa-university" width="125" height="125" class="alignright size-full wp-image-2583" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/upper-iowa-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/upper-iowa-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Upper Iowa University&#8217;s online program is a 36-credit track &#8211; 21 core, 15 concentration. Two concentrations are available in Leadership and Student Affairs. Core course work includes Administration, Organization and Governance of Higher Education, Finance and Budgeting in Higher Education, and Political Issues in Higher Education, among others. A capstone research project is required to graduate.</p>
                            <ul>
                                <li><a href="http://www.uiu.edu/academics/graduate/mastersofhighereducation/">Homepage</a></li>
                                <li>Tuition per credit is $441.</li>
                            </ul>
                            <h3> 22. University of Houston</h3>
                            <p><img src="../../wp-content/uploads/2015/08/university-of-houston-downtown.jpg" alt="university-of-houston-downtown" width="125" height="125" class="alignright size-full wp-image-2415" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/university-of-houston-downtown.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/university-of-houston-downtown-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Houston&#8217;s online program consists of a minimum of 26 credits, which may be completed in as little as in 15 months on an accelerated track. Students choose between a thesis and non-thesis track, which culminates in a comprehensive exam. The thesis option is a minimum of 6 additional credits. Core course work includes Leadership for Change, American Higher Education, Cultural Foundations of American Education, and Assessment and Evaluation in Higher Education, among others.</p>
                            <ul>
                                <li><a href="https://www.coe.uh.edu/degree-programs/higher-ed-m/">Homepage</a></li>
                                <li>Tuition per credit is $904.</li>
                            </ul>
                            <h3> 23. University of Mississippi</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Mississippi.jpg" alt="Mississippi" width="125" height="125" class="alignright size-full wp-image-2373" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Mississippi.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Mississippi-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Mississippi offers an MA in Higher Education/Student Personnel that consists of 14 courses, including Student Services in Higher Education, Human Resources in Higher Education, Finance, and Community College. Note that the university required two on-campus residencies. As a cohort program, students learn a highly collaborative and intimate environment. All students pay in-state tuition.</p>
                            <ul>
                                <li><a href="http://education.olemiss.edu/academics/programs/higher_ed_online_ma.html">Homepage</a></li>
                                <li>Tuition per credit is $1,143.</li>
                            </ul>
                            <h3> 24 (tied). Hofstra University</h3>
                            <p><img src="../../wp-content/uploads/2013/02/19.-Hofstra.jpg" alt="19. Hofstra" width="125" height="125" class="alignright size-full wp-image-1894" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/19.-Hofstra.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/19.-Hofstra-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Hofstra offers a MS.Ed in Higher Education Leadership and Policy Studies that consists of 36 credits &#8211; 27 core, 6 elective, and 3 capstone. Core courses include Teaching and Learning in Higher Education, Legal and Ethical Issues in Higher Education, and Planning, Assessment, Accreditation in Higher Education. A flexible course delivery format allows for students to maintain schedules that best fit their needs. Most students follow an accelerated track in which they can graduate in as little as 6 semesters.</p>
                            <ul>
                                <li><a href="http://www.hofstra.edu/Academics/Colleges/SOEAHS/TLL/helps/index.html">Homepage</a></li>
                                <li>Tuition per credit is $1,192.</li>
                            </ul>
                            <h3> 24 (tied). Post University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/post-university.jpg" alt="post-university" width="125" height="125" class="alignright size-full wp-image-2428" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/post-university.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/post-university-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Post University&#8217;s online MEd with a Concentration in Higher Education Administration is a 33-credit track &#8211; 12 core, 12 concentration, and 9 capstone. Other relevant concentrations include Online Teaching, Teaching &#038; Learning, and TESOL. Higher Ed classes include Teaching the Adult Learner, The New Post Secondary Student, Administration &#038; Leadership of Higher Education, and Higher Education Policy, Politics and Pressing Issues. Thanks to an asynchronous delivery, students can complete all course work according to their own schedules.</p>
                            <ul>
                                <li><a href="http://www.post.edu/degrees-and-programs/online-programs/graduate-degrees/master-of-education-higher-education-administration">Homepage</a></li>
                                <li>Tuition per credit is $570.</li>
                            </ul>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out-of-state tuition per credit hour</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li>
                                    <strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")
</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-higher-education-administration-degree-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:48:48 GMT -->
</html>
