@{
    ViewBag.Title = "o_mas_edu";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-education/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:39:55 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Masters in Education Degree Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style21e1.css?ver=1461895450' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt21e1.css?ver=1461895450' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts21e1.js?ver=1461895450'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexcaf0.html?p=359' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed5402.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-education%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed53c6?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-education%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-359 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Masters in Education Degree Programs
                            </h2>
                            <p><img class="alignright size-full wp-image-1776" src="../../wp-content/uploads/2013/10/top-online-masters-in-ed.jpg" alt="top-online-masters-in-ed" width="360" height="290" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/top-online-masters-in-ed.jpg 360w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/top-online-masters-in-ed-300x242.jpg 300w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/top-online-masters-in-ed-150x121.jpg 150w" sizes="(max-width: 360px) 100vw, 360px" />As many students of online masters in education are currently full-time teachers looking to advance in their careers through working and completing coursework simultaneously, we&#8217;ve weighted flexibility and the affordability of programs highly. Because most online programs closely mirror traditional programs from the parent institution, we&#8217;ve also included a rank for the quality of the parent institution&#8217;s school of education. Check out the best Masters in Education programs available fully online below.</p>
                            <h3>Featured Masters in Education Degree Programs</h3>
                            <ul>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/usc-rossier?program=7185&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">USC Rossier &#8211; (M.A.) in Teaching</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/university-of-the-rockies?program=16927&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of the Rockies &#8211; Master of Arts in Education</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/ashford-university?program=16502&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Ashford University &#8211; MA: Education</a></strong></li>
                            </ul>
                            <h3>Ranking The 25 Best Online Masters in Education Degree Programs For 2015</h3>
                            <p><strong>Methodology</strong></p>
                            <ul>
                                <li><strong>Flexibility Score (.4):</strong> a rating of the number of specializations, delivery methods and general flexibility afforded by programs.</li>
                                <li><strong>Affordability (.4):</strong> a ranking of the average cost per credit hour for masters in education programs.</li>
                                <li><strong>Quality of providing institution (.2)</strong> the quality of the parent institution of the online program as seen in <i>US News</i> rankings.</li>
                            </ul>
                            <h3>1. Ball State University</h3>
                            <p><img class="alignright size-full wp-image-1850" src="../../wp-content/uploads/2015/02/16.-Ball-State.png" alt="16. Ball State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Ball-State.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Ball-State-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Ball State University offers an amazing 14 masters in education programs online, including the most popular options in primary education, secondary education, special education, and curriculum &amp; educational technology. 17 certificates classes as well as 10 licensure classes are available for educators online as well. Besides flexibility and the ability to take a wide variety of programs, Ball State is also the 4th most affordable school on our list with graduate per credit hour costs of $315 for Indiana residents, and $530 for non-residents. The accompanying school of education at Ball State is currently ranked 86th by US News.</p>
                            <h3>2. Western Governor&#8217;s University</h3>
                            <p><img class="alignright size-full wp-image-1505" src="../../wp-content/uploads/2013/09/western-governors-computer-science.png" alt="western-governors-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/western-governors-computer-science.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/western-governors-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" />Western Governor&#8217;s University is built around the idea that adult learners can be served through flexible coursework so as to advance in their careers. Fourteen education-related masters are available from Western Governor&#8217;s, including instructional design, science education, math education, and special education. Western Governor&#8217;s is unique in both its flexibility and pricing, not focusing on classes but rather on &#8220;competency units.&#8221; Students are billed a flat rate of $2890 per six-month term, and are allowed to complete as many classes as they can in this amount of time. While slower workers could extend the program and thus costs, this is unique in pricing arrangements in our rankings, and has the potential to make for a very affordable degree.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/western-governors-university?program=18138&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Western Governor&#8217;s University information&lt;&lt;&lt;</a></strong></p>
                            <h3>3. American College of Education</h3>
                            <p><img class="alignright size-full wp-image-1897" src="../../wp-content/uploads/2013/10/3.-American-College-Education.jpg" alt="3. American College Education" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/3.-American-College-Education.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/3.-American-College-Education-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The American College of Education offers two M.A. programs in elementary and secondary teaching online, as well as a larger number of masters in education degrees, including: curriculum and instructional design, educational technology, and bilingual education. The American College of Education also offers a number of courses stepping a student toward licensure in a given subject, as well as a number of graduate level certificates. Tuition is $215 per credit hour for masters in education programs, the lowest tuition rate in our rankings. This renders all of their masters programs at less than $8,000. Rates are even lower for members of the armed services or their spouses.</p>
                            <h3>4. Grand Canyon University</h3>
                            <p><img class="alignright size-full wp-image-1798" src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Grand Canyon University was founded in 1949 as a private, Christian teachers college. Today they offer 18 M.A.&#8217;s and Masters in education programs online, including: elementary, secondary, special education, curriculum &amp; instruction, and a focus on Autism spectrum disorders. Learning is asynchronous at Grand Canyon University, and courses taken one at a time, allowing for students to mold their coursework around their work and lives. Most courses of study are offered either as evening or online courses, and as programs that lead to licensure or not (if you&#8217;re a teacher who is already licensed). Graduate education classes cost $510 per credit hour, the 6th most affordable rate in our rankings, with continuing education courses available at $150 per credit hour.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/grand-canyon-university?program=6410&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Grand Canyon University information&lt;&lt;&lt;</a></strong></p>
                            <h3>5. Arizona State University</h3>
                            <p><img class="alignright size-full wp-image-1791" src="../../wp-content/uploads/2015/01/2.-Arizona-State.jpg" alt="2. Arizona State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Online masters from Arizona State University are offered through the top ranked Mary Lou Fulton Teacher&#8217;s College, currently ranked 18th for education departments in the nation by US News. Six masters in education programs are available online, including a unique program focusing on curriculum &amp; instruction of gifted students. 5 graduate level certificates are also available through the college. Tuition is currently $545 per credit hour, ranking Arizona State 11th for affordability in our rankings. For teachers who need certification, a few credit hours may be added to existing programs.</p>
                            <h3>6. Capella University</h3>
                            <p><img class="alignright size-full wp-image-1898" src="../../wp-content/uploads/2013/10/6.-Capella.jpg" alt="6. Capella" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Capella University offers 12 concentrations for their M.S. in education online program. Unique offerings include concentrations in early childhood education, integrative studies, and training &amp; performance improvement. Courses are 10 weeks long, and Capella allows students to take a range of course loads per quarter, increasing flexibility for the program. Tuition for Capella University&#8217;s M.S. in K-12 Education is currently $436 per credit hour, ranking the program as the 6th most affordable in our rankings.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/capella-university?program=3352&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Capella University information&lt;&lt;&lt;</a></strong></p>
                            <h3>7. (Tie) Oregon State University</h3>
                            <p><img class="alignright size-full wp-image-1795" src="../../wp-content/uploads/2015/01/6.-Oregon-State.jpg" alt="6. Oregon State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/6.-Oregon-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/6.-Oregon-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Oregon State University offers a masters in education for K-12 teachers, an M.S. in science and mathematics education, as well as a masters in counseling in schools. The counseling degree does require two short classes to be attended on campus, and thus is technically a blended program, but all other programs are entirely online. Students may start in any term, and aren&#8217;t tied to a cohort (they can take classes at paces at which they please). 45 credit hours are needed to graduate, with a tuition rate of $512 per credit hour, or the 8th most affordable school in our rankings. Oregon State University&#8217;s education school is currently ranked 106th in the nation by US News.</p>
                            <h3>7. (tie) University of New England</h3>
                            <p><img class="alignright size-full wp-image-1899" src="../../wp-content/uploads/2013/10/8.-New-England.jpg" alt="Print" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/8.-New-England.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/8.-New-England-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of New England offers 6 M.S. in education programs online, as well as 7 certificates of advanced study in education. Unique masters level programs include focuses on career and technical education, and inclusion education. Scheduling is flexible at the University of New England, with many programs completable in less than 2 years. Though the program may be extended for longer if that suits your individual needs. University of New England costs $510 per credit hour, ranking the program as the 6th most affordable in our rankings.</p>
                            <h3>9. Texas A&amp;M</h3>
                            <p><img class="alignright size-full wp-image-1900" src="../../wp-content/uploads/2013/10/9.-Texas-AM.jpg" alt="9. Texas AM" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/9.-Texas-AM.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/9.-Texas-AM-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Texas A&amp;M offers distance learning masters degrees in twelve education-centered topics, including programs on adult education, bilingual education, public school administration, and a number of curriculum and instruction centred tracks. Most programs directly mirror their traditional counterparts, and include research, coursework, as well as a practicum. Tuition is currently $546 per credit hour (ranked twelfth as far as affordability in our rankings), with many programs requiring 36 credit hours in order to graduate.</p>
                            <h3>10. North Carolina State University</h3>
                            <p><img class="alignright size-full wp-image-1882" src="../../wp-content/uploads/2013/02/12.-North-Carolina-State.jpg" alt="12. North Carolina State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/12.-North-Carolina-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/12.-North-Carolina-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />North Carolina State University offers 6 Masters in Education, two M.S. degrees in education subjects, two online teacher licensure programs, and three graduate level certificates in education subjects. Courses may be taken on a part-time or full-time basis, with many masters programs taking 3-4 years to complete on a part-time schedule. Tuition for North Carolina State University is $561 per credit hour, making it the 14th most affordable school on our list. North Carolina State&#8217;s college of education is currently ranked #51 in the nation by US News.</p>
                            <h3>11. Walden University</h3>
                            <p><img class="alignright size-full wp-image-1865" src="../../wp-content/uploads/2015/02/18.-Walden.jpg" alt="" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Walden.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Walden-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Walden University offers 5 M.S. degrees in education, including an accelerated M.S. in Education that can be completed in as little as 12 months (and for a total tuition cost of less than $10,000). The traditional M.S. in education offers up to 17 specializations, while the accelerated has three tracks.Unique specializations include M.S. programs in professional development in education, as well as integrating technology in the classroom. Tuition for Walden University is $530 per credit hour, ranking the institution as the 9th most affordable in our rankings.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/capella-university?program=3352&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Walden University information&lt;&lt;&lt;</a></strong></p>
                            <h3>12. Post University</h3>
                            <p><img class="alignright size-full wp-image-1869" src="../../wp-content/uploads/2015/02/23.-Post.png" alt="23. Post" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/23.-Post.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/23.-Post-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Post University offers online masters in education programs with the following concentrations: higher education administration, instructional design &amp; technology, online teaching, teaching &amp; learning, and TESOL. Post University offers a great deal of flexibility in their programs, offering an accelerated program that can be completed in as little as 12 months, and courses every 8 weeks, meaning you can start the program at one of six start dates through the year. Tuition for Post University is $570 per credit unit, which ranks Post as the 17th most affordable program in our rankings.</p>
                            <h3>13. University of San Diego</h3>
                            <p><img class="alignright size-full wp-image-1901" src="../../wp-content/uploads/2013/10/13.-San-Diego.jpg" alt="13. San Diego" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/13.-San-Diego.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/13.-San-Diego-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of San Diego offers a Master of Education online program with three concentrations: STEAM (science, technology, engineering, arts, and math), literacy &amp; digital learning, and universal design for education &amp; inclusive learning. Programs are meant to be completed in 20 months, and are designed for experienced K-12 educators. Currently, tuition is $699 per credit hour for Masters in Education programs, making the University of San Diego the 22nd most affordable program in our rankings. San Diego&#8217;s education program is currently ranked 86th in the nation by US News.</p>
                            <h3>14. (tie) Liberty University</h3>
                            <p><img class="alignright size-full wp-image-1803" src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Liberty University offers 15 concentrations for their online masters in education programs, 4 concentrations for their online M.S. in education programs, and 4 graduate level education-centered certificates. Unique offerings include Masters in teaching and learning with a focus on English, history, and leadership. For certificates, educational technology &amp; online instruction, and middle grades are unique offerings. Tuition for Liberty University programs is currently $565 per credit hour, ranking the program as the 16th most affordable school in our rankings.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/liberty-university-online?program=16846&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Liberty University information&lt;&lt;&lt;</a></strong></p>
                            <h3>14. (tie) Concordia University</h3>
                            <p><img class="alignright size-full wp-image-1902" src="../../wp-content/uploads/2013/10/15.-Concordia.jpg" alt="15. Concordia" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Concordia University offers a Masters in Education degree with six specializations, as well as an accelerated one-year masters program. Unique specializations include a general and a more advanced masters in special education (in which students can delve into particular types of special needs children), as well as a masters in career &amp; technical education. Besides the accelerated path, additional flexibility is available through Concordia&#8217;s dual concentration program, in which courses function to fulfill requirements in two concentrations, and masters&#8217; topics that complement one another can be focused on. Tuition for Concordia is $697 per credit hour, ranking the school as the 21st most affordable school in our rankings.</p>
                            <h3>14. (tie) Purdue University</h3>
                            <p><img class="alignright size-full wp-image-1903" src="../../wp-content/uploads/2013/10/16.-Purdue.jpg" alt="16. Purdue" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/16.-Purdue.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/16.-Purdue-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Purdue offers two fully online M.S. education-centered programs: one on education in learning design &amp; technology, and a second on special education. The first program is versatile, in that it can be used in traditional educational settings, or in corporate settings. The second offers three tracks, one in which only a masters is attained, a second in which licensure in special education is attained, and a third where an advanced licensure in special education is attained. Tuition at Purdue is currently $329 for in-state residents, and $650 for out-of-state, the average of which places Purdue as the 3rd most affordable school in our rankings.</p>
                            <h3>17. University of Cincinnati</h3>
                            <p><img class="alignright size-full wp-image-1904" src="../../wp-content/uploads/2013/10/17.-Cincinnati.jpg" alt="17. Cincinnati" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Cincinnati currently offers 9 specializations for their online masters in education degrees, as well as 5 online graduate certifications. Unique offerings include certificates in instruction of gifted, talented, and creative students, and a Master of Education with a focus on teacher leadership. Currently tuition is $710 per credit hour, ranking University of Cincinnati as the 23rd most affordable school in our rankings. Cincinnati&#8217;s education program is currently ranked 62nd in the nation by US News.</p>
                            <h3>18. Regent University</h3>
                            <p><img class="alignright size-full wp-image-1905" src="../../wp-content/uploads/2013/10/18.-Regent.jpg" alt="18. Regent" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/18.-Regent.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/18.-Regent-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Regent University is a Christian, private institution offering 12 Masters in education tracks online. Unique offerings include a masters in Christian School Administration, a masters with an individualized instruction plan, and a masters with an individualized instruction plan and a focus on educational therapy. Currently tuition for Regent&#8217;s masters in education programs is $575 per credit hour, ranking the program as the 19th most affordable in our rankings. Regent is ranked by US News, but their rank score is not published.</p>
                            <h3>19. University of Southern California &#8211; Rossier</h3>
                            <p><img class="alignright size-full wp-image-1906" src="../../wp-content/uploads/2013/10/19.-USC-Rossier.jpg" alt="" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/19.-USC-Rossier.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/19.-USC-Rossier-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />USC Rossier School of Education currently offers 3 masters in education programs online,as well as 2 M.A. programs in education,a special education credential, and a gifted education certificate. The M.A. in Teaching route is perhaps the most versatile, with concentrations in multiple subject teaching (elementary), secondary English, secondary mathematics, secondary science, and secondary social science. USC Rossier&#8217;s online programs currently cost an average of $1636 per credit hour for part time, ranking the school as one of the most expensive in our rankings. You&#8217;re paying for something special, however, with USC Rossier ranked as the 18th best education program in the nation by US News.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/usc-rossier?program=7185&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free USC Rossier University information&lt;&lt;&lt;</a></strong></p>
                            <h3>20. North Central University</h3>
                            <p><img class="alignright size-full wp-image-1907" src="../../wp-content/uploads/2013/10/20.-North-Central.jpg" alt="20. North Central" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/20.-North-Central.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/20.-North-Central-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />North Central University offers a fully online master of education degree with a whopping 19 specializations. Specializations include adult learning and workforce education, athletic coaching, corporate wellness, curriculum and teaching, early childhood education, educational leadership, e-learning, English as a second language, general education, global training and development, instructional leadership, international education, leadership in higher education, organizational leadership, PK-12 principal leadership, special education, sports management, and two accelerated programs in education leadership as well as leadership in higher ed. Current estimated per-credit cost for NCU is $576, making it the 20th most affordable program on our list. NCU is currently unranked by US News.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/northcentral-university?program=14585&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Northcentral University information&lt;&lt;&lt;</a></strong></p>
                            <h3>21. University of Massachusetts (tie)</h3>
                            <p><img class="alignright size-full wp-image-1859" src="../../wp-content/uploads/2015/02/10.-UMASS.jpg" alt="10. UMASS" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/10.-UMASS.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/10.-UMASS-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />UMass Online currently currently offers 11 variations of their online Masters in Education, including three related to vision studies, science education, instructional design, school counseling, three in curriculum and instruction, educational administration, and reading and language. Five certification programs are also available, requiring between 12 and 28 graduate level credit hours to complete. The current estimated per-credit hour cost for the program is $490, making the program the 6th most affordable of those surveyed. UMass Online is comprised of a number of University of Massachussets campuses, and thus not provided a single ranking by US News, but a number of locations are nationally ranked.</p>
                            <h3>21. Michigan State University (tie)</h3>
                            <p><img class="alignright size-full wp-image-1908" src="../../wp-content/uploads/2013/10/21.-Michigan-State.jpg" alt="21. Michigan State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/21.-Michigan-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/21.-Michigan-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Michigan State University offers 10 fully-online education-centered masters programs, a number of which are highly ranked in their given subspecialties. Programs include masters in health professions education, higher, adult and lifelong education, K-12 educational administration, kinesiology, M.A. in education, M.A. in educational technology, M.A. in teaching and curriculum, rehabilitation counseling, special education, and student affairs administration. The estimated per-credit hour cost for masters in education programs at Michigan State University is $990.50, making the program the 30th most affordable of surveyed programs. Michigan State University is currently the 85th ranked national university according to US News.</p>
                            <h3>21. Queens University of Charlotte (tie)</h3>
                            <p><img class="alignright size-full wp-image-1909" src="../../wp-content/uploads/2013/10/22.-Queens-Charlotte.jpg" alt="" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/22.-Queens-Charlotte.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/22.-Queens-Charlotte-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Queens University of Charlotte only offers a single online M.A. in education, but it&#8217;s one of the most affordable programs of those we surveyed. The program is a M.A. in educational leadership, with an estimated per credit hour tuition rate of $382 (the second most affordable of programs surveyed). The program is 33 credit hours in length, and helps to prepare students to take on leadership roles in primary and secondary schools.</p>
                            <h3>21. University of Florida (tie)</h3>
                            <p><img class="alignright size-full wp-image-1878" src="../../wp-content/uploads/2013/02/6.-Florida.jpg" alt="6. Florida" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Florida offers four fully-online masters programs through their College of Education, including masters in educational leadership, curriculum &amp; instruction: teacher leadership for school improvement, curriculum &amp; instruction: education technology, and special education. The estimated cost per credit hour for the programs is $852 per credit hour, making the program the 28th most affordable of those surveyed. The University of Florida is currently the 48th ranked national university according to US News.</p>
                            <h3>25. Drexel University</h3>
                            <p><img class="alignright size-full wp-image-1848" src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Drexel University offers 10 masters degrees in education, including masters in science programs in special education, mathematics learning and teaching, human resource development, learning technologies, teaching, learning and curriculum: advanced teaching track, teaching, learning and curriculum: teacher certification track (both in PreK-4 and secondary education), higher education, and global and international education. Current estimated per credit hour costs for the program are $787, making the program the 26th most affordable of those surveyed. Drexel University is currently the 95th ranked national university according to US News.</p>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-education/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:40:06 GMT -->
</html>
