@{
    ViewBag.Title = "o_mas_special";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-special-education/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:48:55 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Master&#039;s In Special Education Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style50a1.css?ver=1461897511' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt50a1.css?ver=1461897511' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts50a1.js?ver=1461897511'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index99a0.html?p=2366' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embede6d2.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-special-education%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed397c?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-special-education%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2366 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Master&#8217;s In Special Education Programs
                            </h2>
                            <p><img src="../../wp-content/uploads/2015/08/online-special-ed-masters.jpg" alt="online-special-ed-masters" width="360" height="288" class="alignright size-full wp-image-2730" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/online-special-ed-masters.jpg 360w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/online-special-ed-masters-300x240.jpg 300w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/online-special-ed-masters-150x120.jpg 150w" sizes="(max-width: 360px) 100vw, 360px" />Some postgraduate degrees are designed to help you; some are designed to help those around you. A Masters in Special Education is the latter. With this degree, you’ll be in a position to work with children who might otherwise not have access to the special care they need. In general, this includes children with learning disabilities, physical disabilities, emotional and behavioral disorders, and developmental disorders, among others.</p>
                            <h3>Featured Online Master&#8217;s In Special Education Programs:</h3>
                            <ul>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/xavier-university?program=18512&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Xavier University: M.Ed. &#8211; Special Education</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/northcentral-university?program=14591&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Northcentral University: M.Ed. &#8211; Special Education</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/florida-international-university?program=18652&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Florida International University: MS &#8211; Special Education</a></strong></li>
                            </ul>
                            <p>Below is the list of the top 25 online programs for obtaining a Masters in Special Ed, according to our methodology.</p>
                            <h3> 1. Emporia State University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Emporia-State.jpg" alt="Emporia State" width="125" height="125" class="alignright size-full wp-image-2367" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Emporia-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Emporia-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The online program at Emporia State University includes two tracks—a Masters of Science, or an endorsement program, which is a set of foundation courses to qualify for a state’s minimum competency requirement. The endorsement program is a 24 credit ­hour, basic track, whereas the MS includes 12 additional hours for a total of 36. All coursework must be completed within seven years of admission, but students may otherwise finish the required curriculum at their own pace. Emporia also offers a number of specializations and concentrations to pursue according to students’ interests. GPA and undergraduate credit ­hour requirements vary on the particular track.</p>
                            <h3> 2. University of Nebraska—Lincoln</h3>
                            <p><img src="../../wp-content/uploads/2013/02/11.-Nebraska.jpg" alt="11. Nebraska" width="125" height="125" class="alignright size-full wp-image-1881" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/11.-Nebraska.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/11.-Nebraska-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The online program at Nebraska—Lincoln includes four separate Special Ed tracks, including programs in Early Childhood, Deaf Education, and Mild Moderate Handicaps. UNL also offers endorsement programs, in addition to a Masters. Dependent upon undergraduate coursework—18 hours of which are transferable — an endorsement typically includes 30 credit hours. The Masters runs between 36 and 44 credit hours, and may also require a thesis and comprehensive exam, according to the individual program’s graduation requirement. While the time it takes to complete a degree varies, courses are mostly <a href="http://online.unl.edu/learning­with­us/how­classes­work.aspx">taught asynchronously</a>, allowing students to study at their own pace.</p>
                            <h3> 3 (tied). Graceland University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Graceland-University.jpg" alt="Graceland University" width="125" height="125" class="alignright size-full wp-image-2368" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Graceland-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Graceland-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Graceland University’s online program includes two MEd tracks in Differentiated Education and Mild/Moderate Special Education, which is a 30 credit­ hour curriculum. The MEd in Differentiated Education combines the work of world­ renowned experts Dr. Carol Anne Tomlinson and Dr. William Glasser, each of whom also appears as video instructors in several of the program’s courses. In particular, Graceland emphasizes a collaborative approach with fellow online students, clear and practical connections between coursework and classroom practice, and opportunities to combine classroom practices with national standards.</p>
                            <h3> 3 (tied). Florida State University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Florida-State.jpg" alt="Florida State" width="125" height="125" class="alignright size-full wp-image-2369" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Florida-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Florida-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The online program at Florida State University includes specialized tracks in autism, early childhood, differentiated education, severe disabilities, and transition. FSU also offers an excellent online Master’s in Special Education Studies, which consists of 33 semester hours, and is designed for current teachers who already have a some kind of degree in education, general or special. For admission, applicants must have earned at least a 3.0 undergraduate GPA and submit GRE scores. The average verbal score is 146, and the average quantitative is 140.</p>
                            <h3> 5. University of Northern Colorado</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Northern-Colorado.jpg" alt="Northern Colorado" width="125" height="125" class="alignright size-full wp-image-2370" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Northern-Colorado.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Northern-Colorado-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Northern Colorado offers seven different special education programs, each of which are available to complete totally online. The expected time to graduate varies per track, but certain emphases may be completed in just two years. In addition, Northern Colorado also offers certificate and endorsement programs for students who choose not to pursue the full master’s.</p>
                            <h3> 6. Ball State University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/16.-Ball-State.png" alt="16. Ball State" width="125" height="125" class="alignright size-full wp-image-1850" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Ball-State.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Ball-State-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Ball State University offers an online MA in Applied Behavior Analysis (ABA) with an emphasis on Autism. This is a 30 credit­ hour course typically completed in 18­24 months, with the option for accelerated 8­week courses for students who wish to complete their degree as soon as possible. Graduate certificates in a specialized education field are offered as well, for students unsure of an MA. Admission requires applicants to have earned at least a 2.75 cumulative undergraduate GPA, but GRE scores are not necessary.</p>
                            <h3> 7. Auburn University</h3>
                            <p><img src="../../wp-content/uploads/2013/02/17.-Auburn.jpg" alt="17. Auburn" width="125" height="125" class="alignright size-full wp-image-1887" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/17.-Auburn.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/17.-Auburn-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Auburn’s online program offers both a traditional and alternative fifth­ year MEd in Early Childhood Special Education. Depending on transferable credits and specific track, the online coursework ranges from 30 to 60 credits. Each track emphasizes teaching field courses and provides students with a valuable experiential learning angle, including internship programs. For admission, students must have earned at least a 2.75 undergraduate GPA.</p>
                            <h3> 8. Pennsylvania State University—World Campus</h3>
                            <p><img src="../../wp-content/uploads/2015/01/9.-Penn-State.jpg" alt="9. Penn State" width="125" height="125" class="alignright size-full wp-image-1797" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Penn State’s online program is a 32 credit ­hour MEd in Special Education, with three potential emphases: ABA, autism, and academic and behavioral supports. For full­ time students, expected graduation time is just one calendar year. Students who take one or two courses per semester typically take two calendar years to graduate. There are also certification programs available to students not interested in the full master’s.Tuition per credit here is $784.</p>
                            <h3> 9. University of Florida</h3>
                            <p><img src="../../wp-content/uploads/2013/02/6.-Florida.jpg" alt="6. Florida" width="125" height="125" class="alignright size-full wp-image-1878" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/6.-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The online program at the University of Florida is a 36 credit ­hour curriculum with three possible tracks: general, autism, and transition. All students are required to complete the 12 credit­ hour “Teach Well Core.” Designed primarily for part ­time students, each track typically takes students two years to complete, with two courses per semester. Florida also offers an integrated/accelerated bachelor’s to master’s track, and a specialist degree for students who have already completed a master’s and are looking for leadership roles in their professional environments.</p>
                            <h3> 10. Indiana University — Bloomington</h3>
                            <p><img src="../../wp-content/uploads/2013/02/1.-Indiana.jpg" alt="1. Indiana" width="125" height="125" class="alignright size-full wp-image-1874" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/1.-Indiana.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/1.-Indiana-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Indiana University’s online program is a 36­ hour curriculum, typically spread out over the course of two years. Students choose an individualized track according to their area of interest, which inlcludes autism, behavior specialists, early childhood, instructional strategies, and intense interventions. A capstone thesis is also required to complete the degree. For admission, GRE scores are only required if the student’s undergraduate GPA is lower than 3.0.</p>
                            <h3> 11 (tied). University of Nebraska — Kearney</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Nebraska-Kearney.jpg" alt="Nebraska Kearney" width="125" height="125" class="alignright size-full wp-image-2371" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Nebraska-Kearney.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Nebraska-Kearney-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />University of Nebraska—Kearney is a 100% online program that consists of 36 credit hours. Emphases include mild/moderate disabilities and an MEd in Advanced Practitioner and Supervisor of Special Ed. In addition to an MEd, two endorsement programs are also available.</p>
                            <h3> 11 (tied). Regent University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/18.-Regent.jpg" alt="18. Regent" width="125" height="125" class="alignright size-full wp-image-1905" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/18.-Regent.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/18.-Regent-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The MEd in Special Education at Regent University is a 42 credit­ hour program delivered via eight ­week courses. There are also several certificate and endorsement add­ on options, including an autistic certificate and reading specialist endorsement. An educational specialist degree with an emphasis on special education is also offered. Accelerated options are available.</p>
                            <h3> 13. Michigan State University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/21.-Michigan-State.jpg" alt="21. Michigan State" width="125" height="125" class="alignright size-full wp-image-1908" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/21.-Michigan-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/21.-Michigan-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Michigan State’s online program is a 100% online program that culminates in a MEd in Education with a Concentration in Special Ed. In addition, students who want to pursue a broader background may also choose to add an additional concentration from a wide variety of subjects, including literacy education, math and science, and technology and learning, among others. GRE scores are not required for admission, but applicants must have earned at least a 3.0 undergraduate GPA, ideally in a relevant field.</p>
                            <h3> 14. Lamar University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/18.-Lamar.jpg" alt="18. Lamar" width="125" height="125" class="alignright size-full wp-image-1852" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Lamar University offers two online programs—a generic MEd in Special Education, and a MEd in Special Education for Autism. The generic MEd consists of 36 credit hours, though an optional final thesis can be counted toward 6 of those. Applicants who have not earned at least a 3.0 undergraduate GPA must submit GRE scores.</p>
                            <h3> 15. Arizona State University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/2.-Arizona-State.jpg" alt="2. Arizona State" width="125" height="125" class="alignright size-full wp-image-1791" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The online program at Arizona state offers an MEd degree toward autism, ABA, gifted children. The autism track includes in a final portfolio that demonstrates a comprehensive knowledge of the material and vidence of competency in the six Council for Exceptional Children autism standards. For admission, applicants must have earned at least a 3.0 GPA in their last 90 hours of coursework. GRE scores are not required.</p>
                            <p>Tuition per credit is $555.</p>
                            <h3> 16. University of Cincinnati</h3>
                            <p><img src="../../wp-content/uploads/2013/10/17.-Cincinnati.jpg" alt="17. Cincinnati" width="125" height="125" class="alignright size-full wp-image-1904" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/17.-Cincinnati-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Cincinnati offers three areas of concentration for the MEd in Special Education—autism spectrum disorder, transition to work, and advanced studies. Each track consists of 30 semester credits, and can be completed in as little as two years. Courses run for 14 weeks and are 100% online. Admission requires at least a 3.0 undergraduate GPA and GRE scores.</p>
                            <h3> 17. University of South Florida</h3>
                            <p><img src="../../wp-content/uploads/2015/08/South-Florida.jpg" alt="South Florida" width="125" height="125" class="alignright size-full wp-image-2372" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/South-Florida.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/South-Florida-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of South Florida offers an MA in Exceptional Student Education (ESE), best suited for individuals with a background in education, special education or a closely related field. The program consists of 36 total credits—27 core requirements, and 9 in a specialization, of which students can choose between learning disabilities, behavioral disorders, intellectual disabilities, and ESE. All specializations, with the exception of ESE, include one advanced theories course and two electives, which can potentially lead to an endorsement in one of the following: autism, gifted education, and reading.</p>
                            <h3> 18. University of Mississippi</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Mississippi.jpg" alt="Mississippi" width="125" height="125" class="alignright size-full wp-image-2373" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Mississippi.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Mississippi-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The program at the University of Mississippi consists of 30 credit hours, which includes 15 hours of concentration in Special Ed. In addition, there are emotional disability and gifted endorsement options available to eligible students. The university also offers a specialist’s program as an advanced degree beyond the master’s for interested students. For the MEd, admission requires at least a 3.0 undergraduate GPA, Praxis II content scores, and proof a licensure in content area.</p>
                            <h3> 19. College of St. Scholastica</h3>
                            <p><img src="../../wp-content/uploads/2015/08/College-of-St-Scholastica.jpg" alt="St Scholastica" width="125" height="125" class="alignright size-full wp-image-2374" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/College-of-St-Scholastica.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/College-of-St-Scholastica-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The 100% online program at St. Scholastica consists of 33 total credit hours and may be completed in as soon as two years. In addition, up to 6 credits are transferable to further accelerate studies (so long as the credits have been earned in the past 7 years). Students will pursue a Master’s in Professional Studies, through which students can individualize a special ed coursework program.</p>
                            <h3> 20 (tied). Fort Hays State University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg" alt="8. Fort Hays State University" width="125" height="125" class="alignright size-full wp-image-1796" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Fort Hays State University offers an <a href="http://www.fhsu.edu/virtualcollege/degrees/masters/special-education/">MS in Special Education</a> that consists of 36 credit hours. This program can either be completed for Gifted or High-Incidence Special Education. Rolling enrollment allows for a transition back into school made even easier for teachers who are currently working. Tuition is currently $253 per credit hour, making the program one of the most affordable of those surveyed. Related Masters degrees including Counseling, School District Leadership, and Educational Leadership are also available fully online from Fort Hays State University.</p>
                            <h3> 20 (tied). Boise State University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Boise-State.jpg" alt="Boise State" width="125" height="125" class="alignright size-full wp-image-2375" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Boise-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Boise-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Boise State offers four fully online graduate level special education programs including a Masters in Teaching in Special Education, a Masters of Education in Early and Special Education, a Master in Teaching in Early Childhood Intervention, and a graduate certification for Behavioral Specialists. Most full Masters-level programs in Special Education require 34 graduate credit hours. Some courses are offered in video conferencing format, allowing for live feedback from professors and other students. Estimated out-of-state tuition is currently $697 per credit hour.</p>
                            <h3> 20 (tied). Eastern Kentucky University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Eastern-Kentucky.jpg" alt="Eastern Kentucky" width="125" height="125" class="alignright size-full wp-image-2376" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Eastern-Kentucky.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Eastern-Kentucky-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Eastern Kentucky offers a Master’s in Special Education for learning and behavioral disorders, deaf and hard of hearing, and interdisciplinary early childhood education. In addition, graduate, non­ degree granting certificate programs include coursework in moderate and sever disabilities, learning and behavioral disorders, deaf and hard of hearing, and interdisciplinary childhood education. Depending upon undergraduate coursework and if additional certifications are added, the program consists of 30­42 credit hours. Courses are traditionally delivered in eight week denominations, but accelerated 6­ week programs are available as well.</p>
                            <h3> 23. Western Kentucky University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Western-Kentucky.jpg" alt="Western Kentucky" width="125" height="125" class="alignright size-full wp-image-2377" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Western-Kentucky.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Western-Kentucky-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Western Kentucky’s online program offers two tracks to students: the Master’s of Arts in Special Ed for Moderate and Severe Disabilities, and one for Learning and Behavior Disorders. For the latter, two concentrations are available for advanced preparation, one for students with prior LBD experience, and one for students with prior special experience excepting LBD. Each track consists of 37 credit hours. A certificate for autism disorder is also offered. Applicants must have earned at least a 2.75 undergraduate GPA, or otherwise submit GRE scores.</p>
                            <h3> 24. Old Dominion University (Darden)</h3>
                            <p><img src="../../wp-content/uploads/2015/01/19.-Old-Dominion.jpg" alt="19. Old Dominion" width="125" height="125" class="alignright size-full wp-image-1807" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/19.-Old-Dominion.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/19.-Old-Dominion-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The program at Old Dominion consists of 30 credit hours and culminates in an MS in Education, with a concentration in Special Ed. Classes may be taken synchronously or a synchronously, affording students a flexible schedule at which to complete their studies. For admission, applicants must have earned a 3.0 undergraduate GPA and submit GRE scores. Other features include endorsement programs in mild disabilities and severe disabilities, and certificate programs in ABA and autism disorder.</p>
                            <h3> 25. Drexel University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" class="alignright size-full wp-image-1848" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Drexel University offers an MS in Special Education with concentrations in a wide variety of areas, including autism, reading, and technologies, among several others. The total course work requires 49.5 credit hours, which tallies up as 31.5 core credits, 12 concentration credits, and 6 research credits. Field work is particularly an emphasis at Drexel’s program, and most courses include it as a component.</p>
                            <h3>Methodology:</h3>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: the average out­of­state tuition per credit hour.</li>
                                <li><strong>Flexibility (1/3)</strong>: if the program offers additional specializations and/or an accelerated track</li>
                                <li><strong>Academic Reputation (1/3)</strong>: the rank of the school’s parent institution according to <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-special-education/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:49:02 GMT -->
</html>

