@{
    ViewBag.Title = "omas_sc_coun";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-school-counseling-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:48:48 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 20 Best Online Masters in School Counseling Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <meta name="description" content="Our 25 top online Masters in School Counseling degree programs, ranked according to affordability, flexibility, and academic reputation." />
    <meta name="robots" content="noodp" />
    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style5197.css?ver=1461897510' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt5197.css?ver=1461897510' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts5197.js?ver=1461897510'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index8881.html?p=2708' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed41a4.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-school-counseling-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embedb38a?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-school-counseling-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-2708 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 20 Best Online Masters in School Counseling Programs
                            </h2>
                            <p>School counseling as a career is rapidly increasing in popularity due at least in part to unique cultural events. School shootings have traumatized our culture, but they have also motivated a refocusing of priorities in the education sector. Many schools are now emphasizing progressive school counseling programs, and on the flip-side, school counselors themselves are seeking new and exciting strategies to ensure that our nation’s youth progress through their education with not only their health, but also with the greatest chance for success. This has led many prospective school counselors to seek out the best online masters programs.</p>
                            <h3>Featured Online Masters in School Counseling Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/capella-university?program=3355&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Capella University: MS &#8211; School Counseling (CACREP-accredited)</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/university-of-the-southwest?program=5942&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of the Southwest: MSEd: School Counseling</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/liberty-university-online?program=18300&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Liberty University: M.ED &#8211; School Counseling</a></strong></li>
                            </ul>
                            <p>While similar rankings do exist, we wanted to ask a unique set of student-oriented questions to come up with our own ranking. Namely, we wanted to know which programs are affordable, but also offer value in terms of career gains after the program’s completion. We also wanted to know which programs are most flexible in what they offer their students in the form of start dates, class-loads, and semester requirements. We also researched the other rankings of these programs to see which schools are most commonly recognized at national and regional levels. Through answering these questions we have come up with the below ranking of the Top 20 Online Masters Programs in School Counseling. More detailed information on the metrics used for this ranking can be found at the bottom of the page. </p>
                            <h3>1. Mizzou Online, University of Missouri</h3>
                            <p><img src="../../wp-content/uploads/2015/09/univ-missouri.jpg" alt="univ-missouri" width="125" height="125" class="alignright size-full wp-image-2630" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-missouri.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-missouri-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Coming in at number 1 on our list is the University of Missouri’s Online program. Several things make this program stand out among the rest. With a large number of related specializations available in the program, students are able to tailor their experience to suit their personal career goals. Conversely, the program touts a heavy emphasis on mental health practices in the school setting, so students can be confident that while the course work is diverse it adheres to a specific focus. The University of Missouri is accredited by the Commission on Higher Learning of the North Central Association of Colleges and Schools. This coupled with the University’s nationally and regionally recognized standard of excellence make their online program a fantastic option. </p>
                            <ul>
                                <li><a href="http://online.missouri.edu/degreeprograms/ed-mhinschools/index.aspx">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $350</strong></li>
                            </ul>
                            <h3>2. Lamar University</h3>
                            <p><img src="../../wp-content/uploads/2015/02/18.-Lamar.jpg" alt="18. Lamar" width="125" height="125" class="alignright size-full wp-image-1852" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Lamar-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Lamar University, a member of the Texas University System, offers one of the most flexible and most affordable programs on our list. With a 15 week school counseling practicum, multiple start dates, and an accelerated track option, students can earn their degree in as little as 22 months without breaking the bank. Its flexibility and affordability do not reduce the quality of the program as evidenced by the program’s recognition in national and regional rankings. While accreditation is not guaranteed, the program does offer all necessary credits for the student to construct a practicum necessary for the desired career focus.</p>
                            <ul>
                                <li><a href="http://degree.lamar.edu/programs/master-of-education-in-school-counseling.aspx">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $275</strong></li>
                            </ul>
                            <h3>3. Walden University</h3>
                            <p><img src="../../wp-content/uploads/2015/08/Walden-University.jpg" alt="Walden-University" width="125" height="125" class="alignright size-full wp-image-2433" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/08/Walden-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Walden University’s masters in school counseling program sets itself apart in the four unique specialty programs offered. The specialization tracks are as follows: addiction counseling, career counseling, crisis and trauma counseling, and military family counseling. Beyond offering students these unique specialty tracks, Walden University also offers an accelerated track for students who can dedicate themselves full-time and wish to earn their degree sooner. Walden University also has a history in online education, so you can expect a streamlined and modern virtual learning experience.</p>
                            <ul>
                                <li><a href="http://www.waldenu.edu/masters/ms-in-school-counseling">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $400</strong></li>
                            </ul>
                            <h3>4. University of Massachusetts Online</h3>
                            <p><img src="../../wp-content/uploads/2015/02/10.-UMASS.jpg" alt="10. UMASS" width="125" height="125" class="alignright size-full wp-image-1859" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/10.-UMASS.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/10.-UMASS-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Massachusetts has gracefully melded its traditional university with its newer online components. Several of their online programs have earned top 10 national rankings. The online program is fully integrated with the rest of the university, so students can expect the full learning experience, not one restricted due to the online aspect. UMass Online’s school counseling program offers all the necessary coursework and practicum necessary for state accreditation. While the price per credit is upper middle of the pack, the program offers closer work between student and professor, which normally can only be found in the classroom. </p>
                            <ul>
                                <li><a href="http://www.umassonline.net/degrees/online-degree-master-school-counseling">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $490</strong></li>
                            </ul>
                            <h3>5. University of North Dakota </h3>
                            <p><img src="../../wp-content/uploads/2013/02/23.-North-Dakota.jpg" alt="23. North Dakota" width="125" height="125" class="alignright size-full wp-image-1891" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/23.-North-Dakota.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/23.-North-Dakota-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />University of North Dakota’s online masters program offers a 2.5 year tract with evening classes, and interactive virtual seminars where students may freely interact with instructors. The University also offers instate tuition to all of its students, regardless of residency. UND’s program is heavily focused on helping students receive licensure in their state. The affordability and student-oriented focus of this program make it a great option. </p>
                            <ul>
                                <li><a href="http://und.edu/academics/extended-learning/online-distance/degrees/counseling-with-k12-emphasis/index.cfm">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $477</strong></li>
                            </ul>
                            <h3>6. Liberty University </h3>
                            <p><img src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" class="alignright size-full wp-image-1803" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Liberty University’s online program requires an internship and intensives as part of their practicum. Through such requirements, they are able to accelerate their program, while also offering the necessary requirements for state licensure. Liberty’s program is also ranked the most affordable on this list by our metric. With a heavy focus on virtual learning, students can expect a state of the art online learning experience. </p>
                            <ul>
                                <li><a href="http://www.liberty.edu/online/masters/education/school-counselor/">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $250</strong></li>
                            </ul>
                            <h3>7. Seton Hall University </h3>
                            <p><img src="../../wp-content/uploads/2015/09/seton-hall.jpg" alt="seton-hall" width="125" height="125" class="alignright size-full wp-image-2632" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/seton-hall.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/seton-hall-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Seton Hall University’s online program is nationally ranked. It is also approved by the New Jersey Department of Education. Thus if the program is completed properly, state accreditation is guaranteed. Also, the program is able to work with students in other states to meet their specific state requirements. While the program is one of the more pricey on this list, it touts a nationally renowned faculty that have been specially trained in online education, so students are sure to get a valuable education. </p>
                            <ul>
                                <li><a href="https://www.shu.edu/academics/education/ma-school-counseling-online/">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $739</strong></li>
                            </ul>
                            <h3>8. Fort Hays State University </h3>
                            <p><img src="../../wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg" alt="8. Fort Hays State University" width="125" height="125" class="alignright size-full wp-image-1796" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Fort Hays State University has spearheaded their distance-learning programs over the past decade. Through state funded expansion their virtual programs have become world renowned with students all over the world. The University maintains over 40 virtual learning programs, many of which are nationally ranked in the top 10. Fort Hays school counseling program offers rolling admissions and is ranked second most affordable by our metrics. Recognizing its diverse studentship, the program ensures customizable practicum for each state’s licensure. </p>
                            <ul>
                                <li><a href="http://www.fhsu.edu/virtualcollege/degrees/Masters/counseling/">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $253</strong></li>
                            </ul>
                            <h3>9. Regent University </h3>
                            <p><img src="../../wp-content/uploads/2013/10/18.-Regent.jpg" alt="18. Regent" width="125" height="125" class="alignright size-full wp-image-1905" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/18.-Regent.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/18.-Regent-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Regent University offers a counseling program supported by a spiritual component. Through encouraging this approach, the program offers a unique dimension of personal investment and growth.The program is approved by Virginia State Licensure, though it is up to to the student to complete the necessary coursework for individual state guidelines. The University has a long history of excellence in psychology and counseling, so while the tuition is above average, the quality of instructorship and coursework is ensured. For those looking for a quality online masters program that allows the incorporation of personal faith into both one’s learning and career, Regent’s masters program is the stand-out option. </p>
                            <ul>
                                <li><a href="http://www.regent.edu/acad/schcou/academics/ma/comm/index-sc.htm">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $710</strong></li>
                            </ul>
                            <h3>10. Kansas State University </h3>
                            <p><img src="../../wp-content/uploads/2015/09/kansas-state.jpg" alt="kansas-state" width="125" height="125" class="alignright size-full wp-image-2628" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/kansas-state.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/kansas-state-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Kansas State University is accredited by the Council for Accreditation of Counseling and Related Educational Programs (CACREP). CACREP is essentially a national agency charged with accrediting masters and doctoral counseling programs around the country. CACREP’s support demonstrates the reliability of the program. Kansas State University also offers a doctoral route in school counseling. Offering an accredited doctoral program proves the program’s academic excellence. </p>
                            <ul>
                                <li><a href="http://coe.k-state.edu/academics/graduate/counsel.html">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $753</strong></li>
                            </ul>
                            <h3>11. Wake Forest </h3>
                            <p><img src="../../wp-content/uploads/2015/09/wake-forest-univ.jpg" alt="wake-forest-univ" width="125" height="125" class="alignright size-full wp-image-2627" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/wake-forest-univ.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/wake-forest-univ-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />While the tuition fees rank highest on our list, Wake Forest is nationally ranked (27th) and is nationally ranked 35th in value. This is because the Wake Forest’s prestige carries over completely into its online components. The online masters in school counseling is one of the best in the country, and touts a 100% pass rate for graduates taking the National Counselor’s Exam. Though tuition and academic requirements are high, this program is sure to jettison students to the forefront of their field. </p>
                            <ul>
                                <li><a href="http://counseling.online.wfu.edu/">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $1300</strong></li>
                            </ul>
                            <h3>12. University of the Southwest</h3>
                            <p><img src="../../wp-content/uploads/2015/02/20.-University-of-Southwest.jpg" alt="20. University of Southwest" width="125" height="125" class="alignright size-full wp-image-1866" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/20.-University-of-Southwest.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/20.-University-of-Southwest-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of the Southwest’s program is a newly structured program, and thus offers a state of the art approach to online education. The program is flexible in course workload, scheduling, and in meeting accreditation requirements. The program is fifth affordable on this list, and seems tailored to the working adult, who requires flexibility and customization in their schooling. </p>
                            <ul>
                                <li><a href="https://www.usw.edu/Academics/School-of-Education/Graduate-Programs/MSED-School-Counseling">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $395</strong></li>
                            </ul>
                            <h3>13. Adams State University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/adams-state.jpg" alt="adams-state" width="125" height="125" class="alignright size-full wp-image-2626" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/adams-state.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/adams-state-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Adams State University, based out of Colorado, offers a well-rounded program that can be completed in five consecutive semesters. The program is accredited by CACREP, The Higher Learning Commission, and the Colorado Department of Education. The program is designed to accommodate working class adults, so if you’re out of state or if you’re working full-time, there are options available to fit your personal needs. The Online Plus program features week long intensives on campus, to build relationships between student and instructor and to accelerate the program. </p>
                            <ul>
                                <li><a href="https://www.adams.edu/gradschool/counselored/masters/">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $423</strong></li>
                            </ul>
                            <h3>14. LeTourneau University</h3>
                            <p><img src="../../wp-content/uploads/2015/09/LeTourneau-University.jpg" alt="LeTourneau University" width="125" height="125" class="alignright size-full wp-image-2634" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/LeTourneau-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/LeTourneau-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />LeTourneau University’s online program offers christian based program with a practicum optioned with specialization tracks. The program’s practicum integrates christian-based philosophies and principles, while maintaining a strict adherence to modern standards of academic excellence. The program emphasizes its instructor involvement, branding itself on the caring support and mentoring of the program’s professors. The program is flexible in enrollment schedules and course loads, granting the ability to gain state licensure amidst a busy schedule. </p>
                            <ul>
                                <li><a href="http://www.letu.edu/opencms/opencms/_Academics/Health_Sciences/Psychology/degrees/MA_Counseling/index.html">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $595</strong></li>
                            </ul>
                            <h3>15. Messiah Online College</h3>
                            <p><img src="../../wp-content/uploads/2015/09/messiah-college.jpg" alt="messiah-college" width="125" height="125" class="alignright size-full wp-image-2625" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/messiah-college.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/messiah-college-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Messiah Online College offers a faith-based CACREP accredited program. It was ranked 5th regionally, and has received national attention for its online education options. Messiah College is one of only a handful of christian-based masters programs to earn the CACREP distinction. Messiah prides itself on its investment in its students. Accompanying the online components of the class are personalized advisement sessions with instructors to best schedule course work according to personal schedule, career goals, and state licensure requirements. </p>
                            <ul>
                                <li><a href="http://www.messiah.edu/counseling">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $610</strong></li>
                            </ul>
                            <h3>16. Concordia University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/15.-Concordia.jpg" alt="15. Concordia" width="125" height="125" class="alignright size-full wp-image-1902" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/15.-Concordia-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Concordia University currently holds over 2,400 active online students. The University’s long history of more than 125 years is colored with renowned educational excellence. The University has melded its long history with modern advances in virtual learning. WIth a Christian Focus, Concordia focuses on compassion in both its career principles, and in its focus on student outcomes within its online program. The program is affordably priced, and offers decent flexibility in enrollment dates and course requirements.</p>
                            <ul>
                                <li><a href="http://online.cuw.edu/online-degrees/master-of-science-in-education/counseling/">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $548</strong></li>
                            </ul>
                            <h3>17. Our Lady of the Lake University</h3>
                            <p><img src="../../wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake.jpg" alt="9. Our Lady of the Lake" width="125" height="125" class="alignright size-full wp-image-1927" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Our Lady of the Lake University’s online masters program is developed on Catholic foundation, and fosters spiritual growth in its students, preparing them for the state exams that are gateways to counseling accreditation. The program is designed to be flexible for those with demanding home or work lives, and thus offers a wide array of seminar hours, and course load options. The program ensures that students will have many options upon graduation, even options beyond that of the basic school counseling path, which is a unique benefit.</p>
                            <ul>
                                <li><a href="http://onlineprograms.ollusa.edu/masters-in-education/school-counselor">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $1089</strong></li>
                            </ul>
                            <h3>18. Grand Canyon University</h3>
                            <p><img src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" class="alignright size-full wp-image-1798" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Grand Canyon University’s Online program offers student a wide range of course content, focusing on multiple dimensions of the licensed counseling career. Each course was constructed to meet the academic requirements established by the National Board for Certified Counselors for the National Certified Counselor credential (NCC) and by Arizona Board of Behavioral Health Examiners. Completing the program will enable the following licensure paths: Licensed Associate Counselor (LAC), Licensed Professional Counselor (LPC), Licensed Associate Substance Abuse Counselor (LASAC) or a Licensed Independent Substance Abuse Counselor (LISAC). This program offers an impressive foundation for a widely optioned career path. </p>
                            <ul>
                                <li><a href="http://www.gcu.edu/degree-programs/master-of-science-in-professional-counseling">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $500</strong></li>
                            </ul>
                            <h3>19. University of West Alabama</h3>
                            <p><img src="../../wp-content/uploads/2015/09/univ-west-alabama.jpg" alt="univ-west-alabama" width="125" height="125" class="alignright size-full wp-image-2623" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-west-alabama.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/09/univ-west-alabama-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of West Alabama offers one of the fastest tracks to graduation. Taking on a full course load of 30 credit hours a semester will land you the degree in just 18 months. The University offers a wide array of counseling focuses, and their school counseling program has received local coverage for offering a great value. The program will prepare you for all necessary accreditations, even those outside of Alabama. This program is ranked 9th in affordability by our metrics. </p>
                            <ul>
                                <li><a href="http://www.uwa.edu/medschoolcounseling.aspx">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $613</strong></li>
                            </ul>
                            <h3>20. Capella University</h3>
                            <p><img src="../../wp-content/uploads/2013/10/6.-Capella.jpg" alt="6. Capella" width="125" height="125" class="alignright size-full wp-image-1898" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/10/6.-Capella-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The state approved, CACREP accredited online masters program of Capella University integrates field work, residencies, and online coursework. While the online program does require a little more in terms of locational commitment students gain unique hands-on experiences that might otherwise be missed. Capella is well known for its online education strategies, and touts a well-integrated virtual education system, with interactive lectures, and personalized advisement sessions. Though at the bottom of our list, Capella is still a strong option with unique strengths that make it stand out among the rest. </p>
                            <ul>
                                <li><a href="http://www.capella.edu/online-degrees/masters-school-counseling/">Homepage</a></li>
                                <li><strong>Estimated Tuition Per Credit Hour: $487</strong></li>
                            </ul>
                            <p><strong>Methodology:</strong></p>
                            <ul>
                                <li><strong>Affordability (1/3)</strong>: The average out-of-state tuition per credit hour.</li>
                                <li><strong>Flexibility (1/3)</strong>: Whether the program offers specialized tracks, flexible hours, and course loads. </li>
                                <li><strong>Academic Reputation (1/3)</strong>: The rank of the school’s parent institution according to other prominent rankings such as <i>US News</i></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-school-counseling-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:48:55 GMT -->
</html>

