@{
    ViewBag.Title = "o_cs_prog";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-computer-science-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:39:09 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The Best Online Computer Science Degree Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <meta name="description" content="The 20 best online computer science degree programs were compiled using data from government sources such as IPEDS, ED.gov, and College Navigator." />
    <meta name="robots" content="noodp" />
    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style98d6.css?ver=1461895528' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt98d6.css?ver=1461895528' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts98d6.js?ver=1461895528'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../index2af5.html?p=292' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed92ff.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-computer-science-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed6505?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-computer-science-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-292 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")

    @Html.Partial("_header_wrapper")

    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The Best Online Computer Science Degree Programs
                            </h2>
                            <p><img class="alignright size-medium wp-image-572" src="../../wp-content/uploads/2013/09/online-computer-science-300x240.jpg" alt="online-computer-science" width="300" height="240" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/online-computer-science-300x240.jpg 300w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/online-computer-science.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" />Computer science programs teach students to work with hardware, software and networks in both theoretical and real-world problem solving centered ways. Career opportunities related to computer science degrees are booming, with a 21% increase in IT jobs expected between 2012 and 2022. For those just getting out with computer science degrees, demand is already high as well, with some 18,831 graduates and 104,429 job openings in IT available in 2012.</p>
                            <h3>Featured Online Computer Science Programs</h3>
                            <ul>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/everest-university?program=1751&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Everest University &#8211; Computer Information Science (Bachelor&#8217;s)</a></strong></li>
                                <li><strong><a href="http://info.bestcollegereviews.org/forms/rasmussen-college?program=10176&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Rasmussen College &#8211; AcceleratED BS &#8211; Computer Science</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/colorado-technical-university?program=14950&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Colorado Technical University &#8211; MS: Computer Science</a></strong></li>
                            </ul>
                            <p>Still interested? (You should be.) Let&#8217;s check out what a computer science degree actually involves. Typical core classes include:</p>
                            <p><strong>Core Classes</strong></p>
                            <ul>
                                <li>Operating Systems</li>
                                <li>Programming in several languages</li>
                                <li>Computer systems and architecture</li>
                                <li>Database management</li>
                                <li>Object-oriented programming</li>
                                <li>And a number of electives</li>
                            </ul>
                            <p>While median salaries for computer and information technology occupations (according to the <i><a href="http://www.bls.gov/ooh/computer-and-information-technology/home.htm">BLS Occupational Outlook Handbook</a></i>) include:</p>
                            <p><strong>Median Salaries</strong></p>
                            <ul>
                                <li>Computer and Information Research Scientists: $102,190</li>
                                <li>Computer Network Architects: $91,000</li>
                                <li>Computer Programmers: $74,280</li>
                                <li>Systems Analysts: $79,680</li>
                                <li>Database Administrators: $77,080</li>
                                <li>Information Security Analysts: $86,170</li>
                                <li>Network and Computer Systems Administrators: $72,560</li>
                                <li>Software Developers: $93,560</li>
                                <li>Web Developers: $62,500</li>
                            </ul>
                            <p><strong>Choosing an online computer science program:</strong></p>
                            <p>There currently aren&#8217;t as many online programs for computer science as there are traditional programs, but the number and range of online programs are growing rapidly. A few things that are good to keep in mind when searching for the right compsci program for you is that you should really play the field before honing in on your top choices. There are a wide range of price points, program lengths, and specializations offered by programs. By seeking information on a wide range of schools you&#8217;re likelier to find features that could really make or break your learning experience, ability to pay for school, or how well a program fits with your goals.</p>
                            <h3>The Top 20 Best Online Computer Science Degree Programs</h3>
                            <h3>Rasmussen College</h3>
                            <p><img class="alignright size-thumbnail wp-image-1504" src="../../wp-content/uploads/2013/09/rasmussen-computer-science-150x150.jpg" alt="rasmussen-computer-science" width="150" height="150" />Rasmussen College offers a range of offerings taking as little as 12 months and as many as 36 months to complete. These programs (in increasing length of time to completion)include: the software application development certificate, the software application development associate&#8217;s degree, and the computer science bachelor&#8217;s. 90% of students from the program are working in their field of study or continuing education, with Rasmussen paying for students to sit in up to three industry certification exam sessions. Tuition for the bachelor&#8217;s degree program at Rasmussen is $350 per credit for lower level courses, and $310 for upper level courses.</p>
                            <h3>Colorado Technical University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1513" src="../../wp-content/uploads/2013/09/colorado-technical-computer-science-150x150.jpg" alt="colorado-technical-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/colorado-technical-computer-science.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/colorado-technical-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" /></p>
                            <p>Colorado Technical University offers a wide array of computer science-related bachelor&#8217;s degrees online, including B.S. degrees in cyber security and information technology. The cyber security degree has three potential specializations, including a general track, and tracks for information assurance and computer systems security. The information technology major has seven specializations, including: a general track, data management, security, network management, software application programming, software systems engineering, and a web development track. The information technology degree requires 184 total credits, while the cyber security track requires two more, though the CTU &#8220;Fast Track&#8221; allows for experienced professionals to test out of courses they already have expertise in, allowing for around 1/3 of the program to be bypassed.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/colorado-technical-university?program=14950&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Colorado Technical University information&lt;&lt;&lt;</a></strong></p>
                            <h3>Oregon State University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1495" src="../../wp-content/uploads/2013/09/oregon-state-computer-science-150x150.jpg" alt="oregon-state-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/oregon-state-computer-science-150x150.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/oregon-state-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" />Oregon State University&#8217;s B.S. in Computer Science (online) is a special post-baccelaureate program that builds off of your previous degree (B.A. or B.S.), allowing for you to get a B.S. in computer science in as little as one year. The program assumes your knowledge of previous core requirements, and allows students to take only computer science courses. The program may be started in one of four terms, and at a one-year, two-year, or four-year pace. For students that need additional experience to segue into the post-bacc program, an 8-credit introductory course is offered. The minimum number of credits needed to complete the program is 60. Tuition is $322 per credit for the introductory courses, and $461 per credit for the remainder of the program. Effectively making the program $27,660 without the introductory courses, and $30,236 for program with introductory courses.</p>
                            <h3>Florida State University</h3>
                            <p>
                                <img class="alignright size-thumbnail wp-image-1496" src="../../wp-content/uploads/2013/09/florida-state-computer-science-150x150.png" alt="florida-state-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/florida-state-computer-science-150x150.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/florida-state-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" /><br />
                                Florida State University offers both B.A. and B.S. degrees in computer science through their office of distance learning. Both degrees can be completed in 2 years by full-time students, or in 4 years for part-time students (assuming general education requirements have been met). The B.S. program helps students to become proficient in C, C++, and Assembly Language, as well as exposing students to other languages like Java, C#, Ada, Lisp, Scheme, Prolog, Perl, and HTML. Both degrees require the completion of 120 credit hours worth of classes. Tuition and fees are equivalent to current tuition ($215.55 per credit hour in-state, and $721.10 out-of-state) plus a distance learning fee. There are a number of programs through which tuition can be lowered to market or in-state rates, however.
                            </p>
                            <h3>Old Dominion University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1518" src="../../wp-content/uploads/2013/09/old-dominion-university-computer-science-150x150.jpg" alt="old-dominion-university-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/old-dominion-university-computer-science.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/old-dominion-university-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" />Old Dominion offers distance learning opportunites leading to B.S. degrees in computer science, computer engineering technology, and information systems and technology, as well as a certificate in cyber security. For the B.S. in computer science, 71 credit hours of required (after 49 general education requirements are transferred from another program). Program costs vary from $299-$314 per credit hour, bringing the current total tuition to somewhere between $21,229 and $22,294 after general education requirements have been met (this is a degree-completion program). For those wishing to continue with more education, an online M.S. in computer science is available from Old Dominion, as well as a Master&#8217;s in Engineering focusing on modeling and simulation.</p>
                            <h3>Colorado State University &#8212; Global Campus</h3>
                            <p><img class="alignright size-thumbnail wp-image-1498" src="../../wp-content/uploads/2013/09/colorado-state-computer-science-150x150.png" alt="colorado-state-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/colorado-state-computer-science.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/colorado-state-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" />Though Colorado State University&#8211;Global Campus&#8217; program is technically a bachelor&#8217;s in information technology, the program&#8217;s goals are similar to computer science programs, in that they seek to produce high quality software developers, computer programmers, systems analysts, and support specialists. The number of specializations provided by the program is quite astounding, numbering at 22. Specializations range from data management and analysis, to healthcare informatics, to strategic communications. Tuition is locked into place when you enroll, so you can plan ahead for schooling costs with confidence. Currently the Fall 2014 Undergraduate Tuition Rates are $350 per credit, or $1,050 per course. With zero transfer credits, this would bring a four year 120 credit program total to $42,000, about on par with many public schools.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/colorado-state-university-global-campus?program=6940&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Colorado State University information&lt;&lt;&lt;</a></strong></p>
                            <h3>Dakota State University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1501" src="../../wp-content/uploads/2013/09/dakota-state-university-computer-science-150x150.jpg" alt="dakota-state-university-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/dakota-state-university-computer-science-150x150.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/dakota-state-university-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" />We should start out by noting that Dakota State University&#8217;s distance program is relatively new, and working to gain accredidation in some states. The B.S. in computer science program currently cannot accept students from Alabama, Arkansas, or New Mexico. For those for whom the program is still an option, the program offers a fast-track, as well as several related majors like health information administration, network and security administration, cyber operations, and information systems. The program costs $312.90 per credit, but is subject to change. Without change this would render the cost of the entire program to be $37,548.</p>
                            <h3>Pace University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1502" src="../../wp-content/uploads/2013/09/pace-university-computer-science-150x150.png" alt="pace-university-computer-science" width="150" height="150" />Pace University offers an online degree completion program closely related to computer science: a B.S. in technology studies. The program focuses on the intersection between the criminal justice system, cyber crime, and forensic computer investigations. Career goals that the program is well suited for include law enforcement, government agencies, private corporations in cyber security roles. The degree takes two and one-third years, while taking 2 courses a semester. A slower track is available as well. Up to 68 credits may be transferred from a two-year program. Tuition is $535 per credit hour, or $29,960 for the entire program.</p>
                            <h3>Central Michigan University &#8211; Online Campus</h3>
                            <p><img class="alignright size-thumbnail wp-image-1503" src="../../wp-content/uploads/2013/09/central-michigan-computer-science-150x150.jpg" alt="central-michigan-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/central-michigan-computer-science-150x150.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/central-michigan-computer-science.jpg 300w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/central-michigan-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" />Central Michigan University&#8217;s online campus offers a bachelor&#8217;s of science in information technology with the end goal of providing skilled workers for the following roles: database administrator, applications system designer, computer network director, web specialist, intranet/firewall administrator, computer service technologist, or computer security technologist. After core classes are completed a number of specializations can be chosen from, including data communication &amp; networking, databases, interactive multimedia design, and web applications development. Tuition for Central Michigan&#8217;s program is $437 per credit hour for major courses, and $387 for all other general courses.</p>
                            <h3>Western Governer&#8217;s University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1505" src="../../wp-content/uploads/2013/09/western-governors-computer-science-150x150.png" alt="western-governors-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/western-governors-computer-science.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/western-governors-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" />Western Governor&#8217;s University offers a number of flexible online degree programs related to computer science, including a B.S. in software development, and 4 versions of a B.S. in information technology, including a general specialization, and other specializations in network administration, security, or software. The B.S. programs in Information Technology are expansive, and prepare you for the real world, guiding students through certification in 15 industry recognized skillsets. Western Governor&#8217;s University is an affordable option, costing $2,890 per term, with each term lasting 6 months no matter how many credit hours are completed in the term. Students may begin a new term on the start of any month.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/western-governors-university?program=12524&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free Western Governor&#8217;s University information&lt;&lt;&lt;</a></strong></p>
                            <h3>American Public University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1506" src="../../wp-content/uploads/2013/09/american-public-computer-science-150x150.jpg" alt="american-public-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/american-public-computer-science.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/american-public-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" />American Public University offers B.S. degrees in cybersecurity, information systems security, information technology, information technology management. Of these programs, all require 122 credit hours, and cost $250 per credit hour (or $30,500 total). American Public University also offers an amazing range of 21 computer science related certifications at an undergraduate level, as well as 7 computer science related certificates at a graduate level. Certificates range from 18-27 credit hours. At $250 per credit hours that makes the price range between $4,500 and $6,750.</p>
                            <h3>Champlain College</h3>
                            <p><img class="alignright size-thumbnail wp-image-1507" src="../../wp-content/uploads/2013/09/champlain-college-computer-science-150x150.jpg" alt="champlain-college-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/champlain-college-computer-science.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/champlain-college-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" />Champlain College has been offering online education since 1993, and currently offers over 60 degrees and certificates online. Six computer science related bachelor&#8217;s are available online from Champlain, including Computer &amp; Information Systems, Health I.T., Integrated Studies, Management Information Systems, Software Development, and Web Design &amp; Development. Three other cybersecurity bachelor&#8217;s are available, including computer forensics, cyber security, and economic crime investigation. Sessions at Champlain are 7 weeks, allowing for modular programs and quickly developing skillsets. Tuition for the programs is $613 per credit hour for part-time students, and $7,697.50 per semester for full-time students.</p>
                            <h3>Drexel University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1508" src="../../wp-content/uploads/2013/09/drexel-university-computer-science-150x150.png" alt="drexel-university-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/drexel-university-computer-science.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/drexel-university-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" />Drexel University offers a B.S. in Computing and Security Technology as well as eight certificates in information science/systems, and two in technology (certificate in continuity management and certificate in cyber security, law and policy). The online bachelor&#8217;s program is flexible, allows for up to 113 transfer credits, and also allows for experimental work credits and certificates to be applied to the degree. From 117 to 129 credits are required to graduate, depending on if the computing technology concentration or the computing security concentration is chosen. The current tuition rate is $440 per credit, or $54,560+ for the entire program, though therre are a number of corporate partners who will help pay for certain workers&#8217; educations.</p>
                            <h3>Florida Tech University</h3>
                            <p>
                                <img class="alignright size-thumbnail wp-image-1509" src="../../wp-content/uploads/2013/09/florida-tech-computer-science-150x150.png" alt="florida-tech-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/florida-tech-computer-science.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/florida-tech-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" /><br />
                                Florida Tech Online offers a B.S. in Computer Information Systems, as well as a <a href="http://www.floridatechonline.com/programs/certificates/for-credit-graduate-certificates/information-assurance-and-cybersecurity/">graduate certificate</a> in Information Assurance and Cybersecurity. A broad range of subjects are covered in the program including object-oriented programming, database administration, e-commerce, system analysis &amp; design, network theory &amp; design, and project management. The program is 124 credit hours long, and tuition is $510 per credit hour (or $63,240 for the entire program).
                            </p>
                            <h3>Syracuse University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1510" src="../../wp-content/uploads/2013/09/syracuse-computer-science-150x150.jpg" alt="syracuse-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/syracuse-computer-science-150x150.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/syracuse-computer-science-300x300.jpg 300w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/syracuse-computer-science.jpg 800w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/syracuse-computer-science-600x600.jpg 600w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/syracuse-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" />Syracuse University&#8217;s school of information studies has been providing online classes since 1993, and currently offers both B.S. degrees in information management &amp; technology, and systems and information science (as well as graduate level work, and certificates of advanced study). There are six specializations that can be chosen for the information management &amp; technology degree: information security management, project management, network and systems management, web design and management, database management, and digital retail strategies. Nearly 100% of information management and technology majors were employed within 6 months, and showed the highest average earnings of any other major at Syracuse. The systems and information science has a single track, though both degrees contain 120 credit hours.</p>
                            <h3>Depaul University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1511" src="../../wp-content/uploads/2013/09/depaul-computer-science-150x150.png" alt="depaul-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/depaul-computer-science-150x150.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/depaul-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" />DePaul University offers three computer science related bachelor&#8217;s, with B.A.&#8217;s in communication &amp; media, and computing. A B.S. in information technology, and 15 computer science-related certificates are also available. For students with core requirements taken care of (DePaul will accept a number of transfer credits), the B.S. in Information Technology can be completed in three years. A minimum of 192 credit hours must be transferred in or completed for B.A. or B.S. degrees to be granted. For full-time students taking 12-18 credit hours per semester, the per year cost of attending DePaul online is $34,390.</p>
                            <h3>Cal State Online</h3>
                            <p><img class="alignright size-thumbnail wp-image-1514" src="../../wp-content/uploads/2013/09/cal-state-computer-science-150x150.png" alt="cal-state-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/cal-state-computer-science.png 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/cal-state-computer-science-80x80.png 80w" sizes="(max-width: 150px) 100vw, 150px" />Cal State Online offers a B.S. in Computer Science &amp; Information Technology. The program centers around a thorough grounding in theory as well as creating a comprehensive portfolio and capstone project. Common course outcomes include immediate entry into roles as mobile app developers, software developers, and project managers. Entering students must have 60 or more semester credits of transferable credit (encompassing the general education requirements of most schools) because the online portion of the degree is technically a &#8220;degree completion&#8221; program at this time. Even through the online program, co-creation and research with faculty members is required, a unique program element in Cal State&#8217;s online offerings.</p>
                            <h3>Franklin University</h3>
                            <p><img class="alignright size-thumbnail wp-image-1515" src="../../wp-content/uploads/2013/09/franklin-university-computer-science-150x150.jpg" alt="franklin-university-computer-science" width="150" height="150" />Franklin University offers online B.S. degrees in computer science, health information management, information security, information technology, management information sciences, and web development. For the B.S. in computer science, 128 semester hours of courses are needed. Franklin University also has a program for students looking to earn an additional bachelor&#8217;s degree (for those who are already out of school). Curriculum courses cover a wide range of topics, including: object-oriented design, computer architecture, coding &amp; testing, web application development, database management, and quality assurance. Tuition is $464 per credit hour of general education courses, $511 per credit hour for computer science related courses, and $250 per credit hour for active servicemen.</p>
                            <h3>University of Maryland University College</h3>
                            <p><img class="alignright size-thumbnail wp-image-1516" src="../../wp-content/uploads/2013/09/maryland-university-college-computer-science-150x150.jpg" alt="maryland-university-college-computer-science" width="150" height="150" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/maryland-university-college-computer-science.jpg 150w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/maryland-university-college-computer-science-80x80.jpg 80w" sizes="(max-width: 150px) 100vw, 150px" />University of Maryland University College offers the following computer science-related degrees online: a B.S. in cybersecurity, computer networks &amp; security, computer science, digital media &amp; web technology, and information systems management. Computer networking is available as an undergraduate certificate. While 17 graduate level certificates related to computer science are available, ranging from database systems technology, to digital forensics, to telecommunications management. The B.S. in computer science requires 120 credit hours (without transfer credits), with yearly rates costing $31,920 for Maryland residents, $12,000 for Maryland Community college graduates, $30,000 yearly for military servicemembers and spouses, and $59,880 for out-of-state residents.</p>
                            <p>Think your school should be included in our online computer science program list? Please contact us <a href="../../contact/index.html">here</a>.</p>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")

    @Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-computer-science-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:39:27 GMT -->
</html>

