@{
    ViewBag.Title = "o_mas_in_social";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-social-work-msw-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:40:25 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The Top 20 Online Masters in Social Work Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/style0c3a.css?ver=1461897358' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIt0c3a.css?ver=1461897358' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scripts0c3a.js?ver=1461897358'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexd379.html?p=536' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embeda2e5.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-social-work-msw-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed7814?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-masters-in-social-work-msw-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-536 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")




    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The Top 20 Online Masters in Social Work Programs
                            </h2>
                            <p><img class="alignright size-full wp-image-1780" src="../../wp-content/uploads/2015/03/top-online-msw.jpg" alt="top-online-msw" width="360" height="290" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/top-online-msw.jpg 360w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/top-online-msw-300x242.jpg 300w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/top-online-msw-150x121.jpg 150w" sizes="(max-width: 360px) 100vw, 360px" />Online master&#8217;s in social work programs are a way for busy professionals to earn graduate level credentials while continue to function in their current jobs. Those who pursue social work have a strong desire to help improve the lives in people in their communities.</p>
                            <h3>Featured Online Masters in Social Work Programs</h3>
                            <ul>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/university-of-southern-california-school-of-social-work?program=7152&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">University of Southern California &#8211; School of Social Work: Master of Social Work</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/capella-university?program=19357&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Capella University: MSW &#8211; Social Work</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/walden-university?program=13330&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Walden University &#8211; Master of Social Work</a></strong></li>
                            </ul>
                            <p>The modern day social worker functions as a liaison between assisting organizations that help people deal with issues in their families and relationships. They mediate life obstacles brought on by disabilities, unemployment, housing, health issues, domestic abuse, social injustice, and substance abuse. For many states, MSW credentials are required to practice clinical social work.</p>
                            <p>This year we&#8217;ve decided to revise our rankings focusing on three components of online MSW programs: flexibility, affordability, and academic reputation. Check out our methodology and rankings below.</p>
                            <p><strong>Methodology For Ranking Online Masters in Social Work Programs:</strong></p>
                            <ul>
                                <li><strong>Affordability:</strong> the estimated average cost of attendance for all students (in and out of state).</li>
                                <li><strong>Academic Reputation:</strong> the ranking of the parent institution according to <i>US News</i>.</li>
                                <li><strong>Flexibility:</strong> schools with greater flexibility in terms of pacing, specializations, and program types rewarded.</li>
                            </ul>
                            <h3><a href="http://www.csw.utk.edu/mssw/index_online_mssw.htm">1. University of Tennessee &#8211; Knoxville (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1939" src="../../wp-content/uploads/2015/03/1.-Tennessee-Knoxville.jpg" alt="1. Tennessee Knoxville" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/1.-Tennessee-Knoxville.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/1.-Tennessee-Knoxville-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Tennessee at Knoxville offers a fully online MSW with three courses of study, including an advanced standing program (taking 12-24 months to complete), an online full time program (taking two years to complete), and an extended study program (taking 3-4 years to complete). Program concentrations including evidence based interpersonal practice (EBIP), and management, leadership and community practice (MLCP) are available. As well as certificates in gerontology, school social work, trauma, and veterinary social work are also available. The online programs are taught by the same professors who teach the traditional M.S. in Social Work program, and the online program is held to the same standards. Total average estimated tuition for the program is $41,652, making it the 14th most affordable program surveyed. Currently the University of Tennessee is ranked as the 106th best national university by <i>US News</i></p>
                            <h3><a href="http://louisville.edu/online/programs/masters/master-of-science-in-social-work">1. University of Louisville (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1921" src="../../wp-content/uploads/2015/03/1.-Louisville.jpg" alt="1. Louisville" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/1.-Louisville.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/1.-Louisville-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Louisville offers a fully online M.S. in Social Work including a 60-credit hour standard program, and a 30-credit hour advanced standing program. Students may specialize in a number of topics including psychosocial, oncology, mental health, alcohol and drug counseling, military social work, or gerontology. University of Louisville&#8217;s traditional MSW program is the top ranked program in Kentucky, and one of the top 28 public university programs in the country according to <i>US News</i>. The online program closely mirrors its traditional counterpart. Estimated average total program cost is currently $39,600, making the program the 11th most affordable of those surveyed. Currently the University of Louisville is the 161st ranked national university according to <i>US News</i>.</p>
                            <h3><a href="http://und.edu/academics/registrar/fields-of-study.cfm">1. University of North Dakota (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1891" src="../../wp-content/uploads/2013/02/23.-North-Dakota.jpg" alt="23. North Dakota" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/23.-North-Dakota.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/23.-North-Dakota-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of North Dakota offers two fully online MSW programs, including an MSW for BSW students (requiring 36 credits), and an MSW for non-BSW students (requiring 60 credit hours). Live classes are held in the evening and on the weekend for working professionals, and the program is a great value, with in-state tuition rates applying to all students, regardless of location. Currently the estimated average total cost of the program is $17,856 (the most affordable of all programs surveyed). The University of North Dakota is currently ranked 168th among national universities by <i>US News</i>.</p>
                            <h3><a href="http://www.socialwork.txstate.edu/programs/graduate.html">4. Texas State &#8211; San Marcos</a></h3>
                            <p><img class="alignright size-full wp-image-1922" src="../../wp-content/uploads/2015/03/4.-Texas-State.jpg" alt="4. Texas State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/4.-Texas-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/4.-Texas-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Texas State University at San Marcos offers a fully online MSW with a specialization in administrative leadership, as well as a hybrid program mixing administrative leadership with direct practice. Both an advanced standing track (requiring 36 credits) and a traditional track (requiring 62 hours) are available, both of which can be taken on a full-time or part-time basis. It should be noted that Texas State University San Marcos does not accept students from every state, and so students should consult with the university before applying. Currently Texas State University San Marcos&#8217; program is the 6th most affordable program surveyed, with an average estimate cost of $28,187. Texas State University San Marcos is currently ranked the 50th best regional university in the west by <i>US News</i>.</p>
                            <h3><a href="http://www.fordham.edu/info/20373/online_master_in_social_work">5. Fordham University (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1923" src="../../wp-content/uploads/2015/03/5.-Fordham.jpg" alt="5. Fordham" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/5.-Fordham.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/5.-Fordham-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Fordham University offers a fully online MSW with a traditional path (requiring 66 credits), and an advanced track program (requiring 33 credits). Both programs may be completed on a part-time basis, with programs following a cohort model with eight-week classes. The estimated average total cost of the online MSW is $56,694, making the program the 24th most affordable of those surveyed. Currently, Fordham University is the 58th ranked national university according to <i>US News</i>.</p>
                            <h3><a href="http://msw.usc.edu/">5. University of Southern California (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1924" src="../../wp-content/uploads/2015/03/6.-USC.jpg" alt="6. USC" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/6.-USC.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/6.-USC-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Southern California offers a fully online MSW with more specializations than any other program in the nation. The program may be completed on a full-time or part-time basis, and is available in a traditional track (60 credits) and an advanced standing track (35 credits). Along with the 5 available concentrations, 3 sub-concentrations may be added to further specialize and enabling 15 potential courses of study. The sub-concentrations include military social work, older adults, and school settings. The University of Southern California is currently the 25th ranked national university according to <i>US News</i>. The estimated total cost of attendance is $91,041, making the program the costliest surveyed.</p>
                            <p><strong><a href="https://info.bestcollegereviews.org/forms/university-of-southern-california-school-of-social-work?program=7152&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">&gt;&gt;&gt;Click here to request your free University of Southern California information&lt;&lt;&lt;</a></strong></p>
                            <h3><a href="http://online.unh.edu/master-of-social-work">7. University of New Hampshire</a></h3>
                            <p><img class="alignright size-full wp-image-1925" src="../../wp-content/uploads/2015/03/7.-New-Hampshire.jpg" alt="7. New Hampshire" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/7.-New-Hampshire.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/7.-New-Hampshire-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of New Hampshire offers a fully online MSW and is available with an advanced generalist concentration. Though additional electives are available in health and mental health, addictions and substance abuse, youth and families, and disabilities. Currently there is only a full-time non-advanced standing program requiring 62 credits, and taking 28-29 months to complete. Total estimated tuition for the program is $48,825, making the program the 19th most affordable of those surveyed. University of New Hampshire is currently the 99th ranked national university according to <i>US News</i>.</p>
                            <h3><a href="http://bamabydistance.ua.edu/degrees/master-of-social-work-primarily-online/">8. University of Alabama</a></h3>
                            <p><img class="alignright size-full wp-image-1926" src="../../wp-content/uploads/2015/03/8.-Alabama.jpg" alt="8. Alabama" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/8.-Alabama.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/8.-Alabama-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Alabama offers fully online MSW program with a traditional track (requiring 60 credits), and an advanced standing option (requiring 42 credits). A concentration in services to children, adolescents, and their families is available. Currently the estimated average program cost is $40,620, making the program the 12th most affordable surveyed. The University of Alabama is currently the 88th ranked national university by <i> US News</i>.</p>
                            <h3><a href="http://onlineprograms.ollusa.edu/msw/masters-in-social-work-online-overview">9. Our Lady of the Lake University</a></h3>
                            <p><img class="alignright size-full wp-image-1927" src="../../wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake.jpg" alt="9. Our Lady of the Lake" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/9.-Our-Lady-of-the-Lake-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Our Lady of the Lake University offers a fully online MSW program available through a traditional track (requiring 54 credits to graduate), and an advanced standing track (requiring 31 credits to graduate). Our Lady of the Lake University offers a unique perspective, as one of the few MSW programs in the nation with an emphasis on serving Hispanic communities. The programs are constructed for working adults, with material presented asynchronously. Average estimated program cost is $41,040, making the program the 13th most affordable surveyed. Currently Our Lady of the Lake University is a ranked not placed national university according to <i>US News</i>.</p>
                            <h3><a href="http://www.uta.edu/">10. University of Texas &#8211; Arlington</a></h3>
                            <p><img class="alignright size-full wp-image-1928" src="../../wp-content/uploads/2015/03/10.-Texas-Arlington.jpg" alt="10. Texas Arlington" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/10.-Texas-Arlington.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/10.-Texas-Arlington-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Texas at Arlington offers a fully online MSW with a traditional track (requiring 61 credits), and an advanced standing track (requiring 38 credits). Besides a general track, direct practice with children and families is emphasized. The estimated average cost of attendance is $27,300, with tuition for in-state students substantially lower, making the program the fourth most affordable in our rankings. Currently the University of Texas at Arlington is a ranked not placed national university according to <i>US News</i>.</p>
                            <h3><a href="http://mswdirect.iu.edu/">11. Indiana University (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1874" src="../../wp-content/uploads/2013/02/1.-Indiana.jpg" alt="1. Indiana" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/02/1.-Indiana.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2013/02/1.-Indiana-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Indiana University offers a MSW that is fully online save a three day in-person orientation. Though all cohorts advance at the same pace, there are two tracks, including the traditional track (60 credit hours), and the track for students receiving a bachelors in social work within the last 5 years and accepted with advanced standing (45 credit hours and a practicum). Courses are taken in 11 week intervals with two-week breaks in between. The program has an advanced generalist focus. Currently Indiana University is the 76th ranked national university according to <i>US News</i>, and a good value with an estimated total program cost of $335,070 (the 9th most affordable program surveyed).</p>
                            <h3><a href="http://online.saintleo.edu/academics/masters-programs/master-of-social-work-advanced-clinical-practice.aspx">11. Saint Leo University (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1860" src="../../wp-content/uploads/2015/02/12.-Saint-Leo.png" alt="12. Saint Leo" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Saint Leo University offers a fully online MSW in both a traditional track (requiring 62 credits), and an advanced standing track (requiring 32 credits). The program has an advanced generalist concentration, as well as an advanced clinical practice concentration. The estimated average cost of attendance is $27,468, making the program the 5th most affordable surveyed. Currently Saint Leo University is the 65th ranked southern University according to <i>US News</i>.</p>
                            <h3><a href="http://www2.humboldt.edu/socialwork/programs/masters-degree-social-work">13. Humboldt State University (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1929" src="../../wp-content/uploads/2015/03/11.-Humboldt.jpg" alt="HSU_wordMark_stacked_2Color" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/11.-Humboldt.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/11.-Humboldt-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Humboldt State University offers a fully online MSW program with an advanced generalist emphasis, and a focus on rural and Native American communities. The program may be taken as a 3.5 year part-time program, or a 2 year part-time advanced standing program, or full-time programs that may be completed in as little as a year. The estimated average cost of attendance is $30,060, making the program the 7th most affordable of those surveyed. Humboldt State University is currently the 56 ranked regional university in the western region according to <i>US News</i>.</p>
                            <h3><a href="http://online.cua.edu/msw/online-master-of-social-work">13. The Catholic University of America (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1930" src="../../wp-content/uploads/2015/03/14.-Catholic-University.jpg" alt="14. Catholic University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/14.-Catholic-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/14.-Catholic-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The Catholic University of America offers a fully online MSW program with a clinical social work focus, small class sizes (typically capped at 25 students), and a 95% pass rate on the licensed graduate social work exam on graduates&#8217; first try. The estimated average total cost of attendance is $47,700, making the program the 17th most affordable of programs surveyed. The Catholic university of America is currently the 116 ranked national university according to <i>US News</i>.</p>
                            <h3><a href="http://onlinemsw.bu.edu/">15. Boston University</a></h3>
                            <p><img class="alignright size-full wp-image-1931" src="../../wp-content/uploads/2015/03/15.-Boston.jpg" alt="15. Boston" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/15.-Boston.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/15.-Boston-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Boston University offers a fully online MSW program with a concentration in clinical social work practice. The program may be taken on a full-time or part-time basis, and requires one to two internships depending on the prior experience of the student. Boston University offers significant field placement support through this process, and is often able to place students in the location that they prefer for field work/internships. The estimated total cost of attendance is currently $45,825, making the program the 15th most affordable surveyed. Boston University is the 42nd ranked national university according to <i>US News</i>.</p>
                            <h3><a href="http://online.rutgers.edu/master-social-work/">16. Rutgers University (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1932" src="../../wp-content/uploads/2015/03/16.-Rutgers.jpg" alt="16. Rutgers" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/16.-Rutgers.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/16.-Rutgers-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Rutgers University offers a fully online MSW program that is designed to be completed in three years, and utilizes asynchronous course format. Field placement is required to complete the program and starts during the summer of the first year. Program start points are available in the fall, spring, and summer, and admissions are rolling. The estimated total program cost is $72,000, making the program the 26th most expensive surveyed. Rutgers University is currently the 70th ranked national university according to <i>US News</i>.</p>
                            <h3><a href="http://socialwork.wnmu.edu/">16. Western New Mexico University (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1933" src="../../wp-content/uploads/2015/03/16.-Western-New-Mexico.png" alt="16. Western New Mexico" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/16.-Western-New-Mexico.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/16.-Western-New-Mexico-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Western New Mexico University offers a fully online MSW program with both advanced-standing (for BSW graduates within the last 8 years), and non-advanced standing formats. The program is designed primarily for preparing future rural practitioners. The estimated average total cost of attendance is $26,751, making the program the third most affordable of those surveyed. Currently Western New Mexico University is an unranked regional university in the western region according to <i>US News</i>.</p>
                            <h3><a href="http://www.edinboro.edu/dotAsset/e8ef7ffd-5b54-41c5-9d80-f13dc11df6e5.pdf">18. Edinboro University</a></h3>
                            <p><img class="alignright size-full wp-image-1934" src="../../wp-content/uploads/2015/03/18.-Edinboro.jpg" alt="Edinboro University Social Work" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/18.-Edinboro.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/18.-Edinboro-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Edinboro University offers a fully online accelerated MSW that can is available as a non-advanced standing track (60 credit hours) or through an advanced-standing track (39 credit hours). No credit may be received, however, for work or life experience. A large number of field experience hours must be completed as part of both program tracks, including 900 hours over four semesters for the non-advanced standing track, and 500 hours over 2 semesters for the advanced-standing track. The estimated total cost of attendance is currently $32,940, making the program the 8th most affordable of those surveyed. Edinboro University is the 135th ranked regional university in the northern region according to <i>US News</i>.</p>
                            <h3><a href="http://socialwork.une.edu/">19. University of New England (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1935" src="../../wp-content/uploads/2015/03/19.-New-England.jpg" alt="Print" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/19.-New-England.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/19.-New-England-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of New England offers a fully online MSW program that can be completed at a full-time or part-time track and offers clinical social work and advanced generalist concentrations. If you&#8217;ve completed your BSW in the last few years, you may qualify for the advanced standing track. For both tracks courses are presented asynchronously, with no set login times. The estimated total cost of attendance is $56,195, making the program the 22nd most affordable surveyed. The University of New England is the 79th ranked regional university in the northern region according to <i>US News</i>.</p>
                            <h3><a href="http://www.csun.edu/social-behavioral-sciences/social-work/campus-programs-0">19. California State Northridge (tie)</a></h3>
                            <p><img class="alignright size-full wp-image-1936" src="../../wp-content/uploads/2015/03/20.-Cal-State-Northridge.jpg" alt="20. Cal State Northridge" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/03/20.-Cal-State-Northridge.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/03/20.-Cal-State-Northridge-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />California State University at Northridge offers a two-year full time and fully online MSW program. Students are expected to take two eight-week courses at a time, as well as complete continuous 16-week field education classes. All courses are asynchronous, meaning you can log on whenever to complete them. There is one synchronous field education class per week, however. While the program is intensive, and the full time nature of the program won&#8217;t appeal to everyone, it is a good value, with the second lowest estimated total cost of attendance of schools we surveyed ($19,284). Currently California State University Northridge is the 68th ranked university in the western region according to <i>US News</i>.</p>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")
@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-masters-in-social-work-msw-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:40:37 GMT -->
</html>

