@{
    ViewBag.Title = "o_psy_prog";
}


<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.bestcollegereviews.org/top/online-psychology-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:40:06 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        The 25 Best Online Psychology Degree Programs - Best College Reviews
    </title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../../wp-content/uploads/2014/11/favicon.jpg">
    <link rel="pingback" href="../../xmlrpc.php" />
    <script src="http://pmetrics.performancing.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(19487); } catch (e) { }</script>
    <noscript><p><img alt="Performancing Metrics" width="1" height="1" src="../../../pmetrics.performancing.com/19487ns.gif" /></p></noscript>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51171515-1', 'bestcollegereviews.org');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Raleway:300,400,400italic,500,600,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese"] }, custom: {
                families: ['fontAwesome'],
                urls: ['http://www.bestcollegereviews.org/wp-content/themes/Akal/css/icons.css']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="canonical" href="index.html" />

    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Feed" href="../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Best College Reviews &raquo; Comments Feed" href="../../comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.bestcollegereviews.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tm_clicktotweet-css' href='../../wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/stylea389.css?ver=1461895470' type='text/css' media='all' />
    <link rel='stylesheet' id='qdf-select-style-css' href='../../wp-content/plugins/qdf_plugin/assets/css/jquery.selectBoxIta389.css?ver=1461895470' type='text/css' media='all' />
    <link rel='stylesheet' id='social-widget-css' href='../../wp-content/plugins/social-media-widget/social_widget8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layout-css' href='../../wp-content/themes/Akal/css/layout8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='../../wp-content/themes/Akal/css/main8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcodes-css' href='../../wp-content/themes/Akal/css/shortcodes8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css' href='../../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css' href='../../wp-content/themes/Akal/css/prettyPhoto8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themestyle-css' href='../../wp-content/themes/Akal/style8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../../wp-content/themes/Akal/css/responsive8686.css?ver=4.5.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquerycad0.js?ver=1.12.3'></script>
    <script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min2fca.js?ver=1.4.0'></script>
    <script type='text/javascript' src='../../../static.collegedegrees.com/assets/js/widgets/QuickDegreeFinder.jquery5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/jquery.selectBoxIt5152.js?ver=1.0'></script>
    <script type='text/javascript' src='../../wp-content/plugins/qdf_plugin/assets/js/scriptsa389.js?ver=1461895470'></script>
    <link rel='https://api.w.org/' href='../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.1" />
    <link rel='shortlink' href='../../indexba86.html?p=298' />
    <link rel="alternate" type="application/json+oembed" href="../../wp-json/oembed/1.0/embed68bd.json?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-psychology-programs%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../wp-json/oembed/1.0/embed4e61?url=http%3A%2F%2Fwww.bestcollegereviews.org%2Ftop%2Fonline-psychology-programs%2F&amp;format=xml" />

    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes-core.css" type="text/css" />
    <link rel="stylesheet" href="../../wp-content/plugins/graceful-pull-quotes/styles/Modern.css" type="text/css" />
    <script type="text/javascript">
        var jspq_options = new Array("1", "1", "right", "1", "1", "blockquote", "pullquote", "pullquote pqRight");
    </script>
    <script type="text/javascript" src="../../wp-content/plugins/graceful-pull-quotes/resources/jspullquotes.js"></script>

    <script data-cfasync="false" src="http://load.sumome.com/" data-sumo-site-id="d7c6e840f88f207c47ff654958dc45ce76b3641bb583b8eb7ca6c9aac90ccd18" async></script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.bestcollegereviews.org/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #ffffff;
        }
    </style>

    <style type="text/css">body{font-family:Georgia,serif;font-size:15px;font-weight:400;line-height:24px;color:#000000;}.button,input[type="submit"]{font-family:Georgia,serif;}#header-search,.brad-icon.icon-text,.icon-tabs-container .icons-tabs-nav a,.toggle .toggle-title a,.accordion .accordion-title a,.shop_table thead tr th,.cart_totals th,ul.product_list_widget li a{font-family:Georgia,serif;}h1{font-family:Georgia,serif;font-size:34px;font-weight:;line-height:39px;letter-spacing:0px;text-transform:none;color:#222222;}h2{font-family:Georgia,serif;font-size:25px;font-weight:;line-height:32px;letter-spacing:0px;text-transform:none;color:#222222;}h3{font-family:Georgia,serif;font-size:21px;font-weight:700;line-height:30px;letter-spacing:0px;text-transform:none;color:#222222;}h4{font-family:Georgia,serif;font-size:18px;font-weight:;line-height:24px;letter-spacing:0px;text-transform:none;color:#222222;}h5{font-family:Georgia,serif;font-size:16px;font-weight:400;line-height:25px;letter-spacing:0px;text-transform:none;color:#696969;}h6{font-family:Georgia,serif;font-size:17px;font-weight:;line-height:23px;letter-spacing:1px;text-transform:uppercase;color:#444444;}a{color:#3498db;}a:hover{color:#2d2d2d;}.tooltips a{border-bottom-color:#3498db}.tooltips a:hover{border-bottom-color:#2d2d2d}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000000;}.boxed-layout{border:0 solid;}#top_bar{background-color:#ffffff;border-bottom-color:#e8e8e8;color:#bbbbbb;}#top_bar .top-menu>li .sub-menu{background-color:#ffffff;}#top_bar .social-icons li{border-color:#e8e8e8;}#top_bar .contact-info span,#top_bar .top-menu>li{border-color:#e8e8e8;}#top_bar .social-icons li a,#top_bar .top-menu>li a,#top_bar a,#top_bar .top-menu>li .sub-menu li a{color:#999999;}#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,#top_bar a:hover,#top_bar .top-menu>li .sub-menu li a:hover{color:#3498db;}#header.shrinked #main_navigation{min-height:65px;}#header.shrinked #main_navigation #logo,#header.shrinked #main_navigation ul.main_menu>li,#header.shrinked.type3 #header-search-button,#header.shrinked.type3 .cart-container,#header.shrinked.type3 .header-nav .social-icons{height:65px!important;line-height:65px!important;max-height:65px!important;}.logo-container{width:110px;}#header.type2 .logo-container{margin-left:-55px;}#header.type2 .left-nav-container{padding-right:95px;}#header.type2 .right-nav-container{padding-left:95px;}#main_navigation{min-height:110px;}#main_navigation,.header_container,#header.type3 .nav-container,#side_header{background:#f8f8f8;}ul.main_menu>li>a,#side_header ul.side_menu>li>a{color:#454545;font-size:12px;font-weight:600;letter-spacing:1px;font-family:Raleway;text-transform:uppercase;}.main_menu>li:hover>a,.main_menu>li>a:hover,#side_header ul.side_menu>li>a:hover{color:#222222}#side_header ul.side_menu>li>a,#side_header ul.side_menu>li>ul{border-bottom-color:#dddddd}.main_menu>li.active a,.main_menu>li.active a:hover,#side_header ul.side_menu>li.active>a,#side_header ul.side_menu>li.active>a:hover{color:#3498db;border-top-color:#3498db;}.main_menu ul.sub-menu{background-color:#fcfcfc;background-color:rgba(252,252,252,1);border-color:#eeeeee;border-top-color:;}.main_menu ul.sub-menu li a,#side_header .sub-menu li a{color:#888888;font-size:13px;font-weight:400;font-family:Raleway;text-transform:none;letter-spacing:0px;}.main_menu .sub-menu li.current-menu-item>a,.main_menu .sub-menu li.current-menu-item>a:hover,.main_menu .sub-menu li.current_page_item>a,.main_menu .sub-menu li.current_page_item>a:hover,#side_header .sub-menu li.current-menu-item>a,#side_header .sub-menu li.current-menu-item>a:hover,#side_header .sub-menu li.current_page_item>a,#side_header .sub-menu li.current_page_item>a:hover{color:#555555;}.main_menu .sub-menu li a:hover{color:#3498db;}#side_header .sub-menu li a:hover{color:#3498db;}#header-search-button a,.cart-icon-wrapper,.toggle-menu,.header-nav .social-icons li a,.carticon-mobile{color:#454545;background-color:transparent;}#header-search-button a:hover,.cart-icon-wrapper:hover,.toggle-menu:hover,.header-nav .social-icons li a:hover,.carticon-mobile:hover{color:#3d3d3d;background-color:transparent;}#logo,ul.main_menu>li,#header.type3 #header-search-button,#header.type3 .cart-container,#header.type3 .header-nav .social-icons{height:110px;line-height:110px;max-height:110px;}#titlebar.titlebar-type-transparent{padding-top:110px;}.brad-mega-menu .brad-megamenu-title{color:#343434;border-bottom-color:#343434;}.cart-container .widget_shopping_cart{background-color:#ffffff;background-color:rgba(255,255,255,0.98);color:#999999;}.cart-container ul.product_list_widget li a{color:#454545;}.cart-container ul.product_list_widget li a:hover{color:#3498db;}.cart-container p.buttons .button{color:#454545!important;border-color:#454545!important;}.cart-container p.buttons .button:hover{color:#3498db!important;border-color:#3498db!important;}.cart-container .widget_shopping_cart_content .total{border-bottom-color:#e8e8e8!important;border-top-color:#e8e8e8!important;}.cart-container .widget_shopping_cart{border:1px solid #e8e8e8;}.cart-container ul.product_list_widget li .quantity{color:#999999;}.carousel-caption h6{font-family:Raleway;font-size:15px;font-weight:600;line-height:25px;letter-spacing:1px;text-transform:uppercase;}.carousel-caption h2{font-family:Custom Font One;font-size:54px;font-weight:;line-height:60px;letter-spacing:-0.5px;text-transform:none;}.carousel-caption .slider-content{font-family:Custom Font One;font-size:19px;font-weight:;line-height:30px;letter-spacing:0px;text-transform:none;}.section-with-sidebar .sidebar{width:%;}.section-with-sidebar .content{width:%;}#titlebar{background-color:#1550a8!important;}#titlebar .titlebar-overlay{background-repeat:no-repeat;background-position:left top;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0;filter:alpha(opacity=0);}#titlebar .titlebar-wrapper{height:50px;min-height:50px;}#titlebar.titlebar-type-transparent .titlebar-wrapper{padding-bottom:45px;}.button,input[type="submit"]{background-color:#3498db;color:#ffffff;}#footer{color:#ffffff;font-size:14px;line-height:24px;}#footer .footer-widgets{background-color:#3262c2;}#footer .widget_tag_cloud a,#footer .social-icons a,.footer-menu>li a,.go-top{color:#cccccc!important;border-color:#cccccc;}#footer a:link,#footer a,#footer a:visited,#footer a:active{color:#cccccc!important;}#footer a:hover,#footer .widget_tag_cloud a:hover,.widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover{color:#ebebeb;}#footer .widget_tag_cloud a:hover,#footer .social-icons a:hover,.footer-menu>li a:hover,.go-top:hover{color:#ebebeb;border-color:#ebebeb;}#footer .widget_nav_menu ul ul{border-top:1px solid #555555;}.footer-menu>li{border-right:1px solid #555555;}#footer .widget-posts li .date{color:#ffffff;}#footer .widget h4{color:#ffffff!important;font-family:Raleway,sans-serif;font-weight:500;font-size:13px;letter-spacing:1px;text-transform:uppercase;}#copyright{background-color:#1b1b1b;}.overlay{background-color:#ffffff;background-color:rgba(255,255,255,0.85)}.overlay-content,.portfolio-items.portfolio-style1 .portfolio-item .info h5,.portfolio-items.portfolio-style1 .portfolio-item .info h5 a{color:#555555!important;}.portfolio-items.portfolio-style1 .portfolio-item .info h3,.portfolio-items.portfolio-style1 .portfolio-item .info h3 a,.overlay-content h1,.overlay-content h2,.overlay-content h3,.overlay-content h4,.overlay-content h5,.overlay-content h6{color:#222222!important;}.overlay .lightbox-icon{color:#fcfcfc;background-color:#3498db;}.special_amp,#top_bar .social-icons li a:hover,#top_bar .top-menu>li a:hover,.social-icons a:hover,.commentlist .reply a,.commentlist .comment-meta a:hover,.post-share-menu li a:hover,.widget-posts li h6 a:hover,.highlighted,.star-rating,.shop_table .remove:hover,.form-row label .required,ul.product_list_widget li .amount,.single-product-tabset .comment-form label .required,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a,.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,ul.styled-list li i,.page-nav span,.page-nav a,.page-nav a:hover,.products .product .price,.woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,.woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,.post-meta-data.style2 .post-meta-cats,.post-meta-data.style2 .post-meta-cats a,.button.button_alternateprimary,ul.product_list_widget li a:hover,.quantity .minus,.quantity .plus,.widget>ul>li>a:hover,.widget_nav_menu ul li a:hover{color:#000000;}.color-primary,.primary-color,.portfolio-tabs ul li.sort-item.active a,.button.button_alternatewhite:hover{color:#000000!important;}.pagination a.active,ul.styled-list li i,ul.styled-list.style2 li i,.button.button_alternateprimary,.shop_table .remove:hover,.page-nav span,.page-nav a,.commentlist .reply a,.quantity .minus,.quantity .plus,.bx-pager-item a.active,.pagination a.selected,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover{border-color:#000000;}.button.button_alternateprimary,.tabset>ul.tabs>li>a,.tabset.vertical-tabset>ul.tabs>li>a{border-color:#000000!important;}.portfolio-carousel a.carousel-prev:hover,.portfolio-carousel a.carousel-next:hover,ul.styled-list.style2 li i,.progress .bar,.highlighted.style2,.product-wrapper .onsale,.single-product-wrapper .onsale,.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle,.bubblingG span,.title.style1.divider-primary span:after,.toggle .toggle-title a span.plus,.accordion .accordion-title a span.plus,.commentlist .reply a:hover,.page-nav span.active,.quantity .minus:hover,.quantity .plus:hover,.portfolio-tabs ul li.sort-item a:after,.bx-carousel-container .bx-prev:hover,.bx-carousel-container .bx-next:hover,.clients-carousel-container .bx-prev:hover,.clients-carousel-container .bx-next:hover,.cart-icon-wrapper .count{background-color:#000000;}.tabset>ul.tabs>li>a.selected,.tabset.vertical-tabset>ul.tabs>li>a.selected{background-color:#000000!important;color:#fff!important;}.hr.hr-border-primary span:before,.hr.hr-border-primary span:after,.button.button_alternateprimary:hover{background-color:#000000!important;}.tabset>ul.tabs>li>a:hover,.tabset.vertical-tabset>ul.tabs>li>a:hover,.page-nav a:hover{background-color:rgba(0,0,0,0.05);}#collegesearchwrap{width:280px;text-align:center;background-color:#ffd541;border:1px solid #eee;}#collegesearchtitle{font-size:20px;color:#000000;padding-top:20px;padding-bottom:20px;font-weight:bold;}#collegesearchform{width:240px;margin-left:auto;margin-right:auto;padding-bottom:20px;}select{width:240px;}.degree{margin-top:-7px;}.category{margin-top:-7px;}.subject{margin-top:-7px;}input[type=submit]{background:url(../../wp-content/uploads/2014/11/submit.jpg);border:0;display:block;height:48px;width:278px;margin-left:-19px;}#collegesearchwrap2{width:280px;text-align:center;}#collegesearchform2{width:240px;top:-226px;left:435px;position:relative;float:left;}#homesearchwrap{height:331px;width:835px;margin-left:auto;margin-right:auto;overflow:hidden;}#homesubmit{position:relative;bottom:20px;left:311px;height:200px;top:-217px;}#degree2{margin-top:-22px;}#category2{margin-top:12px;}#subject2{margin-top:12px;}#sponsored{font-size:9px;Padding-bottom:5px;margin-top:-27px;}#sponsored2{font-size:9px;Padding-bottom:5px;margin-top:-11px;color:#ffffff;margin-left:-36px;}</style>
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.bestcollegereviews.org/wp-content/themes/Akal/css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://www.bestcollegereviews.org/wp-content/themes/Akal/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="page page-id-298 page-child parent-pageid-151 page-template-default custom-background  solid-header header-scheme-light type1 header-fullwidth-no wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

    @Html.Partial("_mob_nav")
@Html.Partial("_header_wrapper")




    <style type="text/css">
        .inner-content textarea {
            width: 100%;
        }
    </style>

    <style type="text/css">.qdf-container input[type="submit"],.qdf-container input[type="submit"]:hover{padding:20px 15px!important;}.qdf-container.inner .cta-top{font-size:22px;line-height:32px;}.selectboxit-container .selectboxit{margin-bottom:20px;}</style>
    <div class="section-with-sidebar">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div id="content" class="content span9  content-right" style="padding-top: 40px;">
                        <div class="inner-content">
                            <h2>
                                The 25 Best Online Psychology Degree Programs
                            </h2>
                            <p><img class="alignright size-medium wp-image-566" src="../../wp-content/uploads/2013/09/online-psychology-programs-300x240.jpg" alt="online-psychology-programs" width="300" height="240" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2013/09/online-psychology-programs-300x240.jpg 300w, http://www.bestcollegereviews.org/wp-content/uploads/2013/09/online-psychology-programs.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px" /></p>
                            <p>Getting a B.A. or B.S. in Psychology can help prepare you for a number of counseling roles, lab technician jobs, marketing positions, to become an entrepreneur, or to head to grad school. The degree offers a comprehensive understanding of basic psychology, scientific methods, and a knowledge of a number of theories on why humans act the way they do. Though those with the job title of Psychologist often proceed to gain their doctorates, if that&#8217;s the route you want to take then a Bachelors is the place to start. Particularly with a number of specializations that can give you an extra leg up after your first four years.</p>
                            <h3>Featured Online Psychology Programs</h3>
                            <ul>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/capella-university?program=3452&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Capella University (B.S.) &#8211; Psychology</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/kaplan-university?program=5034&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Kaplan University (B.S.) &#8211; Psychology</a></strong></li>
                                <li><strong><a href="https://info.bestcollegereviews.org/forms/ashford-university?program=16491&amp;publisher=bestcollegereviews-org" target="_blank" rel="nofollow">Ashford University (B.A.) &#8211; Psychology</a></strong></li>
                            </ul>
                            <p>Today there are more online options for obtaining a psychology degree than ever. Due to the wealth of new programs and data on programs, this year the editors at Best College Reviews have decided to overhaul our rankings with an eye on institutional quality, affordability, flexibility and the ability to specialize. Check out our methodology and rankings below.</p>
                            <p><strong>Ranking Methodology:</strong></p>
                            <ul>
                                <li>Affordability (.3): based on tuition per credit hour for online courses.</li>
                                <li>Ranking of Parent Institution (.3): based on the US News ranking of parent institution</li>
                                <li>Fully Online / Flexibility (.2): based on whether the program can be obtained fully online, and how many options for obtaining the degree there are.</li>
                                <li>Number of specializations (.2): the number of specializations, related majors, or concentrations available through the program.</li>
                            </ul>
                            <h3>25. Florida Technical Institute</h3>
                            <p><img class="alignright size-full wp-image-1871" src="../../wp-content/uploads/2015/02/25.-Florida-Tech.jpg" alt="FIT" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/25.-Florida-Tech.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/25.-Florida-Tech-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Florida Technical Institute offers five fully online B.A. in Psychology programs: applied psychology, child advocacy, clinical psychology, forensic psychology, and organizational psychology. A broad range of electives are available, and the total program consists of 121 credit hours. Florida Technical Institute is currently unranked by <i>US News</i>. Estimated tuition per credit hour at Florida Technical Institute is $510, making the program the 18th most affordable of programs surveyed.</p>
                            <h3>24. California Southern University</h3>
                            <p><img class="alignright size-full wp-image-1870" src="../../wp-content/uploads/2015/02/24.-California-Southern.png" alt="24. California Southern" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/24.-California-Southern.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/24.-California-Southern-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />California Southern University offers a fully online B.A. in Psychology, as well as certificates in addiction studies, pastoral counseling, chemical dependency, industrial psychology, and sports psychology. Up to 90 credits of the 120 credit-hour program may be transferred, and the cost per credit hour at California Southern University is $250, making the program the second most affordable of programs surveyed. Currently California Southern University is unranked by <i>US News</i>.</p>
                            <h3>23. Post University</h3>
                            <p><img class="alignright size-full wp-image-1869" src="../../wp-content/uploads/2015/02/23.-Post.png" alt="23. Post" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/23.-Post.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/23.-Post-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Post University offers a fully online B.A. in Psychology with two specializations: human development, education, and health, and organizational studies. The department also offers a minor in forensic psychology. Up to 90 credit hours of the program may be transferred. Special features of the program include 1-on-1 tutoring at no extra cost, as well as an emphasis on innovation, creativity and leadership. Post University is currently a ranked not placed regional university according to <i>US News</i>. Estimated tuition per credit hour is $570, making the program the 21st most affordable of programs surveyed.</p>
                            <h3>22. Robert Morris University</h3>
                            <p><img class="alignright size-full wp-image-1868" src="../../wp-content/uploads/2015/02/22.-Robert-Morris.jpg" alt="22. Robert Morris" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/22.-Robert-Morris.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/22.-Robert-Morris-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Robert Morris University offers an online B.A. in Psychology with the goals of preparing graduates to work in social work, counseling, recruiting, or law enforcement roles. Robert Morris University is currently an 88th ranked regional university according to <i>US News</i>. Estimated tuition per credit hour for Robert Morris University is $695, making the program the 25th most affordable surveyed for our rankings.</p>
                            <h3>21. Loyola University Chicago</h3>
                            <p><img class="alignright size-full wp-image-1867" src="../../wp-content/uploads/2015/02/21.-Loyola-University.jpg" alt="21. Loyola University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/21.-Loyola-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/21.-Loyola-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Loyola University Chicago offers an online B.A. in Applied Psychology that is geared towards those seeking to continue their education and excel in the workplace. The degree focuses on the intersection between psychology and business principles, filling out the course load with courses on industrial psychology, personality studies, and social psychology. Loyola University Chicago is currently the 106th ranked national university according to <i>US News</i>. The estimated tuition per credit hour is $705, making the program the 26th most affordable of programs surveyed.</p>
                            <h3>20. University of the Southwest</h3>
                            <p><img class="alignright size-full wp-image-1866" src="../../wp-content/uploads/2015/02/20.-University-of-Southwest.jpg" alt="20. University of Southwest" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/20.-University-of-Southwest.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/20.-University-of-Southwest-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of the Southwest offers four online Psychology degrees, including degrees in applied psychology, forensic psychology, general psychology, and psychology of religion. All four degrees are awarded bachelors of science degrees. Currently the University of the Southwest is an unranked regional university according to <i>US News</i>. Estimated tuition per credit hour is $395 for University of the Southwest, making it the 8th most affordable program surveyed for our rankings.</p>
                            <h3>19. Grand Canyon University</h3>
                            <p><img class="alignright size-full wp-image-1798" src="../../wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg" alt="10. Grand Canyon University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/10.-Grand-Canyon-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Grand Canyon University offers a fully online B.S. in Psychology with forthcoming specializations and a required capstone project. The online program is designed to take 48 months, with 78% of students finishing the program during such a duration. Grand Canyon University is currently a ranked but not placed regional university according to <i>US News</i>. Estimated tuition per credit hour is currently $465 at GCU, making it the 14th most affordable program surveyed in our rankings.</p>
                            <h3>18. Walden University</h3>
                            <p><img class="alignright size-full wp-image-1865" src="../../wp-content/uploads/2015/02/18.-Walden.jpg" alt="WALDEN UNIVERSITY LOGO" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Walden.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/18.-Walden-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Walden University offers a fully online B.S. in Psychology with concentrations in addictions, applied psychology, child and adolescent development, criminal justice, general psychology, human services, infant and toddler development, grad school prep, preschool child development, and workplace psychology. Current estimated tuition per credit hour is $640, making Walden the 23rd most affordable school in our rankings. Walden is currently an unranked national university according to <i>US News</i>.</p>
                            <h3>17. Palm Beach Atlantic University</h3>
                            <p><img class="alignright size-full wp-image-1864" src="../../wp-content/uploads/2015/02/17.-Palm-Beach-Atlantic.jpg" alt="17. Palm Beach Atlantic" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/17.-Palm-Beach-Atlantic.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/17.-Palm-Beach-Atlantic-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Palm Beach Atlantic University offers an online B.S. in psychology that is Christian-centered, and particularly focused on counseling. Specializations in developmental, organizational, and industrial psychology may also be pursued through the program whose goals include reconciling secular and biblical aspects of psychology, and preparing students for graduate school. Currently Palm Beach Atlantic University is a 51st ranked regional university according to <i>US News</i>. Estimated tuition is currently $445 per credit hour, making the program the 12th most affordable in our rankings.</p>
                            <h3>16. University of Wisconsin Milwaukee</h3>
                            <p><img class="alignright size-full wp-image-1863" src="../../wp-content/uploads/2015/02/16.-Wisconsin-Milwaukee.png" alt="16. Wisconsin Milwaukee" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Wisconsin-Milwaukee.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/16.-Wisconsin-Milwaukee-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Wisconsin Milwaukee offers online B.A. degrees in psychology that specialize in the following three areas of both experimental and clinical psychology: behavioral analysis, health, and neuroscience. Talented students may be placed in a research assistant position in the previous disciplines. The department also focuses on field placements, and exceptional students have the option of completing a thesis while undergraduates. UWM is currently a ranked not placed national university according to <i>US News</i>. Estimated tuition is currently $539 per credit hour, ranking the program as the 20th most affordable surveyed.</p>
                            <h3>15. Ohio Christian University</h3>
                            <p><img class="alignright size-full wp-image-1862" src="../../wp-content/uploads/2015/02/15.-Ohio-Christian.png" alt="15. Ohio Christian" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/15.-Ohio-Christian.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/15.-Ohio-Christian-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Ohio Christian University offers an online B.S. in psychology that is Christian-centered and focused on preparing students for graduate school. Students may spend one or two semesters working on a capstone project in preparation for grad school. OCU is currently a ranked not placed regional University according to <i>US News</i>, and with an estimated tuition per credit hour cost of $398 per credit hour is the 10th most affordable program surveyed in our rankings. For military students, tuition is even more affordable, with associates, bachelors, and graduate courses available for $250 per credit hour.</p>
                            <h3>14. University of the Incarnate Word</h3>
                            <p><img class="alignright size-full wp-image-1861" src="../../wp-content/uploads/2015/02/14.-Incarnate-Word.jpg" alt="14. Incarnate Word" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Incarnate-Word.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Incarnate-Word-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of the Incarnate Word offers an online B.S. in Psychology which includes either a capstone project or an internship building towards future goals in psychology. Tuition at the University of Incarnate Word is currently $495 per credit hour, making the program the 17th most affordable surveyed. The university does offer an innovative &#8220;Brainpower Online&#8221; program, however, in which all textbooks for undergraduates are free, saving thousands over a course of study. The University of the Incarnate Word is currently a 63 ranked regional university according to <i>US News</i>.</p>
                            <h3>13. Liberty University</h3>
                            <p><img class="alignright size-full wp-image-1803" src="../../wp-content/uploads/2015/01/15.-Liberty-University.jpg" alt="15. Liberty University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/15.-Liberty-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Liberty University offers an online B.S. in Psychology that approaches the discipline from a Christian perspective. The degree may be accelerated through week-long &#8220;intensives&#8221; at LU&#8217;s campus, and may also be shortened by transfer or &#8220;life-experience&#8221; credits. Optional specializations include: substance abuse, Christian counseling, crisis counseling, life-coaching, and military resilience. Currently Liberty University is an 80th ranked regional University according to <i>US News</i>. Tuition is $360 per credit hour, making LU the fourth most affordable program in our ranking.</p>
                            <h3>12. Saint Leo University</h3>
                            <p><img class="alignright size-full wp-image-1860" src="../../wp-content/uploads/2015/02/12.-Saint-Leo.png" alt="12. Saint Leo" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/12.-Saint-Leo-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Saint Leo University offers a fully online B.A. in Psychology that encourages students to move outside of the (online) classroom and also pursue practicums and internships. An &#8220;applied domain&#8221; course is also required, ranging from military psychology to interviewing and counseling skills. Currently Saint Leo University is a 65th ranked regional University according to <i>US News</i>. Saint Leo University&#8217;s average estimated cost is currently 14th on our list, coming in at $470 per credit hour.</p>
                            <h3>11. Fort Hays State University</h3>
                            <p><img class="alignright size-full wp-image-1796" src="../../wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg" alt="8. Fort Hays State University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/8.-Fort-Hays-State-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Fort Hays State University offers both an online B.A. and B.S. in Psychology. The main difference between the two degrees is the science and math base in the core requirements of the B.S. Electives are available on a number of topics ranging from organizational psychology, to forensic psychology, to the psychology of human sexuality. Fort Hays State University is currently the most affordable program in our rankings, with an estimated per credit tuition rate of $185.50. The University is currently ranked but not placed as a regional university according to <i>US News</i>.</p>
                            <h3>10. University of Massachusetts</h3>
                            <p><img class="alignright size-full wp-image-1859" src="../../wp-content/uploads/2015/02/10.-UMASS.jpg" alt="10. UMASS" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/10.-UMASS.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/10.-UMASS-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />UMass Online, a part of the University of Massachusetts system, currently offers three psychology-related programs fully online: a B.A. in applied psychology, a B.A. in children&#8217;s learning and development, and a B.A. in psychology. Several University of Massachusetts locations are highly ranked, with the locations at Amherst and Lowell ranked as the 76th and 156th national universities by <i> US News</i>, respectively. While tuition is high for psychology programs from UMass online&#8211; at $1052.50 per credit hour &#8212; the flexibility, number of options, and quality faculty make it a program worth considering.</p>
                            <h3>9. Southern New Hampshire University</h3>
                            <p><img class="alignright size-full wp-image-1800" src="../../wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg" alt="12. Southern New Hampshire University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/12.-Southern-New-Hampshire-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Southern New Hampshire University currently offers a B.A. in Psychology with 6 concentrations fully online. Concentrations include addiction studies, applied psychology, child and adolescent development, forensic psychology, mental health, and social psychology. The number of concentrations is the second highest of the university&#8217;s we surveyed. Currently Southern New Hampshire University is an unranked regional university according to <i> US News</i>. Tuition for the B.A. in Psychology is $320 per credit hour, making the program the third most affordable of those surveyed.</p>
                            <h3>8. University of Nebraska &#8211; Omaha</h3>
                            <p><img class="alignright size-full wp-image-1858" src="../../wp-content/uploads/2015/02/8.-Nebraska-Omaha.jpg" alt="8. Nebraska Omaha" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/8.-Nebraska-Omaha.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/8.-Nebraska-Omaha-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />The University of Nebraska &#8212; Omaha offers two blended degree-completion programs related to psychology, including programs in both behavioral health and psychology. The programs are part of University of Nebraska&#8217;s acclaimed bachelor&#8217;s of general studies program, a program that has been offering adult learners tailored education since 1951. The University of Nebraska &#8212; Omaha is currently ranked but not placed among national universities by <i> US News</i>. Tuition for their online concentrations in their Bachelor&#8217;s in General Studies are currently $323.25 per credit hour, making the program the 4th most affordable of those we surveyed.</p>
                            <h3>5. (tie) Washington State University</h3>
                            <p><img class="alignright size-full wp-image-1857" src="../../wp-content/uploads/2015/02/7.-Washington-State.jpg" alt="7. Washington State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/7.-Washington-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/7.-Washington-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Washington State University&#8217;s Global Campus offers a B.S. in Psychology entirely online. The program is designed for students seeking to gain a liberal education, work in health and human services, business, management, r&amp;d, sales, or administrative positions, or students seeking to pursue graduate work in education, psychology, law, medicine, or business. Washington State University is currently the 138th ranked national university according to <i> US News</i>. Tuition for Washington State&#8217;s online Psychology program is currently $571 per credit hour, making the program the 21st most affordable program we surveyed.</p>
                            <h3>5. (tie) Ottawa University</h3>
                            <p><img class="alignright size-full wp-image-1811" src="../../wp-content/uploads/2015/01/23.-Ottawa-University.png" alt="23. Ottawa University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/23.-Ottawa-University.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/23.-Ottawa-University-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Ottawa University offers three Psychology-related Bachelor&#8217;s degrees entirely online: a B.S. in Addiction Counseling, a B.A. in Human Services (with a concentration in communication available), and a B.A. in Psychology (also with a B.A. in communication available). Flexibility is central to Ottawa University&#8217;s programs, with &#8220;life-friendly&#8221; options to support working adults, military personnel, or anyone looking for flexibility in their education. Ottawa University is currently ranked 59th in the Midwest region by <i> US News</i>. Tuition for Ottawa University&#8217;s online psychology-related programs is $480 per credit hour, making it the 15th most affordable program in our rankings.</p>
                            <h3>5. (tie) Bellevue University</h3>
                            <p><img class="alignright size-full wp-image-1802" src="../../wp-content/uploads/2015/01/14.-Bellevue-University.jpg" alt="14. Bellevue University" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/14.-Bellevue-University.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/14.-Bellevue-University-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Bellevue University currently offers both B.A. and B.S. programs in Psychology 100% online. The difference between these tracks is required coursework in algebra and biology or chemistry in the B.S. program. Currently Bellevue University is an unranked regional university (in the Midwest region) according to <i> US News</i>. With tuition of $385 per credit hour, Bellevue University&#8217;s online psychology programs are the 5th most affordable of the schools we surveyed.</p>
                            <h3>4. Arizona State University</h3>
                            <p><img class="alignright size-full wp-image-1791" src="../../wp-content/uploads/2015/01/2.-Arizona-State.jpg" alt="2. Arizona State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/2.-Arizona-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />ASU Online provides a B.A. in psychology through their New College of Interdisciplinary Arts and Sciences entirely online. With classes held in the interdisciplinary college, students learn from experts in a variety of disciplines, fleshing out psychological concepts with instruction in sociology, anthropology, geography, and political science. Arizona State is currently ranked as the 129th national university by <i> US News</i>. Currently tuition for ASU&#8217;s bachelor&#8217;s in psychology is $480 per credit hour, making it the 15th most affordable program in our rankings.</p>
                            <h3>3. Central Michigan University</h3>
                            <p><img class="alignright size-full wp-image-1856" src="../../wp-content/uploads/2015/02/3.-Central-Michigan.png" alt="3. Central Michigan" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/3.-Central-Michigan.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/3.-Central-Michigan-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Central Michigan University&#8217;s Global Campus offers a B.S. in Psychology with a wide variety of courses to choose from 100% online. Central Michigan University is currently the 194th ranked national university by <i> US News</i>. While only one general track is currently available, students can tailor the courses they take to their interests, and at $387 per credit hour, the program is the 7th most affordable that we surveyed. Directed research, independent studies, and undergraduate honors theses may also be completed online.</p>
                            <h3>2. Penn State World Campus</h3>
                            <p><img class="alignright size-full wp-image-1797" src="../../wp-content/uploads/2015/01/9.-Penn-State.jpg" alt="9. Penn State" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State.jpg 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/01/9.-Penn-State-80x80.jpg 80w" sizes="(max-width: 125px) 100vw, 125px" />Penn State Online offers a B.S. in Psychology with two optional tracks: a life science option focusing on related disciplines such as anthropology, biology and bio-behavioral health, and an business option focusing on leadership, ethics, and diversity. Penn State &#8212; University Park is highly ranked, currently the 48th ranked national university by <i> US News</i>, with a legacy of distance learning reaching back to 1892. The B.S. in Psychology degree at Penn State can be completed entirely online, and costs $535 per credit hour, making it the 19th most affordable program in our rankings.</p>
                            <h3>1. Drexel University</h3>
                            <p><img class="alignright size-full wp-image-1848" src="../../wp-content/uploads/2015/02/14.-Drexel.png" alt="14. Drexel" width="125" height="125" srcset="http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel.png 125w, http://www.bestcollegereviews.org/wp-content/uploads/2015/02/14.-Drexel-80x80.png 80w" sizes="(max-width: 125px) 100vw, 125px" />Drexel&#8217;s Department of Psychology is at the forefront of research in areas as wide-ranging as neuropsychology, forensic psychology, cognitive neuroscience, and health and clinical psychology. Drexel is the 95th ranked national university according to <i>US News</i>, and focuses on equivalency between its traditional on-campus programs and programs online. The B.S. in Psychology provides a strong background in research methods and applications, can be completed entirely online, and may be attended full or part-time. Tuition per credit hour is $440 at Drexel, making it the 11th most affordable program in our rankings.</p>
                        </div>
                    </div>
                    <div id="sidebar" class="span3 sidebar sidebar-left" style="padding-top: 40px;">
                        <div class="inner-content">
                            <div class="qdf-container box inner">
                                <form action="https://info.bestcollegereviews.org/search" method="post" target="_blank" class="qdf">
                                    <div class="cta-top">Take the Next Step!</div> <div class="box">
                                        <div class="degree clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="degree_level_id">
                                                    <option>Choose Your Degree Level</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="category clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="category_id">
                                                    <option>Choose Your Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="subject clearfix box">
                                            <div class="labels block box">

                                                <label></label>
                                            </div>
                                            <div class="field-container block box">
                                                <select name="subject_id">
                                                    <option>Choose Your Subject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center box">
                                        <input type="hidden" name="publisher_id" value="bestcollegereviews-org" />
                                        <input type="submit" value="Start Now" />
                                        <div id="sponsored">Sponsored</div>
                                    </div>
                                </form>
                                <script>

                                    var selectBox_1,
                                        selectBox_2,
                                        selectBox_3;





                                    jQuery('.degree select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_2.refresh();
                                            selectBox_3.refresh();
                                        }
                                    });
                                    jQuery('.category select').bind({
                                        "changed": function (ev, obj) {

                                            selectBox_3.refresh();
                                        }
                                    });

                                </script>
                            </div>
                            <div id="text-5" class="widget widget_meta widget_text">
                                <div class="textwidget"> </div>
                            </div>
                            @Html.Partial("_popular_pages")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //alert('hi');
        //var top = jQuery('.qdf-container').offset().top;
        //jQuery(window).scroll(function (event) {
        // var y = jQuery(this).scrollTop();
        //if (y >= top)
        //jQuery('.qdf-container').addClass('stick');
        //else
        // jQuery('.qdf-container').removeClass('stick');
        // });
        // });
    </script>
    @Html.Partial("_footer")
@Html.Partial("_last_script")

</body>
<!-- Mirrored from www.bestcollegereviews.org/top/online-psychology-programs/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2016 02:40:15 GMT -->
</html>
